$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

$columns: 12;

$colors: (
    transparent: transparent,

    ink-base: #110634,
    ink-lighter-1: #464157,
    ink-lighter-2: #726E7E,
    ink-lighter-3: #C5C3CD,

    white-darker-4: #DCDBE1,
    white-darker-3: #E8E7EB,
    white-darker-2: #F4F3F5,
    white-darker-1: #F8F8F9,
    white-base: #FFFFFF,

    blue-darker-2: #002097,
    blue-darker-1: #1338C0,
    blue-base: #365DF0,
    blue-lighter-1: #6F96FF,
    blue-lighter-2: #A0B6FF,
    blue-lighter-3: #C5D2FF,
    blue-lighter-4: #E7EDFF,
    blue-lighter-5: #F5F7FF,

    green-darker-2: #033B27,
    green-darker-1: #005436,
    green-base: #11855B,
    green-lighter-1: #4DD398,
    green-lighter-2: #99E6C4,
    green-lighter-3: #BFF3DB,
    green-lighter-4: #E6F9F0,
    green-lighter-5: #F2FCF8,

    red-darker-2: #880E0B,
    red-darker-1: #AC120E,
    red-base: #CF3430,
    red-lighter-1: #FF928F,
    red-lighter-2: #FFB7B5,
    red-lighter-3: #FFD0CF,
    red-lighter-4: #FFEDEC,
    red-lighter-5: #FFF7F6,

    yellow-darker-2: #4A3800,
    yellow-darker-1: #6F5504,
    yellow-base: #927107,
    yellow-lighter-1: #FFDB56,
    yellow-lighter-2: #FFEB9E,
    yellow-lighter-3: #FFF6BF,
    yellow-lighter-4: #FFFAE7,
    yellow-lighter-5: #FFFCF3,

    purple-darker-2: #260052,
    purple-darker-1: #47098E,
    purple-base: #7B23E0,
    purple-lighter-1: #AB58FF,
    purple-lighter-2: #C999FF,
    purple-lighter-3: #DDBFFF,
    purple-lighter-4: #F1E6FF,
    purple-lighter-5: #F8F2FF,

    pink-darker-2: #4B0032,
    pink-darker-1: #8F0560,
    pink-base: #D32A99,
    pink-lighter-1: #FF83D8,
    pink-lighter-2: #FFB8E9,
    pink-lighter-3: #FFCDF3,
    pink-lighter-4: #FFEDFA,
    pink-lighter-5: #FFF6FC,

    teal-darker-2: #002D3D,
    teal-darker-1: #005370,
    teal-base: #0E7FA6,
    teal-lighter-1: #67D8FF,
    teal-lighter-2: #A8E9FF,
    teal-lighter-3: #C2F4FF,
    teal-lighter-4: #E9F9FF,
    teal-lighter-5: #F4FCFF,

    orange-darker-2: #582400,
    orange-darker-1: #823601,
    orange-base: #B85C1C,
    orange-lighter-1: #FFB03D,
    orange-lighter-2: #FFCB79,
    orange-lighter-3: #FFE4B6,
    orange-lighter-4: #FFFBF2,
    orange-lighter-5: #FFFCF7,

    lime-darker-2: #2B3B01,
    lime-darker-1: #3F5501,
    lime-base: #667F21,
    lime-lighter-1: #BFE656,
    lime-lighter-2: #D6F683,
    lime-lighter-3: #EBFEB7,
    lime-lighter-4: #FCFFF2,
    lime-lighter-5: #FDFFF7
);

:root {
  @each $name, $color in $colors {
    --#{$name}: #{$color};
  }
}