$elevations: (
  0dp: none,
  2dp: 0px 2px 2px 0 rgba(0,0,0, 0.14),
  4dp: 0px 4px 4px 0 rgba(0,0,0, 0.14),
  6dp: 0px 6px 6px 0 rgba(0,0,0, 0.14),
  8dp: 0px 8px 8px 0 rgba(0,0,0, 0.14),
  16dp: 0px 16px 16px 0 rgba(0,0,0, 0.14)
) !default;

.elevation {
  @each $elevation in map-keys($elevations) {
    $elevation-value: map-get($elevations, $elevation);
    &-#{$elevation} { 
      box-shadow: $elevation-value;
    }
  }
}
