@import './_variables.scss';

$positionClasses: (
	display: (
		none: none,
		inline: inline,
		block: block,
		flex: flex,
		grid: grid,
		inline-block: inline-block,
		inline-flex: inline-flex
	),
	justify-content: (
		start: flex-start,
		end: flex-end,
		center: center,
		between: space-between,
		around: space-around
	),
	align-content: (
		start: flex-start,
		end: flex-end,
		center: center,
		between: space-between,
		around: space-around,
		baseline: baseline
	),
	align-items: (
		start: flex-start,
		end: flex-end,
		center: center,
		between: space-between,
		around: space-around,
		baseline: baseline
	),
	align-self: (
		start: flex-start,
		end: flex-end,
		center: center,
		baseline: baseline,
		stretch: stretch
	)
) !default;

.w100 {
	width: 100%;
}
.w100vw {
	width: 100vw;
}
.min-w100vw {
	min-width: 100vw;
}
.h100 {
	height: 100%;
}
.h100vh {
	height: 100vh;
}
.min-h100vh {
	min-height: 100vh;
}
.flex-wrap {
	flex-wrap: wrap;
}
.flex-nowrap {
	flex-wrap: nowrap;
}
.flex-column {
	flex-direction: column;
}
.flex-column-reverse {
	flex-direction: column-reverse;
}
.flex-row {
	flex-direction: row;
}
.flex-grow {
	flex-grow: 1;
}
.white-space-wrap {
	white-space: pre-wrap;
}
.white-space-nowrap {
	white-space: nowrap;
}
@each $breakpoint in map-keys($breakpoints) {
	@media (min-width: map-get($breakpoints, $breakpoint)) {
		.flex-wrap-#{$breakpoint} {
			flex-wrap: wrap;
		}
		.flex-nowrap-#{$breakpoint} {
			flex-wrap: nowrap;
		}
		.flex-column-#{$breakpoint} {
			flex-direction: column;
		}
		.flex-column-reverse-#{$breakpoint} {
			flex-direction: column-reverse;
		}
		.flex-row-#{$breakpoint} {
			flex-direction: row;
		}
		.flex-grow-#{$breakpoint} {
			flex-grow: 1;
		}
		.white-space-wrap-#{$breakpoint} {
			white-space: pre-wrap;
		}
	}
}

@each $class in map-keys($positionClasses) {
	$class-type: map-get($positionClasses, $class);
	@if type-of($class-type) == map {
		@each $item in map-keys($class-type) {
			.#{$class}-#{$item} {
				#{$class}: map-get($class-type, $item);
			}
			@each $breakpoint in map-keys($breakpoints) {
				.#{$class}-#{$breakpoint}-#{$item} {
					@media (min-width: map-get($breakpoints, $breakpoint)) {
						#{$class}: map-get($class-type, $item) !important;
					}
				}
			}
		}
	} @else {
		.#{$class}-#{$class-type} {
			#{$class}: $class-type;
			@each $breakpoint in map-keys($breakpoints) {
				&-#{$breakpoint} {
					@media (min-width: map-get($breakpoints, $breakpoint)) {
						#{$class}: $class-type;
					}
				}
			}
		}
	}
}
