@import './_variables.scss';

$colorClasses: (
	border: 'border-color',
	bg: 'background-color'
);

.border {
	box-sizing: border-box;
	border: 1px solid;
	&-left {
		border-left: 1px solid;
	}
	&-top {
		border-top: 1px solid;
	}
	&-right {
		border-right: 1px solid;
	}
	&-bottom {
		border-bottom: 1px solid;
	}
	&-lg {
		border-width: 2px;
	}
	&-none {
		border: none;
	}
}

.opacity {
	&-extra-light {
		opacity: 0.3;
	}
	&-light {
		opacity: 0.4;
	}
	&-medium {
		opacity: 0.6;
	}
	&-darker {
		opacity: 0.8;
	}
}

.border-radius {
	border-radius: 5px;
}

@each $color in map-keys($colors) {
	$color-value: map-get($colors, $color);
	.#{$color} {
		color: $color-value;
	}
	.hover-#{$color}:hover {
		color: $color-value;
	}
	.focus-#{$color}:focus {
		color: $color-value;
	}
	.active-#{$color}:active {
		color: $color-value;
	}
	.placeholder-#{$color}::placeholder {
		color: $color-value;
	}

	.hover-#{$color}\!:hover {
		color: $color-value !important;
	}
	.focus-#{$color}\!:focus {
		color: $color-value !important;
	}
	.active-#{$color}\!:active {
		color: $color-value !important;
	}
	.placeholder-#{$color}\!::placeholder {
		color: $color-value !important;
	}
	@each $class in map-keys($colorClasses) {
		$attr: map-get($colorClasses, $class);
		.#{$class}-#{$color} {
			#{$attr}: $color-value;
		}
		.#{$class}-hover-#{$color}:hover {
			#{$attr}: $color-value;
		}
		.#{$class}-focus-#{$color}:focus {
			#{$attr}: $color-value;
		}
		.#{$class}-active-#{$color}:active {
			#{$attr}: $color-value;
		}

		.#{$class}-#{$color}\! {
			#{$attr}: $color-value !important;
		}
		.#{$class}-hover-#{$color}\!:hover {
			#{$attr}: $color-value !important;
		}
		.#{$class}-focus-#{$color}\!:focus {
			#{$attr}: $color-value !important;
		}
		.#{$class}-active-#{$color}\!:active {
			#{$attr}: $color-value !important;
		}
	}
}

.cursor {
	&-pointer {
		cursor: pointer;
	}

	&-progress {
		cursor: progress;
	}

	&-text {
		cursor: text;
	}

	&-initial {
		cursor: initial;
	}

	&-unset {
		cursor: unset;
	}
	&-not-allowed {
		cursor: not-allowed;
	}
}

.overflow {
	&-x,
	&-y,
	& {
		&-auto {
			overflow: auto;
		}

		&-hidden {
			overflow: hidden;
		}

		&-visible {
			overflow: visible;
		}

		&-scroll {
			overflow: scroll;
		}

		&-initial {
			overflow: initial;
		}

		&-unset {
			overflow: unset;
		}
	}
}

.list-style {
	&-none {
		list-style: none;
	}
}

.icon-logo-size {
	font-size: 5.4rem;
}
