<template>
	<div>
		<div
			v-show="!disabled"
			ref="contentEditor"
			:class="[
				{
					'hasError font-size-big red-lighter-2 padding-normal border border-red-lighter-2 border-focus-red-base bg-red-lighter-4 bg-focus-red-lighter-3':
						error,
				},
				'editor font-size-big border border-white-darker-4 bg-white-darker-2 border-radius overflow-hidden'
			]"
		>
			<div class="display-flex">
				<ul role="menubar" class="list-style-none margin-0 menubar display-flex flex-wrap justify-content-start w100 bg-white-base padding-tiny border-bottom border-white-darker-3">
					<li role="menuitem">
						<button
							aria-label="desfazer"
							title="desfazer (ctrl+z)"
							class="font-size-normal padding-vertical-xtiny padding-horizontal-tiny bg-white-base border-none bg-hover-white-darker-2 menubar__button bold ink-lighter-1"
							@click="editor.chain().focus().undo().run()"
						>
							<b-new-b-icon-undo />
						</button>
					</li>
					<li role="menuitem">
						<button
							aria-label="refazer"
							title="refazer (ctrl+y)"
							class="font-size-normal padding-vertical-xtiny padding-horizontal-tiny bg-white-base border-none bg-hover-white-darker-2 menubar__button bold ink-lighter-1"
							@click="editor.chain().focus().redo().run()"
						>
							<span class="flipX display-inline-block"><b-new-b-icon-undo /></span>
						</button>
					</li>
					<li role="menuitem">
						<button
							aria-label="negrito"
							title="negrito (ctrl+b)"
							:class="[
								{'bg-white-darker-3!': editor ? editor.isActive('bold') : false},
								'font-size-normal padding-vertical-xtiny padding-horizontal-tiny bg-white-base border-none bg-hover-white-darker-2 menubar__button bold ink-lighter-1'
							]"
							@click="editor.chain().focus().toggleBold().run()"
						>
							B
						</button>
					</li>
					<li role="menuitem">
						<button
							aria-label="itálico"
							title="itálico (ctrl+i)"
							:class="[
								{ 'bg-white-darker-4!': editor ? editor.isActive('italic') : false },
								'italic-button font-size-big padding-vertical-xtiny padding-horizontal-tiny bg-white-base border-none bg-hover-white-darker-2 menubar__button italic ink-lighter-1'
							]"
							@click="editor.chain().focus().toggleItalic().run()"
						>
							I
						</button>
					</li>
					<li role="menuitem">
						<button
							aria-label="sublinhado"
							title="sublinhado (ctrl+u)"
							:class="[
								{ 'bg-white-darker-4!': editor ? editor.isActive('underline') : false },
								'padding-vertical-xtiny padding-horizontal-tiny bg-white-base border-none bg-hover-white-darker-2 menubar__button underline ink-lighter-1'
							]"
							@click="editor.chain().focus().toggleUnderline().run()"
						>
							U
						</button>
					</li>
					<li role="menuitem">
						<button
							aria-label="lista"
							title="lista"
							:class="[
								{ 'bg-white-darker-4!': editor ? editor.isActive('bulletList') : false },
								'padding-vertical-xxtiny padding-horizontal-tiny bg-white-base border-none bg-hover-white-darker-2 menubar__button bullet-list ink-lighter-1 font-size-big'
							]"
							@click="editor.chain().focus().toggleBulletList().run()"
						>
							<b-new-b-icon-format-list-bulleted />
						</button>
					</li>
					<li role="menuitem">
						<button
							aria-label="lista ordenada"
							title="lista ordenada"
							:class="[
								{ 'bg-white-darker-4!': editor ? editor.isActive('orderedList') : false },
								'padding-vertical-xxtiny padding-horizontal-tiny bg-white-base border-none bg-hover-white-darker-2 menubar__button bullet-list ink-lighter-1 font-size-big'
							]"
							@click="editor.chain().focus().toggleOrderedList().run()"
						>
							<b-new-b-icon-format-list-numbered />
						</button>
					</li>
					<li role="menuitem">
						<button
							aria-label="link"
							title="link"
							:class="[
								{ 'bg-white-darker-4!': editor ? editor.isActive('link') : false },
								'padding-vertical-xxtiny padding-horizontal-tiny bg-white-base border-none bg-hover-white-darker-2 menubar__button bullet-list ink-lighter-1 font-size-big'
							]"
							@click="setLink"
						>
							<b-new-b-icon-link />
						</button>
					</li>
					<li role="menuitem">
						<button
							aria-label="código"
							title="código"
							:class="[
								{ 'bg-white-darker-4!': editor ? editor.isActive('codeBlock') : false },
								'padding-vertical-xxtiny padding-horizontal-tiny bg-white-base border-none bg-hover-white-darker-2 menubar__button bullet-list ink-lighter-1 font-size-big'
							]"
							@click="editor.chain().focus().toggleCodeBlock().run()"
						>
							<b-new-b-icon-code />
						</button>
					</li>
					<li role="menuitem">
						<button
							aria-label="heading 2"
							title="heading 2"
							:class="[
								{
									'bg-white-darker-3!': editor ? editor.isActive('heading', { level: 2 }) : false,
								},
								'font-size-normal padding-vertical-xtiny padding-horizontal-tiny bg-white-base border-none bg-hover-white-darker-2 menubar__button bold ink-lighter-1'
							]"
							@click="editor.chain().focus().toggleHeading({ level: 2 }).run()"
						>
							<span>H2</span>
						</button>
					</li>
					<li role="menuitem">
						<button
							aria-label="heading 3"
							title="heading 3"
							:class="[
								{
									'bg-white-darker-3!': editor ? editor.isActive('heading', { level: 3 }) : false,
								},
								'font-size-normal padding-vertical-xtiny padding-horizontal-tiny bg-white-base border-none bg-hover-white-darker-2 menubar__button bold ink-lighter-1'
							]"
							@click="editor.chain().focus().toggleHeading({ level: 3 }).run()"
						>
							<span class="display-block h3-button">H3</span>
						</button>
					</li>
					<li role="menuitem">
						<button
							aria-label="heading 4"
							title="heading 4"
							:class="[
								{
									'bg-white-darker-3!': editor ? editor.isActive('heading', { level: 4 }) : false,
								},
								'font-size-normal padding-vertical-xtiny padding-horizontal-tiny bg-white-base border-none bg-hover-white-darker-2 menubar__button bold ink-lighter-1'
							]"
							@click="editor.chain().focus().toggleHeading({ level: 4 }).run()"
						>
							<span class="display-block h4-button">H4</span>
						</button>
					</li>
					<li role="menuitem">
						<button
							aria-label="divisor"
							title="divisor"
							class="font-size-normal padding-vertical-xtiny padding-horizontal-tiny bg-white-base border-none bg-hover-white-darker-2 menubar__button bold ink-lighter-1"
							@click="editor.chain().focus().setHorizontalRule().run()"
						>
							—
						</button>
					</li>
					<li role="menuitem">
						<button
							v-if="uploadImageFunction"
							aria-label="imagem"
							title="imagem"
							:class="[
								{ 'bg-white-darker-4!': editor ? editor.isActive('image') : false },
								'padding-vertical-xxtiny padding-horizontal-tiny bg-white-base border-none bg-hover-white-darker-2 menubar__button bullet-list ink-lighter-1 font-size-big'
							]"
							@click="showAddImageModal"
						>
							<b-new-b-icon-image />
						</button>
					</li>
				</ul>
			</div>
			<span v-if="disabled" v-html="content"></span>
			<editor-content v-show="!disabled" class="padding-normal" :editor="editor"></editor-content>
		</div>
		<span
			class="display-flex font-size-big red-base margin-top-tiny align-items-center"
			v-if="!!error"
			><b-new-b-icon-error /> {{ error }}</span
		>
		<editor-add-image-modal
			v-if="uploadImageFunction && editor"
			ref="addImageModal"
			:editor="editor"
			:uploadImageFunction="uploadImageFunction"
		/>
	</div>
</template>

<script>
import {
	BNewBIconError,
	BNewBIconFormatListNumbered,
	BNewBIconFormatListBulleted,
	BNewBIconCode,
	BNewBIconLink,
	BNewBIconUndo,
	BNewBIconImage,
} from '../new_icons';
import { Editor, EditorContent } from '@tiptap/vue-2';
import Placeholder from '@tiptap/extension-placeholder';
import StarterKit from '@tiptap/starter-kit';
import Underline from '@tiptap/extension-underline';
import Link from '@tiptap/extension-link';
import Image from '@tiptap/extension-image';
import CodeBlockLowlight from '@tiptap/extension-code-block-lowlight';
import EditorAddImageModal from './components/EditorAddImageModal.vue';

import { lowlight } from 'lowlight';
import css from 'highlight.js/lib/languages/css';
import js from 'highlight.js/lib/languages/javascript';
import ts from 'highlight.js/lib/languages/typescript';
import html from 'highlight.js/lib/languages/xml';

lowlight.registerLanguage('html', html);
lowlight.registerLanguage('css', css);
lowlight.registerLanguage('js', js);
lowlight.registerLanguage('ts', ts);

export default {
	name: 'b-editor',
	components: {
		EditorContent,
		BNewBIconUndo,
		BNewBIconError,
		BNewBIconCode,
		BNewBIconLink,
		BNewBIconImage,
		BNewBIconFormatListNumbered,
		BNewBIconFormatListBulleted,
		EditorAddImageModal,
	},
	props: {
		content: {
			type: String,
			default: '',
		},
		disabled: {
			type: Boolean,
			default: false,
		},
		error: {
			type: String,
			default: '',
		},
		uploadImageFunction: {
			//esta função deve receber uma imagem e retornar uma url
			type: Function,
			required: false,
		},
	},
	data() {
		return {
			editor: null,
			isInfoReady: false,
		};
	},
	mounted() {
		this.editor = new Editor({
			extensions: [
				StarterKit,
				Underline,
				Image,
				Link.configure({ autolink: false }),
				CodeBlockLowlight.configure({ lowlight }),
				Placeholder.configure({ placeholder: 'Digite aqui...' }),
			],
			content: this.content,
			editable: !this.disabled,
			onUpdate: () => {
				if (this.editor.getText().trim().length === 0) {
					this.isInfoReady = false;
					this.$emit('InfoIsReady', false);
				} else {
					this.isInfoReady = true;
					this.$emit('InfoIsReady', true);
				}
				this.$emit('input', this.editor.getHTML());
			},
		});
	},
	watch: {
		content(value) {
			// HTML
			const isSame = this.editor.getHTML() === value;

			if (isSame) {
				return;
			}
			this.editor.commands.setContent(value, true);
		},
	},
	methods: {
		setLink() {
			const previousUrl = this.editor.getAttributes('link').href;
			const url = window.prompt('URL', previousUrl);

			// cancelled
			if (url === null) {
				return;
			}

			// empty
			if (url === '') {
				this.editor.chain().focus().extendMarkRange('link').unsetLink().run();

				return;
			}

			// update link
			this.editor.chain().focus().extendMarkRange('link').setLink({ href: url }).run();
		},
		showAddImageModal() {
			this.$refs.addImageModal.showModal();
		},
		focus() {
			this.$refs.contentEditor.scrollIntoView({ behavior: 'smooth' });
			setTimeout(() => {
				this.editor.chain().focus().run();
			}, 500);
		},
	},
	beforeDestroy() {
		this.editor.destroy();
	},
};
</script>

<style lang="scss" scoped>
.flipX {
	transform: scaleX(-1);
}
.italic-button {
	font-family: monospace;
	transform: scale(0.9) translateY(1px);
	padding-top: 1px
}
.h3-button {
	transform: scale(0.8);
}
.h4-button {
	transform: scale(0.65);
}
</style>

<style lang="scss">
.editor {
	img {
		display: block;
		margin: 0 auto 2.4rem;
		max-width: 100%;
	}
}

.editor.hasError .ProseMirror p.is-editor-empty:first-child::before {
	color: var(--red-lighter-2);
}

.editor .ProseMirror {
	min-height: 15rem;

	.ProseMirror-selectednode {
		border: 2px solid var(--blue-base);
	}

	p.is-editor-empty:first-child::before {
		content: attr(data-placeholder);
		float: left;
		color: var(--ink-lighter-2);
		pointer-events: none;
		height: 0;
	}

	p:first-of-type {
		margin-top: 0;
	}

	pre {
		background: #0d0d0d;
		color: #fff;
		font-family: 'JetBrainsMono', monospace;
		padding: 0.75rem 1rem;
		border-radius: 0.5rem;

		code {
			color: inherit;
			padding: 0;
			background: none;
		}

		.hljs-comment,
		.hljs-quote {
			color: #616161;
		}

		.hljs-variable,
		.hljs-template-variable,
		.hljs-attribute,
		.hljs-tag,
		.hljs-name,
		.hljs-regexp,
		.hljs-link,
		.hljs-name,
		.hljs-selector-id,
		.hljs-selector-class {
			color: #f98181;
		}

		.hljs-number,
		.hljs-meta,
		.hljs-built_in,
		.hljs-builtin-name,
		.hljs-literal,
		.hljs-type,
		.hljs-params {
			color: #fbbc88;
		}

		.hljs-string,
		.hljs-symbol,
		.hljs-bullet {
			color: #b9f18d;
		}

		.hljs-title,
		.hljs-section {
			color: #faf594;
		}

		.hljs-keyword,
		.hljs-selector-tag {
			color: #70cff8;
		}

		.hljs-emphasis {
			font-style: italic;
		}

		.hljs-strong {
			font-weight: 700;
		}
	}
}
</style>
