<template>
	<svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 45 45">
		<g transform="translate(-830 -119)">
			<path class="a" d="M0,0H45V45H0Z" transform="translate(830 119)" />
			<path
				d="M39.5,9.1,30.875,1.86,28.456,4.729l8.625,7.238ZM13.025,4.729l-2.4-2.869L2,9.079l2.419,2.869,8.606-7.219Zm8.662,8.644H18.875v11.25l8.906,5.344,1.406-2.306-7.5-4.444Zm-.937-7.5A16.875,16.875,0,1,0,37.625,22.748,16.876,16.876,0,0,0,20.75,5.872Zm0,30A13.125,13.125,0,1,1,33.875,22.748,13.115,13.115,0,0,1,20.75,35.873Z"
				transform="translate(831.75 120.628)"
			/>
		</g>
	</svg>
</template>

<script>
export default {
	name: 'b-icon-alarm',
	components: {},
	computed: {},
	props: {}
};
</script>

<style scoped lang="scss">
path.a {
	fill: none;
}
</style>

