<template>
	<svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 45 45">
		<defs></defs>
		<g transform="translate(-1595.25 -539)">
			<path
				d="M8.59,25.856l8.588-8.606L8.59,8.644,11.234,6l11.25,11.25L11.234,28.5Z"
				transform="translate(1602.766 544.25)"
			/>
			<path class="a" d="M0,0H45V45H0Z" transform="translate(1595.25 539)" />
		</g>
	</svg>
</template>

<script>
export default {
	name: 'b-icon-chevron-right',
	components: {},
	computed: {},
	props: {},
};
</script>

<style scoped lang="scss">
  path.a {
    fill: none;
  }
</style>

