<template>
	<svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 45 45">
		<g transform="translate(-319.5 -854)">
			<path class="a" d="M0,0H45V45H0Z" transform="translate(319.5 854)" />
			<circle cx="2.813" cy="2.813" r="2.813" transform="translate(345.75 869)" />
			<circle cx="2.813" cy="2.813" r="2.813" transform="translate(332.625 869)" />
			<path
				d="M20.731,2A18.75,18.75,0,1,0,39.5,20.75,18.741,18.741,0,0,0,20.731,2Zm.019,33.75a15,15,0,1,1,15-15A15,15,0,0,1,20.75,35.75ZM11.375,24.5c1.462,4.388,5.1,7.5,9.375,7.5s7.913-3.113,9.375-7.5Z"
				transform="translate(321.25 855.75)"
			/>
		</g>
	</svg>
</template>

<script>
export default {
	name: 'b-icon-sentiment-very-satisfied',
	components: {},
	computed: {},
	props: {},
};
</script>

<style scoped lang="scss">
path.a {
	fill: none;
}
</style>
