<template>
	<svg width="30" height="30" viewBox="0 0 32 36" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path
			fill-rule="evenodd"
			clip-rule="evenodd"
			d="M7.41417 4.33382C7.8556 3.56832 8.83401 3.30562 9.59951 3.74705L23.9995 12.0511C24.765 12.4925 25.0277 13.4709 24.5863 14.2364C24.1448 15.0019 23.1664 15.2646 22.4009 14.8232L8.00093 6.51916C7.23544 6.07772 6.97273 5.09931 7.41417 4.33382Z"
			fill="#807B91"
		/>
		<path
			fill-rule="evenodd"
			clip-rule="evenodd"
			d="M13.6034 0.641101C14.3323 0.221096 15.1587 0 16 0C16.8413 0 17.6678 0.221114 18.3967 0.641152C18.3978 0.641794 18.3989 0.642436 18.4 0.643078L29.6 7.04306C30.329 7.46395 30.9344 8.06911 31.3557 8.79787C31.7769 9.52662 31.9991 10.3533 32 11.1951V23.9984C31.9991 24.8401 31.7769 25.6668 31.3557 26.3956C30.9344 27.1243 30.329 27.7295 29.6 28.1504L29.5938 28.1539L18.4 34.5504C18.399 34.5509 18.3981 34.5515 18.3971 34.552C17.6681 34.9722 16.8415 35.1934 16 35.1934C15.1586 35.1934 14.3319 34.9722 13.603 34.5521C13.602 34.5515 13.601 34.5509 13.6 34.5504L2.40618 28.1539L2.4 28.1504C1.67103 27.7295 1.06555 27.1243 0.644308 26.3956C0.223063 25.6668 0.000863361 24.8401 0 23.9984V11.1951C0.000863361 10.3533 0.223063 9.52662 0.644308 8.79787C1.06555 8.06911 1.67103 7.46395 2.4 7.04308L2.40617 7.03952L13.6034 0.641101ZM16 3.2C15.7191 3.2 15.4432 3.27393 15.2 3.41436L15.1938 3.41792L4 9.81436C3.99916 9.81485 3.99832 9.81533 3.99748 9.81582C3.75561 9.95605 3.5547 10.1572 3.41477 10.3993C3.27447 10.642 3.20041 10.9173 3.2 11.1977V23.9958C3.20041 24.2761 3.27447 24.5514 3.41477 24.7941C3.5547 25.0362 3.75561 25.2374 3.99748 25.3776C3.99832 25.3781 3.99916 25.3786 4 25.3791L15.2 31.7791C15.4432 31.9195 15.7191 31.9934 16 31.9934C16.2809 31.9934 16.5568 31.9195 16.8 31.7791L16.8062 31.7755L28 25.3791C28.0008 25.3786 28.0017 25.3781 28.0025 25.3776C28.2444 25.2374 28.4453 25.0362 28.5852 24.7941C28.7256 24.5512 28.7997 24.2757 28.8 23.9951V11.1984C28.7997 10.9178 28.7256 10.6422 28.5852 10.3993C28.4453 10.1572 28.2444 9.95605 28.0025 9.81583C28.0017 9.81534 28.0008 9.81485 28 9.81436L16.8 3.41437C16.5568 3.27394 16.2809 3.2 16 3.2Z"
			fill="#807B91"
		/>
		<path
			fill-rule="evenodd"
			clip-rule="evenodd"
			d="M0.646447 8.73191C1.08891 7.96701 2.06768 7.70563 2.83258 8.14809L15.9994 15.7647L29.1663 8.14809C29.9312 7.70563 30.9099 7.96701 31.3524 8.73191C31.7949 9.49681 31.5335 10.4756 30.7686 10.918L16.8006 18.998C16.3049 19.2847 15.6939 19.2847 15.1983 18.998L1.23026 10.918C0.465362 10.4756 0.20398 9.49681 0.646447 8.73191Z"
			fill="#807B91"
		/>
		<path
			fill-rule="evenodd"
			clip-rule="evenodd"
			d="M15.9999 15.9969C16.8836 15.9969 17.5999 16.7132 17.5999 17.5969V33.7249C17.5999 34.6085 16.8836 35.3249 15.9999 35.3249C15.1162 35.3249 14.3999 34.6085 14.3999 33.7249V17.5969C14.3999 16.7132 15.1162 15.9969 15.9999 15.9969Z"
			fill="#807B91"
		/>
	</svg>
</template>

<script>
export default {
	name: 'b-icon-package-box',
	components: {},
	computed: {},
	props: {},
};
</script>

<style scoped lang="scss">
</style>

