<template>
	<svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path
			fill-rule="evenodd"
			clip-rule="evenodd"
			d="M5.00001 1.77528e-07H39.9999C40.6567 -0.000174824 41.307 0.129034 41.9136 0.380246C42.5203 0.631457 43.0716 0.999748 43.536 1.46408C44.0003 1.9284 44.3685 2.47967 44.6197 3.08638C44.871 3.69308 45.0002 4.34334 45 5.00001V39.9999C45.0002 40.6567 44.871 41.307 44.6197 41.9136C44.3685 42.5203 44.0003 43.0716 43.536 43.536C43.0716 44.0003 42.5203 44.3685 41.9136 44.6197C41.307 44.871 40.6567 45.0002 39.9999 45H5.00001C4.34334 45.0002 3.69308 44.871 3.08638 44.6197C2.47967 44.3685 1.9284 44.0003 1.46408 43.536C0.999748 43.0716 0.631457 42.5203 0.380246 41.9136C0.129034 41.307 -0.000174824 40.6567 1.77528e-07 39.9999V5.00001C-0.000174824 4.34334 0.129034 3.69308 0.380246 3.08638C0.631457 2.47967 0.999748 1.9284 1.46408 1.46408C1.9284 0.999748 2.47967 0.631457 3.08638 0.380246C3.69308 0.129034 4.34334 -0.000174824 5.00001 1.77528e-07ZM11.25 20.625H33.75V24.375H11.25V20.625Z"
			fill="#365DF0"
		/>
	</svg>
</template>

<script>
export default {
	name: 'b-icon-remove-rectangle',
	components: {},
	computed: {},
	props: {}
};
</script>

