<template>
	<svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 45 45">
		<g transform="translate(-256.5 -434)">
			<path class="a" d="M0,0H45V45H0Z" transform="translate(256.5 434)" />
			<path
				d="M20.75,2A18.75,18.75,0,1,0,39.5,20.75,18.757,18.757,0,0,0,20.75,2Zm1.875,28.125h-3.75v-3.75h3.75Zm0-7.5h-3.75V11.375h3.75Z"
				transform="translate(258.25 435.75)"
			/>
		</g>
	</svg>
</template>

<script>
export default {
	name: 'b-icon-error',
	components: {},
	computed: {},
	props: {},
};
</script>

<style scoped lang="scss">
.a {
	fill: none;
}
</style>

