<template>
	<svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 45 45">
		<g transform="translate(-1531.5 -539)">
			<path
				d="M21.894,25.856,13.306,17.25l8.587-8.606L19.25,6,8,17.25,19.25,28.5Z"
				transform="translate(1538.5 544.25)"
			/>
			<path class="a" d="M0,0H45V45H0Z" transform="translate(1531.5 539)" />
		</g>
	</svg>
</template>

<script>
export default {
	name: 'b-icon-chevron-left',
	components: {},
	computed: {},
	props: {},
};
</script>

<style scoped lang="scss">
path.a {
	fill: none;
}
</style>

