<template>
	<svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 45 45">
		<defs></defs>
		<g transform="translate(-1659 -539)">
			<path
				d="M8.644,21.894l8.606-8.587,8.606,8.587L28.5,19.25,17.25,8,6,19.25Z"
				transform="translate(1664.25 546)"
			/>
			<path class="a" d="M0,0H45V45H0Z" transform="translate(1659 539)" />
		</g>
	</svg>
</template>

<script>
export default {
	name: 'b-icon-chevron-up',
	components: {},
	computed: {},
	props: {},
};
</script>

<style scoped lang="scss">
  path.a {
    fill: none;
  }
</style>

