<template>
	<svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 45 45">
		<defs></defs>
		<g transform="translate(-957.75 -434)"><path class="a" d="M0,0H45V45H0Z" transform="translate(957.75 434)"/><path d="M29.188,3A11.228,11.228,0,0,0,20.75,6.919,11.228,11.228,0,0,0,12.313,3,10.212,10.212,0,0,0,2,13.312C2,20.4,8.375,26.175,18.031,34.95l2.719,2.456,2.719-2.475C33.125,26.175,39.5,20.4,39.5,13.312A10.212,10.212,0,0,0,29.188,3Zm-8.25,29.156-.188.188-.187-.188C11.637,24.075,5.75,18.731,5.75,13.312A6.408,6.408,0,0,1,12.313,6.75a7.33,7.33,0,0,1,6.694,4.425h3.506A7.284,7.284,0,0,1,29.188,6.75a6.408,6.408,0,0,1,6.562,6.562C35.75,18.731,29.863,24.075,20.938,32.156Z" transform="translate(959.5 436.625)"/></g>
	</svg>
</template>

<script>
export default {
	name: 'b-icon-favorite-border',
	components: {},
	computed: {},
	props: {},
};
</script>

<style scoped lang="scss">
  path.a {
    fill: none;
  }
</style>

