<template>
	<svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 45 45">
		<g transform="translate(-830 -644)">
			<path class="a" d="M0,0H45V45H0Z" transform="translate(830 644)" />
			<path
				d="M3,28.5H36.75V24.75H3Zm0-9.375H36.75v-3.75H3ZM3,6V9.75H36.75V6Z"
				transform="translate(832.625 649.25)"
			/>
		</g>
	</svg>
</template>

<script>
export default {
	name: 'b-icon-menu',
	components: {},
	computed: {},
	props: {},
};
</script>

<style scoped lang="scss">
path.a {
	fill: none;
}
</style>

