<template>
	<svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 45 45">
		<defs></defs>
		<g transform="translate(-128.75 -329)">
			<path
				d="M31.25,7.644,28.606,5,18.125,15.481,7.644,5,5,7.644,15.481,18.125,5,28.606,7.644,31.25,18.125,20.769,28.606,31.25l2.644-2.644L20.769,18.125Z"
				transform="translate(133.125 333.375)"
			/>
			<path class="a" d="M0,0H45V45H0Z" transform="translate(128.75 329)" />
		</g>
	</svg>
</template>

<script>
export default {
	name: 'b-icon-clear',
	components: {},
	computed: {},
	props: {},
};
</script>

<style scoped lang="scss">
.a {
	fill: none;
}
</style>
