<template>
	<svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 45 45">
		<g transform="translate(-64.5 -854)">
			<path d="M2.019,36.75,41.375,19.875,2.019,3,2,16.125l28.125,3.75L2,23.625Z"
				transform="translate(66.25 856.625)" />
			<path class="a" d="M0,0H45V45H0Z" transform="translate(64.5 854)" />
		</g>
	</svg>
</template>

<script>
	export default {
		name: 'b-icon-send',
		components: {},
		computed: {},
		props: {},
	};
</script>

<style scoped lang="scss">
	path.a {
		fill: none;
	}
</style>
