.container-colors {
    width: auto;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    padding: 24px 0;
  }
  
  .color {
    border: 1px solid #e4e5eb;
    border-radius: 4px 4px 0 0;
    width: 110px;
    height: 130px;
  }
  
  .color span {
    display: block;
    width: 100%;
    height: 60%;
  }
  
  .color p {
    margin: 0 !important;
    text-align: center;
  }

  .color_hex {
    color: #ABAFBA !important;
  }

  .color .ink-base {
      background-color: #110634;
  }

  .color .ink-lighter-1 {
    background-color: #464157;
}

  .color .ink-lighter-2 {
    background-color: #726E7E;
  }

  .color .ink-lighter-3 {
    background-color: #C5C3CD;
  }

  .color .white-base {
    background-color: #FFFFFF;
  }

  .color .white-darker-1 {
    background-color: #F8F8F9;
  }

  .color .white-darker-2 {
    background-color: #F4F3F5;
  }

  .color .white-darker-3 {
    background-color: #E8E7EB;
  }

  .color .white-darker-4 {
    background-color: #DCDBE1;
  }

  .color .blue-darker-2 {
    background-color: #002097;
  }

  .color .blue-darker-1 {
    background-color: #1338C0;
  }

  .color .blue-base {
    background-color: #365DF0;
  }

  .color .blue-lighter-1 {
    background-color: #6F96FF;
  }

  .color .blue-lighter-2 {
    background-color: #A0B6FF;
  }

  .color .blue-lighter-3 {
    background-color: #C5D2FF;
  }

  .color .blue-lighter-4 {
    background-color: #E7EDFF;
  }

  .color .blue-lighter-5 {
    background-color: #F5F7FF;
  }

  .color .green-darker-2 {
    background-color: #033B27;
  }

  .color .green-darker-1 {
    background-color: #005436;
  }

  .color .green-base {
    background-color: #11855B;
  }

  .color .green-lighter-1 {
    background-color: #4DD398;
  }

  .color .green-lighter-2 {
    background-color: #99E6C4;
  }

  .color .green-lighter-3 {
    background-color: #BFF3DB;
  }

  .color .green-lighter-4 {
    background-color: #E6F9F0;
  }

  .color .green-lighter-5 {
    background-color: #F2FCF8;
  }

  .color .red-darker-2 {
    background-color: #880E0B;
  }

  .color .red-darker-1 {
    background-color: #AC120E;
  }

  .color .red-base {
    background-color: #CF3430;
  }

  .color .red-lighter-1 {
    background-color: #FF928F;
  }

  .color .red-lighter-2 {
    background-color: #FFB7B5;
  }

  .color .red-lighter-3 {
    background-color: #FFD0CF;
  }

  .color .red-lighter-4 {
    background-color: #FFEDEC;
  }

  .color .red-lighter-5 {
    background-color: #FFF7F6;
  }

  .color .yellow-darker-2 {
    background-color: #4A3800;
  }

  .color .yellow-darker-1 {
    background-color: #6F5504;
  }

  .color .yellow-base {
    background-color: #927107;
  }

  .color .yellow-lighter-1 {
    background-color: #FFDB56;
  }

  .color .yellow-lighter-2 {
    background-color: #FFEB9E;
  }

  .color .yellow-lighter-3 {
    background-color: #FFF6BF;
  }

  .color .yellow-lighter-4 {
    background-color: #FFFAE7;
  }

  .color .yellow-lighter-5 {
    background-color: #FFFCF3;
  }

  .color .purple-darker-2 {
    background-color: #260052;
  }

  .color .purple-darker-1 {
    background-color: #47098E;
  }

  .color .purple-base {
    background-color: #7B23E0;
  }

  .color .purple-lighter-1 {
    background-color: #AB58FF;
  }

  .color .purple-lighter-2 {
    background-color: #C999FF;
  }

  .color .purple-lighter-3 {
    background-color: #DDBFFF;
  }

  .color .purple-lighter-4 {
    background-color: #F1E6FF;
  }

  .color .purple-lighter-5 {
    background-color: #F8F2FF;
  }

  .color .pink-darker-2 {
    background-color: #4B0032;
  }

  .color .pink-darker-1 {
    background-color: #8F0560;
  }

  .color .pink-base {
    background-color: #D32A99;
  }

  .color .pink-lighter-1 {
    background-color: #FF83D8;
  }

  .color .pink-lighter-2 {
    background-color: #FFB8E9;
  }

  .color .pink-lighter-3 {
    background-color: #FFCDF3;
  }

  .color .pink-lighter-4 {
    background-color: #FFEDFA;
  }

  .color .pink-lighter-5 {
    background-color: #FFF6FC;
  }

  .color .teal-darker-2 {
    background-color: #002D3D;
  }

  .color .teal-darker-1 {
    background-color: #005370;
  }

  .color .teal-base {
    background-color: #0E7FA6;
  }

  .color .teal-lighter-1 {
    background-color: #67D8FF;
  }

  .color .teal-lighter-2 {
    background-color: #A8E9FF;
  }

  .color .teal-lighter-3 {
    background-color: #C2F4FF;
  }

  .color .teal-lighter-4 {
    background-color: #E9F9FF;
  }

  .color .teal-lighter-5 {
    background-color: #F4FCFF;
  }

  .color .orange-darker-2 {
    background-color: #582400;
  }

  .color .orange-darker-1 {
    background-color: #823601;
  }

  .color .orange-base {
    background-color: #B85C1C;
  }

  .color .orange-lighter-1 {
    background-color: #FFB03D;
  }

  .color .orange-lighter-2 {
    background-color: #FFCB79;
  }

  .color .orange-lighter-3 {
    background-color: #FFE4B6;
  }

  .color .orange-lighter-4 {
    background-color: #FFFBF2;
  }

  .color .orange-lighter-5 {
    background-color: #FFFCF7;
  }

  .color .lime-darker-2 {
    background-color: #2B3B01;
  }

  .color .lime-darker-1 {
    background-color: #3F5501;
  }

  .color .lime-base {
    background-color: #667F21;
  }

  .color .lime-lighter-1 {
    background-color: #BFE656;
  }

  .color .lime-lighter-2 {
    background-color: #D6F683;
  }

  .color .lime-lighter-3 {
    background-color: #EBFEB7;
  }

  .color .lime-lighter-4 {
    background-color: #FCFFF2;
  }

  .color .lime-lighter-5 {
    background-color: #FDFFF7;
  }



