<template>
	<b-modal ref="addImageModal">
		<h3 class="margin-0 margin-right-big" slot="header">Adicionar imagem</h3>
		<div>
			<div class="display-flex justify-content-center image-preview">
				<img
					class="display-block margin-horizontal-auto margin-bottom-normal"
					v-if="imageUrl"
					:src="imageUrl"
					:alt="imageAlt"
					style="max-width: 100%; max-height: 50vh"
				/>
			</div>
			<div class="display-flex justify-content-center">
				<!-- esse input não é exibido. o botão Adicionar/Alterar chama o evento de click dele para selecionar o arquivo -->
				<input
					id="fileUpload"
					ref="fileUpload"
					type="file"
					class="display-none"
					accept=".png, .jpg, .jpeg"
					tabindex="-1"
					@change="uploadImage($event.target.files[0])"
				/>

				<b-button
					:loading="loading"
					outline
					@clickOrEnter="$refs.fileUpload.click()"
					class="font-size-big"
				>
					<b-new-b-icon-cloud-upload v-if="!imageUrl" class="margin-right-tiny" />
					<b-new-b-icon-refresh v-else class="margin-right-tiny" />
					{{ imageUrl ? 'Alterar' : 'Selecionar' }} imagem
				</b-button>
			</div>
			<span class="display-block align-center input-error red-base font-size-big margin-top-tiny" v-if="!!errors.imageUrl"><b-new-b-icon-error /> {{errors.imageUrl}}</span>
			<b-input
				type="text"
				class="margin-top-normal"
				:error="errors.imageAlt"
				name="description"
				label="Descrição da imagem*"
				v-model.trim="imageAlt"
				required
			/>
		</div>
		<div
			slot="footer"
			class="display-flex flex-grow justify-content-between justify-content-md-end"
		>
			<b-button class="font-size-big" link color="gray" @clickOrEnter="hideModal()"
				>Cancelar</b-button
			>

			<b-button @clickOrEnter="setImage" class="margin-left-big font-size-big"
				>Adicionar</b-button
			>
		</div>
	</b-modal>
</template>

<script>
import Vue from 'vue';
import BModal from '../../Modal.vue';
import BInput from '../../Input.vue';
import BButton from '../../Button.vue';
import { BNewBIconCloudUpload, BNewBIconRefresh, BNewBIconError } from '../../new_icons';

export default {
	name: 'editor-add-image-modal',
	components: { 
		BModal,
		BInput,
		BButton,
		BNewBIconCloudUpload,
		BNewBIconRefresh,
		BNewBIconError
	},
	props: {
		editor: {
			type: Object,
			required: true,
		},
		uploadImageFunction: {
			type: Function,
			required: true,
		},
	},
	data() {
		return {
			loading: false,
			imageUrl: '',
			imageAlt: '',
			errors: {}
		};
	},
	methods: {
		async uploadImage(file) {
			Vue.delete(this.errors, 'imageUrl');
			this.loading = true;
			this.imageUrl = await this.uploadImageFunction(file);
			this.loading = false;
		},
		clearData() {
			this.imageUrl = '';
			this.imageAlt = '';
		},
		validateErrors() {
			if(!this.imageAlt) Vue.set(this.errors, 'imageAlt', 'A descrição da imagem é obrigatória');
			else Vue.delete(this.errors, 'imageAlt');
			if(!this.imageUrl) Vue.set(this.errors, 'imageUrl', 'A imagem é obrigatória');
			else Vue.delete(this.errors, 'imageUrl');
			if(Object.keys(this.errors).length) return false;
			return true;
		},
		setImage() {
			if(this.validateErrors()) {
				this.editor.chain().focus().setImage({ src: this.imageUrl, alt: this.imageAlt }).run();
				this.hideModal();
			}
		},
		showModal() {
			this.clearData();
			this.$refs.addImageModal.showModal();
		},
		hideModal() {
			this.$refs.addImageModal.hideModal();
			this.clearData();
		},
		toggleModal() {
			this.clearData();
			this.$refs.addImageModal.toggleModal();
		},
	},
};
</script>
