.card-border {
    width: 500px;
    height: 50px;
    margin: 20px 0 !important;
    border-color: #A39FAF;
    background-color: #F8F8F9;
}

.card-opacity {
    width: 500px;
    height: 50px;
    margin: 20px 0 !important;
    background-color: #365DF0;
}

.ProseMirror:focus {
    outline: none;
}