
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M11.0001 8.17L6.49012 3.66C8.07012 2.61 9.96012 2 12.0001 2C17.5201 2 22.0001 6.48 22.0001 12C22.0001 14.04 21.3901 15.93 20.3401 17.51L18.8801 16.05C19.5901 14.87 20.0001 13.48 20.0001 12C20.0001 8.65 17.9301 5.78 15.0001 4.59V5C15.0001 6.1 14.1001 7 13.0001 7H11.0001V8.17ZM20.4901 21.9C20.1001 22.29 19.4701 22.29 19.0801 21.9L17.5201 20.34C15.4501 21.71 12.8401 22.34 10.0701 21.82C6.12012 21.07 2.94012 17.9 2.19012 13.94C1.67012 11.17 2.29012 8.56 3.67012 6.49L2.10012 4.93C1.71012 4.54 1.71012 3.91 2.10012 3.52C2.49012 3.13 3.12012 3.13 3.51012 3.52L20.4801 20.49C20.8801 20.88 20.8801 21.51 20.4901 21.9ZM11.0001 18C9.90012 18 9.00012 17.1 9.00012 16V15L4.21012 10.21C4.08012 10.79 4.00012 11.38 4.00012 12C4.00012 16.08 7.05012 19.44 11.0001 19.93V18Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-public-off`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


