
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M7 4C7 2.89 6.11 2 5 2C3.89 2 3 2.89 3 4C3 5.11 3.89 6 5 6C6.11 6 7 5.11 7 4ZM10.19 4.5C9.78 4.5 9.43 4.75 9.27 5.13C8.83 6.23 7.76 7 6.5 7H3.5C2.67 7 2 7.67 2 8.5V11H8V8.74C9.43 8.29 10.58 7.21 11.12 5.83C11.38 5.19 10.88 4.5 10.19 4.5ZM19 17C20.11 17 21 16.11 21 15C21 13.89 20.11 13 19 13C17.89 13 17 13.89 17 15C17 16.11 17.89 17 19 17ZM20.5 18H17.5C16.24 18 15.17 17.23 14.73 16.13C14.58 15.75 14.22 15.5 13.81 15.5C13.12 15.5 12.62 16.19 12.87 16.83C13.42 18.21 14.56 19.29 15.99 19.74V22H21.99V19.5C22 18.67 21.33 18 20.5 18ZM17.25 11.09C17.25 11.09 17.25 11.08 17.26 11.09C16.2 11.36 15.36 12.2 15.09 13.26V13.25C14.98 13.68 14.58 14 14.11 14C13.56 14 13.11 13.55 13.11 13C13.11 12.95 13.13 12.86 13.13 12.86C13.56 11.01 15.02 9.55 16.88 9.13C16.92 9.13 16.96 9.12 17 9.12C17.55 9.12 18 9.57 18 10.12C18 10.58 17.68 10.98 17.25 11.09ZM18 6.06C18 6.57 17.63 6.98 17.14 7.05C13.95 7.44 11.44 9.96 11.05 13.15C10.98 13.63 10.56 14 10.06 14C9.51 14 9.06 13.55 9.06 13C9.06 12.98 9.06 12.96 9.06 12.94C9.06 12.93 9.06 12.92 9.06 12.91C9.56 8.79 12.85 5.53 16.98 5.06H16.99C17.55 5.06 18 5.51 18 6.06Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-connect-without-contact`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


