
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M21 3H3C1.9 3 1 3.9 1 5V17C1 18.1 1.9 19 3 19H8V20C8 20.55 8.45 21 9 21H15C15.55 21 16 20.55 16 20V19H17C17.55 19 18 18.55 18 18C18 17.45 17.55 17 17 17H4C3.45 17 3 16.55 3 16V6C3 5.45 3.45 5 4 5H20C20.55 5 21 5.45 21 6V12C21 12.55 21.45 13 22 13C22.55 13 23 12.55 23 12V5C23 3.9 22.1 3 21 3ZM13 10V8C13 7.45 12.55 7 12 7C11.45 7 11 7.45 11 8V10H9C8.45 10 8 10.45 8 11C8 11.55 8.45 12 9 12H11V14C11 14.55 11.45 15 12 15C12.55 15 13 14.55 13 14V12H15C15.55 12 16 11.55 16 11C16 10.45 15.55 10 15 10H13ZM23.29 18.71L20.25 21.75C19.84 22.16 19.16 22.16 18.75 21.75C18.34 21.34 18.34 20.66 18.75 20.25L21 18L18.75 15.75C18.34 15.34 18.34 14.66 18.75 14.25C19.16 13.84 19.84 13.84 20.25 14.25L23.29 17.29C23.68 17.68 23.68 18.32 23.29 18.71Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-queue-play-next`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


