
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M20 6H12L10.59 4.59C10.21 4.21 9.7 4 9.17 4H4C2.9 4 2.01 4.9 2.01 6L2 18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V8C22 6.9 21.1 6 20 6ZM7.12 15.29L5.71 13.88C5.32 13.49 5.32 12.86 5.71 12.47C6.1 12.08 6.73 12.08 7.12 12.47L7.83 13.18L10.66 10.35C11.05 9.96 11.68 9.96 12.07 10.35C12.46 10.74 12.46 11.37 12.07 11.76L8.53 15.3C8.14 15.68 7.51 15.68 7.12 15.29ZM17.41 13L18.29 13.88C18.68 14.27 18.68 14.9 18.29 15.29C17.9 15.68 17.27 15.68 16.88 15.29L16 14.41L15.12 15.29C14.73 15.68 14.1 15.68 13.71 15.29C13.32 14.9 13.32 14.27 13.71 13.88L14.59 13L13.71 12.12C13.32 11.73 13.32 11.1 13.71 10.71C14.1 10.32 14.73 10.32 15.12 10.71L16 11.59L16.88 10.71C17.27 10.32 17.9 10.32 18.29 10.71C18.68 11.1 18.68 11.73 18.29 12.12L17.41 13Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-rule-folder`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


