
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M16 9C15.3 9 14.63 9.1 14 9.29V7C14 5.9 13.1 5 12 5H4C2.9 5 2 5.9 2 7V17C2 18.1 2.9 19 4 19H9.68C10.8 21.36 13.21 23 16 23C19.87 23 23 19.87 23 16C23 12.13 19.87 9 16 9ZM16 21C13.24 21 11 18.76 11 16C11 13.24 13.24 11 16 11C18.76 11 21 13.24 21 16C21 18.76 18.76 21 16 21Z' fill='#323232'/><path d='M14 4C14.55 4 15 3.55 15 3C15 2.45 14.55 2 14 2H11.5L10.79 1.29C10.61 1.11 10.35 1 10.09 1H5.91C5.65 1 5.39 1.11 5.21 1.29L4.5 2H2C1.45 2 1 2.45 1 3C1 3.55 1.45 4 2 4H14Z' fill='#323232'/><path d='M15.75 12C15.34 12 15 12.34 15 12.75V16.43C15 16.79 15.19 17.11 15.5 17.29L18.02 18.76C18.35 18.95 18.77 18.85 18.98 18.54C19.21 18.2 19.1 17.73 18.74 17.52L16.5 16.2V12.75C16.5 12.34 16.16 12 15.75 12Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-auto-delete`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


