
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M15 11V5.83001C15 5.30001 14.79 4.79001 14.41 4.42001L12.7 2.71001C12.31 2.32001 11.68 2.32001 11.29 2.71001L9.59 4.41001C9.21 4.79001 9 5.30001 9 5.83001V7.00001H5C3.9 7.00001 3 7.90001 3 9.00001V19C3 20.1 3.9 21 5 21H19C20.1 21 21 20.1 21 19V13C21 11.9 20.1 11 19 11H15ZM7 19H5V17H7V19ZM7 15H5V13H7V15ZM7 11H5V9.00001H7V11ZM13 19H11V17H13V19ZM13 15H11V13H13V15ZM13 11H11V9.00001H13V11ZM13 7.00001H11V5.00001H13V7.00001ZM19 19H17V17H19V19ZM19 15H17V13H19V15Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-location-city`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


