
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M12.0002 22C16.5602 22 20.3302 18.6 20.9202 14.2C21.0102 13.56 20.4402 12.99 19.8002 13.08C15.4002 13.67 12.0002 17.44 12.0002 22ZM5.6002 10.25C5.6002 11.63 6.7202 12.75 8.1002 12.75C8.6302 12.75 9.1102 12.59 9.5202 12.31L9.5002 12.5C9.5002 13.88 10.6202 15 12.0002 15C13.3802 15 14.5002 13.88 14.5002 12.5L14.4802 12.31C14.8802 12.59 15.3702 12.75 15.9002 12.75C17.2802 12.75 18.4002 11.63 18.4002 10.25C18.4002 9.25 17.8102 8.4 16.9702 8C17.8102 7.6 18.4002 6.75 18.4002 5.75C18.4002 4.37 17.2802 3.25 15.9002 3.25C15.3702 3.25 14.8902 3.41 14.4802 3.69L14.5002 3.5C14.5002 2.12 13.3802 1 12.0002 1C10.6202 1 9.5002 2.12 9.5002 3.5L9.5202 3.69C9.1202 3.41 8.6302 3.25 8.1002 3.25C6.7202 3.25 5.6002 4.37 5.6002 5.75C5.6002 6.75 6.1902 7.6 7.0302 8C6.1902 8.4 5.6002 9.25 5.6002 10.25ZM12.0002 5.5C13.3802 5.5 14.5002 6.62 14.5002 8C14.5002 9.38 13.3802 10.5 12.0002 10.5C10.6202 10.5 9.5002 9.38 9.5002 8C9.5002 6.62 10.6202 5.5 12.0002 5.5ZM3.0802 14.2C3.6702 18.6 7.4402 22 12.0002 22C12.0002 17.44 8.6002 13.67 4.2002 13.08C3.5602 12.99 2.9902 13.56 3.0802 14.2Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-local-florist`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


