
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M1.91 2.36C1.56 2.01 0.990002 2.01 0.640002 2.36C0.290002 2.71 0.290002 3.28 0.640002 3.63L2.02 5.01L2 22L6 18H15L20.09 23.09C20.44 23.44 21.01 23.44 21.36 23.09C21.71 22.74 21.71 22.17 21.36 21.82L1.91 2.36ZM7 14C6.45 14 6 13.55 6 13C6 12.45 6.45 12 7 12C7.55 12 8 12.45 8 13C8 13.55 7.55 14 7 14ZM7 11C6.45 11 6 10.55 6 10C6 9.45 6.45 9 7 9C7.55 9 8 9.45 8 10C8 10.55 7.55 11 7 11ZM20 2H4.08L11.08 9H17C17.55 9 18 9.45 18 10C18 10.55 17.55 11 17 11H13.08L20.07 17.99C21.14 17.95 22 17.08 22 16V4C22 2.9 21.1 2 20 2ZM17 8H11C10.45 8 10 7.55 10 7C10 6.45 10.45 6 11 6H17C17.55 6 18 6.45 18 7C18 7.55 17.55 8 17 8Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-speaker-notes-off`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


