
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M10 5H4C3.45 5 3 5.45 3 6C3 6.55 3.45 7 4 7H6V10C6 10.55 6.45 11 7 11C7.55 11 8 10.55 8 10V7H10C10.55 7 11 6.55 11 6C11 5.45 10.55 5 10 5Z' fill='#323232'/><path d='M10 2H4C3.45 2 3 2.45 3 3C3 3.55 3.45 4 4 4H10C10.55 4 11 3.55 11 3C11 2.45 10.55 2 10 2Z' fill='#323232'/><path d='M20.8896 13.11C20.4996 12.72 19.8696 12.72 19.4796 13.11L13.1196 19.47C12.7296 19.86 12.7296 20.49 13.1196 20.88C13.5096 21.27 14.1396 21.27 14.5296 20.88L20.8896 14.52C21.2796 14.13 21.2796 13.5 20.8896 13.11Z' fill='#323232'/><path d='M14.5 16C15.3284 16 16 15.3284 16 14.5C16 13.6716 15.3284 13 14.5 13C13.6716 13 13 13.6716 13 14.5C13 15.3284 13.6716 16 14.5 16Z' fill='#323232'/><path d='M19.5 21C20.3284 21 21 20.3284 21 19.5C21 18.6716 20.3284 18 19.5 18C18.6716 18 18 18.6716 18 19.5C18 20.3284 18.6716 21 19.5 21Z' fill='#323232'/><path d='M15.5 11C16.88 11 18 9.88 18 8.5V4H20C20.55 4 21 3.55 21 3C21 2.45 20.55 2 20 2H18C17.45 2 17 2.45 17 3V6.51C16.58 6.19 16.07 6 15.5 6C14.12 6 13 7.12 13 8.5C13 9.88 14.12 11 15.5 11Z' fill='#323232'/><path d='M10.4499 18.09C10.8399 17.7 10.8399 17.07 10.4499 16.68C10.0599 16.29 9.42986 16.29 9.03986 16.68L8.32986 17.39L7.61986 16.68L7.96986 16.33C8.94986 15.35 8.94986 13.77 7.96986 12.79C7.47986 12.3 6.83986 12.06 6.19986 12.06C5.55986 12.06 4.91986 12.3 4.42986 12.79C3.44986 13.77 3.44986 15.35 4.42986 16.33L4.77986 16.68L3.71986 17.74C2.73986 18.72 2.73986 20.3 3.71986 21.28C4.21986 21.76 4.85986 22 5.49986 22C6.13986 22 6.77986 21.76 7.26986 21.27L8.32986 20.21L9.03986 20.92C9.42986 21.31 10.0599 21.31 10.4499 20.92C10.8399 20.53 10.8399 19.9 10.4499 19.51L9.73986 18.8L10.4499 18.09ZM5.84986 14.2C5.96986 14.08 6.10986 14.05 6.19986 14.05C6.28986 14.05 6.42986 14.08 6.54986 14.2C6.73986 14.4 6.73986 14.71 6.54986 14.91L6.19986 15.26L5.84986 14.9C5.72986 14.78 5.69986 14.64 5.69986 14.55C5.69986 14.46 5.72986 14.32 5.84986 14.2ZM5.84986 19.85C5.72986 19.97 5.58986 20 5.49986 20C5.40986 20 5.26986 19.97 5.14986 19.85C5.02986 19.73 4.99986 19.59 4.99986 19.5C4.99986 19.41 5.02986 19.27 5.14986 19.15L6.20986 18.09L6.91986 18.8L5.84986 19.85Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-emoji-symbols`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


