
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M14.25 6C14.66 6 15 6.34 15 6.75C15 7.16 14.66 7.5 14.25 7.5C13.84 7.5 13.5 7.16 13.5 6.75C13.5 6.34 13.84 6 14.25 6ZM14.25 4.5C13.01 4.5 12 5.51 12 6.75C12 7.99 13.01 9 14.25 9C15.49 9 16.5 7.99 16.5 6.75C16.5 5.51 15.49 4.5 14.25 4.5ZM20 5.5C20.28 5.5 20.5 5.72 20.5 6C20.5 6.28 20.28 6.5 20 6.5C19.72 6.5 19.5 6.28 19.5 6C19.5 5.72 19.72 5.5 20 5.5ZM20 4C18.9 4 18 4.9 18 6C18 7.1 18.9 8 20 8C21.1 8 22 7.1 22 6C22 4.9 21.1 4 20 4ZM18 2.5C18 3.33 17.33 4 16.5 4C15.67 4 15 3.33 15 2.5C15 1.67 15.67 1 16.5 1C17.33 1 18 1.67 18 2.5ZM1.94 11.79C1.34 12.35 1 13.14 1 13.97V20C1 21.66 2.34 23 4 23H17.68C18.33 23 18.93 22.53 19 21.88C19.08 21.13 18.49 20.5 17.76 20.5H12.5C12.22 20.5 12 20.28 12 20C12 19.72 12.22 19.5 12.5 19.5H19.68C20.33 19.5 20.93 19.03 21 18.38C21.08 17.63 20.49 17 19.76 17H12.5C12.22 17 12 16.78 12 16.5C12 16.22 12.22 16 12.5 16H20.68C21.33 16 21.93 15.53 22 14.88C22.08 14.13 21.49 13.5 20.76 13.5H12.5C12.22 13.5 12 13.28 12 13C12 12.72 12.22 12.5 12.5 12.5H18.68C19.33 12.5 19.93 12.03 20 11.38C20.08 10.63 19.49 10 18.76 10H8.86L10.35 7.39C10.44 7.23 10.49 7.06 10.49 6.86C10.49 6.6 10.4 6.36 10.23 6.16L9.81 5.71C9.43 5.32 8.8 5.3 8.4 5.68L1.94 11.79Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-soap`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


