
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M11.5 3.5C11.5 2.4 12.4 1.5 13.5 1.5C14.6 1.5 15.5 2.4 15.5 3.5C15.5 4.6 14.6 5.5 13.5 5.5C12.4 5.5 11.5 4.6 11.5 3.5ZM18.53 11C16.96 11.01 15.59 10.1 14.93 8.79L14.14 7.12C13.97 6.77 13.7 6.47 13.34 6.27C12.72 5.91 11.99 5.93 11.4 6.24V6.23L7.01 8.73C6.39 9.08 6 9.74 6 10.46V13C6 13.55 6.45 14 7 14C7.55 14 8 13.55 8 13V10.46L9.5 9.61C9.18 10.71 9 11.85 9 13V18.33L7 21C6.67 21.44 6.76 22.07 7.2 22.4C7.64 22.73 8.27 22.64 8.6 22.2L10.64 19.48C10.87 19.17 11.01 18.79 11.04 18.4L11.22 15.46L13 18V22C13 22.55 13.45 23 14 23C14.55 23 15 22.55 15 22V17.13C15 16.72 14.87 16.32 14.64 15.98L13.04 13.69C13.04 13.69 13.04 13.69 13.04 13.68C12.93 12.52 13.11 11.36 13.5 10.28C14.31 11.51 15.55 12.42 17.01 12.8V12.83V13C17.01 13.28 17.23 13.5 17.51 13.5C17.79 13.5 18 13.28 18 13V12.84V12.5C18 12.22 18.22 12 18.5 12C18.78 12 19 12.22 19 12.5V22.5C19 22.78 19.22 23 19.5 23C19.78 23 20 22.78 20 22.5V12.5C20 11.68 19.34 10.99 18.53 11Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-elderly`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


