
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M6.56008 7.98002C6.10008 7.52002 5.31008 7.60002 5.00008 8.17002C4.72008 8.68002 4.50008 9.20002 4.33008 9.75002C4.14008 10.38 4.64008 11 5.29008 11H5.30008C5.73008 11 6.12008 10.72 6.24008 10.3C6.36008 9.90002 6.52008 9.51002 6.72008 9.13002C6.94008 8.76002 6.87008 8.29002 6.56008 7.98002ZM5.31008 13H5.29008C4.64008 13 4.14008 13.62 4.33008 14.25C4.49008 14.79 4.71008 15.32 4.99008 15.83C5.30008 16.4 6.10008 16.49 6.56008 16.03C6.86008 15.72 6.94008 15.26 6.73008 14.88C6.53008 14.51 6.37008 14.12 6.25008 13.72C6.13008 13.28 5.74008 13 5.31008 13ZM8.16008 19.02C8.67008 19.3 9.20008 19.52 9.75008 19.68C10.3701 19.86 10.9901 19.36 10.9901 18.72V18.69C10.9901 18.26 10.7101 17.87 10.2901 17.75C9.89008 17.63 9.51008 17.47 9.14008 17.27C8.76008 17.06 8.28008 17.13 7.98008 17.44L7.95008 17.47C7.50008 17.92 7.59008 18.71 8.16008 19.02ZM13.0001 4.07002V3.41002C13.0001 2.52002 11.9201 2.07002 11.2901 2.70002L9.17008 4.83002C8.77008 5.23002 8.77008 5.87002 9.17008 6.26002L11.3001 8.34002C11.9301 8.96002 13.0001 8.51002 13.0001 7.62002V6.09002C15.8401 6.57002 18.0001 9.03002 18.0001 12C18.0001 14.73 16.1801 17.02 13.6801 17.75C13.2701 17.87 13.0001 18.26 13.0001 18.69V18.71C13.0001 19.36 13.6101 19.85 14.2301 19.67C17.5701 18.71 20.0001 15.64 20.0001 12C20.0001 7.92002 16.9501 4.56002 13.0001 4.07002Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-rotate-left`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


