
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M19.97 19.2C20.15 20.16 19.42 21 18.5 21H15.81C14.51 21 13.55 19.78 13.87 18.51L15 14H9C7.35 14 6 12.65 6 11V3H12V9H17C18.1 9 19 9.9 19 11L17 18H18.44C19.17 18 19.83 18.49 19.97 19.2ZM5 12V4C5 3.45 4.55 3 4 3C3.45 3 3 3.45 3 4V12C3 14.76 5.24 17 8 17H11C11.55 17 12 16.55 12 16C12 15.45 11.55 15 11 15H8C6.34 15 5 13.66 5 12Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-airline-seat-legroom-reduced`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


