
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><g clip-path='url(#clip0_17:17888)'><path d='M19.37 10.04C18.68 6.59 15.65 4 12.01 4C9.12001 4 6.61001 5.64 5.36001 8.04C2.35001 8.36 0.0100098 10.91 0.0100098 14C0.0100098 17.31 2.70001 20 6.01001 20H19.01C21.77 20 24.01 17.76 24.01 15C24.01 12.36 21.96 10.22 19.37 10.04Z' fill='#323232'/></g><defs><clipPath id='clip0_17:17888'><rect width='24' height='24' fill='white'/></clipPath></defs></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-wb-cloudy`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


