
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M16.5 4.38C17.6046 4.38 18.5 3.48457 18.5 2.38C18.5 1.27544 17.6046 0.380005 16.5 0.380005C15.3954 0.380005 14.5 1.27544 14.5 2.38C14.5 3.48457 15.3954 4.38 16.5 4.38Z' fill='#323232'/><path d='M23.9996 10.88V7.17999L19.0096 5.06999C18.0296 4.65999 16.8896 4.99999 16.2996 5.87999L15.2996 7.47999C14.6296 8.65999 13.3896 9.53999 11.8896 9.79999L11.9496 9.85999C12.6396 10.55 13.4696 10.93 14.4096 11.03C15.2096 10.61 15.9296 10.05 16.4996 9.38999L17.0996 12.39L15.9396 13.49L14.9996 14.38V15.14V20.88C14.9996 21.43 15.4496 21.88 15.9996 21.88C16.5496 21.88 16.9996 21.43 16.9996 20.88V15.88L19.0996 13.88L20.7196 21.07C20.8296 21.54 21.2496 21.88 21.7396 21.88C22.3996 21.88 22.8896 21.28 22.7596 20.64L20.8196 10.88L20.1996 7.77999L21.9996 8.47999V10.88C21.9996 11.43 22.4496 11.88 22.9996 11.88C23.5496 11.88 23.9996 11.43 23.9996 10.88Z' fill='#323232'/><path d='M10.29 8.09003C10.51 8.24003 10.76 8.33003 11.01 8.38003C11.14 8.40003 11.26 8.42003 11.39 8.42003C11.52 8.42003 11.65 8.41003 11.77 8.38003C11.9 8.36003 12.02 8.32003 12.14 8.27003C12.38 8.17003 12.61 8.03003 12.8 7.83003C13.29 7.34003 13.47 6.66003 13.35 6.03003C13.28 5.66003 13.1 5.29003 12.8 5.00003C12.61 4.81003 12.38 4.66003 12.14 4.56003C12.02 4.51003 11.9 4.47003 11.77 4.45003C11.64 4.43003 11.52 4.41003 11.39 4.41003C11.27 4.41003 11.16 4.42003 11.04 4.44003C10.9 4.46003 10.76 4.50003 10.63 4.55003C10.4 4.66003 10.17 4.81003 9.97996 5.00003C9.67996 5.29003 9.49996 5.66003 9.42996 6.03003C9.30996 6.66003 9.48996 7.34003 9.97996 7.83003C10.07 7.93003 10.18 8.01003 10.29 8.09003Z' fill='#323232'/><path d='M11.2398 10.56L9.23979 8.55998C9.13978 8.45998 9.03979 8.37998 8.92979 8.29998C8.70979 8.15998 8.45978 8.05998 8.20978 8.01998C8.07978 7.98998 7.95978 7.97998 7.82978 7.97998C7.31979 7.97998 6.80978 8.17998 6.41979 8.56998L3.07979 11.91C2.66979 12.32 2.45979 12.89 2.49979 13.45C2.49979 13.63 2.53979 13.82 2.60979 14L3.67979 16.95L0.759785 19.87C0.369785 20.26 0.369785 20.89 0.759785 21.28C1.14979 21.67 1.77979 21.67 2.16979 21.28L5.70978 17.74V15.52L6.99978 16.75V20.88C6.99978 21.43 7.44978 21.88 7.99978 21.88C8.54978 21.88 8.99979 21.43 8.99979 20.88V15.88L6.87979 13.76L9.23979 11.4L9.94979 12.11C10.9698 13.11 12.2298 13.8 13.7398 14.05C14.3798 14.16 14.9498 13.6 14.8998 12.95C14.8698 12.47 14.4998 12.08 14.0298 12.01C12.8998 11.83 11.9698 11.29 11.2398 10.56Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-sports-kabaddi`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


