
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><g clip-path='url(#clip0_11:1444)'><path d='M8.41 14.96C8.22 14.96 8.04 14.93 7.89 14.88C7.73 14.82 7.6 14.75 7.49 14.64C7.38 14.54 7.29 14.42 7.23 14.27C7.17 14.13 7.14 13.97 7.14 13.8H5.84C5.84 14.16 5.91 14.48 6.05 14.75C6.19 15.02 6.38 15.25 6.61 15.44C6.85 15.62 7.12 15.76 7.43 15.85C7.73 15.95 8.05 16 8.39 16C8.76 16 9.11 15.95 9.42 15.85C9.74 15.75 10.02 15.6 10.25 15.41C10.48 15.22 10.67 14.98 10.8 14.69C10.93 14.4 11 14.08 11 13.72C11 13.53 10.98 13.34 10.93 13.16C10.88 12.98 10.81 12.81 10.7 12.65C10.6 12.49 10.46 12.35 10.3 12.22C10.13 12.09 9.93 11.99 9.69 11.91C9.89 11.82 10.06 11.71 10.21 11.58C10.36 11.45 10.48 11.31 10.58 11.16C10.68 11.01 10.75 10.86 10.8 10.7C10.85 10.54 10.87 10.38 10.87 10.22C10.87 9.86001 10.81 9.54001 10.69 9.26001C10.57 8.98001 10.4 8.75001 10.18 8.57001C9.98 8.38001 9.71 8.24001 9.41 8.14001C9.1 8.05001 8.76 8.00001 8.39 8.00001C8.03 8.00001 7.7 8.05001 7.39 8.16001C7.09 8.27001 6.82 8.42001 6.6 8.61001C6.39 8.8 6.22 9.02001 6.09 9.28001C5.97 9.54001 5.91 9.82001 5.91 10.13H7.21C7.21 9.96001 7.24 9.81001 7.3 9.68001C7.36 9.55001 7.44 9.43001 7.55 9.34001C7.66 9.25001 7.78 9.17001 7.93 9.12001C8.08 9.07001 8.23 9.04001 8.41 9.04001C8.81 9.04001 9.11 9.14001 9.3 9.35001C9.49 9.55001 9.59 9.84001 9.59 10.21C9.59 10.39 9.56 10.55 9.51 10.7C9.46 10.85 9.37 10.97 9.26 11.07C9.15 11.17 9.01 11.25 8.85 11.31C8.69 11.37 8.49 11.4 8.27 11.4H7.5V12.43H8.27C8.49 12.43 8.69 12.45 8.87 12.5C9.05 12.55 9.2 12.63 9.32 12.73C9.44 12.84 9.54 12.97 9.61 13.13C9.68 13.29 9.71 13.48 9.71 13.7C9.71 14.11 9.59 14.42 9.36 14.63C9.13 14.86 8.81 14.96 8.41 14.96ZM17.71 10.24C17.53 9.77001 17.28 9.37001 16.96 9.04001C16.64 8.71001 16.26 8.45001 15.82 8.27001C15.39 8.09001 14.9 8.00001 14.36 8.00001H12V16H14.3C14.85 16 15.36 15.91 15.81 15.73C16.26 15.55 16.65 15.3 16.97 14.97C17.29 14.64 17.54 14.24 17.71 13.78C17.88 13.31 17.97 12.79 17.97 12.21V11.81C17.97 11.23 17.88 10.71 17.71 10.24ZM16.58 12.2C16.58 12.62 16.53 12.99 16.44 13.33C16.34 13.66 16.2 13.95 16.01 14.18C15.82 14.41 15.58 14.59 15.3 14.71C15.01 14.83 14.68 14.89 14.31 14.89H13.4V9.11001H14.37C15.09 9.11001 15.64 9.34001 16.01 9.80001C16.39 10.26 16.58 10.92 16.58 11.79V12.2ZM15.15 3.84001L16.48 2.51001C19.57 3.97001 21.82 6.88001 22.37 10.37C22.43 10.78 22.81 11.06 23.23 10.99C23.64 10.93 23.92 10.54 23.85 10.13C23.25 6.32001 20.89 3.12001 17.61 1.38001C15.94 0.490005 13.78 -0.129995 11.34 0.0200054L15.15 3.84001ZM8.85 20.15L7.52 21.48C4.43 20.02 2.18 17.11 1.63 13.62C1.57 13.21 1.19 12.93 0.769998 13C0.359998 13.06 0.079998 13.45 0.149998 13.86C0.749998 17.67 3.11 20.87 6.39 22.61C8.06 23.5 10.22 24.12 12.66 23.97L8.85 20.15Z' fill='#323232'/></g><defs><clipPath id='clip0_11:1444'><rect width='24' height='24' fill='white'/></clipPath></defs></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-3d-rotation`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


