
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M2 21H12C12.55 21 13 21.45 13 22C13 22.55 12.55 23 12 23H2C1.45 23 1 22.55 1 22C1 21.45 1.45 21 2 21ZM5.24 8.06999L8.07 5.23999L20.8 17.97C21.58 18.75 21.58 20.02 20.8 20.8C20.02 21.58 18.75 21.58 17.97 20.8L5.24 8.06999ZM13.73 2.40999L16.56 5.23999C17.34 6.01999 17.34 7.28999 16.56 8.06999L15.14 9.48999L9.49 3.82999L10.9 2.41999C11.68 1.62999 12.95 1.62999 13.73 2.40999ZM3.83 9.47999L9.49 15.14L8.08 16.55C7.3 17.33 6.03 17.33 5.25 16.55L2.42 13.72C1.64 12.94 1.64 11.67 2.42 10.89L3.83 9.47999Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-gavel`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


