
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M14 1H4C2.9 1 2 1.9 2 3V21C2 22.1 2.9 23 4 23H14C15.1 23 16 22.1 16 21V3C16 1.9 15.1 1 14 1ZM14 20H4V4H14V20ZM20.63 8.26C20.37 7.94 19.89 7.9 19.59 8.2L19.56 8.23C19.31 8.48 19.3 8.88 19.51 9.16C20.77 10.8 20.76 13.03 19.49 14.73C19.28 15.01 19.3 15.4 19.54 15.65L19.59 15.7C19.88 15.99 20.35 15.96 20.62 15.65C22.42 13.52 22.42 10.46 20.63 8.26ZM17.42 10.37L17.36 10.43C17.16 10.63 17.1 10.93 17.21 11.19C17.42 11.68 17.42 12.22 17.21 12.71C17.1 12.97 17.16 13.27 17.36 13.47L17.44 13.55C17.76 13.87 18.31 13.8 18.53 13.4C19.02 12.51 19.02 11.46 18.52 10.54C18.3 10.12 17.75 10.04 17.42 10.37Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-phonelink-ring`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


