
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M12 17C13.6569 17 15 15.6569 15 14C15 12.3431 13.6569 11 12 11C10.3431 11 9 12.3431 9 14C9 15.6569 10.3431 17 12 17Z' fill='#323232'/><path d='M16.6 3.37002C18.7 3.64002 20.37 5.30002 20.63 7.40002C20.67 7.74003 20.95 8.00002 21.29 8.00002C21.68 8.00002 22 7.66002 21.95 7.27002C21.62 4.55002 19.45 2.38002 16.73 2.05002C16.34 2.00002 16 2.32003 16 2.71003C16 3.05003 16.26 3.33002 16.6 3.37002ZM19.23 7.19002C18.93 6.00002 18 5.07002 16.81 4.77003C16.4 4.67003 16 4.99003 16 5.42003C16 5.71003 16.19 5.99002 16.48 6.06002C17.2 6.24002 17.77 6.80002 17.94 7.52002C18.01 7.81002 18.28 8.00002 18.58 8.00002C19.01 8.00002 19.33 7.60002 19.23 7.19002ZM17 9.00002C17 7.90002 16.1 7.00002 15 7.00002V5.00003C15 4.45003 14.55 4.00003 14 4.00003H9.88C9.32 4.00003 8.78 4.24003 8.4 4.65003L7.17 6.00003H4C2.9 6.00003 2 6.90002 2 8.00002V20C2 21.1 2.9 22 4 22H20C21.1 22 22 21.1 22 20V11C22 9.90002 21.1 9.00002 20 9.00002H17ZM12 19C9.24 19 7 16.76 7 14C7 11.24 9.24 9.00002 12 9.00002C14.76 9.00002 17 11.24 17 14C17 16.76 14.76 19 12 19Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-linked-camera`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


