
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M14.99 7L16.36 6.37L16.99 5L17.62 6.37L18.99 7L17.62 7.63L16.99 9L16.36 7.63L14.99 7ZM20 14C21.1 14 22 13.1 22 12C22 11.22 21.01 9.56 20.42 8.64C20.22 8.33 19.78 8.33 19.58 8.64C18.99 9.56 18 11.22 18 12C18 13.1 18.9 14 20 14ZM9.24 9.5L15 11.65V11C15 8.58 13.28 6.56 11 6.1V4H13C13.35 4 13.68 4.06 14 4.18C14.37 4.31 14.78 4.23 15.05 3.96C15.56 3.45 15.39 2.57 14.72 2.32C14.19 2.11 13.61 2 13 2H8.5C7.95 2 7.5 2.45 7.5 3C7.5 3.55 7.95 4 8.5 4H9V6.11C7.22 6.48 5.8 7.79 5.25 9.5H9.24ZM3 11C1.9 11 1 11.9 1 13V20C1 21.1 1.9 22 3 22C4.1 22 5 21.1 5 20V13C5 11.9 4.1 11 3 11ZM19.99 17H13.16C13.05 17 12.94 16.98 12.83 16.94L11.36 16.43C11.1 16.34 10.97 16.06 11.06 15.8C11.15 15.54 11.44 15.4 11.7 15.5L12.82 15.93C12.93 15.97 13.06 16 13.18 16H15.81C16.46 16 16.99 15.47 16.99 14.82C16.99 14.33 16.68 13.89 16.22 13.71L9.3 11.13C9.08 11.04 8.84 11 8.6 11H7V20.02L13.37 21.83C13.78 21.95 14.22 21.93 14.62 21.78L22 19C22 17.89 21.1 17 19.99 17Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-clean-hands`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


