
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M18.3 14.29C17.91 13.9 17.28 13.9 16.89 14.29L13 18.17V3C13 2.45 12.55 2 12 2C11.45 2 11 2.45 11 3V18.18L7.11998 14.3C6.72998 13.91 6.09998 13.91 5.70998 14.3C5.31998 14.69 5.31998 15.32 5.70998 15.71L11.3 21.3C11.69 21.69 12.32 21.69 12.71 21.3L18.3 15.71C18.68 15.32 18.68 14.68 18.3 14.29Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-south`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


