
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><g clip-path='url(#clip0_2169_6789)'><path d='M18.167 3.49998H17.3337V2.66665C17.3337 2.20831 16.9587 1.83331 16.5003 1.83331C16.042 1.83331 15.667 2.20831 15.667 2.66665V3.49998H7.33366V2.66665C7.33366 2.20831 6.95866 1.83331 6.50033 1.83331C6.04199 1.83331 5.66699 2.20831 5.66699 2.66665V3.49998H4.83366C3.91699 3.49998 3.16699 4.24998 3.16699 5.16665V18.5C3.16699 19.4166 3.91699 20.1666 4.83366 20.1666H18.167C19.0837 20.1666 19.8337 19.4166 19.8337 18.5V5.16665C19.8337 4.24998 19.0837 3.49998 18.167 3.49998ZM17.3337 18.5H5.66699C5.20866 18.5 4.83366 18.125 4.83366 17.6666V7.66665H18.167V17.6666C18.167 18.125 17.792 18.5 17.3337 18.5Z' fill='#A17900'/></g><g clip-path='url(#clip1_2169_6789)'><path d='M14.6504 9.85499C14.4554 9.65999 14.1404 9.65999 13.9454 9.85499L11.5004 12.295L9.05535 9.84999C8.86035 9.65499 8.54535 9.65499 8.35035 9.84999C8.15535 10.045 8.15535 10.36 8.35035 10.555L10.7954 13L8.35035 15.445C8.15535 15.64 8.15535 15.955 8.35035 16.15C8.54535 16.345 8.86035 16.345 9.05535 16.15L11.5004 13.705L13.9454 16.15C14.1404 16.345 14.4554 16.345 14.6504 16.15C14.8454 15.955 14.8454 15.64 14.6504 15.445L12.2054 13L14.6504 10.555C14.8404 10.365 14.8404 10.045 14.6504 9.85499Z' fill='#A17900'/></g><defs><clipPath id='clip0_2169_6789'><rect width='20' height='20' fill='white' transform='translate(1.5 1)'/></clipPath><clipPath id='clip1_2169_6789'><rect width='12' height='12' fill='white' transform='translate(5.5 7)'/></clipPath></defs></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-calendar-not-planned`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


