
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M12.0001 11.39C12.0001 10.74 11.6101 10.16 11.0201 9.90999L5.44014 7.54999C3.96014 9.22999 3.12014 11.25 2.64014 13H10.3901C11.2801 13 12.0001 12.28 12.0001 11.39Z' fill='#323232'/><path d='M21.96 11.22C21.55 6.80998 17.4 3.72998 12.98 4.01998C10.47 4.17998 8.54 4.95998 7.05 6.05998L11.79 8.06998C13.12 8.63998 13.99 9.93998 13.99 11.39C13.99 13.38 12.37 15 10.38 15H2.21C2 16.31 2 17.2 2 17.2V18C2 19.1 2.9 20 4 20H14C18.67 20 22.41 15.99 21.96 11.22Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-sports-motorsports`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


