
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M8 9.75C8 10.16 8.34 10.5 8.75 10.5H10.25V14.25C10.25 14.66 10.59 15 11 15C11.41 15 11.75 14.66 11.75 14.25V10.5H13.25C13.66 10.5 14 10.16 14 9.75C14 9.34 13.66 9 13.25 9H8.75C8.34 9 8 9.34 8 9.75ZM6 9H3C2.45 9 2 9.45 2 10V14.25C2 14.66 2.34 15 2.75 15C3.16 15 3.5 14.66 3.5 14.25V13.5H5.5V14.25C5.5 14.66 5.84 15 6.25 15C6.66 15 7 14.66 7 14.25V10C7 9.45 6.55 9 6 9ZM5.5 12H3.5V10.5H5.5V12ZM21 9H16.5C15.95 9 15.5 9.45 15.5 10V14.25C15.5 14.66 15.84 15 16.25 15C16.66 15 17 14.66 17 14.25V10.5H18V13.25C18 13.66 18.34 14 18.75 14C19.16 14 19.5 13.66 19.5 13.25V10.49H20.5V14.25C20.5 14.66 20.84 15 21.25 15C21.66 15 22 14.66 22 14.25V10C22 9.45 21.55 9 21 9Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-atm`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


