
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M21 10C19.9 10 19 10.9 19 12V15H5V12C5 10.9 4.1 10 3 10C1.9 10 1 10.9 1 12V17C1 18.1 1.9 19 3 19H21C22.1 19 23 18.1 23 17V12C23 10.9 22.1 10 21 10ZM18 5H6C4.9 5 4 5.9 4 7V9.15C5.16 9.56 6 10.66 6 11.97V14H18V11.97C18 10.67 18.84 9.57 20 9.15V7C20 5.9 19.1 5 18 5Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-weekend`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


