
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M4.5 4C4.5 2.89 5.39 2 6.5 2C7.61 2 8.5 2.89 8.5 4C8.5 5.11 7.61 6 6.5 6C5.39 6 4.5 5.11 4.5 4ZM10 10.95V9C10 7.9 9.1 7 8 7H5C3.9 7 3 7.9 3 9V14C3 14.55 3.45 15 4 15H5V21C5 21.55 5.45 22 6 22H8.5V21.89C7.26 20.63 6.5 18.9 6.5 17C6.5 14.42 7.91 12.16 10 10.95ZM16.5 17C16.5 18.65 15.15 20 13.5 20C11.85 20 10.5 18.65 10.5 17C10.5 15.89 11.11 14.94 12 14.42V12.26C9.98 12.9 8.5 14.77 8.5 17C8.5 19.76 10.74 22 13.5 22C16.26 22 18.5 19.76 18.5 17H16.5ZM19 14H15V9C15 8.45 14.55 8 14 8C13.45 8 13 8.45 13 9V15C13 15.55 13.45 16 14 16H18.46L20.38 18.88C20.69 19.34 21.31 19.46 21.77 19.16C22.23 18.85 22.35 18.23 22.05 17.77L19.84 14.45C19.65 14.17 19.33 14 19 14Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-wheelchair-pickup`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


