
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M22.0001 16V15.5C22.0001 14.12 20.8801 13 19.5001 13C18.1201 13 17.0001 14.12 17.0001 15.5V16C16.4501 16 16.0001 16.45 16.0001 17V21C16.0001 21.55 16.4501 22 17.0001 22H22.0001C22.5501 22 23.0001 21.55 23.0001 21V17C23.0001 16.45 22.5501 16 22.0001 16ZM21.0001 16H18.0001V15.5C18.0001 14.67 18.6701 14 19.5001 14C20.3301 14 21.0001 14.67 21.0001 15.5V16ZM19.5001 11C19.6701 11 19.8301 11.03 20.0001 11.05V3.40999C20.0001 2.51999 18.9201 2.06999 18.2901 2.69999L2.71005 18.29C2.08005 18.92 2.52005 20 3.41005 20H14.0001V17C14.0001 16.08 14.4201 15.26 15.0701 14.7C15.4501 12.6 17.2901 11 19.5001 11Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-network-locked`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


