
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M15.5 6.5C15.5 5.94 16.17 5.01 16.61 4.46C16.81 4.21 17.19 4.21 17.38 4.46C17.82 5.01 18.49 5.94 18.49 6.5C18.5 7.33 17.83 8 17 8C16.17 8 15.5 7.33 15.5 6.5ZM19.5 15C20.88 15 22 13.88 22 12.5C22 11.25 20.59 9.34 19.89 8.46C19.69 8.21 19.32 8.21 19.12 8.46C18.41 9.34 17 11.25 17 12.5C17 13.88 18.12 15 19.5 15ZM12 14H11V13C11 12.45 10.55 12 10 12C9.45 12 9 12.45 9 13V14H8C7.45 14 7 14.45 7 15C7 15.55 7.45 16 8 16H9V17C9 17.55 9.45 18 10 18C10.55 18 11 17.55 11 17V16H12C12.55 16 13 15.55 13 15C13 14.45 12.55 14 12 14ZM16 12V20C16 21.1 15.1 22 14 22H6C4.9 22 4 21.1 4 20V12C4 9.03 6.16 6.57 9 6.09V4H8C7.45 4 7 3.55 7 3C7 2.45 7.45 2 8 2H13C13.61 2 14.19 2.11 14.72 2.31C15.39 2.56 15.55 3.44 15.05 3.95C14.77 4.23 14.36 4.31 14 4.18C13.68 4.06 13.35 4 13 4H11V6.09C13.84 6.57 16 9.03 16 12Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-sanitizer`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


