
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M19.99 4C19.99 2.9 19.1 2 18 2H10.83C10.3 2 9.79 2.21 9.41 2.59L4.59 7.41C4.21 7.79 4 8.3 4 8.83V20C4 21.1 4.9 22 6 22H18.01C19.11 22 20 21.1 20 20L19.99 4ZM8 19C7.45 19 7 18.55 7 18C7 17.45 7.45 17 8 17C8.55 17 9 17.45 9 18C9 18.55 8.55 19 8 19ZM16 19C15.45 19 15 18.55 15 18C15 17.45 15.45 17 16 17C16.55 17 17 17.45 17 18C17 18.55 16.55 19 16 19ZM8 15C7.45 15 7 14.55 7 14V12C7 11.45 7.45 11 8 11C8.55 11 9 11.45 9 12V14C9 14.55 8.55 15 8 15ZM12 19C11.45 19 11 18.55 11 18V16C11 15.45 11.45 15 12 15C12.55 15 13 15.45 13 16V18C13 18.55 12.55 19 12 19ZM12 13C11.45 13 11 12.55 11 12C11 11.45 11.45 11 12 11C12.55 11 13 11.45 13 12C13 12.55 12.55 13 12 13ZM16 15C15.45 15 15 14.55 15 14V12C15 11.45 15.45 11 16 11C16.55 11 17 11.45 17 12V14C17 14.55 16.55 15 16 15Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-sim-card`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


