
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M22.65 5.65L18.86 1.86C18.54 1.54 18 1.76 18 2.21V4H14.5C14.22 4 14 4.22 14 4.5V7.5C14 7.78 14.22 8 14.5 8H18V9.79C18 10.24 18.54 10.46 18.85 10.14L22.64 6.35C22.84 6.16 22.84 5.84 22.65 5.65ZM19.23 15.26L16.69 14.97C16.08 14.9 15.48 15.11 15.05 15.54L13.21 17.38C10.38 15.94 8.06004 13.63 6.62004 10.79L8.47004 8.94C8.90004 8.51 9.11004 7.91 9.04004 7.3L8.75004 4.78C8.63004 3.77 7.78004 3.01 6.76004 3.01H5.03004C3.90004 3.01 2.96004 3.95 3.03004 5.08C3.56004 13.62 10.39 20.44 18.92 20.97C20.05 21.04 20.99 20.1 20.99 18.97V17.24C21 16.23 20.24 15.38 19.23 15.26Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-phone-forwarded`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


