
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M19.35 10.04C18.67 6.59 15.64 4 12 4C9.11 4 6.61 5.64 5.36 8.04C2.35 8.36 0 10.9 0 14C0 17.31 2.69 20 6 20H19C21.76 20 24 17.76 24 15C24 12.36 21.95 10.22 19.35 10.04ZM19 18H6.17C4.08 18 2.22 16.47 2.02 14.39C1.79 12.01 3.66 10 6 10C7.92 10 9.53 11.36 9.91 13.17C10.01 13.65 10.41 14 10.89 14C11.5 14 12 13.45 11.88 12.85C11.45 10.61 9.77 8.82 7.59 8.22C8.69 6.76 10.48 5.85 12.48 6.02C15.36 6.27 17.49 8.84 17.49 11.73V12H18.86C20.31 12 21.65 12.97 21.93 14.4C22.32 16.31 20.85 18 19 18Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-filter-drama`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


