
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M23 6V2C23 1.45 22.55 1 22 1H18C17.45 1 17 1.45 17 2V3H7V2C7 1.45 6.55 1 6 1H2C1.45 1 1 1.45 1 2V6C1 6.55 1.45 7 2 7H3V17H2C1.45 17 1 17.45 1 18V22C1 22.55 1.45 23 2 23H6C6.55 23 7 22.55 7 22V21H17V22C17 22.55 17.45 23 18 23H22C22.55 23 23 22.55 23 22V18C23 17.45 22.55 17 22 17H21V7H22C22.55 7 23 6.55 23 6ZM3 3H5V5H3V3ZM5 21H3V19H5V21ZM17 19H7V18C7 17.45 6.55 17 6 17H5V7H6C6.55 7 7 6.55 7 6V5H17V6C17 6.55 17.45 7 18 7H19V17H18C17.45 17 17 17.45 17 18V19ZM21 21H19V19H21V21ZM19 5V3H21V5H19ZM12.94 7.65C12.79 7.26 12.41 7 11.99 7C11.57 7 11.19 7.26 11.05 7.65L8.28 14.98C8.09 15.47 8.45 16 8.98 16C9.3 16 9.58 15.8 9.69 15.5L10.24 14H13.73L14.29 15.51C14.4 15.8 14.68 16 15 16H15.01C15.54 16 15.9 15.47 15.72 14.98L12.94 7.65ZM10.69 12.74L12 8.91L13.3 12.74H10.69Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-format-shapes`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


