
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M2.1 3.50998C1.71 3.89998 1.71 4.52998 2.1 4.91998L9.29 12.11C9.47 12.31 9.47 12.61 9.28 12.81C9.18 12.91 9.05 12.96 8.93 12.96C8.81 12.96 8.67 12.91 8.58 12.81L6.87 11.1C6.76 11.5 6.61 11.88 6.42 12.22L7.82 13.62C8.02 13.82 8.02 14.13 7.82 14.33C7.72 14.43 7.59 14.48 7.47 14.48C7.35 14.48 7.21 14.43 7.12 14.33L5.85 13.06C5.61 13.35 5.35 13.62 5.08 13.86L6.36 15.14C6.56 15.34 6.56 15.65 6.36 15.85C6.26 15.95 6.13 16 6 16C5.87 16 5.74 15.95 5.65 15.85L4.27 14.47C3.56 14.94 2.84 15.28 2.25 15.51C1.49 15.81 1 16.55 1 17.37V18C1 19.1 1.9 20 3 20H9.67C10.2 20 10.71 19.79 11.08 19.41L13.82 16.67L19.05 21.9C19.44 22.29 20.07 22.29 20.46 21.9C20.85 21.51 20.85 20.88 20.46 20.49L3.51 3.50998C3.12 3.11998 2.49 3.11998 2.1 3.50998ZM18.51 15.68L17.1 14.27L21.58 9.78998C22.36 10.57 22.36 11.84 21.58 12.62L18.51 15.68ZM20.88 9.07998L16.4 13.56L9.3 6.46998L12.39 3.39998C13.17 2.61998 14.43 2.62998 15.21 3.39998L20.88 9.07998Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-do-not-step`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


