
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M18 15V19C18 19.55 17.55 20 17 20H5C4.45 20 4 19.55 4 19V7C4 6.45 4.45 6 5 6H8.02C8.57 6 9.02 5.55 9.02 5C9.02 4.45 8.57 4 8.02 4H4C2.9 4 2 4.9 2 6V20C2 21.1 2.9 22 4 22H18C19.1 22 20 21.1 20 20V15C20 14.45 19.55 14 19 14C18.45 14 18 14.45 18 15ZM15.5 18H6.52C6.1 18 5.87 17.52 6.13 17.19L7.87 14.96C8.07 14.71 8.45 14.7 8.65 14.95L10.21 16.83L12.56 13.81C12.76 13.55 13.16 13.55 13.35 13.82L15.9 17.21C16.15 17.53 15.91 18 15.5 18ZM19.3 8.89C19.78 8.12 20.05 7.22 19.99 6.23C19.86 4.08 18.15 2.26 16.02 2.03C13.3 1.73 11 3.84 11 6.5C11 8.99 13.01 11 15.49 11C16.37 11 17.19 10.74 17.88 10.3L20.29 12.71C20.68 13.1 21.32 13.1 21.71 12.71C22.1 12.32 22.1 11.68 21.71 11.29L19.3 8.89ZM15.5 9C14.12 9 13 7.88 13 6.5C13 5.12 14.12 4 15.5 4C16.88 4 18 5.12 18 6.5C18 7.88 16.88 9 15.5 9Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-image-search`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


