
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path fill-rule='evenodd' clip-rule='evenodd' d='M10.0276 10.3289L4.00039 10.3289L4.00039 4L6.42729 6.49791C7.92332 5.01591 9.944 4.18449 12.0499 4.18449C14.1557 4.18449 16.1764 5.01591 17.6724 6.49791C18.4114 7.23 18.9977 8.10154 19.3972 9.06197C19.7849 9.99382 19.9893 10.9914 19.9995 12L18.1937 12C18.1829 11.2193 18.0225 10.4476 17.721 9.72673C17.4086 8.97979 16.9508 8.30237 16.3743 7.73383C15.192 6.59254 13.6081 5.96212 11.9648 5.97871C10.3216 5.99529 8.75076 6.65756 7.59168 7.82248L10.0276 10.3289ZM12.2159 18.2383L12.2159 19.9971C12.1441 19.999 12.0723 20 12.0003 20C9.88403 20 7.8529 19.1665 6.3467 17.68C4.88759 16.1788 4.04939 14.182 3.99992 12.0892L5.77778 12.0892C5.75862 12.9004 5.91019 13.7065 6.22268 14.4554C6.53517 15.2042 7.00159 15.879 7.59168 16.436C8.76017 17.5933 10.3383 18.2426 11.983 18.2426C12.0608 18.2426 12.1384 18.2412 12.2159 18.2383Z' fill='#DA1414'/><path d='M20 16.2666L20 14.3999L10.6667 14.3999L10.6667 16.2666L20 16.2666Z' fill='#DA1414'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-remove-from-sprint`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


