
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M17 16L13 12V8.81999C14.35 8.32999 15.26 6.92999 14.93 5.35999C14.68 4.17999 13.7 3.23999 12.51 3.03999C10.63 2.72999 9 4.16999 9 5.99999C9 7.29999 9.84 8.39999 11 8.81999V12L7 16H4C3.45 16 3 16.45 3 17V20C3 20.55 3.45 21 4 21H7C7.55 21 8 20.55 8 20V17.95L12 13.75L16 17.95V20C16 20.55 16.45 21 17 21H20C20.55 21 21 20.55 21 20V17C21 16.45 20.55 16 20 16H17Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-device-hub`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


