
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M11.62 5.99L10 8H14L12.4 5.99C12.2 5.74 11.82 5.74 11.62 5.99ZM18 10V14L20.01 12.4C20.26 12.2 20.26 11.82 20.01 11.62L18 10ZM6 10L3.99 11.62C3.74 11.82 3.74 12.2 3.99 12.4L6 14V10ZM14 16H10L11.62 18.01C11.82 18.26 12.2 18.26 12.4 18.01L14 16ZM21 3H3C1.9 3 1 3.9 1 5V19C1 20.1 1.9 21 3 21H21C22.1 21 23 20.1 23 19V5C23 3.9 22.1 3 21 3ZM20 19.01H4C3.45 19.01 3 18.56 3 18.01V5.99C3 5.44 3.45 4.99 4 4.99H20C20.55 4.99 21 5.44 21 5.99V18.01C21 18.56 20.55 19.01 20 19.01Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-settings-overscan`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


