
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M19.5801 3.08L3.15007 19.51C3.24007 19.85 3.42007 20.16 3.66007 20.41C3.91007 20.65 4.22007 20.83 4.56007 20.92L21.0001 4.49C20.8101 3.8 20.2701 3.26 19.5801 3.08ZM11.9501 3L3.07007 11.88V14.71L14.7801 3H11.9501ZM5.07007 3C3.97007 3 3.07007 3.9 3.07007 5V7L7.07007 3H5.07007ZM19.0701 21C19.6201 21 20.1201 20.78 20.4801 20.41C20.8501 20.05 21.0701 19.55 21.0701 19V17L17.0701 21H19.0701ZM9.36007 21H12.1901L21.0701 12.12V9.29L9.36007 21Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-texture`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


