
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M21 7H19V5C19 4.45 18.55 4 18 4H6C5.45 4 5 4.45 5 5V7H3C2.45 7 2 7.45 2 8V19C2 19.55 2.45 20 3 20H9C9.55 20 10 19.55 10 19V16H14V19C14 19.55 14.45 20 15 20H21C21.55 20 22 19.55 22 19V8C22 7.45 21.55 7 21 7ZM11 9C11 9.55 10.55 10 10 10H9V11H10.5C10.78 11 11 11.22 11 11.5C11 11.78 10.78 12 10.5 12H9C8.45 12 8 11.55 8 11V10C8 9.45 8.45 9 9 9H10V8H8.5C8.22 8 8 7.78 8 7.5C8 7.22 8.22 7 8.5 7H10C10.55 7 11 7.45 11 8V9ZM16 11.5C16 11.78 15.78 12 15.5 12C15.22 12 15 11.78 15 11.5V10H14C13.45 10 13 9.55 13 9V7.5C13 7.22 13.22 7 13.5 7C13.78 7 14 7.22 14 7.5V9H15V7.5C15 7.22 15.22 7 15.5 7C15.78 7 16 7.22 16 7.5V11.5Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-local-convenience-store`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


