
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M1 15C1.55 15 2 14.55 2 14V10C2 9.45 1.55 9 1 9C0.45 9 0 9.45 0 10V14C0 14.55 0.45 15 1 15ZM4 17C4.55 17 5 16.55 5 16V8C5 7.45 4.55 7 4 7C3.45 7 3 7.45 3 8V16C3 16.55 3.45 17 4 17ZM22 10V14C22 14.55 22.45 15 23 15C23.55 15 24 14.55 24 14V10C24 9.45 23.55 9 23 9C22.45 9 22 9.45 22 10ZM20 17C20.55 17 21 16.55 21 16V8C21 7.45 20.55 7 20 7C19.45 7 19 7.45 19 8V16C19 16.55 19.45 17 20 17ZM16.5 3H7.5C6.67 3 6 3.67 6 4.5V19.5C6 20.33 6.67 21 7.5 21H16.5C17.33 21 18 20.33 18 19.5V4.5C18 3.67 17.33 3 16.5 3ZM16 19H8V5H16V19Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-vibration`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


