
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M18 10V7C18 5.9 17.1 5 16 5H8C6.9 5 6 5.9 6 7V10C4.9 10 4 10.9 4 12V17H5.33L5.84 18.53C5.94 18.81 6.2 19 6.5 19C6.8 19 7.06 18.81 7.16 18.53L7.67 17H16.34L16.85 18.53C16.94 18.81 17.2 19 17.5 19C17.8 19 18.06 18.81 18.16 18.53L18.67 17H20V12C20 10.9 19.1 10 18 10ZM11 10H8V8C8 7.45 8.45 7 9 7H11V10ZM16 10H13V7H15C15.55 7 16 7.45 16 8V10Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-single-bed`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


