
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M5 7H19C19.55 7 20 6.55 20 6C20 5.45 19.55 5 19 5H5C4.45 5 4 5.45 4 6C4 6.55 4.45 7 5 7ZM16.83 11H5C4.45 11 4 11.45 4 12C4 12.55 4.45 13 5 13H17.13C18.13 13 19.06 13.67 19.22 14.66C19.43 15.91 18.46 17 17.25 17H15V16.21C15 15.76 14.46 15.54 14.15 15.86L12.36 17.65C12.16 17.85 12.16 18.16 12.36 18.36L14.15 20.15C14.47 20.47 15 20.24 15 19.8V19H17C19.34 19 21.21 16.99 20.98 14.61C20.78 12.53 18.92 11 16.83 11ZM9 17H5C4.45 17 4 17.45 4 18C4 18.55 4.45 19 5 19H9C9.55 19 10 18.55 10 18C10 17.45 9.55 17 9 17Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-wrap-text`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


