
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M19 15H5C4.45 15 4 14.55 4 14C4 13.45 4.45 13 5 13H19C19.55 13 20 13.45 20 14C20 14.55 19.55 15 19 15ZM19 17H5C4.45 17 4 17.45 4 18C4 18.55 4.45 19 5 19H19C19.55 19 20 18.55 20 18C20 17.45 19.55 17 19 17ZM15 11L19.58 7.75C19.84 7.56 20 7.26 20 6.94C20 6.13 19.08 5.65 18.42 6.12L15 8.55L10 5L4.48 8.36C4.18 8.55 4 8.87 4 9.22C4 10 4.85 10.48 5.52 10.07L9.92 7.39L15 11Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-legend-toggle`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


