
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M20 10V7C20 5.9 19.1 5 18 5H6C4.9 5 4 5.9 4 7V10C2.9 10 2 10.9 2 12V17H3.33L3.84 18.53C3.94 18.81 4.2 19 4.5 19C4.8 19 5.06 18.81 5.16 18.53L5.67 17H18.34L18.85 18.53C18.94 18.81 19.2 19 19.5 19C19.8 19 20.06 18.81 20.16 18.53L20.67 17H22V12C22 10.9 21.1 10 20 10ZM11 10H6V8C6 7.45 6.45 7 7 7H11V10ZM18 10H13V7H17C17.55 7 18 7.45 18 8V10Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-king-bed`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


