
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M4.78012 15.27L7.32012 14.98C7.93012 14.91 8.53012 15.12 8.96012 15.55L10.8001 17.39C13.6301 15.95 15.9501 13.64 17.3901 10.8L15.5401 8.95002C15.1101 8.52002 14.9001 7.92002 14.9701 7.31002L15.2601 4.79002C15.3801 3.78002 16.2301 3.02002 17.2501 3.02002H18.9801C20.1101 3.02002 21.0501 3.96002 20.9801 5.09002C20.4501 13.63 13.6201 20.45 5.09012 20.98C3.96012 21.05 3.02012 20.11 3.02012 18.98V17.25C3.01012 16.24 3.77012 15.39 4.78012 15.27Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-phone-enabled`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


