
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M16 22C17.1 22 18 21.1 18 20L17.99 16.82C17.99 16.29 17.78 15.79 17.41 15.41L14 12L17.41 8.57C17.78 8.2 17.99 7.69 17.99 7.16L18 4C18 2.9 17.1 2 16 2H8C6.9 2 6 2.9 6 4V7.16C6 7.69 6.21 8.2 6.58 8.58L10 12L6.59 15.4C6.21 15.78 6 16.29 6 16.82V20C6 21.1 6.9 22 8 22H16ZM8 7.09V5C8 4.45 8.45 4 9 4H15C15.55 4 16 4.45 16 5V7.09C16 7.36 15.89 7.61 15.71 7.8L12 11.5L8.29 7.79C8.11 7.61 8 7.35 8 7.09Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-hourglass-bottom`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


