
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M14 8H16V10C16 10.55 16.45 11 17 11C17.55 11 18 10.55 18 10V8H20C20.55 8 21 7.55 21 7C21 6.45 20.55 6 20 6H18V4C18 3.45 17.55 3 17 3C16.45 3 16 3.45 16 4V6H14C13.45 6 13 6.45 13 7C13 7.55 13.45 8 14 8ZM19.21 15.27L16.67 14.98C16.06 14.91 15.46 15.12 15.03 15.55L13.19 17.39C10.36 15.95 8.04003 13.64 6.60003 10.8L8.45003 8.95C8.88003 8.52 9.09003 7.91 9.02003 7.31L8.73003 4.79C8.62003 3.78 7.76003 3.01 6.75003 3.01H5.02003C3.89003 3.01 2.95003 3.95 3.02003 5.08C3.55003 13.62 10.38 20.44 18.91 20.97C20.04 21.04 20.98 20.1 20.98 18.97V17.24C20.99 16.24 20.22 15.38 19.21 15.27Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-add-ic-call`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


