
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M9 7C8.45 7 8 7.45 8 8V11H5C4.45 11 4 11.45 4 12C4 12.55 4.45 13 5 13H8V16C8 16.55 8.45 17 9 17C9.55 17 10 16.55 10 16V13H13C13.55 13 14 12.55 14 12C14 11.45 13.55 11 13 11H10V8C10 7.45 9.55 7 9 7ZM20 18H18V7.38L15 8.4V6.7L19.7 5H20V18Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-exposure-plus-1`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


