
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M5.70998 15.71L10.29 20.29C10.68 20.68 11.32 20.68 11.71 20.29C12.1 19.9 12.1 19.26 11.71 18.87L8.82998 16H19C19.55 16 20 15.55 20 15V5C20 4.45 19.55 4 19 4C18.45 4 18 4.45 18 5V14H8.82998L11.71 11.13C12.1 10.74 12.1 10.1 11.71 9.71C11.32 9.32 10.68 9.32 10.29 9.71L5.70998 14.29C5.31998 14.68 5.31998 15.32 5.70998 15.71Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-subdirectory-arrow-left`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


