
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M9.93 13.5H14.07L12 7.98L9.93 13.5ZM20 2H4C2.9 2 2 2.9 2 4V20C2 21.1 2.9 22 4 22H20C21.1 22 22 21.1 22 20V4C22 2.9 21.1 2 20 2ZM15.71 17.88L14.81 15.5H9.17L8.28 17.87C8.14 18.25 7.78 18.5 7.37 18.5C6.69 18.5 6.22 17.81 6.47 17.18L10.72 6.37C10.94 5.84 11.44 5.5 12 5.5C12.56 5.5 13.06 5.84 13.27 6.37L17.52 17.18C17.77 17.81 17.3 18.5 16.62 18.5C16.22 18.5 15.86 18.25 15.71 17.88Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-font-download`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


