
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M19.0001 12H20.7001C21.1601 12 21.3801 11.43 21.0301 11.13L12.6701 3.59997C12.2901 3.25997 11.7101 3.25997 11.3301 3.59997L2.9701 11.13C2.6301 11.43 2.8401 12 3.3001 12H5.0001V15H4.0001C3.4501 15 3.0001 15.45 3.0001 16C3.0001 16.55 3.4501 17 4.0001 17H5.0001V19C5.0001 19.55 5.4501 20 6.0001 20C6.5501 20 7.0001 19.55 7.0001 19V17H11.0001V19C11.0001 19.55 11.4501 20 12.0001 20C12.5501 20 13.0001 19.55 13.0001 19V17H17.0001V19C17.0001 19.55 17.4501 20 18.0001 20C18.5501 20 19.0001 19.55 19.0001 19V17H20.0001C20.5501 17 21.0001 16.55 21.0001 16C21.0001 15.45 20.5501 15 20.0001 15H19.0001V12ZM7.0001 15V10.19L11.0001 6.58997V15H7.0001ZM13.0001 15V6.58997L17.0001 10.19V15H13.0001Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-foundation`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


