
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M17 6H15V3C15 2.45 14.55 2 14 2H10C9.45 2 9 2.45 9 3V6H7C5.9 6 5 6.9 5 8V19C5 20.1 5.9 21 7 21C7 21.55 7.45 22 8 22C8.55 22 9 21.55 9 21H15C15 21.55 15.45 22 16 22C16.55 22 17 21.55 17 21C18.1 21 19 20.1 19 19V8C19 6.9 18.1 6 17 6ZM8.75 18C8.34 18 8 17.66 8 17.25V9.75C8 9.34 8.34 9 8.75 9C9.16 9 9.5 9.34 9.5 9.75V17.25C9.5 17.66 9.16 18 8.75 18ZM12 18C11.59 18 11.25 17.66 11.25 17.25V9.75C11.25 9.34 11.59 9 12 9C12.41 9 12.75 9.34 12.75 9.75V17.25C12.75 17.66 12.41 18 12 18ZM13.5 6H10.5V3.5H13.5V6ZM15.25 18C14.84 18 14.5 17.66 14.5 17.25V9.75C14.5 9.34 14.84 9 15.25 9C15.66 9 16 9.34 16 9.75V17.25C16 17.66 15.66 18 15.25 18Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-luggage`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


