
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M2.71 3.07C2.32 3.46 2.32 4.09 2.71 4.48L4.1 5.87C2.79 7.57 2 9.69 2 12C2 15.3 3.6 18.22 6.06 20.04C6.54 20.39 7.22 20.25 7.52 19.73C7.77 19.3 7.66 18.74 7.26 18.44C5.29 16.98 4 14.65 4 12C4 10.24 4.57 8.62 5.53 7.31L6.96 8.75C6.36 9.68 6 10.8 6 12C6 13.8 6.8 15.41 8.06 16.51C8.52 16.91 9.25 16.76 9.56 16.23L9.57 16.22C9.81 15.8 9.7 15.28 9.34 14.96C8.52 14.23 8 13.18 8 12C8 11.35 8.17 10.75 8.44 10.21L10.02 11.79L10 12C10 13.1 10.9 14 12 14L12.21 13.98L19.02 20.79C19.41 21.18 20.04 21.18 20.43 20.79C20.82 20.4 20.82 19.77 20.43 19.38L4.13 3.07C3.74 2.68 3.1 2.68 2.71 3.07ZM17.71 13.82C17.89 13.25 18 12.63 18 12C18 8.69 15.31 6 12 6C11.37 6 10.75 6.11 10.18 6.29L11.9 8.01C11.93 8.01 11.96 8 12 8C14.21 8 16 9.79 16 12C16 12.04 15.99 12.07 15.99 12.11L17.71 13.82ZM12 4C16.42 4 20 7.58 20 12C20 13.2 19.71 14.32 19.23 15.35L20.72 16.84C21.53 15.4 22 13.76 22 12C22 6.48 17.52 2 12 2C10.24 2 8.6 2.48 7.16 3.28L8.64 4.76C9.66 4.28 10.8 4 12 4Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-portable-wifi-off`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


