
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M11.34 15.02C11.73 15.41 12.36 15.41 12.75 15.02L19.11 8.66001C19.5 8.27001 19.5 7.64001 19.11 7.25001L14.16 2.30001C13.78 1.90001 13.15 1.90001 12.76 2.29001L6.39 8.66001C6 9.05001 6 9.68001 6.39 10.07L11.34 15.02ZM13.46 4.41001L17 7.95001L12.05 12.9L8.51 9.36001L13.46 4.41001ZM20.41 15.41L18.29 13.29C18.11 13.11 17.85 13 17.59 13H17.32L15.32 15H17.23L19 17H5L6.78 15H8.83L6.83 13H6.41C6.14 13 5.89 13.11 5.7 13.29L3.58 15.41C3.21 15.79 3 16.3 3 16.83V20C3 21.1 3.9 22 5 22H19C20.1 22 21 21.11 21 20V16.83C21 16.3 20.79 15.79 20.41 15.41Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-how-to-vote`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


