
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M5 18H6C6.55 18 7 17.55 7 17V6C7 5.45 6.55 5 6 5H5C4.45 5 4 5.45 4 6V17C4 17.55 4.45 18 5 18ZM18 6V17C18 17.55 18.45 18 19 18H20C20.55 18 21 17.55 21 17V6C21 5.45 20.55 5 20 5H19C18.45 5 18 5.45 18 6ZM9 18H16C16.55 18 17 17.55 17 17V6C17 5.45 16.55 5 16 5H9C8.45 5 8 5.45 8 6V17C8 17.55 8.45 18 9 18Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-view-array`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


