
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M12.0002 2C9.01023 2 6.28023 3.08 4.17023 4.88C3.46023 5.49 3.31023 6.53 3.77023 7.34L11.1302 20.45C11.5102 21.13 12.4902 21.13 12.8702 20.45L20.2302 7.34C20.6902 6.53 20.5402 5.48 19.8302 4.88C17.7302 3.09 14.9902 2 12.0002 2ZM7.00023 7C7.00023 5.9 7.90023 5 9.00023 5C10.1002 5 11.0002 5.9 11.0002 7C11.0002 8.1 10.1002 9 9.00023 9C7.90023 9 7.00023 8.1 7.00023 7ZM12.0002 15C10.9002 15 10.0002 14.1 10.0002 13C10.0002 11.9 10.9002 11 12.0002 11C13.1002 11 14.0002 11.9 14.0002 13C14.0002 14.1 13.1002 15 12.0002 15Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-local-pizza`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


