
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M21 3H3C1.9 3 1 3.9 1 5V19C1 20.1 1.9 21 3 21H21C22.1 21 23 20.1 23 19V5C23 3.9 22.1 3 21 3ZM20 19.01H4C3.45 19.01 3 18.56 3 18.01V5.99C3 5.44 3.45 4.99 4 4.99H20C20.55 4.99 21 5.44 21 5.99V18.01C21 18.56 20.55 19.01 20 19.01ZM8.5 16H10.5L11.65 17.15C11.85 17.35 12.16 17.35 12.36 17.15L13.5 16H15.5C15.78 16 16 15.78 16 15.5V13.5L17.15 12.35C17.35 12.15 17.35 11.84 17.15 11.64L16 10.5V8.5C16 8.22 15.78 8 15.5 8H13.5L12.35 6.85C12.15 6.65 11.84 6.65 11.64 6.85L10.5 8H8.5C8.22 8 8 8.22 8 8.5V10.5L6.85 11.65C6.65 11.85 6.65 12.16 6.85 12.36L8 13.5V15.5C8 15.78 8.22 16 8.5 16ZM12 9C13.66 9 15 10.34 15 12C15 13.66 13.66 15 12 15V9Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-settings-brightness`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


