
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M17 10.43V3C17 2.45 16.55 2 16 2H8C7.45 2 7 2.45 7 3V10.43C7 10.78 7.18 11.11 7.49 11.29L11.67 13.8L10.68 16.14L8.46 16.33C8 16.37 7.82 16.92 8.16 17.21L9.85 18.67L9.34 20.85C9.24 21.28 9.71 21.62 10.09 21.39L12 20.23L13.91 21.38C14.29 21.61 14.76 21.27 14.66 20.84L14.15 18.66L15.84 17.2C16.17 16.91 16 16.36 15.55 16.32L13.33 16.13L12.34 13.79L16.52 11.28C16.82 11.11 17 10.79 17 10.43ZM13 12.23L12 12.83L11 12.23V3H13V12.23Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-military-tech`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


