
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M18.32 5.68005C17.96 6.04005 17.93 6.60005 18.25 7.00005C19.7 8.82005 20.46 11.3101 19.78 13.9201C18.99 16.9701 16.6 19.2501 13.57 19.8601C8.47 20.8701 4 16.9301 4 12.0001C4 7.92005 7.05 4.56005 11 4.07005V6.09005C7.87 6.62005 5.57 9.55005 6.07 12.9201C6.46 15.5301 8.63 17.6301 11.25 17.9501C14.89 18.4001 18 15.5601 18 12.0001C18 10.7501 17.62 9.60005 16.97 8.64005C16.63 8.14005 15.9 8.11005 15.47 8.53005L15.46 8.54005C15.12 8.88005 15.09 9.41005 15.35 9.81005C15.95 10.7301 16.19 11.9101 15.84 13.1301C15.45 14.5001 14.3 15.5901 12.9 15.9001C10.3 16.4701 8 14.5101 8 12.0001C8 10.1401 9.28 8.59005 11 8.14005V10.2801C10.4 10.6301 10 11.2601 10 12.0001C10 13.1001 10.9 14.0001 12 14.0001C13.1 14.0001 14 13.1001 14 12.0001C14 11.2601 13.6 10.6201 13 10.2801V2.71005C13 2.32005 12.68 2.00005 12.29 2.00005C6.93 1.80005 2.31 6.06005 2.02 11.4001C1.66 17.9501 7.43 23.2201 14.03 21.8001C17.91 20.9701 20.91 18.0001 21.78 14.1301C22.49 10.9701 21.58 7.97005 19.81 5.76005C19.44 5.29005 18.74 5.26005 18.32 5.68005Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-track-changes`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


