
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M10.5201 10.73L7.30005 5.72C6.82005 4.97 7.35005 4 8.23005 4C8.62005 4 8.97005 4.2 9.18005 4.53L11.94 8.99H12.0601L14.8001 4.54C15.01 4.2 15.3701 4 15.7601 4C16.6401 4 17.1801 4.98 16.7001 5.72L13.4701 10.72L17.0201 16.27C17.5001 17.02 16.9601 18 16.0801 18C15.7001 18 15.3401 17.8 15.1301 17.48L12.0601 12.59H11.94L8.87005 17.48C8.67005 17.8 8.31005 18 7.92005 18C7.04005 18 6.50005 17.03 6.98005 16.28L10.5201 10.73ZM23 19.5C23 19.22 22.7801 19 22.5001 19H20.0001V18H22.0001C22.5501 18 23 17.55 23 17V16C23 15.45 22.5501 15 22.0001 15H19.5001C19.2201 15 19.0001 15.22 19.0001 15.5C19.0001 15.78 19.2201 16 19.5001 16H22.0001V17H20.0001C19.4501 17 19.0001 17.45 19.0001 18V19C19.0001 19.55 19.4501 20 20.0001 20H22.5001C22.7801 20 23 19.78 23 19.5Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-subscript`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


