
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><g clip-path='url(#clip0_11:1366)'><path d='M16.5 8.99999C16.08 8.99999 15.67 9.03999 15.26 9.10999L2.4 3.59999C1.74 3.30999 1.01 3.79999 1.01 4.50999L1 9.19999C1 9.66999 1.33 10.08 1.78 10.18L10 12L1.78 13.83C1.33 13.93 1 14.33 1 14.8L1.01 19.48C1.01 20.2 1.74 20.68 2.4 20.4L9.08 17.54C9.59 21.19 12.71 24 16.5 24C20.64 24 24 20.64 24 16.5C24 12.36 20.64 8.99999 16.5 8.99999ZM16.5 22C13.47 22 11 19.53 11 16.5C11 13.47 13.47 11 16.5 11C19.53 11 22 13.47 22 16.5C22 19.53 19.53 22 16.5 22Z' fill='#323232'/><path d='M18.62 14.38C18.42 14.18 18.11 14.18 17.91 14.38L16.5 15.79L15.09 14.38C14.89 14.18 14.58 14.18 14.38 14.38C14.18 14.58 14.18 14.89 14.38 15.09L15.79 16.5L14.38 17.91C14.18 18.11 14.18 18.42 14.38 18.62C14.58 18.82 14.89 18.82 15.09 18.62L16.5 17.21L17.91 18.62C18.11 18.82 18.42 18.82 18.62 18.62C18.82 18.42 18.82 18.11 18.62 17.91L17.21 16.5L18.62 15.09C18.82 14.89 18.82 14.57 18.62 14.38Z' fill='#323232'/></g><defs><clipPath id='clip0_11:1366'><rect width='24' height='24' fill='white'/></clipPath></defs></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-cancel-schedule-send`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


