
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M20 19H19V5C19 4.45 18.55 4 18 4H14C14 3.45 13.55 3 13 3H6C5.45 3 5 3.45 5 4V19H4C3.45 19 3 19.45 3 20C3 20.55 3.45 21 4 21H13C13.55 21 14 20.55 14 20V6H17V20C17 20.55 17.45 21 18 21H20C20.55 21 21 20.55 21 20C21 19.45 20.55 19 20 19ZM12 13H10V11H12V13Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-meeting-room`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


