
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M12 15C13.66 15 14.99 13.66 14.99 12L15 6C15 4.34 13.66 3 12 3C10.34 3 8.99998 4.34 8.99998 6V12C8.99998 13.66 10.34 15 12 15ZM18.08 12C17.66 12 17.31 12.3 17.25 12.71C16.88 15.32 14.53 17.1 12 17.1C9.46998 17.1 7.11998 15.33 6.74998 12.71C6.68998 12.3 6.32998 12 5.91998 12C5.39998 12 4.99998 12.46 5.06998 12.97C5.52998 15.94 8.02998 18.27 11 18.72V21C11 21.55 11.45 22 12 22C12.55 22 13 21.55 13 21V18.72C15.96 18.29 18.47 15.94 18.93 12.97C19 12.46 18.6 12 18.08 12Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-keyboard-voice`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


