
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M6.18 20C7.38398 20 8.36 19.024 8.36 17.82C8.36 16.616 7.38398 15.64 6.18 15.64C4.97602 15.64 4 16.616 4 17.82C4 19.024 4.97602 20 6.18 20Z' fill='#323232'/><path d='M5.59 10.23C4.75 10.09 4 10.78 4 11.63C4 12.34 4.53 12.91 5.23 13.03C8.15 13.54 10.45 15.85 10.97 18.77C11.09 19.47 11.66 20 12.37 20C13.22 20 13.91 19.25 13.78 18.41C13.1 14.21 9.79 10.9 5.59 10.23ZM5.56 4.51996C4.73 4.42996 4 5.09996 4 5.92996C4 6.65996 4.55 7.25996 5.27 7.32996C11.28 7.92996 16.06 12.71 16.66 18.72C16.73 19.45 17.33 20 18.06 20C18.9 20 19.56 19.27 19.48 18.44C18.75 11.1 12.91 5.24996 5.56 4.51996Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-rss-feed`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


