
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M23.64 7.00003C23.19 6.66003 18.71 3.00003 12 3.00003C10.68 3.00003 9.44999 3.14003 8.30999 3.38003L18.43 13.5L23.64 7.00003ZM4.11999 2.01003C3.72999 1.62003 3.09999 1.62003 2.70999 2.01003C2.31999 2.40003 2.31999 3.03003 2.70999 3.42003L4.05999 4.77003C1.90999 5.76003 0.589985 6.82003 0.359985 7.00003L10.44 19.56C11.24 20.56 12.76 20.56 13.56 19.56L15.91 16.63L18.52 19.24C18.91 19.63 19.54 19.63 19.93 19.24C20.32 18.85 20.32 18.22 19.93 17.83L4.11999 2.01003Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-signal-wifi-off`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


