
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M12 2C8.14 2 5 5.14 5 9C5 13.17 9.42 18.92 11.23 21.11C11.63 21.59 12.36 21.59 12.76 21.11C14.58 18.92 19 13.17 19 9C19 5.14 15.86 2 12 2ZM16.31 8.16L11.18 13.29C10.79 13.68 10.16 13.68 9.77 13.29L7.7 11.22C7.31 10.83 7.31 10.19 7.7 9.8C8.09 9.41 8.73 9.41 9.12 9.8L10.48 11.16L14.9 6.74C15.29 6.35 15.93 6.35 16.32 6.74C16.7 7.14 16.7 7.77 16.31 8.16Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-where-to-vote`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


