
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M20.45 5.37C20.71 4.71 20.23 4 19.52 4H13H12H7V3C7 2.45 6.55 2 6 2C5.45 2 5 2.45 5 3V4V14V22H7V14H11H12H19.52C20.23 14 20.71 13.29 20.45 12.63L19 9L20.45 5.37ZM15 9C15 10.1 14.1 11 13 11C11.9 11 11 10.1 11 9C11 7.9 11.9 7 13 7C14.1 7 15 7.9 15 9Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-tour`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


