
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M17 15H19V7C19 5.9 18.1 5 17 5H9V7H16C16.55 7 17 7.45 17 8V15ZM8 17C7.45 17 7 16.55 7 16V2C7 1.45 6.55 1 6 1C5.45 1 5 1.45 5 2V5H2C1.45 5 1 5.45 1 6C1 6.55 1.45 7 2 7H5V17C5 18.1 5.9 19 7 19H17V22C17 22.55 17.45 23 18 23C18.55 23 19 22.55 19 22V19H22C22.55 19 23 18.55 23 18C23 17.45 22.55 17 22 17H8Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-crop`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


