
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M14 9C14 9.55 13.55 10 13 10H11.42C11.14 10 10.87 9.94 10.62 9.83L8.32 8.82L7 12.75V21C7 21.55 6.55 22 6 22H4C3.45 22 3 21.55 3 21V12.33C3 12.11 3.04 11.89 3.11 11.68L4.59 7.36C4.96 6.25 6.22 5.69 7.3 6.18L11.45 8.01L13 8C13.55 8 14 8.45 14 9ZM8 1C6.9 1 6 1.9 6 3C6 4.1 6.9 5 8 5C9.1 5 10 4.1 10 3C10 1.9 9.1 1 8 1ZM10 19H20C20.55 19 21 18.55 21 18C21 17.45 20.55 17 20 17H10C9.45 17 9 17.45 9 18C9 18.55 9.45 19 10 19ZM19.5 16C20.33 16 21 15.33 21 14.5C21 13.67 20.33 13 19.5 13C18.67 13 18 13.67 18 14.5C18 15.33 18.67 16 19.5 16ZM13 12C13 11.45 12.55 11 12 11H10C9.45 11 9 11.45 9 12C9 12.55 9.45 13 10 13H11V14C11 15.1 11.9 16 13 16H15C16.1 16 17 15.1 17 14V12C17 11.45 16.55 11 16 11C15.45 11 15 11.45 15 12V13H13V12Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-baby-changing-station`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


