
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M9 7.99999C8.45 7.99999 8 8.44999 8 8.99999V12H5C4.45 12 4 12.45 4 13C4 13.55 4.45 14 5 14H8V17C8 17.55 8.45 18 9 18C9.55 18 10 17.55 10 17V14H13C13.55 14 14 13.55 14 13C14 12.45 13.55 12 13 12H10V8.99999C10 8.44999 9.55 7.99999 9 7.99999ZM14.5 6.78999C14.5 7.35999 15.02 7.78999 15.58 7.67999L17 7.39999V17C17 17.55 17.45 18 18 18C18.55 18 19 17.55 19 17V6.26999C19 5.61999 18.4 5.14999 17.77 5.29999L15.2 5.91999C14.79 6.00999 14.5 6.37999 14.5 6.78999Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-plus-one`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


