
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M12 18C12.5523 18 13 17.5523 13 17C13 16.4477 12.5523 16 12 16C11.4477 16 11 16.4477 11 17C11 17.5523 11.4477 18 12 18Z' fill='#323232'/><path d='M7 13C7.55228 13 8 12.5523 8 12C8 11.4477 7.55228 11 7 11C6.44772 11 6 11.4477 6 12C6 12.5523 6.44772 13 7 13Z' fill='#323232'/><path d='M17 13C17.5523 13 18 12.5523 18 12C18 11.4477 17.5523 11 17 11C16.4477 11 16 11.4477 16 12C16 12.5523 16.4477 13 17 13Z' fill='#323232'/><path d='M12 3C11.45 3 11 3.45 11 4V6C11 6.55 11.45 7 12 7C12.55 7 13 6.55 13 6V5.08C16.31 5.56 18.87 8.33 19 11.74C19.14 15.59 15.97 18.94 12.12 19C8.19 19.06 5 15.91 5 12C5 10.32 5.59 8.78 6.58 7.58L11.29 12.3C11.68 12.69 12.31 12.69 12.7 12.3C13.09 11.91 13.09 11.28 12.7 10.89L7.26 5.46C6.88 5.08 6.26 5.07 5.86 5.44C4.1 7.07 3 9.4 3 12C3 17.04 7.14 21.12 12.21 21C16.91 20.89 20.84 16.99 20.99 12.29C21.16 7.19 17.07 3 12 3Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-av-timer`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


