
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M20 6H12L10.59 4.59C10.21 4.21 9.7 4 9.17 4H4C2.9 4 2 4.9 2 6V18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V8C22 6.9 21.1 6 20 6ZM16.94 16.41L15 15.28L13.06 16.41C12.68 16.63 12.22 16.29 12.32 15.86L12.83 13.66L11.14 12.2C10.81 11.91 10.98 11.36 11.42 11.32L13.65 11.13L14.53 9.07C14.7 8.67 15.28 8.67 15.45 9.07L16.33 11.13L18.56 11.32C19 11.36 19.18 11.91 18.84 12.2L17.15 13.66L17.66 15.86C17.77 16.29 17.31 16.63 16.94 16.41Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-folder-special`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


