
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M22 8.54V6C22 4.9 21.1 4 20 4H4C2.9 4 2.01 4.89 2.01 6V8.54C2.01 9.23 2.34 9.91 2.95 10.23C3.58 10.58 4 11.24 4 12C4 12.76 3.57 13.43 2.94 13.76C2.34 14.09 2 14.77 2 15.46V18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V15.46C22 14.77 21.66 14.09 21.06 13.76C20.43 13.42 20 12.76 20 12C20 11.24 20.43 10.58 21.06 10.24C21.66 9.91 22 9.23 22 8.54ZM13 17.5H11V15.5H13V17.5ZM13 13H11V11H13V13ZM13 8.5H11V6.5H13V8.5Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-confirmation-number`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


