
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M10.75 8C10.34 8 10 8.34 10 8.75V13.44C10 13.79 10.18 14.11 10.47 14.29L14.11 16.53C14.44 16.73 14.87 16.64 15.08 16.32C15.31 15.98 15.2 15.52 14.85 15.31L11.5 13.3V8.75C11.5 8.34 11.16 8 10.75 8Z' fill='#323232'/><path d='M17.92 12C17.97 12.33 18 12.66 18 13C18 16.9 14.9 20 11 20C7.1 20 4 16.9 4 13C4 9.1 7.1 6 11 6C11.7 6 12.37 6.1 13 6.29V4.23C12.36 4.08 11.69 4 11 4C6 4 2 8 2 13C2 18 6 22 11 22C16 22 20 18 20 13C20 12.66 19.98 12.33 19.94 12H17.92Z' fill='#323232'/><path d='M22 5H20V3C20 2.45 19.55 2 19 2C18.45 2 18 2.45 18 3V5H16C15.45 5 15 5.45 15 6C15 6.55 15.45 7 16 7H18V9C18 9.55 18.45 10 19 10C19.55 10 20 9.55 20 9V7H22C22.55 7 23 6.55 23 6C23 5.45 22.55 5 22 5Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-more-time`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


