
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M11.6099 12.97C11.4499 12.73 11.2499 12.51 10.9899 12.32C10.7399 12.13 10.4299 11.97 10.0599 11.84C10.3599 11.7 10.6299 11.54 10.8599 11.34C11.0899 11.14 11.2799 10.93 11.4299 10.7C11.5799 10.47 11.6999 10.24 11.7699 9.99002C11.8499 9.75002 11.8799 9.50002 11.8799 9.26002C11.8799 8.71002 11.7899 8.22002 11.5999 7.80002C11.4199 7.38002 11.1599 7.03002 10.8199 6.74002C10.4899 6.46002 10.0899 6.24002 9.61994 6.10002C9.16994 5.97002 8.64994 5.90002 8.08994 5.90002C7.53994 5.90002 7.02994 5.98002 6.56994 6.14002C6.09994 6.31002 5.69994 6.54002 5.36994 6.83002C5.03994 7.12002 4.76994 7.46002 4.58994 7.86002C4.38994 8.25002 4.29994 8.69002 4.29994 9.15002H6.27994C6.27994 8.89002 6.32994 8.66002 6.41994 8.46002C6.50994 8.26002 6.63994 8.08002 6.79994 7.94002C6.96994 7.80002 7.15994 7.69002 7.37994 7.61002C7.59994 7.53002 7.83994 7.49002 8.10994 7.49002C8.71994 7.49002 9.16994 7.65002 9.46994 7.96002C9.76994 8.27002 9.90994 8.71002 9.90994 9.28002C9.90994 9.55002 9.86994 9.80002 9.78994 10.02C9.70994 10.24 9.57994 10.43 9.40994 10.59C9.23994 10.75 9.02994 10.87 8.77994 10.96C8.52994 11.05 8.22994 11.09 7.88994 11.09H6.71994V12.66H7.89994C8.23994 12.66 8.53994 12.7 8.80994 12.77C9.07994 12.85 9.30994 12.96 9.49994 13.12C9.68994 13.28 9.83994 13.48 9.93994 13.73C10.0399 13.97 10.0999 14.27 10.0999 14.6C10.0999 15.22 9.91994 15.69 9.56994 16.02C9.21994 16.35 8.72994 16.51 8.11994 16.51C7.82994 16.51 7.55994 16.47 7.31994 16.38C7.07994 16.3 6.87994 16.18 6.70994 16.02C6.53994 15.86 6.40994 15.68 6.31994 15.46C6.22994 15.24 6.17994 15 6.17994 14.74H4.18994C4.18994 15.29 4.29994 15.77 4.50994 16.19C4.71994 16.61 5.00994 16.96 5.36994 17.24C5.72994 17.52 6.13994 17.73 6.60994 17.87C7.07994 18.01 7.56994 18.08 8.08994 18.08C8.65994 18.08 9.17994 18 9.66994 17.85C10.1599 17.7 10.5799 17.47 10.9299 17.17C11.2899 16.87 11.5699 16.51 11.7699 16.07C11.9699 15.64 12.0699 15.14 12.0699 14.59C12.0699 14.3 12.0299 14.01 11.9599 13.73C11.8799 13.48 11.7699 13.22 11.6099 12.97ZM20.8699 14.37C20.7299 14.09 20.5199 13.84 20.2399 13.63C19.9599 13.42 19.6299 13.24 19.2299 13.1C18.8299 12.96 18.3799 12.83 17.8799 12.72C17.5299 12.65 17.2399 12.57 17.0099 12.49C16.7799 12.41 16.5999 12.33 16.4599 12.24C16.3199 12.15 16.2299 12.05 16.1799 11.94C16.1299 11.83 16.0999 11.7 16.0999 11.55C16.0999 11.4 16.1299 11.27 16.1899 11.14C16.2499 11.01 16.3399 10.89 16.4599 10.8C16.5799 10.7 16.7299 10.62 16.9099 10.56C17.0899 10.5 17.3099 10.47 17.5499 10.47C17.7999 10.47 18.0199 10.51 18.2099 10.58C18.3999 10.65 18.5599 10.75 18.6899 10.87C18.8199 10.99 18.9099 11.13 18.9799 11.29C19.0399 11.45 19.0799 11.61 19.0799 11.78H21.0299C21.0299 11.39 20.9499 11.03 20.7899 10.69C20.6299 10.35 20.3999 10.06 20.0999 9.81002C19.7999 9.56002 19.4399 9.37002 19.0099 9.22002C18.5799 9.07002 18.0899 9.00002 17.5499 9.00002C17.0399 9.00002 16.5699 9.07002 16.1599 9.21002C15.7499 9.35002 15.3899 9.54002 15.0999 9.78002C14.8099 10.02 14.5899 10.3 14.4299 10.62C14.2699 10.94 14.1999 11.27 14.1999 11.63C14.1999 11.99 14.2799 12.31 14.4299 12.59C14.5799 12.87 14.7999 13.11 15.0699 13.32C15.3399 13.53 15.6699 13.7 16.0499 13.85C16.4299 13.99 16.8599 14.11 17.3199 14.21C17.7099 14.29 18.0299 14.38 18.2699 14.47C18.5099 14.56 18.6999 14.66 18.8399 14.76C18.9699 14.86 19.0599 14.98 19.1099 15.1C19.1599 15.22 19.1799 15.35 19.1799 15.49C19.1799 15.81 19.0499 16.06 18.7799 16.26C18.5099 16.46 18.1199 16.55 17.6099 16.55C17.3899 16.55 17.1799 16.53 16.9699 16.47C16.7599 16.42 16.5699 16.34 16.4099 16.23C16.2399 16.12 16.1099 15.97 15.9999 15.79C15.8899 15.61 15.8299 15.38 15.8199 15.12H13.9299C13.9299 15.48 14.0099 15.83 14.1699 16.17C14.3299 16.51 14.5599 16.82 14.8699 17.1C15.1799 17.37 15.5599 17.59 16.0199 17.76C16.4799 17.93 16.9999 18.01 17.5999 18.01C18.1299 18.01 18.6099 17.95 19.0399 17.82C19.4699 17.69 19.8399 17.51 20.1499 17.28C20.4599 17.05 20.6899 16.77 20.8599 16.45C21.0299 16.13 21.1099 15.78 21.1099 15.39C21.0899 14.99 21.0199 14.65 20.8699 14.37Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-timer-3`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


