
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M17.0898 11H21.9498C21.7898 9.38998 21.2398 7.88998 20.4098 6.59998C18.6798 7.42998 17.4198 9.04998 17.0898 11Z' fill='#323232'/><path d='M6.9098 11C6.5798 9.04998 5.3198 7.42998 3.5898 6.59998C2.7598 7.88998 2.2098 9.38998 2.0498 11H6.9098Z' fill='#323232'/><path d='M15.07 11C15.39 8.40999 16.95 6.20999 19.13 4.99999C17.53 3.36999 15.39 2.28999 13 2.04999V11H15.07Z' fill='#323232'/><path d='M8.92963 11H10.9996V2.04999C8.60963 2.28999 6.45963 3.36999 4.86963 4.99999C7.04963 6.20999 8.60963 8.40999 8.92963 11Z' fill='#323232'/><path d='M15.07 13H13V21.95C15.39 21.71 17.54 20.63 19.13 19C16.95 17.79 15.39 15.59 15.07 13Z' fill='#323232'/><path d='M3.5898 17.4C5.3098 16.57 6.5798 14.94 6.9098 13H2.0498C2.2098 14.61 2.7598 16.11 3.5898 17.4Z' fill='#323232'/><path d='M17.0898 13C17.4198 14.95 18.6798 16.57 20.4098 17.4C21.2398 16.11 21.7898 14.61 21.9498 13H17.0898Z' fill='#323232'/><path d='M8.92963 13C8.60963 15.59 7.04963 17.79 4.86963 19C6.46963 20.63 8.60963 21.71 10.9996 21.95V13H8.92963Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-sports-basketball`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


