
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M8.83012 6L5.13012 2.3C5.42012 1.55 6.15012 1 7.00012 1L17.0001 1.01C18.1001 1.01 19.0001 1.9 19.0001 3V16.17L17.0001 14.17V6H8.83012ZM20.4901 21.9C20.1001 22.29 19.4701 22.29 19.0801 21.9L18.8801 21.7C18.5801 22.45 17.8501 23 17.0001 23H7.00012C5.90012 23 5.00012 22.1 5.00012 21V7.83L2.10012 4.93C1.71012 4.54 1.71012 3.91 2.10012 3.52C2.49012 3.13 3.12012 3.13 3.51012 3.52L20.4801 20.49C20.8801 20.88 20.8801 21.51 20.4901 21.9ZM15.1701 18L7.00012 9.83V18H15.1701Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-no-cell`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


