
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M12.0001 23C13.1001 23 13.9901 22.11 13.9901 21.01H10.0101C10.0101 22.11 10.9001 23 12.0001 23ZM20.2901 18.29L19.0001 17V11C19.0001 7.65 16.6401 4.85 13.5001 4.17V3C13.5001 2.17 12.8301 1.5 12.0001 1.5C11.1701 1.5 10.5001 2.17 10.5001 3V4.17C7.36005 4.85 5.00005 7.65 5.00005 11V17L3.71005 18.29C3.08005 18.92 3.52005 20 4.41005 20H19.5801C20.4801 20 20.9201 18.92 20.2901 18.29ZM13.0001 16H11.0001V14H13.0001V16ZM13.0001 11C13.0001 11.55 12.5501 12 12.0001 12C11.4501 12 11.0001 11.55 11.0001 11V9C11.0001 8.45 11.4501 8 12.0001 8C12.5501 8 13.0001 8.45 13.0001 9V11Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-notification-important`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


