
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M12.0001 10.9999C10.9001 10.9999 10.0001 11.8999 10.0001 12.9999C10.0001 14.0999 10.9001 14.9999 12.0001 14.9999C13.1001 14.9999 14.0001 14.0999 14.0001 12.9999C14.0001 11.8999 13.1001 10.9999 12.0001 10.9999ZM18.0001 12.9999C18.0001 9.43995 14.8901 6.59995 11.2501 7.04995C8.63005 7.36995 6.47005 9.45995 6.07005 12.0699C5.74005 14.2199 6.56005 16.1799 8.00005 17.4699C8.48005 17.8999 9.23005 17.7999 9.56005 17.2399L9.57005 17.2299C9.81005 16.8099 9.71005 16.2999 9.35005 15.9699C8.32005 15.0399 7.76005 13.5999 8.13005 12.0299C8.46005 10.6099 9.61005 9.45995 11.0301 9.11995C13.6501 8.48995 16.0001 10.4699 16.0001 12.9999C16.0001 14.1799 15.4801 15.2299 14.6701 15.9599C14.3101 16.2799 14.2001 16.7999 14.4401 17.2199L14.4501 17.2299C14.7601 17.7599 15.4801 17.9199 15.9501 17.5099C17.2001 16.4099 18.0001 14.7999 18.0001 12.9999ZM10.8301 3.06995C6.21005 3.58995 2.48005 7.39995 2.05005 12.0299C1.70005 15.7299 3.37005 19.0499 6.07005 21.0399C6.55005 21.3899 7.23005 21.2399 7.53005 20.7299C7.78005 20.2999 7.67005 19.7399 7.27005 19.4399C4.99005 17.7499 3.62005 14.8899 4.11005 11.7399C4.65005 8.23995 7.57005 5.44995 11.0901 5.05995C15.9101 4.50995 20.0001 8.27995 20.0001 12.9999C20.0001 15.6499 18.7101 17.9799 16.7301 19.4399C16.3301 19.7399 16.2201 20.2899 16.4701 20.7299C16.7701 21.2499 17.4501 21.3899 17.9301 21.0399C20.4001 19.2199 22.0001 16.2999 22.0001 12.9999C22.0001 7.08995 16.8701 2.37995 10.8301 3.06995Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-wifi-tethering`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


