
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M18 2.01L6 2C4.9 2 4 2.89 4 4V20C4 21.1 4.9 22 6 22H18C19.1 22 20 21.1 20 20V4C20 2.89 19.1 2.01 18 2.01ZM17 20H7C6.45 20 6 19.55 6 19V11.98C6 11.43 6.45 10.98 7 10.98H17C17.55 10.98 18 11.43 18 11.98V19C18 19.55 17.55 20 17 20ZM17 9H7C6.45 9 6 8.55 6 8V5C6 4.45 6.45 4 7 4H17C17.55 4 18 4.45 18 5V8C18 8.55 17.55 9 17 9ZM9 5C9.55 5 10 5.45 10 6V7C10 7.55 9.55 8 9 8C8.45 8 8 7.55 8 7V6C8 5.45 8.45 5 9 5ZM9 12C9.55 12 10 12.45 10 13V16C10 16.55 9.55 17 9 17C8.45 17 8 16.55 8 16V13C8 12.45 8.45 12 9 12Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-kitchen`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


