
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M20.0001 6.83005V19.0001C20.0001 19.5501 19.5501 20.0001 19.0001 20.0001H6.83005L20.0001 6.83005ZM20.2901 3.71005L3.71005 20.2901C3.08005 20.9201 3.52005 22.0001 4.41005 22.0001H20.0001C21.1001 22.0001 22.0001 21.1001 22.0001 20.0001V4.41005C22.0001 3.52005 20.9201 3.08005 20.2901 3.71005Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-signal-cellular-null`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


