
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M19 3H5.01001C3.91001 3 3.01001 3.9 3.01001 5V19C3.01001 20.1 3.91001 21 5.01001 21H19C20.1 21 21 20.1 21 19V5C21 3.9 20.1 3 19 3ZM15.01 10.5C15.01 11.33 14.34 12 13.51 12C14.34 12 15.01 12.67 15.01 13.5V15C15.01 16.11 14.11 17 13.01 17H10C9.45001 17 9.00001 16.55 9.00001 16C9.00001 15.45 9.45001 15 10 15H13.01L13 13H12C11.45 13 11 12.55 11 12C11 11.45 11.45 11 12 11H13L13.01 9H10C9.45001 9 9.01001 8.55 9.01001 8C9.01001 7.45 9.45001 7 10 7H13.01C14.11 7 15.01 7.9 15.01 9V10.5Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-looks-3`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


