
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M6.15 9.97C5.69 9.51 5.77 8.73 6.33 8.4C6.73 8.18 7.21 8 7.75 8C8.55 8 9.14 8.39 9.56 8.67C9.87 8.88 10.07 9 10.25 9C10.38 9 10.51 8.95 10.64 8.88C11.03 8.66 11.52 8.72 11.84 9.04C12.3 9.5 12.22 10.28 11.66 10.6C11.27 10.83 10.79 11 10.25 11C9.46 11 8.88 10.62 8.46 10.34C8.13 10.12 7.94 10 7.75 10C7.62 10 7.49 10.05 7.36 10.12C6.96 10.35 6.47 10.28 6.15 9.97ZM7.75 15C7.94 15 8.13 15.12 8.46 15.34C8.88 15.62 9.46 16 10.25 16C10.79 16 11.27 15.83 11.66 15.6C12.22 15.28 12.3 14.5 11.84 14.04C11.52 13.72 11.03 13.66 10.64 13.88C10.51 13.95 10.38 14 10.25 14C10.07 14 9.87 13.88 9.56 13.67C9.14 13.39 8.55 13 7.75 13C7.21 13 6.73 13.18 6.33 13.4C5.77 13.73 5.69 14.51 6.15 14.96C6.47 15.28 6.96 15.34 7.35 15.12C7.49 15.05 7.62 15 7.75 15ZM22 6V18C22 19.1 21.1 20 20 20H4C2.9 20 2 19.1 2 18V6C2 4.9 2.9 4 4 4H20C21.1 4 22 4.9 22 6ZM14 6H4V18H14V6ZM19 16C19 15.45 18.55 15 18 15C17.45 15 17 15.45 17 16C17 16.55 17.45 17 18 17C18.55 17 19 16.55 19 16ZM19 12C19 11.45 18.55 11 18 11C17.45 11 17 11.45 17 12C17 12.55 17.45 13 18 13C18.55 13 19 12.55 19 12ZM19 7H17V9H19V7Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-microwave`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


