
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M21.5 11C21.78 11 22 10.78 22 10.5V9.25997C22 9.09997 21.92 8.93997 21.79 8.84997L12.57 2.39997C12.23 2.15997 11.77 2.15997 11.42 2.39997L2.21 8.84997C2.08 8.93997 2 9.09997 2 9.25997V10.5C2 10.78 2.22 11 2.5 11H4V20H3C2.45 20 2 20.45 2 21C2 21.55 2.45 22 3 22H21C21.55 22 22 21.55 22 21C22 20.45 21.55 20 21 20H20V11H21.5ZM16 17C16 17.55 15.55 18 15 18C14.45 18 14 17.55 14 17V14L12.83 15.75C12.43 16.34 11.56 16.34 11.17 15.75L10 14V17C10 17.55 9.55 18 9 18C8.45 18 8 17.55 8 17V12.3C8 11.58 8.58 11 9.3 11C9.73 11 10.14 11.22 10.38 11.58L12 14L13.61 11.58C13.86 11.22 14.26 11 14.7 11C15.42 11 16 11.58 16 12.3V17Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-museum`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


