
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M15.0498 12.81L6.55984 4.32003C6.16984 3.93003 5.53984 3.93003 5.14984 4.32003L2.31984 7.15003C1.92984 7.54003 1.92984 8.17003 2.31984 8.56003L10.8098 17.05C11.1998 17.44 11.8298 17.44 12.2198 17.05L15.0498 14.22C15.4398 13.83 15.4398 13.2 15.0498 12.81Z' fill='#323232'/><path d='M14.3398 17.76L17.8698 21.29C18.2598 21.68 18.8998 21.68 19.2898 21.29C19.6798 20.9 19.6798 20.26 19.2898 19.87L15.7598 16.34L14.3398 17.76Z' fill='#323232'/><path d='M18.5 9C20.433 9 22 7.433 22 5.5C22 3.567 20.433 2 18.5 2C16.567 2 15 3.567 15 5.5C15 7.433 16.567 9 18.5 9Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-sports-cricket`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


