
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M15 5C14.54 5 14.13 5.27 13.95 5.69L10.07 14.66C9.8 15.29 10.27 16 10.96 16C11.35 16 11.7 15.76 11.85 15.4L12.51 13.8H17.51L18.17 15.4C18.32 15.76 18.67 16 19.06 16C19.75 16 20.21 15.29 19.94 14.66L16.06 5.69C15.87 5.27 15.46 5 15 5ZM13.13 12L15 6.98L16.87 12H13.13ZM6.35 19.64L8.14 17.85C8.46 17.54 8.24 17 7.79 17H7V5C7 4.45 6.55 4 6 4C5.45 4 5 4.44 5 5V17H4.21C3.76 17 3.54 17.54 3.86 17.85L5.65 19.64C5.84 19.84 6.16 19.84 6.35 19.64Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-text-rotate-vertical`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


