
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M21 13H15C14.45 13 14 12.55 14 12C14 11.45 14.45 11 15 11H21C21.55 11 22 11.45 22 12C22 12.55 21.55 13 21 13ZM21 7H15C14.45 7 14 7.45 14 8C14 8.55 14.45 9 15 9H21C21.55 9 22 8.55 22 8C22 7.45 21.55 7 21 7ZM15 17H21C21.55 17 22 16.55 22 16C22 15.45 21.55 15 21 15H15C14.45 15 14 15.45 14 16C14 16.55 14.45 17 15 17ZM12 9V15C12 16.1 11.1 17 10 17H4C2.9 17 2 16.1 2 15V9C2 7.9 2.9 7 4 7H10C11.1 7 12 7.9 12 9ZM9.9 14.2L8.64 12.52C8.44 12.26 8.05 12.25 7.84 12.51L6.5 14.26L5.65 13.23C5.45 12.98 5.07 12.99 4.87 13.24L4.13 14.19C3.87 14.52 4.11 15 4.52 15H9.5C9.91 15 10.15 14.53 9.9 14.2Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-art-track`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


