
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M22 8C22 7.45 21.55 7 21 7H20V5C20 3.9 19.1 3 18 3H4C2.9 3 2 3.9 2 5V19C2 20.1 2.9 21 4 21H18C19.1 21 20 20.1 20 19V17H21C21.55 17 22 16.55 22 16C22 15.45 21.55 15 21 15H20V13H21C21.55 13 22 12.55 22 12C22 11.45 21.55 11 21 11H20V9H21C21.55 9 22 8.55 22 8ZM17 19H5C4.45 19 4 18.55 4 18V6C4 5.45 4.45 5 5 5H17C17.55 5 18 5.45 18 6V18C18 18.55 17.55 19 17 19ZM6.5 13H10.5C10.78 13 11 13.22 11 13.5V16.5C11 16.78 10.78 17 10.5 17H6.5C6.22 17 6 16.78 6 16.5V13.5C6 13.22 6.22 13 6.5 13ZM12.5 7H15.5C15.78 7 16 7.22 16 7.5V9.5C16 9.78 15.78 10 15.5 10H12.5C12.22 10 12 9.78 12 9.5V7.5C12 7.22 12.22 7 12.5 7ZM6.5 7H10.5C10.78 7 11 7.22 11 7.5V11.5C11 11.78 10.78 12 10.5 12H6.5C6.22 12 6 11.78 6 11.5V7.5C6 7.22 6.22 7 6.5 7ZM12.5 11H15.5C15.78 11 16 11.22 16 11.5V16.5C16 16.78 15.78 17 15.5 17H12.5C12.22 17 12 16.78 12 16.5V11.5C12 11.22 12.22 11 12.5 11Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-developer-board`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


