
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M22 15.5H16.48V14.73C16.48 14.37 16.04 14.19 15.79 14.44L14.28 15.96C14.12 16.12 14.12 16.37 14.28 16.53L15.79 18.05C16.05 18.31 16.48 18.13 16.48 17.76V17H22V15.5ZM21.72 20.21L20.21 18.69C19.95 18.43 19.52 18.61 19.52 18.98V19.75H14V21.25H19.52V22.02C19.52 22.38 19.96 22.56 20.21 22.31L21.72 20.79C21.88 20.63 21.88 20.37 21.72 20.21ZM9.5 5.5C10.6 5.5 11.5 4.6 11.5 3.5C11.5 2.4 10.6 1.5 9.5 1.5C8.4 1.5 7.5 2.4 7.5 3.5C7.5 4.6 8.4 5.5 9.5 5.5ZM5.75 8.9L3.23 21.81C3.11 22.43 3.58 23 4.21 23H4.3C4.77 23 5.18 22.67 5.28 22.21L6.85 15L9 17V22C9 22.55 9.45 23 10 23C10.55 23 11 22.55 11 22V16.28C11 15.75 10.79 15.24 10.41 14.87L8.95 13.4L9.55 10.4C10.62 11.72 12.13 12.63 13.86 12.91C14.46 13.01 15 12.52 15 11.91C15 11.42 14.64 11.01 14.16 10.93C12.67 10.68 11.41 9.78 10.65 8.55L9.7 6.95C9.35 6.35 8.7 6 8 6C7.75 6 7.5 6.05 7.25 6.15L3.24 7.79C2.49 8.1 2 8.83 2 9.64V12C2 12.55 2.45 13 3 13C3.55 13 4 12.55 4 12V9.65L5.75 8.9Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-transfer-within-a-station`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


