
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M4.5 11C5.32843 11 6 10.3284 6 9.5C6 8.67157 5.32843 8 4.5 8C3.67157 8 3 8.67157 3 9.5C3 10.3284 3.67157 11 4.5 11Z' fill='#323232'/><path d='M22.17 9.16997C22.17 5.25997 18.98 2.10997 15.06 2.16997C11.23 2.22997 8.07 5.53997 8.18 9.35997C8.27 12.74 10.76 15.52 14.01 16.06V20H6V17H6.5C6.78 17 7 16.78 7 16.5V13C7 12.45 6.55 12 6 12H3C2.45 12 2 12.45 2 13V16.5C2 16.78 2.22 17 2.5 17H3V21C3 21.55 3.45 22 4 22H18C18.55 22 19 21.55 19 21C19 20.45 18.55 20 18 20H16V16.12C19.47 15.71 22.17 12.76 22.17 9.16997Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-nature-people`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


