
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M5 7H19C19.55 7 20 7.45 20 8C20 8.55 19.55 9 19 9H5C4.45 9 4 8.55 4 8C4 7.45 4.45 7 5 7Z' fill='#323232'/><path d='M5 13H19C19.55 13 20 12.55 20 12C20 11.45 19.55 11 19 11H5C4.45 11 4 11.45 4 12C4 12.55 4.45 13 5 13Z' fill='#323232'/><path d='M5 17H10C10.55 17 11 16.55 11 16C11 15.45 10.55 15 10 15H5C4.45 15 4 15.45 4 16C4 16.55 4.45 17 5 17Z' fill='#323232'/><path d='M5 21H10C10.55 21 11 20.55 11 20C11 19.45 10.55 19 10 19H5C4.45 19 4 19.45 4 20C4 20.55 4.45 21 5 21Z' fill='#323232'/><path d='M15.41 18.17L14.7 17.46C14.31 17.07 13.68 17.07 13.29 17.46C12.9 17.85 12.9 18.48 13.29 18.87L14.71 20.29C15.1 20.68 15.73 20.68 16.12 20.29L19.29 17.12C19.68 16.73 19.68 16.1 19.29 15.71C18.9 15.32 18.27 15.32 17.88 15.71L15.41 18.17Z' fill='#323232'/><path d='M4 4C4 4.55 4.45 5 5 5H19C19.55 5 20 4.55 20 4C20 3.45 19.55 3 19 3H5C4.45 3 4 3.45 4 4Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-grading`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


