
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M6.82 13H11V11H6.82C6.4 9.84 5.3 9 4 9C2.34 9 1 10.34 1 12C1 13.66 2.34 15 4 15C5.3 15 6.4 14.16 6.82 13ZM4 13C3.45 13 3 12.55 3 12C3 11.45 3.45 11 4 11C4.55 11 5 11.45 5 12C5 12.55 4.55 13 4 13Z' fill='#323232'/><path d='M22.47 12.4C22.74 12.2 22.74 11.8 22.47 11.6L19 8.99996V11H14.95C14.48 6.30996 10.79 2.57996 6.12 2.05996C5.52 1.99996 5 2.45996 5 3.05996C5 3.55996 5.37 3.98996 5.87 4.04996C9.88 4.47996 13 7.86996 13 12C13 16.13 9.88 19.52 5.87 19.95C5.37 20.01 5 20.44 5 20.94C5 21.54 5.52 22.01 6.11 21.94C10.78 21.42 14.48 17.69 14.94 13H19V15L22.47 12.4Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-nat`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


