
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M21.75 17C21.75 16.78 21.72 16.58 21.69 16.37L22.53 15.64C22.71 15.48 22.75 15.22 22.63 15.01L22.04 13.99C21.92 13.78 21.67 13.69 21.45 13.77L20.39 14.13C20.07 13.86 19.71 13.65 19.31 13.5L19.09 12.41C19.04 12.18 18.84 12.01 18.6 12.01H17.42C17.18 12.01 16.98 12.18 16.93 12.41L16.71 13.5C16.31 13.65 15.95 13.86 15.63 14.13L14.57 13.77C14.34 13.69 14.1 13.79 13.98 13.99L13.39 15.01C13.27 15.22 13.31 15.48 13.49 15.64L14.33 16.37C14.3 16.58 14.27 16.78 14.27 17C14.27 17.22 14.3 17.42 14.33 17.63L13.49 18.36C13.31 18.52 13.27 18.78 13.39 18.99L13.98 20.01C14.1 20.22 14.35 20.31 14.57 20.23L15.63 19.87C15.95 20.14 16.31 20.35 16.71 20.5L16.93 21.59C16.98 21.82 17.18 21.99 17.42 21.99H18.6C18.84 21.99 19.04 21.82 19.09 21.59L19.31 20.5C19.71 20.35 20.07 20.14 20.39 19.87L21.45 20.23C21.68 20.31 21.92 20.21 22.04 20.01L22.63 18.99C22.75 18.78 22.71 18.52 22.53 18.36L21.69 17.63C21.72 17.42 21.75 17.22 21.75 17ZM18 19C16.9 19 16 18.1 16 17C16 15.9 16.9 15 18 15C19.1 15 20 15.9 20 17C20 18.1 19.1 19 18 19ZM14 11.26V6H17V10H19V5C19 4.45 18.55 4 18 4H14C14 3.45 13.55 3 13 3H6C5.45 3 5 3.45 5 4V19H4C3.45 19 3 19.45 3 20C3 20.55 3.45 21 4 21H12.26C11.47 19.87 11 18.49 11 17C11 14.62 12.19 12.53 14 11.26ZM10 12C10 11.45 10.45 11 11 11C11.55 11 12 11.45 12 12C12 12.55 11.55 13 11 13C10.45 13 10 12.55 10 12Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-room-preferences`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


