
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M13 3.07998V9.99998H21C21 5.96998 18.02 2.62998 14.14 2.07998C13.54 1.98998 13 2.46998 13 3.07998ZM19.32 15.89C20.37 14.54 21 12.84 21 11H6.44L5.76 9.56998C5.6 9.21998 5.24 8.99998 4.86 8.99998H3C2.45 8.99998 2 9.44998 2 9.99998C2 10.55 2.45 11 3 11H4.22C4.22 11 6.11 15.07 6.34 15.42C5.01 16.13 4.2 17.69 4.6 19.36C4.9 20.62 5.94 21.63 7.2 21.91C9.3 22.37 11.18 20.95 11.45 19H13.53C13.8 20.94 15.67 22.36 17.75 21.92C19.02 21.65 20.06 20.65 20.38 19.39C20.73 18 20.24 16.71 19.32 15.89ZM8 20C7.17 20 6.5 19.33 6.5 18.5C6.5 17.67 7.17 17 8 17C8.83 17 9.5 17.67 9.5 18.5C9.5 19.33 8.83 20 8 20ZM17 20C16.17 20 15.5 19.33 15.5 18.5C15.5 17.67 16.17 17 17 17C17.83 17 18.5 17.67 18.5 18.5C18.5 19.33 17.83 20 17 20Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-child-friendly`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


