
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M12 2C7.8 2 4 5.22 4 10.2C4 13.38 6.45 17.12 11.34 21.43C11.72 21.76 12.29 21.76 12.67 21.43C17.55 17.12 20 13.38 20 10.2C20 5.22 16.2 2 12 2ZM12.71 15.7C12.52 15.9 12.28 16 12 16C11.73 16 11.47 15.89 11.29 15.7C11.1 15.51 10.99 15.26 11 14.99C10.99 14.44 11.43 14 11.98 13.99C11.99 13.99 11.99 13.99 12 13.99C12.55 13.98 12.99 14.42 13 14.97C13 14.98 13 14.98 13 14.99C13 15.27 12.9 15.51 12.71 15.7ZM14.69 9.91C14.48 10.26 14.21 10.62 13.8 11C13.48 11.3 13.27 11.56 13.15 11.77C13.05 11.96 12.99 12.26 12.99 12.46V12.53C12.98 12.8 12.75 13 12.48 13H11.63C11.35 13 11.13 12.78 11.13 12.5V12.34C11.13 11.89 11.23 11.5 11.42 11.18C11.61 10.85 11.94 10.48 12.42 10.06C12.7 9.81 12.9 9.59 13.03 9.4C13.16 9.21 13.22 9 13.22 8.76C13.22 8.47 13.11 8.22 12.9 8.02C12.68 7.82 12.4 7.72 12.05 7.72C11.68 7.72 11.31 7.82 11.09 8.02C10.97 8.14 10.88 8.25 10.8 8.4C10.77 8.47 10.72 8.61 10.71 8.66C10.66 8.83 10.47 9 10.24 9H9.55C9.29 9 9.08 8.81 9.05 8.55C9.04 8.47 9.05 8.39 9.07 8.31C9.25 7.59 9.59 7.15 9.97 6.79C10.53 6.29 11.25 6 12 6C12.59 6 13.11 6.12 13.57 6.35C14.03 6.58 14.36 6.9 14.62 7.31C14.87 7.72 15 8.16 15 8.66C15 9.15 14.89 9.56 14.69 9.91Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-not-listed-location`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


