
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path fill-rule='evenodd' clip-rule='evenodd' d='M12.16 15.72C11.87 15.43 11.87 14.95 12.16 14.66C12.45 14.37 12.93 14.37 13.22 14.66L14.04 15.48L16 13.52C16.29 13.23 16.77 13.23 17.06 13.52C17.35 13.81 17.35 14.29 17.06 14.58L14.41 17.23C14.22 17.42 13.9 17.43 13.71 17.23L12.16 15.72ZM12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2ZM7.87 6.81L8.75 7.69L9.63 6.81C9.92 6.52 10.4 6.52 10.69 6.81C10.98 7.1 10.98 7.58 10.69 7.87L9.81 8.75L10.69 9.63C10.98 9.92 10.98 10.4 10.69 10.69C10.4 10.98 9.92 10.98 9.63 10.69L8.75 9.81L7.87 10.69C7.58 10.98 7.1 10.98 6.81 10.69C6.52 10.4 6.52 9.92 6.81 9.63L7.69 8.75L6.81 7.87C6.52 7.58 6.52 7.1 6.81 6.81C7.1 6.51 7.57 6.51 7.87 6.81ZM12 20C9.8 20 7.8 19.1 6.3 17.7L17.7 6.3C19.1 7.8 20 9.8 20 12C20 16.4 16.4 20 12 20Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-flaky`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


