
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M20.22 6.86C18.22 6.26 16.16 6.81999 14.83 8.14999L12 10.66L10.48 12H10.49L7.8 14.39C6.99 15.2 5.85 15.54 4.68 15.31C3.43 15.06 2.4 14.06 2.11 12.82C1.59 10.59 3.27 8.62 5.4 8.62C6.31 8.62 7.16 8.96999 7.84 9.64999L8.31 10.06C8.69 10.4 9.26 10.4 9.64 10.06C10.09 9.66 10.09 8.96 9.64 8.56L9.22 8.2C8.2 7.18 6.84 6.62 5.4 6.62C2.42 6.62 0 9.04 0 12C0 14.96 2.42 17.38 5.4 17.38C6.84 17.38 8.2 16.82 9.17 15.85L12 13.35L12.01 13.36L13.52 12H13.51L16.2 9.60999C17.01 8.79999 18.15 8.45999 19.32 8.68999C20.57 8.93999 21.6 9.94 21.89 11.18C22.41 13.41 20.73 15.38 18.6 15.38C17.7 15.38 16.84 15.03 16.16 14.35L15.68 13.93C15.3 13.59 14.73 13.59 14.35 13.93C13.9 14.33 13.9 15.03 14.35 15.43L14.77 15.8C15.79 16.81 17.14 17.37 18.59 17.37C21.86 17.37 24.45 14.47 23.92 11.12C23.62 9.13 22.15 7.43 20.22 6.86Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-all-inclusive`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


