
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M12.68 5.88C13.38 5.64 13.9 4.98 13.98 4.24C14.03 3.77 13.93 3.33 13.7 2.97L12.42 0.750002C12.23 0.420002 11.75 0.420002 11.55 0.750002L10.27 2.97C10.1 3.27 10 3.62 10 4C10 5.32 11.3 6.35 12.68 5.88ZM16.53 15.92L15.53 14.92L14.45 15.99C13.15 17.29 10.87 17.3 9.56 15.99L8.49 14.92L7.4 15.99C6.75 16.64 5.88 17 4.96 17C4.23 17 3.56 16.77 3 16.39V20C3 21.1 3.9 22 5 22H19C20.1 22 21 21.1 21 20V16.39C20.25 16.9 19.29 17.14 18.26 16.91C17.6 16.77 17.01 16.4 16.53 15.92ZM18 9H13V8C13 7.45 12.55 7 12 7C11.45 7 11 7.45 11 8V9H6C4.34 9 3 10.34 3 12V13.46C3 14.31 3.5 15.13 4.31 15.4C5.04 15.64 5.83 15.46 6.34 14.94L8.48 12.81L10.61 14.94C11.37 15.7 12.62 15.7 13.38 14.94L15.52 12.81L17.65 14.94C18.08 15.37 18.68 15.57 19.3 15.49C20.29 15.36 20.99 14.43 20.99 13.43V12.01C21 10.34 19.66 9 18 9Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-cake`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


