
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M7 8C8.10457 8 9 7.10457 9 6C9 4.89543 8.10457 4 7 4C5.89543 4 5 4.89543 5 6C5 7.10457 5.89543 8 7 8Z' fill='#323232'/><path d='M21 12H11.15C10.84 11.78 10.56 11.54 10.33 11.28L8.93 9.73C8.74 9.52 8.5 9.35 8.24 9.23C7.95 9.09 7.62 9 7.28 9H7.25C6.01 9 5 10.01 5 11.25V12H3C2.45 12 2 12.45 2 13V20C2 21.1 2.9 22 4 22H20C21.1 22 22 21.1 22 20V13C22 12.45 21.55 12 21 12ZM7 19C7 19.55 6.55 20 6 20C5.45 20 5 19.55 5 19V15C5 14.45 5.45 14 6 14C6.55 14 7 14.45 7 15V19ZM11 19C11 19.55 10.55 20 10 20C9.45 20 9 19.55 9 19V15C9 14.45 9.45 14 10 14C10.55 14 11 14.45 11 15V19ZM15 19C15 19.55 14.55 20 14 20C13.45 20 13 19.55 13 19V15C13 14.45 13.45 14 14 14C14.55 14 15 14.45 15 15V19ZM19 19C19 19.55 18.55 20 18 20C17.45 20 17 19.55 17 19V15C17 14.45 17.45 14 18 14C18.55 14 19 14.45 19 15V19ZM15.06 10C15.56 10 15.99 9.61 16 9.11C16.04 7.71 15.42 6.63 14.65 5.86C14 5.14 13.85 4.59 13.88 3.95C13.9 3.43 13.47 3 12.94 3C12.44 3 12.01 3.4 12 3.9C11.97 5.19 12.5 6.33 13.35 7.15C13.96 7.74 14.13 8.42 14.13 9.04C14.12 9.56 14.53 10 15.06 10ZM19.06 10C19.56 10 19.99 9.61 20 9.11C20.04 7.71 19.42 6.63 18.65 5.86C18 5.14 17.85 4.59 17.88 3.95C17.9 3.43 17.47 3 16.94 3C16.44 3 16.01 3.4 16 3.9C15.97 5.19 16.5 6.33 17.35 7.15C17.96 7.74 18.13 8.42 18.13 9.04C18.12 9.56 18.53 10 19.06 10Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-hot-tub`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


