
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><g clip-path='url(#clip0_17:18132)'><path d='M5.5 21V14.5H5C4.45 14.5 4 14.05 4 13.5V9C4 7.9 4.9 7 6 7H9C10.1 7 11 7.9 11 9V13.5C11 14.05 10.55 14.5 10 14.5H9.5V21C9.5 21.55 9.05 22 8.5 22H6.5C5.95 22 5.5 21.55 5.5 21ZM18 21V16H19.61C20.29 16 20.77 15.33 20.56 14.68L18.46 8.37C18.18 7.55 17.42 7 16.56 7H16.44C15.58 7 14.81 7.55 14.54 8.37L12.44 14.68C12.22 15.33 12.7 16 13.39 16H15V21C15 21.55 15.45 22 16 22H17C17.55 22 18 21.55 18 21ZM7.5 6C8.61 6 9.5 5.11 9.5 4C9.5 2.89 8.61 2 7.5 2C6.39 2 5.5 2.89 5.5 4C5.5 5.11 6.39 6 7.5 6ZM16.5 6C17.61 6 18.5 5.11 18.5 4C18.5 2.89 17.61 2 16.5 2C15.39 2 14.5 2.89 14.5 4C14.5 5.11 15.39 6 16.5 6Z' fill='#323232'/></g><defs><clipPath id='clip0_17:18132'><rect width='24' height='24' fill='white'/></clipPath></defs></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-wc`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


