
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M9 10V14C9 14.55 9.45 15 10 15C10.55 15 11 14.55 11 14V4H13V14C13 14.55 13.45 15 14 15C14.55 15 15 14.55 15 14V4H16C16.55 4 17 3.55 17 3C17 2.45 16.55 2 16 2H9.17C7.08 2 5.22 3.53 5.02 5.61C4.79 7.99 6.66 10 9 10ZM20.65 17.65L17.86 14.86C17.54 14.54 17 14.76 17 15.21V17H6C5.45 17 5 17.45 5 18C5 18.55 5.45 19 6 19H17V20.79C17 21.24 17.54 21.46 17.85 21.14L20.64 18.35C20.84 18.16 20.84 17.84 20.65 17.65Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-format-textdirection-l-to-r`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


