
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M17 16.99C15.65 16.99 14.8 17.41 14.05 17.79C13.4 18.12 12.87 18.39 12 18.39C11.1 18.39 10.6 18.14 9.95 17.79C9.2 17.41 8.38 16.99 7 16.99C5.62 16.99 4.8 17.41 4.05 17.79C3.62 18.01 3.24 18.2 2.78 18.31C2.33 18.41 2 18.77 2 19.22V19.32C2 19.92 2.56 20.35 3.14 20.23C3.88 20.08 4.44 19.8 4.95 19.54C5.6 19.21 6.12 18.94 7 18.94C7.88 18.94 8.4 19.19 9.05 19.54C9.8 19.92 10.62 20.34 12 20.34C13.38 20.34 14.2 19.92 14.95 19.54C15.6 19.21 16.13 18.94 17 18.94C17.9 18.94 18.4 19.19 19.05 19.54C19.57 19.8 20.13 20.09 20.88 20.24C21.46 20.35 22 19.91 22 19.33V19.24C22 18.78 21.66 18.42 21.21 18.32C20.75 18.22 20.38 18.03 19.95 17.8C19.2 17.41 18.35 16.99 17 16.99ZM17 12.54C15.65 12.54 14.8 12.97 14.05 13.34C13.4 13.66 12.87 13.94 12 13.94C11.1 13.94 10.6 13.69 9.95 13.34C9.2 12.96 8.38 12.54 7 12.54C5.62 12.54 4.8 12.97 4.05 13.34C3.62 13.55 3.24 13.75 2.77 13.86C2.33 13.96 2 14.32 2 14.77V14.87C2 15.46 2.54 15.9 3.12 15.78C3.87 15.63 4.43 15.34 4.95 15.09C5.6 14.74 6.1 14.49 7 14.49C7.9 14.49 8.4 14.74 9.05 15.09C9.8 15.47 10.62 15.89 12 15.89C13.38 15.89 14.2 15.46 14.95 15.09C15.6 14.74 16.1 14.49 17 14.49C17.9 14.49 18.4 14.74 19.05 15.09C19.57 15.35 20.13 15.64 20.88 15.79C21.46 15.9 22 15.46 22 14.87V14.78C22 14.32 21.66 13.96 21.21 13.86C20.75 13.76 20.38 13.57 19.95 13.34C19.2 12.96 18.35 12.54 17 12.54ZM19.95 4.46C19.2 4.08 18.37 3.66 17 3.66C15.63 3.66 14.8 4.08 14.05 4.46C13.4 4.78 12.87 5.06 12 5.06C11.1 5.06 10.6 4.81 9.95 4.46C9.2 4.09 8.38 3.66 7 3.66C5.62 3.66 4.8 4.08 4.05 4.46C3.62 4.68 3.24 4.87 2.78 4.98C2.33 5.08 2 5.44 2 5.89V5.96C2 6.56 2.54 7 3.12 6.88C3.87 6.73 4.43 6.44 4.95 6.19C5.6 5.86 6.12 5.59 7 5.59C7.88 5.59 8.4 5.84 9.05 6.19C9.8 6.57 10.62 6.99 12 6.99C13.38 6.99 14.2 6.56 14.95 6.19C15.6 5.87 16.13 5.59 17 5.59C17.9 5.59 18.4 5.84 19.05 6.19C19.57 6.45 20.13 6.74 20.88 6.89C21.46 7 22 6.56 22 5.97V5.88C22 5.42 21.66 5.06 21.21 4.96C20.75 4.86 20.38 4.68 19.95 4.46ZM17 8.09C15.65 8.09 14.8 8.52 14.05 8.89C13.4 9.24 12.9 9.49 12 9.49C11.1 9.49 10.6 9.24 9.95 8.89C9.2 8.51 8.38 8.09 7 8.09C5.62 8.09 4.8 8.52 4.05 8.89C3.62 9.12 3.25 9.31 2.79 9.41C2.34 9.51 2 9.87 2 10.33V10.42C2 11.01 2.54 11.45 3.12 11.33C3.87 11.18 4.43 10.89 4.95 10.64C5.6 10.32 6.13 10.04 7 10.04C7.87 10.04 8.4 10.29 9.05 10.64C9.8 11.02 10.62 11.44 12 11.44C13.38 11.44 14.2 11.01 14.95 10.64C15.6 10.32 16.13 10.04 17 10.04C17.9 10.04 18.4 10.29 19.05 10.64C19.57 10.9 20.13 11.19 20.88 11.34C21.46 11.45 22 11.01 22 10.43V10.34C22 9.88 21.66 9.52 21.21 9.42C20.75 9.32 20.38 9.13 19.95 8.9C19.2 8.51 18.35 8.09 17 8.09Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-waves`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


