
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M2 17V20H4V16H3C2.45 16 2 16.45 2 17Z' fill='#323232'/><path d='M9 16H5V20L9.69 19.99C10.07 19.99 10.41 19.78 10.58 19.44L11.45 17.54L9.86 14.06L9 16Z' fill='#323232'/><path d='M21.71 16.29C21.53 16.11 21.28 16 21 16H20V20H22V17C22 16.72 21.89 16.47 21.71 16.29Z' fill='#323232'/><path d='M13.6001 12.84L17.6501 4H14.3001L12.5401 7.97L12.0501 9.07L12.0001 9.21L9.7001 4H6.3501L10.4001 12.84L11.9201 16.16L12.0001 16.34L13.4201 19.44C13.5901 19.78 13.9301 19.99 14.3101 19.99L19.0001 20V16H15.0001L13.6001 12.84Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-sports-hockey`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


