
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M16.96 3.3C16.64 2.91 16.67 2.34 17.03 1.98L17.04 1.97C17.46 1.55 18.16 1.59 18.53 2.05C20.07 3.94 21 6.36 21 9C21 11.57 20.11 13.94 18.64 15.81L17.21 14.38C18.33 12.88 19 11.02 19 9C19 6.83 18.23 4.84 16.96 3.3ZM7.49 4.66C8.22999 4.24 9.08 4 10 4C12.8 4 15 6.2 15 9C15 9.8 14.77 10.69 14.37 11.54L15.85 13.02C15.87 12.98 15.9 12.94 15.93 12.89C16.62 11.65 17 10.26 17 9C17 5.07 13.93 2 10 2C8.51 2 7.15 2.44 6.03 3.2L7.49 4.66ZM10 6.5C9.79 6.5 9.6 6.53 9.41 6.58L12.42 9.59C12.47 9.4 12.5 9.21 12.5 9C12.5 7.62 11.38 6.5 10 6.5ZM20.49 20.49L3.51 3.51C3.12 3.12 2.49 3.12 2.1 3.51C1.71 3.9 1.71 4.53 2.1 4.92L3.52 6.34C3.32 6.83 3.17 7.34 3.09 7.88C2.99 8.47 3.47 9 4.06 9H4.1C4.58 9 4.99 8.65 5.06 8.18C5.08 8.1 5.1 8.02 5.12 7.95L11.74 14.57C10.86 15.25 9.96 15.98 9.47 17.47C8.97 18.97 8.47 19.48 7.76 19.85C7.56 19.94 7.29 20 7 20C6.12 20 5.37 19.42 5.1 18.63C4.97 18.24 4.57 18 4.15 18C3.49 18 3 18.64 3.2 19.26C3.73 20.85 5.23 22 7 22C7.57 22 8.13 21.88 8.64 21.65C10 20.94 10.77 19.92 11.37 18.1C11.69 17.12 12.27 16.67 13.08 16.05C13.11 16.03 13.13 16.01 13.16 15.99L19.07 21.9C19.46 22.29 20.09 22.29 20.48 21.9C20.88 21.51 20.88 20.88 20.49 20.49Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-hearing-disabled`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


