
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M9 5.5C9 6.33 9.67 7 10.5 7H14V17.5C14 18.33 14.67 19 15.5 19C16.33 19 17 18.33 17 17.5V7H20.5C21.33 7 22 6.33 22 5.5C22 4.67 21.33 4 20.5 4H10.5C9.67 4 9 4.67 9 5.5ZM4.5 12H6V17.5C6 18.33 6.67 19 7.5 19C8.33 19 9 18.33 9 17.5V12H10.5C11.33 12 12 11.33 12 10.5C12 9.67 11.33 9 10.5 9H4.5C3.67 9 3 9.67 3 10.5C3 11.33 3.67 12 4.5 12Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-format-size`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


