
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M16.5 8C16.78 8 17 7.78 17 7.5V3.5C17 3.22 16.78 3 16.5 3C16.22 3 16 3.22 16 3.5V7.5C16 7.78 16.22 8 16.5 8ZM12.5 7C12.22 7 12 7.22 12 7.5C12 7.78 12.22 8 12.5 8H14.45C14.75 8 15 7.75 15 7.45V5.55C15 5.25 14.75 5 14.45 5H13V4H14.5C14.78 4 15 3.78 15 3.5C15 3.22 14.78 3 14.5 3H12.55C12.25 3 12 3.25 12 3.55V5.44C12 5.75 12.25 6 12.55 6H14V7H12.5ZM20.45 3H18.56C18.25 3 18 3.25 18 3.55V7.5C18 7.78 18.22 8 18.5 8C18.78 8 19 7.78 19 7.5V6H20.45C20.75 6 21 5.75 21 5.45V3.55C21 3.25 20.75 3 20.45 3ZM20 5H19V4H20V5ZM19.21 15.27L16.67 14.98C16.06 14.91 15.46 15.12 15.03 15.55L13.19 17.39C10.36 15.95 8.04003 13.64 6.60003 10.8L8.45003 8.95C8.88003 8.52 9.09003 7.91 9.02003 7.31L8.73003 4.79C8.62003 3.78 7.76003 3.01 6.75003 3.01H5.02003C3.89003 3.01 2.95003 3.95 3.02003 5.08C3.55003 13.62 10.38 20.44 18.91 20.97C20.04 21.04 20.98 20.1 20.98 18.97V17.24C20.99 16.24 20.22 15.38 19.21 15.27Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-dialer-sip`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


