
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M20 3H12C11.45 3 11 3.45 11 4V5.61C11 5.61 11 5.61 11.01 5.62L16.01 10.12C16.64 10.68 17 11.5 17 12.35V13H19V15H17V17H19V19H17V21H20C20.55 21 21 20.55 21 20V4C21 3.45 20.55 3 20 3ZM15 7H13V5H15V7ZM19 11H17V9H19V11ZM19 7H17V5H19V7Z' fill='#323232'/><path d='M15 20V12.35C15 12.07 14.88 11.8 14.67 11.61L9.67 7.10998C9.48 6.92998 9.24 6.84998 9 6.84998C8.76 6.84998 8.52 6.93998 8.33 7.10998L3.33 11.61C3.12 11.79 3 12.06 3 12.35V20C3 20.55 3.45 21 4 21H6C6.55 21 7 20.55 7 20V16H11V20C11 20.55 11.45 21 12 21H14C14.55 21 15 20.55 15 20Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-home-work`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


