
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M10.88 21.94L16.41 16.4C16.78 16.03 16.99 15.52 16.99 14.99V5C16.99 3.9 16.09 3 14.99 3H6.00001C5.20001 3 4.48001 3.48 4.17001 4.21L0.910006 11.82C0.0600064 13.8 1.51001 16 3.66001 16H9.31001L8.36001 20.58C8.26001 21.08 8.41001 21.59 8.77001 21.95C9.36001 22.53 10.3 22.53 10.88 21.94ZM21 3C19.9 3 19 3.9 19 5V13C19 14.1 19.9 15 21 15C22.1 15 23 14.1 23 13V5C23 3.9 22.1 3 21 3Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-thumb-down`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


