
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M4.75 18.25C4.34 18.66 4.34 19.34 4.75 19.75C5.16 20.16 5.84 20.16 6.25 19.75L9 17H11L8.5 14.5L4.75 18.25ZM15 5C16.1 5 17 4.1 17 3C17 1.9 16.1 1 15 1C13.9 1 13 1.9 13 3C13 4.1 13.9 5 15 5ZM20.29 20.3L18.29 18.29C18.11 18.11 17.85 18 17.58 18H16.5L10.21 11.71C11 11.38 11.87 10.84 12.5 10.32V12.59L16.08 16.17C16.65 15.62 17 14.85 17 14.01V8.26C17 7.02 15.98 6 14.74 6H14.72C14.38 6 14.05 6.09 13.76 6.23C13.5 6.35 13.26 6.52 13.07 6.73L11.67 8.28C10.61 9.45 8.66 10.35 7 10.32C6.4 10.32 5.92 10.8 5.92 11.4C5.92 12 6.4 12.48 7 12.48C7.31 12.48 7.61 12.45 7.9 12.41L15.01 19.5V20.58C15.01 20.84 15.11 21.1 15.3 21.28L17.29 23.29C17.68 23.68 18.31 23.68 18.71 23.29L20.29 21.71C20.68 21.33 20.68 20.69 20.29 20.3Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-rowing`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


