
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M12 2C13.1 2 14 2.9 14 4C14 5.1 13.1 6 12 6C10.9 6 10 5.1 10 4C10 2.9 10.9 2 12 2ZM10 20C8.34 20 7 18.66 7 17C7 15.69 7.84 14.59 9 14.17V12.1C6.72 12.56 5 14.58 5 17C5 19.76 7.24 22 10 22C12.42 22 14.44 20.28 14.9 18H12.83C12.42 19.16 11.31 20 10 20ZM20.49 20.49L3.51 3.51C3.12 3.12 2.49 3.12 2.1 3.51C1.71 3.9 1.71 4.53 2.1 4.92L10 12.82V15C10 16.1 10.9 17 12 17H14.17L19.07 21.9C19.46 22.29 20.09 22.29 20.48 21.9C20.88 21.51 20.88 20.88 20.49 20.49ZM18.16 10.93C16.91 10.72 15.73 10.05 14.93 9.17L13.64 7.74C13.4 7.5 13.2 7.38 13.01 7.28C12.65 7.09 12.29 6.98 11.81 7.02C11.32 7.06 10.9 7.29 10.58 7.63L14 11.05C15 11.88 16.4 12.59 17.8 12.87C18.42 13 19 12.53 19 11.9C19 11.42 18.64 11.01 18.16 10.93Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-not-accessible`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


