
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M19 3H5C3.9 3 3 3.9 3 5V19C3 20.1 3.9 21 5 21H19C20.1 21 21 20.1 21 19V5C21 3.9 20.1 3 19 3ZM8.5 6C9.19 6 9.75 6.56 9.75 7.25C9.75 7.94 9.19 8.5 8.5 8.5C7.81 8.5 7.25 7.94 7.25 7.25C7.25 6.56 7.81 6 8.5 6ZM11 13C11 13.55 10.55 14 10 14V17C10 17.55 9.55 18 9 18H8C7.45 18 7 17.55 7 17V14C6.45 14 6 13.55 6 13V11.5C6 10.4 6.9 9.5 8 9.5H9C10.1 9.5 11 10.4 11 11.5V13ZM17.52 13.76L15.92 16.32C15.72 16.63 15.27 16.63 15.07 16.32L13.47 13.76C13.27 13.43 13.51 13 13.9 13H17.1C17.49 13 17.73 13.43 17.52 13.76ZM17.1 11H13.9C13.51 11 13.27 10.57 13.48 10.23L15.08 7.67C15.28 7.36 15.73 7.36 15.93 7.67L17.53 10.23C17.73 10.57 17.49 11 17.1 11Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-elevator`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


