
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M6.99997 5H17V6C17 6.55 17.45 7 18 7C18.55 7 19 6.55 19 6V3C19 1.9 18.1 1.01 17 1.01L6.99997 1C5.89997 1 4.99997 1.9 4.99997 3V6C4.99997 6.55 5.44997 7 5.99997 7C6.54997 7 6.99997 6.55 6.99997 6V5ZM16.12 15.88L19.29 12.71C19.68 12.32 19.68 11.69 19.29 11.3L16.12 8.13C15.73 7.74 15.09 7.74 14.7 8.13C14.31 8.52 14.31 9.15 14.7 9.54L17.17 12L14.7 14.47C14.31 14.86 14.31 15.49 14.7 15.88C15.09 16.27 15.73 16.27 16.12 15.88ZM9.28997 14.46L6.82997 12L9.28997 9.54C9.67997 9.15 9.67997 8.52 9.28997 8.13C8.89997 7.74 8.25997 7.74 7.86997 8.13L4.69997 11.3C4.30997 11.69 4.30997 12.32 4.69997 12.71L7.86997 15.88C8.25997 16.27 8.89997 16.27 9.28997 15.88C9.68997 15.49 9.67997 14.85 9.28997 14.46ZM17 19H6.99997V18C6.99997 17.45 6.54997 17 5.99997 17C5.44997 17 4.99997 17.45 4.99997 18V21C4.99997 22.1 5.89997 23 6.99997 23H17C18.1 23 19 22.1 19 21V18C19 17.45 18.55 17 18 17C17.45 17 17 17.45 17 18V19Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-developer-mode`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


