
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M20 4H6.83L14.83 12H19C19.55 12 20 12.45 20 13C20 13.55 19.55 14 19 14H16.83L21.76 18.93C21.91 18.65 22 18.34 22 18V6C22 4.9 21.1 4 20 4Z' fill='#323232'/><path d='M20 20.0001L14 14.0001L12.29 12.2901L12 12.0001L3.16 3.16005C2.77 2.77005 2.14 2.77005 1.75 3.16005C1.36 3.55005 1.36 4.18005 1.75 4.57005L2.24 5.06005C2.09 5.35005 2 5.66005 2 6.00005V18.0001C2 19.1001 2.9 20.0001 4 20.0001H17.17L19.42 22.2501C19.81 22.6401 20.44 22.6401 20.83 22.2501C21.22 21.8601 21.22 21.2301 20.83 20.8401L20 20.0001ZM8 13.0001C8 13.5501 7.55 14.0001 7 14.0001H5C4.45 14.0001 4 13.5501 4 13.0001C4 12.4501 4.45 12.0001 5 12.0001H7C7.55 12.0001 8 12.4501 8 13.0001ZM14 17.0001C14 17.5501 13.55 18.0001 13 18.0001H5C4.45 18.0001 4 17.5501 4 17.0001C4 16.4501 4.45 16.0001 5 16.0001H13C13.08 16.0001 13.14 16.0301 13.21 16.0401L13.95 16.7801C13.97 16.8601 14 16.9201 14 17.0001Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-subtitles-off`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


