
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M4.11 2.54C3.72 2.15 3.09 2.15 2.7 2.54C2.31 2.93 2.31 3.56 2.7 3.95L4.74 6H4C2.89 6 2.01 6.89 2.01 8L2 19C2 20.11 2.89 21 4 21H19.74L21.03 22.29C21.42 22.68 22.05 22.68 22.44 22.29C22.83 21.9 22.83 21.27 22.44 20.88L4.11 2.54ZM10 4H14V6H10.4L22 17.6V8C22 6.89 21.11 6 20 6H16V4C16 2.89 15.11 2 14 2H10C9.01 2 8.2 2.7 8.04 3.64L10 5.6V4Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-work-off`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


