
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M20 2H4C2.9 2 2.01 2.9 2.01 4L2 22L6 18H20C21.1 18 22 17.1 22 16V4C22 2.9 21.1 2 20 2ZM8 14H6V12H8V14ZM8 11H6V9H8V11ZM8 8H6V6H8V8ZM14 14H11C10.45 14 10 13.55 10 13C10 12.45 10.45 12 11 12H14C14.55 12 15 12.45 15 13C15 13.55 14.55 14 14 14ZM17 11H11C10.45 11 10 10.55 10 10C10 9.45 10.45 9 11 9H17C17.55 9 18 9.45 18 10C18 10.55 17.55 11 17 11ZM17 8H11C10.45 8 10 7.55 10 7C10 6.45 10.45 6 11 6H17C17.55 6 18 6.45 18 7C18 7.55 17.55 8 17 8Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-speaker-notes`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


