
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M19.3 4.70998C18.91 4.31998 18.28 4.31998 17.89 4.70998L7 15.59V9.99998C7 9.44998 6.55 8.99998 6 8.99998C5.45 8.99998 5 9.44998 5 9.99998V18C5 18.55 5.45 19 6 19H14C14.55 19 15 18.55 15 18C15 17.45 14.55 17 14 17H8.41L19.3 6.10998C19.68 5.72998 19.68 5.08998 19.3 4.70998Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-call-received`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


