
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M22 11V13H9V9C9 7.9 9.9 7 11 7H18C20.21 7 22 8.79 22 11ZM2 15C2 15.55 2.45 16 3 16H8V17C8 17.55 8.45 18 9 18H15C15.55 18 16 17.55 16 17V16H21C21.55 16 22 15.55 22 15C22 14.45 21.55 14 21 14H3C2.45 14 2 14.45 2 15ZM7.14 12.1C8.3 10.91 8.28 9.02 7.1 7.86C5.91 6.7 4.02 6.72 2.86 7.9C1.7 9.09 1.72 10.98 2.9 12.14C4.09 13.3 5.98 13.28 7.14 12.1Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-airline-seat-flat`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


