
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM13.5 6C14.05 6 14.5 6.45 14.5 7C14.5 7.55 14.05 8 13.5 8C12.95 8 12.5 7.55 12.5 7C12.5 6.45 12.95 6 13.5 6ZM15.41 11.91C14.7 11.71 13.78 11.17 13.09 10.25L12.68 12.6L13.87 13.9C13.95 13.98 14 14.1 14 14.22V17.5C14 17.78 13.78 18 13.5 18C13.22 18 13 17.78 13 17.5V14.42L11.89 13.21L11.46 15.36C11.41 15.63 11.14 15.81 10.87 15.75L8.09 15.18C7.82 15.12 7.64 14.86 7.7 14.59C7.76 14.32 8.02 14.15 8.29 14.2L10.58 14.67L11.54 9.78L10 10.35V11.5C10 11.78 9.78 12 9.5 12C9.22 12 9 11.78 9 11.5V10C9 9.79 9.13 9.6 9.33 9.53L12.28 8.44C12.77 8.26 13.3 8.48 13.53 8.95C14.18 10.3 15.08 10.8 15.63 10.95C15.85 11 16 11.18 16 11.4V11.44C16 11.75 15.71 11.99 15.41 11.91Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-run-circle`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


