
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M14 9H10C9.45 9 9 9.45 9 10V14C9 14.55 9.45 15 10 15H14C14.55 15 15 14.55 15 14V10C15 9.45 14.55 9 14 9ZM13 13H11V11H13V13ZM21 10C21 9.45 20.55 9 20 9H19V7C19 5.9 18.1 5 17 5H15V4C15 3.45 14.55 3 14 3C13.45 3 13 3.45 13 4V5H11V4C11 3.45 10.55 3 10 3C9.45 3 9 3.45 9 4V5H7C5.9 5 5 5.9 5 7V9H4C3.45 9 3 9.45 3 10C3 10.55 3.45 11 4 11H5V13H4C3.45 13 3 13.45 3 14C3 14.55 3.45 15 4 15H5V17C5 18.1 5.9 19 7 19H9V20C9 20.55 9.45 21 10 21C10.55 21 11 20.55 11 20V19H13V20C13 20.55 13.45 21 14 21C14.55 21 15 20.55 15 20V19H17C18.1 19 19 18.1 19 17V15H20C20.55 15 21 14.55 21 14C21 13.45 20.55 13 20 13H19V11H20C20.55 11 21 10.55 21 10ZM16 17H8C7.45 17 7 16.55 7 16V8C7 7.45 7.45 7 8 7H16C16.55 7 17 7.45 17 8V16C17 16.55 16.55 17 16 17Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-memory`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


