
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M20.3 17.6L3.83 18.46C3.42 18.48 3.06 18.16 3.04 17.75C3.02 17.34 3.34 16.98 3.75 16.96L20.23 16.1C20.64 16.08 21 16.4 21.02 16.81C21.04 17.22 20.72 17.58 20.3 17.6ZM20.25 19.48H3.75C3.34 19.48 3 19.82 3 20.23C3 20.64 3.34 20.98 3.75 20.98H20.25C20.66 20.98 21 20.64 21 20.23C21 19.82 20.66 19.48 20.25 19.48ZM22 5V12C22 13.1 21.1 14 20 14H4C2.9 14 2 13.1 2 12V5C2 3.9 2.9 3 4 3H20C21.1 3 22 3.9 22 5ZM19.12 6.09C17.87 6.36 16.93 7.2 16.79 8.23C16.15 7.5 14.06 5.5 10.25 5.5C6.81 5.5 4.77 7.13 3.94 7.99C3.66 8.28 3.66 8.73 3.94 9.02C4.77 9.88 6.81 11.51 10.25 11.51C14.06 11.51 16.15 9.51 16.79 8.78C16.93 9.8 17.87 10.64 19.12 10.92C19.58 11.02 20 10.64 20 10.18V6.84C20 6.37 19.57 5.99 19.12 6.09Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-set-meal`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


