
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M9 12C9 13.66 10.34 15 12 15C13.66 15 15 13.66 15 12C15 10.34 13.66 9 12 9C10.34 9 9 10.34 9 12Z' fill='#323232'/><path d='M8 9C8 8.45 7.55 8 7 8H5.09C6.47 5.61 9.05 4 12 4C15.49 4 18.45 6.24 19.54 9.36C19.68 9.75 20.07 10 20.48 10C21.16 10 21.66 9.33 21.44 8.69C20.07 4.79 16.36 2 12 2C8.73 2 5.82 3.58 4 6.01V5C4 4.45 3.55 4 3 4C2.45 4 2 4.45 2 5V9C2 9.55 2.45 10 3 10H7C7.55 10 8 9.55 8 9Z' fill='#323232'/><path d='M16.0001 15C16.0001 15.55 16.4501 16 17.0001 16H18.9101C17.5301 18.39 14.9501 20 12.0001 20C8.5101 20 5.5501 17.76 4.4601 14.64C4.3201 14.25 3.9301 14 3.5201 14C2.8401 14 2.3401 14.67 2.5601 15.31C3.9301 19.21 7.6401 22 12.0001 22C15.2701 22 18.1801 20.42 20.0001 17.99V19C20.0001 19.55 20.4501 20 21.0001 20C21.5501 20 22.0001 19.55 22.0001 19V15C22.0001 14.45 21.5501 14 21.0001 14H17.0001C16.4501 14 16.0001 14.45 16.0001 15Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-flip-camera-android`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


