
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M20 5H16.83L15.59 3.65C15.22 3.24 14.68 3 14.12 3H9.88C9.32 3 8.78 3.24 8.4 3.65L7.17 5H4C2.9 5 2 5.9 2 7V19C2 20.1 2.9 21 4 21H11V18.91C8.55 18.49 6.59 16.59 6.11 14.16C5.99 13.55 6.49 13 7.1 13C7.59 13 7.98 13.35 8.08 13.83C8.47 15.64 10.07 17 12 17C13.93 17 15.53 15.64 15.91 13.83C16.01 13.35 16.41 13 16.89 13C17.5 13 18 13.55 17.88 14.16C17.4 16.59 15.44 18.5 12.99 18.91V21H19.99C21.09 21 21.99 20.1 21.99 19V7C22 5.9 21.1 5 20 5ZM14 13C14 14.1 13.1 15 12 15C10.9 15 10 14.1 10 13V9C10 7.9 10.9 7 12 7C13.1 7 14 7.9 14 9V13Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-perm-camera-mic`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


