
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M17 11V13H16.12L20.45 17.33C21.43 15.79 22 13.96 22 12C22 6.48 17.52 2 12 2C10.04 2 8.20998 2.57 6.66998 3.55L14.12 11H17ZM21.17 20.88L3.11998 2.83C2.72998 2.44 2.09998 2.44 1.70998 2.83C1.31998 3.22 1.31998 3.85 1.70998 4.24L3.77998 6.31C2.65998 7.93 1.99998 9.89 1.99998 12C1.99998 17.52 6.47998 22 12 22C14.11 22 16.07 21.34 17.68 20.22L19.75 22.29C20.14 22.68 20.77 22.68 21.16 22.29C21.56 21.9 21.56 21.27 21.17 20.88ZM6.99998 13V11H8.45998L10.46 13H6.99998Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-do-disturb-off`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


