
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M12 20L11.14 19.14C9.96 17.96 9.97 16.04 11.16 14.88L12 14.06C11.61 14.02 11.32 14 11 14C8.33 14 3 15.34 3 18V20H12ZM11 12C13.21 12 15 10.21 15 8C15 5.79 13.21 4 11 4C8.79 4 7 5.79 7 8C7 10.21 8.79 12 11 12Z' fill='#323232'/><path d='M16.18 19.78C15.79 20.17 15.15 20.17 14.76 19.78L12.69 17.69C12.31 17.3 12.31 16.68 12.69 16.3L12.7 16.29C13.09 15.9 13.72 15.9 14.1 16.29L15.47 17.66L19.9 13.2C20.29 12.81 20.92 12.81 21.31 13.2L21.32 13.21C21.7 13.6 21.7 14.22 21.32 14.6L16.18 19.78Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-how-to-reg`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


