
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M19 3H5C3.9 3 3 3.9 3 5V19C3 20.1 3.89 21 5 21H19C20.1 21 21 20.1 21 19V5C21 3.9 20.11 3 19 3ZM12 12.76C12 13.17 11.66 13.51 11.25 13.51H11V14.25C11 14.66 10.66 15 10.25 15C9.84 15 9.5 14.66 9.5 14.25V13.5H7.5C6.95 13.5 6.5 13.05 6.5 12.5V9.75C6.5 9.34 6.84 9 7.25 9C7.66 9 8 9.34 8 9.75V12H9.5V9.75C9.5 9.34 9.84 9 10.25 9C10.66 9 11 9.34 11 9.75V12H11.25C11.66 12 12 12.34 12 12.75V12.76ZM17.47 13.9C17.69 14.23 17.6 14.67 17.27 14.88C17.15 14.96 17.01 15 16.88 15C16.65 15 16.43 14.89 16.29 14.68L14.5 12V14.24C14.5 14.65 14.16 14.99 13.75 14.99C13.34 15 13 14.66 13 14.25V9.75C13 9.34 13.34 9 13.75 9C14.16 9 14.5 9.34 14.5 9.75V11.99L16.29 9.31C16.51 8.98 16.95 8.9 17.27 9.11C17.6 9.33 17.68 9.77 17.47 10.09L16.2 12L17.47 13.9Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-4k`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


