
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M10 14H10.74L8.82 5.56C8.61 4.65 7.8 4 6.87 4H4C3.45 4 3 4.45 3 5C3 5.55 3.45 6 4 6H6.87L8.29 12.25H8.28C6.12 12.9 4.47 14.73 4.09 17H0V19H6V18C6 15.79 7.79 14 10 14Z' fill='#323232'/><path d='M18.7499 8H18.1899L16.8399 4.31C16.5499 3.52 15.7999 3 14.9599 3H11.9999C11.4499 3 10.9999 3.45 10.9999 4C10.9999 4.55 11.4499 5 11.9999 5H14.9599L16.0599 8H10.3999L10.8599 10H14.9999C14.5699 10.58 14.2499 11.25 14.0999 12H11.3099L11.7699 14H14.0999C14.5399 16.23 16.4099 17.88 18.7499 17.99C21.9099 18.14 24.6299 15.16 23.8699 11.89C23.3399 9.57 21.1299 8 18.7499 8ZM18.8799 16C17.3399 15.94 16.0399 14.63 15.9999 13.08C15.9799 12.12 16.3899 11.28 17.0499 10.72L17.6699 12.42C17.8599 12.94 18.4299 13.21 18.9499 13.02C19.4699 12.83 19.7399 12.26 19.5499 11.74L18.9199 10.01C18.9199 10.01 18.9199 10.01 18.9299 10C20.6399 9.96 21.9999 11.29 21.9999 13C21.9999 14.72 20.6199 16.06 18.8799 16Z' fill='#323232'/><path d='M10 15C8.34 15 7 16.34 7 18C7 19.66 8.34 21 10 21C11.66 21 13 19.66 13 18C13 16.34 11.66 15 10 15ZM10 19C9.45 19 9 18.55 9 18C9 17.45 9.45 17 10 17C10.55 17 11 17.45 11 18C11 18.55 10.55 19 10 19Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-bike-scooter`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


