
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M18.18 10L16.48 5.32C16.19 4.53 15.44 4 14.6 4H13C12.45 4 12 4.45 12 5C12 5.55 12.45 6 13 6H14.6L16.06 10H11.25L10.89 9H10.98C11.53 9 11.98 8.55 11.98 8C11.98 7.45 11.53 7 10.98 7H8C7.45 7 7 7.45 7 8C7 8.55 7.45 9 8 9H8.75L10.57 14H9.9C9.46 11.77 7.59 10.12 5.25 10.01C2.45 9.87 0 12.2 0 15C0 17.8 2.2 20 5 20C7.46 20 9.45 18.31 9.9 16H14.1C14.54 18.23 16.41 19.88 18.75 19.99C21.55 20.12 24 17.8 24 14.99C24 12.19 21.8 9.99 19 9.99H18.18V10ZM7.82 16C7.4 17.23 6.22 18.08 4.8 17.99C3.31 17.9 2.07 16.64 2 15.14C1.93 13.39 3.27 12 5 12C6.33 12 7.42 12.83 7.82 14H6C5.45 14 5 14.45 5 15C5 15.55 5.45 16 6 16H7.82ZM14.1 14H12.7L11.97 12H15C14.56 12.58 14.24 13.25 14.1 14ZM18.88 18C17.34 17.94 16.04 16.63 16 15.08C15.98 14.12 16.39 13.28 17.05 12.72L17.67 14.42C17.86 14.94 18.43 15.21 18.95 15.02C19.47 14.83 19.74 14.26 19.55 13.74L18.92 12.01C18.92 12.01 18.92 12.01 18.93 12C20.65 11.96 22.01 13.29 22.01 15C22 16.72 20.62 18.06 18.88 18Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-pedal-bike`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


