
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M17 4C16.45 4 16 4.45 16 5V11.9L18 9.9V5C18 4.45 17.55 4 17 4Z' fill='#323232'/><path d='M5 20C5.55 20 6 19.55 6 19V5C6 4.45 5.55 4 5 4C4.45 4 4 4.45 4 5V19C4 19.55 4.45 20 5 20Z' fill='#323232'/><path d='M11 8C11.55 8 12 7.55 12 7V5C12 4.45 11.55 4 11 4C10.45 4 10 4.45 10 5V7C10 7.55 10.45 8 11 8Z' fill='#323232'/><path d='M11 14C11.55 14 12 13.55 12 13V11C12 10.45 11.55 10 11 10C10.45 10 10 10.45 10 11V13C10 13.55 10.45 14 11 14Z' fill='#323232'/><path d='M11 20C11.55 20 12 19.55 12 19V17C12 16.45 11.55 16 11 16C10.45 16 10 16.45 10 17V19C10 19.55 10.45 20 11 20Z' fill='#323232'/><path d='M22.56 12.59L21.41 11.44C20.82 10.85 19.87 10.85 19.29 11.44L14 16.73V19.5C14 19.78 14.22 20 14.5 20H17.27L22.56 14.71C23.15 14.12 23.15 13.17 22.56 12.59ZM16.58 18.45H15.55V17.42L19 13.97L20.03 15L16.58 18.45Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-edit-road`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


