
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M22 9V15C22 16.1 21.1 17 20 17H19V15H20V9H4V15H10V17H4C2.9 17 2 16.1 2 15V9C2 7.9 2.9 7 4 7H20C21.1 7 22 7.9 22 9ZM14.04 17.99C14.22 18.38 14.77 18.38 14.95 17.99L15.58 16.59L16.98 15.96C17.37 15.78 17.37 15.23 16.98 15.05L15.58 14.42L14.95 13.02C14.77 12.63 14.22 12.63 14.04 13.02L13.41 14.42L12.01 15.05C11.62 15.23 11.62 15.78 12.01 15.96L13.41 16.59L14.04 17.99ZM16.74 13.43C16.84 13.65 17.16 13.65 17.26 13.43L17.62 12.63L18.42 12.27C18.64 12.17 18.64 11.85 18.42 11.75L17.62 11.39L17.26 10.59C17.16 10.37 16.84 10.37 16.74 10.59L16.38 11.39L15.58 11.75C15.36 11.85 15.36 12.17 15.58 12.27L16.38 12.63L16.74 13.43Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-smart-button`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


