
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M7 19H17V20C17 21.1 16.1 22 15 22H9C7.9 22 7 21.1 7 20V19ZM7 18H17V13H7V18ZM17 4.23V7.77C17 8.4 16.42 8.88 15.79 8.75L13.85 8.34C13.85 8.36 13.85 8.35 13.84 8.37C15.38 8.99 16.55 10.35 16.9 12H7.1C7.44 10.34 8.62 8.98 10.17 8.36C9.84 8.1 9.57 7.78 9.37 7.41L5.49 6.6C5.2 6.54 5 6.29 5 6C5 5.71 5.2 5.46 5.49 5.4L9.37 4.59C9.87 3.65 10.86 3 12 3C12.7 3 13.34 3.25 13.85 3.66L15.79 3.25C16.42 3.12 17 3.6 17 4.23ZM13 6C12.97 5.41 12.55 5 12 5C11.45 5 11 5.45 11 6C11 6.55 11.45 7 12 7C12.55 7 13 6.55 13 6Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-fire-extinguisher`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


