
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M7.59 5.41C6.81 4.63 6.81 3.36 7.59 2.58C8.37 1.8 9.64 1.8 10.42 2.58C11.2 3.36 11.2 4.63 10.42 5.41C9.63 6.2 8.37 6.2 7.59 5.41ZM6 16V8C6 7.45 5.55 7 5 7C4.45 7 4 7.45 4 8V16C4 18.76 6.24 21 9 21H14C14.55 21 15 20.55 15 20C15 19.45 14.55 19 14 19H9C7.34 19 6 17.66 6 16ZM19.28 19.35L15.51 15.58C15.14 15.21 14.63 15 14.1 15H11.5V11.32C12.59 12.21 14.16 13.02 15.7 13.34C16.37 13.48 17 12.98 17 12.3C17 11.77 16.61 11.34 16.08 11.25C14.66 11.01 13.2 10.24 12.33 9.27999L10.93 7.73C10.74 7.52 10.5 7.35 10.24 7.23C9.95 7.09 9.62 7 9.28 7H9.25C8.01 7 7 8.01 7 9.25V15C7 16.66 8.34 18 10 18H15.07L17.85 20.78C18.24 21.17 18.89 21.17 19.28 20.78C19.68 20.39 19.68 19.75 19.28 19.35Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-airline-seat-recline-normal`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


