
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M19.41 7.41L14.58 2.58C14.21 2.21 13.7 2 13.17 2H6C4.9 2 4.01 2.9 4.01 4L4 20C4 21.1 4.89 22 5.99 22H18C19.1 22 20 21.1 20 20V8.83C20 8.3 19.79 7.79 19.41 7.41ZM12 18C10.35 18 8.81 17.19 7.88 15.83C7.65 15.49 7.73 15.02 8.07 14.79C8.41 14.55 8.88 14.64 9.11 14.98C9.76 15.93 10.84 16.5 11.99 16.5C13.92 16.5 15.49 14.93 15.49 13C15.49 11.07 13.93 9.5 12 9.5C10.67 9.5 9.48 10.24 8.89 11.39L10.5 13H7C6.72 13 6.5 12.78 6.5 12.5V9L7.8 10.3C8.71 8.89 10.26 8 12 8C14.76 8 17 10.24 17 13C17 15.76 14.76 18 12 18Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-restore-page`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


