
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M20 4H4C2.89 4 2.01 4.89 2.01 6L2 18C2 19.11 2.89 20 4 20H20C21.11 20 22 19.11 22 18V6C22 4.89 21.11 4 20 4ZM8.5 14.21C8.5 14.64 8.14 15 7.71 15C7.46 15 7.22 14.88 7.07 14.67L4.75 11.5V14.38C4.75 14.73 4.47 15 4.13 15C3.79 15 3.5 14.72 3.5 14.38V9.79C3.5 9.36 3.86 9 4.29 9H4.34C4.6 9 4.84 9.12 4.99 9.33L7.25 12.5V9.62C7.25 9.28 7.53 9 7.88 9C8.23 9 8.5 9.28 8.5 9.62V14.21ZM13.5 9.64C13.5 9.99 13.22 10.26 12.88 10.26H11V11.38H12.88C13.23 11.38 13.5 11.66 13.5 12V12.01C13.5 12.36 13.22 12.63 12.88 12.63H11V13.74H12.88C13.23 13.74 13.5 14.02 13.5 14.36C13.5 14.71 13.22 14.98 12.88 14.98H10.35C9.88 14.98 9.5 14.6 9.5 14.13V9.83C9.5 9.38 9.88 9 10.35 9H12.88C13.23 9 13.5 9.28 13.5 9.62V9.64ZM20.5 14C20.5 14.55 20.05 15 19.5 15H15.5C14.95 15 14.5 14.55 14.5 14V9.62C14.5 9.28 14.78 9 15.12 9C15.46 9 15.74 9.28 15.74 9.62V13.51H16.87V10.61C16.87 10.26 17.15 9.99 17.49 9.99C17.83 9.99 18.11 10.27 18.11 10.61V13.5H19.23V9.62C19.23 9.27 19.51 9 19.85 9C20.19 9 20.47 9.28 20.47 9.62V14H20.5Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-fiber-new`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


