
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M2 10C2 10.55 2.45 11 3 11H20C20.55 11 21 10.55 21 10C21 9.45 20.55 9 20 9H3C2.45 9 2 9.45 2 10ZM3 15H6C6.55 15 7 14.55 7 14C7 13.45 6.55 13 6 13H3C2.45 13 2 13.45 2 14C2 14.55 2.45 15 3 15ZM10 15H13C13.55 15 14 14.55 14 14C14 13.45 13.55 13 13 13H10C9.45 13 9 13.45 9 14C9 14.55 9.45 15 10 15ZM17 15H20C20.55 15 21 14.55 21 14C21 13.45 20.55 13 20 13H17C16.45 13 16 13.45 16 14C16 14.55 16.45 15 17 15Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-power-input`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


