
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M18 13H19V15H14V9H20C20.55 9 21 8.55 21 8C21 7.45 20.55 7 20 7H14C12.9 7 12 7.9 12 9V15C12 16.1 12.9 17 14 17H19C20.1 17 21 16.1 21 15V12C21 11.45 20.55 11 20 11H18C17.45 11 17 11.45 17 12C17 12.55 17.45 13 18 13Z' fill='#323232'/><path d='M4 13H8V15H4C3.45 15 3 15.45 3 16C3 16.55 3.45 17 4 17H8C9.1 17 10 16.1 10 15V13C10 11.9 9.1 11 8 11H5V9H9C9.55 9 10 8.55 10 8C10 7.45 9.55 7 9 7H4C3.45 7 3 7.45 3 8V12C3 12.55 3.45 13 4 13Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-5g`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


