
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M17 1H7C5.9 1 5 1.9 5 3V21C5 22.1 5.9 23 7 23H17C18.1 23 19 22.1 19 21V3C19 1.9 18.1 1 17 1ZM17 19H7V5H17V19ZM11 16H13V18H11V16ZM9.52 10.19H9.65C9.98 10.19 10.24 9.96 10.35 9.65C10.59 8.96 11.26 8.44 12.01 8.44C12.94 8.44 13.76 9.26 13.76 10.19C13.76 11.51 12.27 11.74 11.53 13.01H11.52C11.44 13.15 11.38 13.3 11.32 13.46C11.31 13.48 11.3 13.49 11.3 13.51C11.29 13.53 11.29 13.55 11.29 13.56C11.19 13.87 11.13 14.22 11.13 14.64H12.89C12.89 14.39 12.93 14.17 13.01 13.97C13.55 12.5 15.78 12.11 15.49 9.79C15.3 8.24 14.06 6.95 12.51 6.75C10.74 6.52 9.22 7.53 8.7 9.05C8.5 9.61 8.93 10.19 9.52 10.19Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-device-unknown`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


