
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M11 6V10.59H8.71C8.26 10.59 8.04 11.13 8.36 11.44L11.65 14.73C11.85 14.93 12.16 14.93 12.36 14.73L15.65 11.44C15.96 11.13 15.74 10.59 15.3 10.59H13V6C13 5.45 12.55 5 12 5C11.45 5 11 5.45 11 6ZM7.1 14C6.49 14 5.99 14.55 6.11 15.15C6.65 17.91 9.08 20 12 20C14.92 20 17.35 17.91 17.89 15.15C18.01 14.55 17.51 14 16.9 14C16.41 14 16.02 14.35 15.92 14.83C15.53 16.64 13.93 18 12 18C10.07 18 8.47 16.64 8.09 14.83C7.99 14.35 7.59 14 7.1 14Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-play-for-work`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


