
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M12.6002 18.06C12.2402 18.34 11.7302 18.34 11.3702 18.06L5.22018 13.28C4.86018 13 4.36018 13 4.00018 13.28C3.49018 13.68 3.49018 14.45 4.00018 14.85L10.7602 20.11C11.4802 20.67 12.4902 20.67 13.2202 20.11L19.9802 14.85C20.4902 14.45 20.4902 13.68 19.9802 13.28L19.9702 13.27C19.6102 12.99 19.1102 12.99 18.7502 13.27L12.6002 18.06ZM13.2302 15.04L19.9902 9.77999C20.5002 9.37999 20.5002 8.59999 19.9902 8.19999L13.2302 2.93999C12.5102 2.37999 11.5002 2.37999 10.7702 2.93999L4.01018 8.20999C3.50018 8.60999 3.50018 9.38999 4.01018 9.78999L10.7702 15.05C11.4902 15.61 12.5102 15.61 13.2302 15.04Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-layers`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


