
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M19 3H5C3.9 3 3 3.9 3 5V19C3 20.1 3.9 21 5 21H19C20.1 21 21 20.1 21 19V5C21 3.9 20.1 3 19 3ZM6.75 7H10.25C10.66 7 11 7.34 11 7.75C11 8.16 10.66 8.5 10.25 8.5H6.75C6.34 8.5 6 8.16 6 7.75C6 7.34 6.34 7 6.75 7ZM18 19H5L19 5V18C19 18.55 18.55 19 18 19ZM14.5 16V17.25C14.5 17.66 14.84 18 15.25 18C15.66 18 16 17.66 16 17.25V16H17.25C17.66 16 18 15.66 18 15.25C18 14.84 17.66 14.5 17.25 14.5H16V13.25C16 12.84 15.66 12.5 15.25 12.5C14.84 12.5 14.5 12.84 14.5 13.25V14.5H13.25C12.84 14.5 12.5 14.84 12.5 15.25C12.5 15.66 12.84 16 13.25 16H14.5Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-exposure`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


