
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M9.00022 6C9.00022 6.56 9.45021 7 10.0002 7H15.5902L4.70021 17.89C4.31021 18.28 4.31021 18.91 4.70021 19.3C5.09021 19.69 5.72022 19.69 6.11022 19.3L17.0002 8.41V14C17.0002 14.55 17.4502 15 18.0002 15C18.5502 15 19.0002 14.55 19.0002 14V6C19.0002 5.45 18.5502 5 18.0002 5H10.0002C9.45021 5 9.00022 5.45 9.00022 6Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-north-east`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


