
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M19.9999 8.69V5C19.9999 4.45 19.5499 4 18.9999 4H15.3099L12.7099 1.4C12.3199 1.01 11.6899 1.01 11.2999 1.4L8.68992 4H4.99992C4.44992 4 3.99992 4.45 3.99992 5V8.69L1.39992 11.29C1.00992 11.68 1.00992 12.31 1.39992 12.7L3.99992 15.3V19C3.99992 19.55 4.44992 20 4.99992 20H8.68992L11.2899 22.6C11.6799 22.99 12.3099 22.99 12.6999 22.6L15.2999 20H18.9999C19.5499 20 19.9999 19.55 19.9999 19V15.31L22.5999 12.71C22.9899 12.32 22.9899 11.69 22.5999 11.3L19.9999 8.69ZM11.9999 18C8.68992 18 5.99992 15.31 5.99992 12C5.99992 8.69 8.68992 6 11.9999 6C15.3099 6 17.9999 8.69 17.9999 12C17.9999 15.31 15.3099 18 11.9999 18ZM11.9999 8C9.78992 8 7.99992 9.79 7.99992 12C7.99992 14.21 9.78992 16 11.9999 16C14.2099 16 15.9999 14.21 15.9999 12C15.9999 9.79 14.2099 8 11.9999 8Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-brightness-7`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


