
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M4 12V4C4 3.45 3.55 3 3 3C2.45 3 2 3.45 2 4V12C2 14.76 4.24 17 7 17H12C12.55 17 13 16.55 13 16C13 15.45 12.55 15 12 15H7C5.34 15 4 13.66 4 12ZM22.83 17.24C22.45 16.52 21.54 16.27 20.8 16.61L19.71 17.11L16.3 10.13C15.96 9.45 15.27 9 14.51 9H11V3H5V11C5 12.66 6.34 14 8 14H15L17.56 19.25C18.04 20.23 19.2 20.64 20.19 20.19L22.14 19.3C22.9 18.94 23.23 18 22.83 17.24Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-airline-seat-legroom-extra`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


