
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M19 4H5C3.89 4 3 4.9 3 6V18C3 19.1 3.9 20 5 20H8C8.55 20 9 19.55 9 19C9 18.45 8.55 18 8 18H5V8H19V18H16C15.45 18 15 18.45 15 19C15 19.55 15.45 20 16 20H19C20.1 20 21 19.1 21 18V6C21 4.9 20.11 4 19 4ZM11.65 10.35L8.86 13.14C8.54 13.46 8.76 14 9.21 14H11V19C11 19.55 11.45 20 12 20C12.55 20 13 19.55 13 19V14H14.79C15.24 14 15.46 13.46 15.14 13.15L12.35 10.36C12.16 10.16 11.84 10.16 11.65 10.35Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-open-in-browser`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


