
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M10.5101 12.73L7.30005 7.72C6.82005 6.97 7.35005 6 8.23005 6C8.62005 6 8.97005 6.2 9.18005 6.53L11.94 10.99H12.0601L14.8001 6.54C15.0001 6.2 15.3601 6 15.7501 6C16.6301 6 17.1701 6.98 16.6901 7.72L13.4601 12.72L17.0101 18.27C17.5001 19.02 16.9601 20 16.0801 20C15.7001 20 15.3401 19.8 15.1301 19.48L12.0601 14.59H11.94L8.87005 19.48C8.66005 19.8 8.31005 20 7.92005 20C7.04005 20 6.50005 19.03 6.98005 18.28L10.5101 12.73ZM23 8.5C23 8.22 22.7801 8 22.5001 8H20.0001V7H22.0001C22.5501 7 23 6.55 23 6V5C23 4.45 22.5501 4 22.0001 4H19.5001C19.2201 4 19.0001 4.22 19.0001 4.5C19.0001 4.78 19.2201 5 19.5001 5H22.0001V6H20.0001C19.4501 6 19.0001 6.45 19.0001 7V8C19.0001 8.55 19.4501 9 20.0001 9H22.5001C22.7801 9 23 8.78 23 8.5Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-superscript`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


