
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M15.9802 10.28L14.6002 11.66C14.4002 11.86 14.4002 12.17 14.6002 12.37L15.9802 13.75C16.2602 14.03 16.7302 13.9 16.8302 13.52C16.9402 13.02 17.0002 12.52 17.0002 12C17.0002 11.49 16.9402 10.99 16.8202 10.52C16.7302 10.14 16.2602 10 15.9802 10.28ZM20.1002 7.78C19.8502 7.23 19.1202 7.11 18.7002 7.54C18.4402 7.8 18.3902 8.18 18.5302 8.52C18.9902 9.59 19.2502 10.76 19.2502 11.99C19.2502 13.23 18.9902 14.41 18.5202 15.48C18.3802 15.8 18.4302 16.17 18.6802 16.42C19.0902 16.83 19.7802 16.71 20.0302 16.19C20.6602 14.89 21.0102 13.43 21.0102 11.89C21.0002 10.44 20.6802 9.04 20.1002 7.78ZM11.3902 12L14.9802 8.42C15.3702 8.03 15.3702 7.4 14.9802 7L10.6902 2.71C10.0602 2.08 8.98019 2.53 8.98019 3.42V9.6L5.0902 5.7C4.7002 5.31 4.0702 5.31 3.6802 5.7C3.2902 6.09 3.2902 6.72 3.6802 7.11L8.57019 12L3.6802 16.89C3.2902 17.28 3.2902 17.91 3.6802 18.3C4.0702 18.69 4.7002 18.69 5.0902 18.3L8.98019 14.41V20.59C8.98019 21.48 10.0602 21.93 10.6902 21.3L14.9902 17C15.3802 16.61 15.3802 15.98 14.9902 15.58L11.3902 12ZM10.9802 5.83L12.8602 7.71L10.9802 9.59V5.83ZM10.9802 18.17V14.41L12.8602 16.29L10.9802 18.17Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-bluetooth-audio`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


