
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M3.14 16.09C2.54 15.99 2 16.48 2 17.09C2 17.58 2.36 17.99 2.85 18.07C4.93 18.43 6.57 20.07 6.93 22.15C7.01 22.64 7.42 23 7.91 23C8.52 23 9 22.46 8.91 21.86C8.43 18.91 6.1 16.57 3.14 16.09ZM2 20V23H5C5 21.34 3.66 20 2 20ZM3.11 12.06C2.52 12 2 12.46 2 13.05C2 13.55 2.37 13.99 2.87 14.04C7.14 14.45 10.54 17.85 10.95 22.12C11 22.62 11.43 23 11.94 23C12.53 23 13 22.49 12.94 21.9C12.43 16.7 8.31 12.58 3.11 12.06ZM17 1.01L7 1C5.9 1 5 1.9 5 3V10.37C5.69 10.53 6.36 10.74 7 11.01V5H17V18H13.97C14.49 19.25 14.81 20.59 14.92 22H17C18.1 22 19 21.1 19 20V3C19 1.9 18.1 1.01 17 1.01Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-tap-and-play`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


