
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M12.35 15.65L15.14 12.86C15.45 12.55 15.23 12.01 14.79 12.01H13V4C13 3.45 12.55 3 12 3C11.45 3 11 3.45 11 4V12H9.21C8.76 12 8.54 12.54 8.86 12.85L11.65 15.64C11.84 15.84 12.16 15.84 12.35 15.65ZM21 3H15.99C15.45 3 15 3.45 15 3.99C15 4.54 15.45 4.98 15.99 4.98H20C20.55 4.98 21 5.43 21 5.98V18.01C21 18.56 20.55 19.01 20 19.01H4C3.45 19.01 3 18.56 3 18.01V5.99C3 5.44 3.45 4.99 4 4.99H8.01C8.55 4.99 9 4.54 9 4C9 3.45 8.55 3 8.01 3H3C1.9 3 1 3.9 1 5V19C1 20.1 1.9 21 3 21H21C22.1 21 23 20.1 23 19V5C23 3.9 22.1 3 21 3Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-system-update-alt`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


