
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M7.00002 7H17V8.79C17 9.24 17.54 9.46 17.85 9.14L20.64 6.35C20.84 6.15 20.84 5.84 20.64 5.64L17.85 2.85C17.54 2.54 17 2.76 17 3.21V5H6.00002C5.45002 5 5.00002 5.45 5.00002 6V10C5.00002 10.55 5.45002 11 6.00002 11C6.55002 11 7.00002 10.55 7.00002 10V7ZM17 17H7.00002V15.21C7.00002 14.76 6.46002 14.54 6.15002 14.86L3.36002 17.65C3.16002 17.85 3.16002 18.16 3.36002 18.36L6.15002 21.15C6.46002 21.46 7.00002 21.24 7.00002 20.79V19H18C18.55 19 19 18.55 19 18V14C19 13.45 18.55 13 18 13C17.45 13 17 13.45 17 14V17Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-repeat`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


