
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M18.05 19.29C17.66 19.68 17.03 19.68 16.64 19.29L14.52 17.17C14.13 16.78 14.13 16.15 14.52 15.76C14.91 15.37 15.54 15.37 15.93 15.76L17.34 17.17L20.88 13.63C21.27 13.24 21.9 13.24 22.29 13.63C22.68 14.02 22.68 14.65 22.29 15.04L18.05 19.29ZM12 17C12 13.13 15.13 10 19 10C20.08 10 21.09 10.25 22 10.68V4C22 2.9 21.1 2 20 2H4C2.9 2 2 2.9 2 4V22L6 18H12C12 17.83 12.01 17.67 12.03 17.5C12.01 17.33 12 17.17 12 17Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-mark-chat-read`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


