
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M20.0799 11.42L16.0399 5.77C15.6999 5.29 15.1499 5 14.5599 5C13.0699 5 12.2099 6.68 13.0699 7.89L15.9999 12L13.0699 16.11C12.1999 17.32 13.0699 19 14.5599 19C15.1499 19 15.7099 18.71 16.0499 18.23L20.0899 12.58C20.3299 12.23 20.3299 11.77 20.0799 11.42Z' fill='#323232'/><path d='M13.0799 11.42L9.04992 5.77C8.69992 5.29 8.14992 5 7.55992 5C6.06992 5 5.19992 6.68 6.06992 7.89L8.99992 12L6.06992 16.11C5.19992 17.32 6.06992 19 7.55992 19C8.14992 19 8.70992 18.71 9.04992 18.23L13.0899 12.58C13.3299 12.23 13.3299 11.77 13.0799 11.42Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-double-arrow`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


