
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M9.21 11H11V20C11 20.55 11.45 21 12 21C12.55 21 13 20.55 13 20V11H14.79C15.24 11 15.46 10.46 15.14 10.15L12.35 7.36C12.15 7.16 11.84 7.16 11.64 7.36L8.85 10.15C8.54 10.46 8.76 11 9.21 11ZM4 4C4 4.55 4.45 5 5 5H19C19.55 5 20 4.55 20 4C20 3.45 19.55 3 19 3H5C4.45 3 4 3.45 4 4Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-vertical-align-top`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


