
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M18.8699 10.37C18.1199 5.61 13.8699 2.02 9.0499 2C8.5599 2 8.0799 2.03 7.6099 2.1C7.1099 2.17 7.0099 2.83 7.4699 3.06C10.7499 4.69 12.9999 8.08 12.9999 12C12.9999 15.92 10.7499 19.31 7.4699 20.95C7.0199 21.18 7.1099 21.84 7.6099 21.91C8.0799 21.97 8.5599 22 9.0499 22C13.8699 21.98 18.1199 18.39 18.8699 13.63C18.9599 13.08 18.9799 12.54 18.9799 12C18.9799 11.46 18.9599 10.92 18.8699 10.37Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-brightness-3`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


