
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M19 3H5C3.9 3 3 3.9 3 5V19C3 20.1 3.9 21 5 21H19C20.1 21 21 20.1 21 19V5C21 3.9 20.1 3 19 3ZM13.56 6.53C13.85 6.24 14.33 6.24 14.62 6.53L15.5 7.41L16.38 6.53C16.67 6.24 17.15 6.24 17.44 6.53C17.73 6.82 17.73 7.3 17.44 7.59L16.56 8.47L17.44 9.35C17.73 9.64 17.73 10.12 17.44 10.41C17.15 10.7 16.67 10.7 16.38 10.41L15.5 9.54L14.62 10.42C14.33 10.71 13.85 10.71 13.56 10.42C13.27 10.13 13.27 9.65 13.56 9.36L14.44 8.48L13.56 7.6C13.26 7.3 13.26 6.82 13.56 6.53ZM7 7.72H10.5C10.91 7.72 11.25 8.06 11.25 8.47C11.25 8.88 10.91 9.22 10.5 9.22H7C6.59 9.22 6.25 8.88 6.25 8.47C6.25 8.06 6.59 7.72 7 7.72ZM10.75 16H9.5V17.25C9.5 17.66 9.16 18 8.75 18C8.34 18 8 17.66 8 17.25V16H6.75C6.34 16 6 15.66 6 15.25C6 14.84 6.34 14.5 6.75 14.5H8V13.25C8 12.84 8.34 12.5 8.75 12.5C9.16 12.5 9.5 12.84 9.5 13.25V14.5H10.75C11.16 14.5 11.5 14.84 11.5 15.25C11.5 15.66 11.16 16 10.75 16ZM17.25 17.25H13.75C13.34 17.25 13 16.91 13 16.5C13 16.09 13.34 15.75 13.75 15.75H17.25C17.66 15.75 18 16.09 18 16.5C18 16.91 17.66 17.25 17.25 17.25ZM17.25 14.75H13.75C13.34 14.75 13 14.41 13 14C13 13.59 13.34 13.25 13.75 13.25H17.25C17.66 13.25 18 13.59 18 14C18 14.41 17.66 14.75 17.25 14.75Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-calculate`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


