
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M21 16H9C8.45 16 8 15.55 8 15V3.99995H8.79C9.24 3.99995 9.46 3.45995 9.14 3.14995L7.35 1.34995C7.15 1.14995 6.84 1.14995 6.64 1.34995L4.85 3.14995C4.54 3.45995 4.76 3.99995 5.21 3.99995H6V5.99995H3C2.45 5.99995 2 6.44995 2 6.99995C2 7.54995 2.45 7.99995 3 7.99995H6V16C6 17.1 6.9 18 8 18H16V20H15.21C14.76 20 14.54 20.54 14.86 20.85L16.65 22.6399C16.85 22.84 17.16 22.84 17.36 22.6399L19.15 20.85C19.47 20.54 19.24 20 18.8 20H18V18H21C21.55 18 22 17.55 22 17C22 16.45 21.55 16 21 16ZM16 14H18V7.99995C18 6.89995 17.1 5.99995 16 5.99995H10V7.99995H15C15.55 7.99995 16 8.44995 16 8.99995V14Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-transform`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


