
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M10.8 3.89994L4.8 8.39994C4.3 8.77994 4 9.36994 4 9.99994V18.9999C4 20.0999 4.9 20.9999 6 20.9999H18C19.1 20.9999 20 20.0999 20 18.9999V9.99994C20 9.36994 19.7 8.77994 19.2 8.39994L13.2 3.89994C12.49 3.36994 11.51 3.36994 10.8 3.89994ZM9.75 12.4999C10.44 12.4999 11 13.0599 11 13.7499C11 14.4399 10.44 14.9999 9.75 14.9999C9.06 14.9999 8.5 14.4399 8.5 13.7499C8.5 13.0599 9.06 12.4999 9.75 12.4999ZM16.5 17.9999C16.22 17.9999 16 17.7799 16 17.4999V16.4999H8V17.4999C8 17.7799 7.78 17.9999 7.5 17.9999C7.22 17.9999 7 17.7799 7 17.4999V11.4999C7 11.2199 7.22 10.9999 7.5 10.9999C7.78 10.9999 8 11.2199 8 11.4999V15.4999H11.5V12.4999C11.5 12.2199 11.72 11.9999 12 11.9999H15C16.1 11.9999 17 12.8999 17 13.9999V17.4999C17 17.7799 16.78 17.9999 16.5 17.9999Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-night-shelter`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


