
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M21 11.18V9.72C21 9.25 20.84 8.8 20.54 8.44L16.6 3.72C16.22 3.26 15.66 3 15.06 3H3C1.9 3 1 3.9 1 5V13C1 14.1 1.9 15 3 15H3.18C3.6 16.16 4.7 17 6 17C7.3 17 8.4 16.16 8.82 15H17.19C17.6 16.16 18.7 17 20.01 17C21.67 17 23.01 15.66 23.01 14C23 12.7 22.16 11.6 21 11.18ZM18.4 9H16V6.12L18.4 9ZM4 5H7V9H3V6C3 5.45 3.45 5 4 5ZM6 15C5.45 15 5 14.55 5 14C5 13.45 5.45 13 6 13C6.55 13 7 13.45 7 14C7 14.55 6.55 15 6 15ZM9 13V11H11C11.55 11 12 10.55 12 10C12 9.45 11.55 9 11 9H9V5H13C13.55 5 14 5.45 14 6V13H9ZM20 15C19.45 15 19 14.55 19 14C19 13.45 19.45 13 20 13C20.55 13 21 13.45 21 14C21 14.55 20.55 15 20 15Z' fill='#323232'/><path d='M7 20H11V18L17 21H13V23L7 20Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-electric-rickshaw`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


