
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M18.5 12C18.5 10.23 17.48 8.71002 16 7.97002V16.02C17.48 15.29 18.5 13.77 18.5 12ZM5 10V14C5 14.55 5.45 15 6 15H9L12.29 18.29C12.92 18.92 14 18.47 14 17.58V6.41002C14 5.52002 12.92 5.07002 12.29 5.70002L9 9.00002H6C5.45 9.00002 5 9.45002 5 10Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-volume-down`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


