
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path fill-rule='evenodd' clip-rule='evenodd' d='M13.9729 13.6711L20.0001 13.6711V20L17.5732 17.5021C16.0772 18.9841 14.0565 19.8155 11.9506 19.8155C9.84478 19.8155 7.82409 18.9841 6.32807 17.5021C5.58907 16.77 5.00279 15.8985 4.60325 14.938C4.2156 14.0062 4.01122 13.0086 4.00098 12H5.80677C5.81762 12.7807 5.978 13.5524 6.2795 14.2733C6.59193 15.0202 7.04968 15.6976 7.62615 16.2662C8.80851 17.4075 10.3924 18.0379 12.0356 18.0213C13.6789 18.0047 15.2497 17.3424 16.4088 16.1775L13.9729 13.6711ZM11.7846 5.76174V4.00288C11.8563 4.00096 11.9282 4 12.0002 4C14.1165 4 16.1476 4.8335 17.6538 6.32005C19.1129 7.82118 19.9511 9.81804 20.0006 11.9108H18.2227C18.2419 11.0996 18.0903 10.2935 17.7778 9.54463C17.4653 8.79579 16.9989 8.121 16.4088 7.56402C15.2403 6.40667 13.6622 5.7574 12.0175 5.7574C11.9397 5.7574 11.862 5.75885 11.7846 5.76174Z' fill='#1D44D1'/><path d='M4 7.73337L4 9.60004L7.73333 9.60004L7.73333 13.3334L9.6 13.3334L9.6 9.60004L13.3333 9.60004L13.3333 7.73337L9.6 7.73337L9.6 4.00004L7.73333 4.00004L7.73333 7.73337L4 7.73337Z' fill='#1D44D1'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-add-into-sprint`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


