
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M10.0001 3H14.0001C14.5501 3 15.0001 2.55 15.0001 2C15.0001 1.45 14.5501 1 14.0001 1H10.0001C9.4501 1 9.0001 1.45 9.0001 2C9.0001 2.55 9.4501 3 10.0001 3ZM19.0301 7.39L19.7801 6.64C20.1601 6.26 20.1701 5.63 19.7801 5.24L19.7701 5.23C19.3801 4.84 18.7601 4.85 18.3701 5.23L17.6201 5.98C16.0701 4.74 14.1201 4 12.0001 4C7.2001 4 3.1201 7.96 3.0001 12.76C2.8701 17.84 6.9401 22 12.0001 22C16.9801 22 21.0001 17.97 21.0001 13C21.0001 10.88 20.2601 8.93 19.0301 7.39ZM12.0001 20C8.1301 20 5.0001 16.87 5.0001 13C5.0001 9.13 8.1301 6 12.0001 6C15.8701 6 19.0001 9.13 19.0001 13C19.0001 16.87 15.8701 20 12.0001 20ZM10.8101 15H7.1101C6.7301 15 6.4901 15.4 6.6601 15.74C7.2201 16.86 8.1001 17.75 9.2301 18.31C9.4601 18.42 9.7501 18.33 9.8801 18.1L11.2501 15.75C11.4401 15.42 11.2001 15 10.8101 15ZM14.7301 7.65C14.5001 7.53 14.2101 7.63 14.0801 7.85L12.7001 10.24C12.5001 10.58 12.7401 11 13.1301 11H16.8901C17.2701 11 17.5101 10.6 17.3401 10.27C16.7601 9.14 15.8501 8.23 14.7301 7.65ZM13.8801 14.7C13.6901 14.36 13.2001 14.35 13.0101 14.69L10.9701 18.21C10.7901 18.53 10.9901 18.93 11.3601 18.96C12.7001 19.1 14.0501 18.78 15.1901 18.07C15.4101 17.93 15.4701 17.64 15.3501 17.41L13.8801 14.7ZM10.3101 13.23L7.9301 9.57C7.7301 9.27 7.2901 9.27 7.0901 9.57C6.2801 10.73 5.9201 12.14 6.0401 13.55C6.0601 13.81 6.2801 14 6.5401 14H9.8901C10.2801 14 10.5201 13.56 10.3101 13.23ZM13.9701 12.74L15.9901 16.48C16.1701 16.81 16.6301 16.83 16.8501 16.53C17.7101 15.35 18.0901 13.91 17.9701 12.45C17.9501 12.19 17.7201 12 17.4701 12H14.4201C14.0301 12 13.7901 12.4 13.9701 12.74ZM10.1701 11.17C10.3701 11.48 10.8301 11.47 11.0201 11.15L12.9601 7.8C13.1501 7.48 12.9301 7.08 12.5601 7.04C11.2001 6.92 9.8301 7.25 8.6801 8.01C8.4601 8.16 8.4101 8.47 8.5501 8.69L10.1701 11.17Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-shutter-speed`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


