
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M8.00012 20C8.00012 21.1 7.10012 22 6.00012 22C4.90012 22 4.00012 21.1 4.00012 20C4.00012 18.9 4.90012 18 6.00012 18C7.10012 18 8.00012 18.9 8.00012 20ZM14.3001 4.1C13.0301 3.4 11.5601 3 10.0001 3C8.77012 3 7.61012 3.26 6.54012 3.71L10.9101 8.08L14.3001 4.1ZM20.4901 21.9C20.8801 21.51 20.8801 20.88 20.4901 20.49L10.6701 10.67L3.51012 3.51C3.12012 3.12 2.49012 3.12 2.10012 3.51C1.71012 3.9 1.71012 4.53 2.10012 4.92L9.36012 12.18L6.70012 15.3C6.15012 15.95 6.61012 16.95 7.46012 16.95H14.1201L15.2901 18.12C14.4101 18.45 13.8201 19.37 14.0301 20.4C14.1801 21.16 14.8101 21.79 15.5701 21.94C16.6001 22.15 17.5201 21.56 17.8501 20.68L19.0501 21.88C19.4601 22.29 20.0901 22.29 20.4901 21.9ZM17.0001 6.27C17.5801 5.59 17.9701 5 18.6501 5C19.3301 5 19.8701 5.52 19.9801 6.21C20.0801 6.66 20.4801 7 20.9601 7C21.5101 7 21.9601 6.55 21.9601 6C21.9601 5.94 21.9601 5.89 21.9501 5.84V5.83C21.6501 4.22 20.3001 3 18.6501 3C16.9901 3 16.1101 4.27 15.4701 5.03L11.9701 9.14L17.0001 14.17V6.27Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-no-stroller`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


