
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M18 9.99999V7.16999C18 5.54999 16.78 4.08999 15.16 3.99999C13.95 3.93999 12.89 4.58999 12.36 5.56999C12.01 6.21999 12.53 6.99999 13.27 6.99999H13.28C13.62 6.99999 13.96 6.83999 14.12 6.53999C14.28 6.21999 14.62 5.99999 15 5.99999C15.55 5.99999 16 6.44999 16 6.99999V9.99999H8C9.1 9.99999 10 9.09999 10 7.99999V4.99999C10 4.44999 9.55 3.99999 9 3.99999H5C4.45 3.99999 4 4.44999 4 4.99999V7.99999C4 9.09999 4.9 9.99999 6 9.99999H3C2.45 9.99999 2 10.45 2 11C2 11.55 2.45 12 3 12H4V19C4 19.55 4.45 20 5 20H19C19.55 20 20 19.55 20 19V12H21C21.55 12 22 11.55 22 11C22 10.45 21.55 9.99999 21 9.99999H18ZM13 18H11V12H13V18Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-countertops`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


