
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M22.5999 11.29L19.9999 8.69V5C19.9999 4.45 19.5499 4 18.9999 4H15.3099L12.7099 1.4C12.3199 1.01 11.6899 1.01 11.2999 1.4L8.68992 4H4.99992C4.44992 4 3.99992 4.45 3.99992 5V8.69L1.39992 11.29C1.00992 11.68 1.00992 12.31 1.39992 12.7L3.99992 15.3V19C3.99992 19.55 4.44992 20 4.99992 20H8.68992L11.2899 22.6C11.6799 22.99 12.3099 22.99 12.6999 22.6L15.2999 20H18.9999C19.5499 20 19.9999 19.55 19.9999 19V15.31L22.5999 12.71C22.9899 12.32 22.9899 11.68 22.5999 11.29ZM17.9199 12.98C17.5799 15.1 16.0699 16.92 14.0399 17.64C12.8299 18.07 11.6299 18.09 10.5399 17.82C10.1299 17.72 10.0599 17.17 10.4099 16.92C11.9799 15.84 12.9999 14.04 12.9999 12C12.9999 9.96 11.9799 8.16 10.4199 7.08C10.0699 6.84 10.1299 6.29 10.5499 6.18C11.6399 5.91 12.8399 5.93 14.0499 6.36C16.0699 7.08 17.5899 8.9 17.9299 11.02C17.9799 11.35 17.9999 11.68 17.9999 12C17.9899 12.32 17.9699 12.65 17.9199 12.98Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-brightness-4`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


