
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M5.58 16.89L11.35 12.82C11.91 12.42 11.91 11.58 11.35 11.19L5.58 7.11002C4.91 6.65002 4 7.12002 4 7.93002V16.07C4 16.88 4.91 17.35 5.58 16.89ZM13 7.93002V16.07C13 16.88 13.91 17.35 14.58 16.89L20.35 12.82C20.91 12.42 20.91 11.58 20.35 11.19L14.58 7.12002C13.91 6.65002 13 7.12002 13 7.93002Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-fast-forward`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


