
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M4.5 10.5H6.5V13.5H4.5V10.5ZM17.5 10.5H19.5V11.5H17.5V10.5ZM21 3H3C1.89 3 1 3.89 1 5V19C1 20.1 1.89 21 3 21H21C22.11 21 23 20.1 23 19V5C23 3.89 22.11 3 21 3ZM8 13.5C8 14.33 7.33 15 6.5 15H3.5C3.22 15 3 14.78 3 14.5V9.5C3 9.22 3.22 9 3.5 9H6.5C7.33 9 8 9.67 8 10.5V13.5ZM14.1 9.92L12.83 14.28C12.71 14.71 12.31 15 11.87 15C11.43 15 11.03 14.71 10.91 14.28L9.64 9.92C9.5 9.46 9.85 9 10.33 9C10.65 9 10.93 9.21 11.02 9.52L11.87 12.43L12.72 9.52C12.81 9.21 13.09 9 13.41 9C13.89 9 14.24 9.46 14.1 9.92ZM21 11.5C21 12.1 20.6 12.65 20.1 12.9L20.73 14.38C20.92 14.83 20.59 15.34 20.1 15.34C19.82 15.34 19.57 15.18 19.47 14.92L18.65 13H17.5V14.31C17.5 14.69 17.19 15 16.81 15H16.69C16.31 15 16 14.69 16 14.31V9.64C16 9.29 16.29 9 16.64 9H19.5C20.33 9 21 9.67 21 10.5V11.5Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-fiber-dvr`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


