
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M13.0002 19V7.82998L17.8802 12.71C18.2702 13.1 18.9102 13.1 19.3002 12.71C19.6902 12.32 19.6902 11.69 19.3002 11.3L12.7102 4.70998C12.3202 4.31998 11.6902 4.31998 11.3002 4.70998L4.70021 11.29C4.31021 11.68 4.31021 12.31 4.70021 12.7C5.09021 13.09 5.72022 13.09 6.11022 12.7L11.0002 7.82998V19C11.0002 19.55 11.4502 20 12.0002 20C12.5502 20 13.0002 19.55 13.0002 19Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-arrow-upward`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


