
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M3.24 6.14999C2.51 6.42999 2 7.16999 2 7.99999V20C2 21.1 2.9 22 4 22H20C21.11 22 22 21.1 22 20V7.99999C22 6.89999 21.1 5.99999 20 5.99999H8.3L15.73 2.99999C16.19 2.80999 16.41 2.28999 16.22 1.82999C16.03 1.36999 15.51 1.14999 15.05 1.33999L3.24 6.14999ZM7 20C5.34 20 4 18.66 4 17C4 15.34 5.34 14 7 14C8.66 14 10 15.34 10 17C10 18.66 8.66 20 7 20ZM20 12H18V11C18 10.45 17.55 9.99999 17 9.99999C16.45 9.99999 16 10.45 16 11V12H4V8.99999C4 8.44999 4.45 7.99999 5 7.99999H19C19.55 7.99999 20 8.44999 20 8.99999V12Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-radio`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


