
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M15 19H4.83C4.04 19 3.56 18.12 3.99 17.46L7.5 12L3.99 6.54C3.56 5.88 4.04 5 4.83 5H15C15.65 5 16.26 5.31 16.63 5.84L20.59 11.42C20.84 11.77 20.84 12.23 20.59 12.58L16.63 18.16C16.26 18.68 15.65 19 15 19ZM6.5 17H15L18.5 12L15 7H6.5L10 12L6.5 17Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-label-important-outline`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


