
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M11 6C12.38 6 13.63 6.56 14.54 7.46L12.85 9.15C12.54 9.46 12.76 10 13.21 10H17.5C17.78 10 18 9.78 18 9.5V5.21C18 4.76 17.46 4.54 17.15 4.86L15.95 6.06C14.68 4.78 12.93 4 11 4C7.96 4 5.38 5.94 4.42 8.64C4.18 9.3 4.65 10 5.35 10C5.77 10 6.14 9.74 6.28 9.34C6.96 7.4 8.82 6 11 6ZM16.64 15.14C17.04 14.6 17.36 13.99 17.59 13.34C17.82 12.69 17.34 12 16.65 12C16.23 12 15.86 12.26 15.72 12.66C15.04 14.6 13.18 16 11 16C9.62 16 8.37 15.44 7.46 14.54L9.15 12.85C9.46 12.54 9.24 12 8.79 12H4.5C4.22 12 4 12.22 4 12.5V16.79C4 17.24 4.54 17.46 4.85 17.14L6.05 15.94C7.32 17.22 9.07 18 11 18C12.55 18 13.98 17.49 15.14 16.64L19.25 20.75C19.66 21.16 20.33 21.16 20.74 20.75C21.15 20.34 21.15 19.67 20.74 19.26L16.64 15.14Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-find-replace`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


