
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M2.70998 3.56C2.31998 3.95 2.31998 4.58 2.70998 4.97L5.17998 7.44C5.06998 7.95 4.99998 8.47 4.99998 9C4.99998 13.17 9.41998 18.92 11.23 21.11C11.63 21.59 12.36 21.59 12.76 21.11C13.41 20.33 14.38 19.1 15.37 17.65L18.02 20.3C18.41 20.69 19.04 20.69 19.43 20.3C19.82 19.91 19.82 19.28 19.43 18.89L4.11998 3.56C3.72998 3.17 3.09998 3.17 2.70998 3.56ZM12 2C10.16 2 8.49998 2.71 7.24998 3.86L10.44 7.05C10.87 6.71 11.41 6.5 12 6.5C13.38 6.5 14.5 7.62 14.5 9C14.5 9.59 14.29 10.13 13.94 10.56L17.49 14.11C18.37 12.36 19 10.57 19 9C19 5.13 15.87 2 12 2Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-location-off`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


