
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M13 14V20C13 20.55 13.45 21 14 21H20C20.55 21 21 20.55 21 20V14C21 13.45 20.55 13 20 13H14C13.45 13 13 13.45 13 14ZM4 21H10C10.55 21 11 20.55 11 20V14C11 13.45 10.55 13 10 13H4C3.45 13 3 13.45 3 14V20C3 20.55 3.45 21 4 21ZM3 4.00004V10C3 10.55 3.45 11 4 11H10C10.55 11 11 10.55 11 10V4.00004C11 3.45004 10.55 3.00004 10 3.00004H4C3.45 3.00004 3 3.45004 3 4.00004ZM15.95 2.40004L11.7 6.64004C11.31 7.03004 11.31 7.66004 11.7 8.05004L15.95 12.3C16.34 12.69 16.97 12.69 17.36 12.3L21.61 8.05004C22 7.66004 22 7.03004 21.61 6.64004L17.37 2.40004C16.98 2.01004 16.34 2.01004 15.95 2.40004Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-widgets`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


