
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M20.5 16H18.5C18.22 16 18 16.22 18 16.5C18 16.78 18.22 17 18.5 17H20V17.5H19.5C19.22 17.5 19 17.72 19 18C19 18.28 19.22 18.5 19.5 18.5H20V19H18.5C18.22 19 18 19.22 18 19.5C18 19.78 18.22 20 18.5 20H20.5C20.78 20 21 19.78 21 19.5V16.5C21 16.22 20.78 16 20.5 16ZM18.5 5H19V7.5C19 7.78 19.22 8 19.5 8C19.78 8 20 7.78 20 7.5V4.5C20 4.22 19.78 4 19.5 4H18.5C18.22 4 18 4.22 18 4.5C18 4.78 18.22 5 18.5 5ZM21 10.72V10.5C21 10.22 20.78 10 20.5 10H18.5C18.22 10 18 10.22 18 10.5C18 10.78 18.22 11 18.5 11H19.8L18.12 12.96C18.04 13.05 18 13.17 18 13.28V13.5C18 13.78 18.22 14 18.5 14H20.5C20.78 14 21 13.78 21 13.5C21 13.22 20.78 13 20.5 13H19.2L20.88 11.04C20.96 10.95 21 10.83 21 10.72ZM15 5H3C2.45 5 2 5.45 2 6C2 6.55 2.45 7 3 7H15C15.55 7 16 6.55 16 6C16 5.45 15.55 5 15 5ZM15 17H3C2.45 17 2 17.45 2 18C2 18.55 2.45 19 3 19H15C15.55 19 16 18.55 16 18C16 17.45 15.55 17 15 17ZM15 11H3C2.45 11 2 11.45 2 12C2 12.55 2.45 13 3 13H15C15.55 13 16 12.55 16 12C16 11.45 15.55 11 15 11Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-format-list-numbered-rtl`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


