
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M6.11 5.56C7.3 5.7 8.14 6.14 9 7L10 8L6.75 11.25C7.06 11.37 7.31 11.52 7.52 11.64C7.89 11.87 8.11 12 8.67 12C9.23 12 9.45 11.87 9.82 11.64C10.28 11.37 10.9 11 12.01 11C13.12 11 13.74 11.37 14.19 11.64C14.56 11.86 14.79 12 15.34 12C15.89 12 16.12 11.87 16.49 11.64C16.61 11.57 16.75 11.49 16.9 11.41L10.48 5C9.22 3.74 8.04 3.2 6.3 3.05C5.6 2.99 5 3.56 5 4.26V4.35C5 4.98 5.49 5.48 6.11 5.56ZM21.35 18.91C21.18 18.85 21.03 18.76 20.85 18.64C20.4 18.37 19.78 18 18.67 18C17.56 18 16.94 18.37 16.49 18.64C16.12 18.87 15.89 19 15.34 19C14.79 19 14.56 18.86 14.19 18.64C13.74 18.37 13.12 18 12.01 18C10.9 18 10.28 18.37 9.82 18.64C9.45 18.87 9.23 19 8.67 19C8.11 19 7.89 18.87 7.52 18.64C7.07 18.37 6.45 18 5.34 18C4.23 18 3.61 18.37 3.15 18.64C2.97 18.75 2.82 18.84 2.65 18.91C2.27 19.04 2 19.36 2 19.76V19.88C2 20.55 2.66 21.01 3.3 20.79C3.67 20.66 3.95 20.49 4.19 20.35C4.56 20.13 4.79 20 5.34 20C5.89 20 6.12 20.13 6.49 20.36C6.94 20.63 7.56 21 8.67 21C9.78 21 10.4 20.63 10.86 20.36C11.23 20.13 11.45 20 12.01 20C12.56 20 12.79 20.14 13.16 20.36C13.61 20.63 14.23 21 15.34 21C16.45 21 17.06 20.63 17.52 20.36C17.89 20.13 18.11 20 18.67 20C19.22 20 19.45 20.14 19.82 20.36C20.05 20.5 20.33 20.67 20.7 20.8C21.33 21.02 22 20.56 22 19.89V19.77C22 19.36 21.73 19.04 21.35 18.91ZM3.11 16.35C3.58 16.22 3.92 16.02 4.2 15.86C4.57 15.63 4.8 15.5 5.35 15.5C5.9 15.5 6.13 15.64 6.5 15.86C6.95 16.13 7.57 16.5 8.68 16.5C9.79 16.5 10.41 16.13 10.86 15.86C11.23 15.63 11.45 15.5 12.01 15.5C12.56 15.5 12.79 15.64 13.16 15.86C13.61 16.13 14.23 16.5 15.34 16.5C16.45 16.5 17.07 16.13 17.52 15.86C17.89 15.63 18.11 15.5 18.67 15.5C19.22 15.5 19.45 15.64 19.82 15.86C20.05 16 20.32 16.16 20.67 16.29C21.3 16.52 21.98 16.05 21.98 15.38V15.26C21.98 14.86 21.71 14.54 21.34 14.4C21.17 14.34 21.02 14.25 20.83 14.14C20.38 13.87 19.76 13.5 18.65 13.5C17.54 13.5 16.92 13.87 16.47 14.14C16.1 14.37 15.87 14.5 15.32 14.5C14.77 14.5 14.54 14.36 14.17 14.14C13.72 13.87 13.1 13.5 11.99 13.5C10.88 13.5 10.26 13.87 9.81 14.14C9.44 14.37 9.22 14.5 8.66 14.5C8.11 14.5 7.88 14.36 7.51 14.14C7.06 13.87 6.44 13.5 5.33 13.5C4.22 13.5 3.6 13.87 3.15 14.14C2.97 14.25 2.82 14.34 2.65 14.41C2.27 14.54 2 14.86 2 15.26V15.49C2 16.07 2.55 16.51 3.11 16.35Z' fill='#323232'/><path d='M16.5 8C17.8807 8 19 6.88071 19 5.5C19 4.11929 17.8807 3 16.5 3C15.1193 3 14 4.11929 14 5.5C14 6.88071 15.1193 8 16.5 8Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-pool`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


