
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M10.59 9.17L6.11997 4.7C5.72997 4.31 5.09997 4.31 4.70997 4.7C4.31997 5.09 4.31997 5.72 4.70997 6.11L9.16997 10.57L10.59 9.17ZM15.35 4.85L16.54 6.04L4.69997 17.88C4.30997 18.27 4.30997 18.9 4.69997 19.29C5.08997 19.68 5.71997 19.68 6.10997 19.29L17.96 7.46L19.15 8.65C19.46 8.96 20 8.74 20 8.29V4.5C20 4.22 19.78 4 19.5 4H15.71C15.26 4 15.04 4.54 15.35 4.85ZM14.83 13.41L13.42 14.82L16.55 17.95L15.35 19.15C15.04 19.46 15.26 20 15.71 20H19.5C19.78 20 20 19.78 20 19.5V15.71C20 15.26 19.46 15.04 19.15 15.36L17.96 16.55L14.83 13.41Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-shuffle`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


