
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M17.66 17.66L16.95 18.37C16.75 18.57 16.44 18.57 16.24 18.37C16.04 18.17 16.04 17.86 16.24 17.66L16.95 16.95L15.01 15.01L14.3 15.72C14.1 15.92 13.79 15.92 13.59 15.72C13.39 15.52 13.39 15.21 13.59 15.01L14.3 14.3L12.36 12.36L11.65 13.07C11.45 13.27 11.14 13.27 10.94 13.07C10.74 12.87 10.74 12.56 10.94 12.36L11.65 11.65L9.7 9.7L8.99 10.41C8.79 10.61 8.48 10.61 8.28 10.41C8.08 10.21 8.08 9.9 8.28 9.7L8.99 8.99L7.05 7.05L6.34 7.76C6.14 7.96 5.83 7.96 5.63 7.76C5.43 7.56 5.43 7.25 5.63 7.05L6.34 6.34L4.85 4.85C4.54 4.54 4 4.76 4 5.21V18C4 19.1 4.9 20 6 20H18.79C19.24 20 19.46 19.46 19.14 19.15L17.66 17.66ZM7 16V11.24L12.76 17H8C7.45 17 7 16.55 7 16Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-square-foot`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


