
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M19.41 7.41L14.58 2.58C14.21 2.21 13.7 2 13.17 2H6C4.9 2 4 2.9 4 4V20C4 21.1 4.9 22 6 22H18C19.1 22 20 21.1 20 20V8.83C20 8.3 19.79 7.79 19.41 7.41ZM14 12C14.55 12 15 12.45 15 13V16C15 16.55 14.55 17 14 17H13C13 17.55 12.55 18 12 18C11.45 18 11 17.55 11 17H10C9.45 17 9 16.55 9 16C9 15.45 9.45 15 10 15H13V14H10C9.45 14 9 13.55 9 13V10C9 9.45 9.45 9 10 9H11C11 8.45 11.45 8 12 8C12.55 8 13 8.45 13 9H14C14.55 9 15 9.45 15 10C15 10.55 14.55 11 14 11H11V12H14Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-request-page`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


