
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M5 2C5 1.45 4.55 1 4 1C3.45 1 3 1.45 3 2V6H2C1.45 6 1 6.45 1 7V12H7V7C7 6.45 6.55 6 6 6H5V2ZM9 16C9 17.3 9.84 18.4 11 18.82V22C11 22.55 11.45 23 12 23C12.55 23 13 22.55 13 22V18.82C14.16 18.41 15 17.31 15 16V14H9V16ZM1 16C1 17.3 1.84 18.4 3 18.82V22C3 22.55 3.45 23 4 23C4.55 23 5 22.55 5 22V18.82C6.16 18.4 7 17.3 7 16V14H1V16ZM21 6V2C21 1.45 20.55 1 20 1C19.45 1 19 1.45 19 2V6H18C17.45 6 17 6.45 17 7V12H23V7C23 6.45 22.55 6 22 6H21ZM13 2C13 1.45 12.55 1 12 1C11.45 1 11 1.45 11 2V6H10C9.45 6 9 6.45 9 7V12H15V7C15 6.45 14.55 6 14 6H13V2ZM17 16C17 17.3 17.84 18.4 19 18.82V22C19 22.55 19.45 23 20 23C20.55 23 21 22.55 21 22V18.82C22.16 18.41 23 17.31 23 16V14H17V16Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-settings-input-composite`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


