
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M20 2H4C2.9 2 2 2.9 2 4V20C2 21.1 2.9 22 4 22H20C21.1 22 22 21.1 22 20V4C22 2.9 21.1 2 20 2ZM20 19C20 19.55 19.55 20 19 20H18V19C18 18.45 17.55 18 17 18H15.85C16.56 17.15 17 16.11 17 15C17 13.11 15.91 12.16 15.15 11.64C13.29 10.37 12.92 8.86 12.9 7.92C12.89 7.52 12.47 7.29 12.13 7.49C6.33 10.92 6.98 14.49 7 15C7.03 15.96 7.49 17.07 8.24 18H7C6.45 18 6 18.45 6 19V20H5C4.45 20 4 19.55 4 19V5C4 4.45 4.45 4 5 4H19C19.55 4 20 4.45 20 5V19ZM13.2 13.74C13.12 13.28 13.13 12.89 13.28 12.46C13.82 13.67 15.43 14.1 15.26 15.64C15.07 17.33 13.15 18.01 11.87 16.96C12.63 16.72 13.27 15.92 13.4 15.33C13.52 14.78 13.29 14.29 13.2 13.74Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-fireplace`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


