
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M4 16H7C7.55 16 8 15.55 8 15C8 14.45 7.55 14 7 14H4C3.45 14 3 14.45 3 15C3 15.55 3.45 16 4 16ZM10.5 16H13.5C14.05 16 14.5 15.55 14.5 15C14.5 14.45 14.05 14 13.5 14H10.5C9.95 14 9.5 14.45 9.5 15C9.5 15.55 9.95 16 10.5 16ZM17 16H20C20.55 16 21 15.55 21 15C21 14.45 20.55 14 20 14H17C16.45 14 16 14.45 16 15C16 15.55 16.45 16 17 16ZM4 20C4.55 20 5 19.55 5 19C5 18.45 4.55 18 4 18C3.45 18 3 18.45 3 19C3 19.55 3.45 20 4 20ZM8 20C8.55 20 9 19.55 9 19C9 18.45 8.55 18 8 18C7.45 18 7 18.45 7 19C7 19.55 7.45 20 8 20ZM12 20C12.55 20 13 19.55 13 19C13 18.45 12.55 18 12 18C11.45 18 11 18.45 11 19C11 19.55 11.45 20 12 20ZM16 20C16.55 20 17 19.55 17 19C17 18.45 16.55 18 16 18C15.45 18 15 18.45 15 19C15 19.55 15.45 20 16 20ZM20 20C20.55 20 21 19.55 21 19C21 18.45 20.55 18 20 18C19.45 18 19 18.45 19 19C19 19.55 19.45 20 20 20ZM4 12H10C10.55 12 11 11.55 11 11C11 10.45 10.55 10 10 10H4C3.45 10 3 10.45 3 11C3 11.55 3.45 12 4 12ZM14 12H20C20.55 12 21 11.55 21 11C21 10.45 20.55 10 20 10H14C13.45 10 13 10.45 13 11C13 11.55 13.45 12 14 12ZM3 5V7C3 7.55 3.45 8 4 8H20C20.55 8 21 7.55 21 7V5C21 4.45 20.55 4 20 4H4C3.45 4 3 4.45 3 5Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-line-style`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


