
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M14.5 18H8C6.9 18 6 17.1 6 16V9.50002C6 8.67002 6.67 8.00002 7.5 8.00002C8.33 8.00002 9 8.67002 9 9.50002V12.77L14.95 7.00001C15.52 6.45001 16.43 6.46001 16.99 7.02001C17.55 7.58001 17.55 8.49002 17 9.06002L11.15 15H14.5C15.33 15 16 15.67 16 16.5C16 17.33 15.33 18 14.5 18Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-transit-enterexit`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


