
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M21 3.01001H3C1.9 3.01001 1 3.91001 1 5.01001V8.00001C1 8.55001 1.45 9.00001 2 9.00001C2.55 9.00001 3 8.55001 3 8.00001V5.99001C3 5.44001 3.45 4.99001 4 4.99001H20C20.55 4.99001 21 5.44001 21 5.99001V18.02C21 18.57 20.55 19.02 20 19.02H4C3.45 19.02 3 18.57 3 18.02V16C3 15.45 2.55 15 2 15C1.45 15 1 15.45 1 16V19.01C1 20.1 1.89 20.99 2.98 20.99H21C22.1 20.99 23 20.09 23 18.99V5.01001C23 3.91001 22.1 3.01001 21 3.01001ZM11.85 15.15L14.64 12.36C14.84 12.16 14.84 11.85 14.64 11.65L11.85 8.86001C11.54 8.54001 11 8.76001 11 9.21001V11H2C1.45 11 1 11.45 1 12C1 12.55 1.45 13 2 13H11V14.79C11 15.24 11.54 15.46 11.85 15.15Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-input`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


