
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M21 11C21 10.45 20.55 9.99998 20 9.99998H19V6.99998L16.71 4.70998C16.32 4.31998 15.69 4.31998 15.3 4.70998L14 5.99998L12.71 4.70998C12.32 4.31998 11.69 4.31998 11.3 4.70998L10 5.99998L8.71 4.70998C8.32 4.31998 7.69 4.31998 7.3 4.70998L5 6.99998V9.99998H4C3.45 9.99998 3 10.45 3 11C3 11.55 3.45 12 4 12H5V14H4C3.45 14 3 14.45 3 15C3 15.55 3.45 16 4 16H5V19C5 19.55 5.45 20 6 20H18C18.55 20 19 19.55 19 19V16H20C20.55 16 21 15.55 21 15C21 14.45 20.55 14 20 14H19V12H20C20.55 12 21 11.55 21 11ZM16 6.82998L17 7.82998V9.99998H15V7.82998L15.41 7.41998L16 6.82998ZM12 6.82998L12.59 7.41998L13 7.82998V9.99998H11V7.82998L11.41 7.41998L12 6.82998ZM11 14V12H13V14H11ZM13 16V18H11V16H13ZM7 7.82998L8 6.82998L8.59 7.41998L9 7.82998V9.99998H7V7.82998ZM7 12H9V14H7V12ZM7 16H9V18H7V16ZM17 18H15V16H17V18ZM17 14H15V12H17V14Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-fence`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


