
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M21 5V11.59L18.71 9.29C18.32 8.9 17.68 8.9 17.29 9.29L14 12.59L10.71 9.3C10.32 8.91 9.69 8.91 9.3 9.3L6 12.59L3 9.58V5C3 3.9 3.9 3 5 3H19C20.1 3 21 3.9 21 5ZM18 11.42L21 14.43V19C21 20.1 20.1 21 19 21H5C3.9 21 3 20.1 3 19V12.42L5.29 14.71C5.68 15.1 6.31 15.1 6.7 14.71L10 11.41L13.29 14.7C13.68 15.09 14.31 15.09 14.7 14.7L18 11.42Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-broken-image`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


