
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M20 8.69001V6.00001C20 4.90001 19.1 4.00001 18 4.00001H15.31L13.41 2.10001C12.63 1.32001 11.36 1.32001 10.58 2.10001L8.69001 4.00001H6.00001C4.90001 4.00001 4.00001 4.90001 4.00001 6.00001V8.69001L2.10001 10.59C1.32001 11.37 1.32001 12.64 2.10001 13.42L4.00001 15.32V18C4.00001 19.1 4.90001 20 6.00001 20H8.69001L10.59 21.9C11.37 22.68 12.64 22.68 13.42 21.9L15.32 20H18C19.1 20 20 19.1 20 18V15.31L21.9 13.41C22.68 12.63 22.68 11.36 21.9 10.58L20 8.69001ZM12 18C8.69001 18 6.00001 15.31 6.00001 12C6.00001 8.69001 8.69001 6.00001 12 6.00001C15.31 6.00001 18 8.69001 18 12C18 15.31 15.31 18 12 18ZM12 8.00001C9.79001 8.00001 8.00001 9.79001 8.00001 12C8.00001 14.21 9.79001 16 12 16C14.21 16 16 14.21 16 12C16 9.79001 14.21 8.00001 12 8.00001Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-brightness-high`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


