
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M23.0898 16.2C16.7598 10.61 7.22983 10.61 0.909831 16.2C0.0698314 16.94 0.0698313 18.25 0.859831 19.04L2.05983 20.24C2.76983 20.95 3.89983 21.01 4.67983 20.39L6.64983 18.82C7.11983 18.45 7.39983 17.88 7.39983 17.27V14.7C10.3798 13.73 13.6098 13.72 16.5998 14.7V17.28C16.5998 17.88 16.8798 18.45 17.3498 18.83L19.3098 20.39C20.0998 21.01 21.2198 20.95 21.9298 20.24L23.1298 19.04C23.9298 18.25 23.9198 16.94 23.0898 16.2ZM5.99983 9C6.54983 9 6.99983 8.55 6.99983 8V6.43L11.2398 10.67C11.6298 11.06 12.2598 11.06 12.6498 10.67L18.3098 5.01C18.6998 4.62 18.6998 3.99 18.3098 3.6C17.9198 3.21 17.2898 3.21 16.8998 3.6L11.9498 8.55L8.39983 5H9.99983C10.5498 5 10.9998 4.55 10.9998 4C10.9998 3.45 10.5498 3 9.99983 3H5.99983C5.44983 3 4.99983 3.45 4.99983 4V8C4.99983 8.55 5.44983 9 5.99983 9Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-phone-missed`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


