
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M19.66 3.98998C17.02 2.18998 13.76 3.02998 12 5.08998C10.24 3.02998 6.98 2.17998 4.34 3.98998C2.94 4.94998 2.06 6.56998 2 8.27998C1.86 12.16 5.3 15.27 10.55 20.04L10.65 20.13C11.41 20.82 12.58 20.82 13.34 20.12L13.45 20.02C18.7 15.26 22.13 12.15 22 8.26998C21.94 6.56998 21.06 4.94998 19.66 3.98998ZM12.1 18.55L12 18.65L11.9 18.55C7.14 14.24 4 11.39 4 8.49998C4 6.49998 5.5 4.99998 7.5 4.99998C9.04 4.99998 10.54 5.98998 11.07 7.35998H12.94C13.46 5.98998 14.96 4.99998 16.5 4.99998C18.5 4.99998 20 6.49998 20 8.49998C20 11.39 16.86 14.24 12.1 18.55Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-favorite-border`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


