
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M10.04 6.29C10.66 6.11 11.32 6 12 6C15.86 6 19 9.14 19 13C19 13.68 18.89 14.34 18.71 14.96L20.27 16.52C20.74 15.44 21 14.25 21 13C21 8.03 16.97 4 12 4C10.75 4 9.56001 4.26 8.47001 4.72L10.04 6.29ZM3.71001 2.79C3.33001 2.41 2.71001 2.41 2.32001 2.79L2.30001 2.82C1.91001 3.21 1.91001 3.83 2.30001 4.21L2.98001 4.89L2.81001 5.03C2.39001 5.37 2.34001 5.99 2.68001 6.41L2.71001 6.44C3.06001 6.86 3.67001 6.91 4.09001 6.56L4.40001 6.31L5.20001 7.11C3.83001 8.69 3.00001 10.75 3.00001 13C3.00001 17.97 7.03001 22 12 22C14.25 22 16.31 21.17 17.89 19.8L19.3 21.21C19.68 21.59 20.3 21.59 20.69 21.21L20.72 21.18C21.1 20.8 21.1 20.18 20.72 19.79L3.71001 2.79ZM12 20C8.14001 20 5.00001 16.86 5.00001 13C5.00001 11.3 5.61001 9.74 6.62001 8.53L16.47 18.38C15.26 19.39 13.7 20 12 20ZM19.91 6.56C20.33 6.91 20.94 6.85 21.29 6.44L21.32 6.41C21.67 5.99 21.61 5.38 21.2 5.03L18.1 2.44C17.68 2.09 17.07 2.15 16.72 2.56L16.69 2.59C16.34 3.01 16.4 3.62 16.81 3.97L19.91 6.56ZM7.43001 3.68C7.61001 3.34 7.58001 2.91 7.32001 2.59L7.29001 2.56C6.99001 2.2 6.49001 2.13 6.09001 2.34L7.43001 3.68Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-alarm-off`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


