
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M7 8C6.45 8 6 8.45 6 9V15C6 16.1 6.9 17 8 17H16C16.55 17 17 16.55 17 16C17 15.45 16.55 15 16 15H8V9C8 8.45 7.55 8 7 8Z' fill='#323232'/><path d='M20 3H12C10.9 3 10 3.9 10 5V11C10 12.1 10.9 13 12 13H20C21.1 13 22 12.1 22 11V5C22 3.9 21.1 3 20 3ZM19.5 11H12.5C12.22 11 12 10.78 12 10.5V7H20V10.5C20 10.78 19.78 11 19.5 11Z' fill='#323232'/><path d='M3 12C2.45 12 2 12.45 2 13V19C2 20.1 2.9 21 4 21H12C12.55 21 13 20.55 13 20C13 19.45 12.55 19 12 19H4V13C4 12.45 3.55 12 3 12Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-dynamic-feed`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


