
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M7 24H9V22H7V24ZM11 24H13V22H11V24ZM12 2C11.45 2 11 2.45 11 3V11C11 11.55 11.45 12 12 12C12.55 12 13 11.55 13 11V3C13 2.45 12.55 2 12 2ZM15.94 5.06L15.92 5.08C15.51 5.49 15.56 6.16 16 6.54C17.51 7.88 18.33 9.97 17.88 12.24C17.42 14.52 15.59 16.38 13.32 16.86C9.43 17.69 6 14.74 6 11C6 9.22 6.78 7.63 8.01 6.53C8.44 6.14 8.48 5.49 8.08 5.08L8.06 5.06C7.69 4.69 7.1 4.67 6.7 5.02C4.69 6.79 3.58 9.55 4.14 12.54C4.73 15.69 7.25 18.24 10.4 18.85C15.52 19.84 20 15.95 20 11C20 8.62 18.95 6.48 17.29 5.01C16.9 4.67 16.31 4.69 15.94 5.06ZM15 24H17V22H15V24Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-settings-power`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


