
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M4.25 19.7901C4.64 20.18 5.27 20.18 5.66 19.7901L6.05 19.4C6.44 19.01 6.43 18.38 6.05 18L6.04 17.99C5.65 17.6 5.02 17.6 4.63 17.99L4.24 18.38C3.86 18.78 3.86 19.4001 4.25 19.7901ZM11.99 23H12C12.55 23 12.99 22.56 12.99 22.01V21.05C12.99 20.5 12.55 20.06 12 20.06H11.99C11.44 20.06 11 20.5 11 21.05V22.01C11 22.56 11.44 23 11.99 23ZM3.01 11.05H1.99C1.44 11.05 1 11.49 1 12.04V12.05C1 12.6 1.44 13.04 1.99 13.04H3C3.55 13.04 3.99 12.6 3.99 12.05V12.04C4 11.49 3.56 11.05 3.01 11.05ZM15 6.86005V3.05005C15 2.50005 14.55 2.05005 14 2.05005H10C9.45 2.05005 9 2.50005 9 3.05005V6.86005C6.96 8.04005 5.68 10.38 6.07 12.99C6.47 15.6 8.63 17.69 11.25 18.01C14.89 18.45 18 15.61 18 12.06C18 9.83005 16.79 7.90005 15 6.86005ZM20 12.04V12.05C20 12.6 20.44 13.04 20.99 13.04H22C22.55 13.04 22.99 12.6 22.99 12.05V12.04C22.99 11.49 22.55 11.05 22 11.05H20.99C20.44 11.05 20 11.49 20 12.04ZM17.94 19.41L18.33 19.8C18.72 20.19 19.35 20.19 19.74 19.8C20.13 19.41 20.13 18.78 19.74 18.39L19.35 18C18.96 17.61 18.33 17.62 17.95 18C17.55 18.4 17.55 19.0201 17.94 19.41Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-wb-incandescent`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


