
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M18 20C18 21.1 17.1 22 16 22C14.9 22 14 21.1 14 20C14 18.9 14.9 18 16 18C17.1 18 18 18.9 18 20ZM6 18C4.9 18 4 18.9 4 20C4 21.1 4.9 22 6 22C7.1 22 8 21.1 8 20C8 18.9 7.1 18 6 18ZM14.3 4.1C13.03 3.4 11.56 3 10 3C8.49 3 7.07 3.38 5.83 4.03C5.24 4.34 5.15 5.15 5.61 5.61L9.6 9.6L14.3 4.1ZM21.94 5.83C21.65 4.22 20.3 3 18.65 3C16.99 3 16.11 4.27 15.47 5.03L6.71 15.31C6.16 15.96 6.62 16.96 7.47 16.96H15C16.1 16.96 17 16.06 17 14.96V6.27C17.58 5.59 17.97 5 18.65 5C19.33 5 19.87 5.52 19.98 6.21C20.08 6.66 20.48 7 20.96 7C21.51 7 21.96 6.55 21.96 6C21.96 5.94 21.95 5.89 21.94 5.83Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-stroller`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


