
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M6 17H18C18.55 17 19 17.45 19 18C19 18.55 18.55 19 18 19H6C5.45 19 5 18.55 5 18C5 17.45 5.45 17 6 17ZM11.17 6.24999L6.37 13.45C5.92 14.11 6.4 15 7.2 15H16.8C17.6 15 18.08 14.11 17.63 13.45L12.83 6.24999C12.44 5.64999 11.56 5.64999 11.17 6.24999Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-eject`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


