
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M20 7H4C2.9 7 2 6.1 2 5V4C2 2.9 2.9 2 4 2H20C21.1 2 22 2.9 22 4V5C22 6.1 21.1 7 20 7ZM20 9.5H4C2.9 9.5 2 10.4 2 11.5V12.5C2 13.6 2.9 14.5 4 14.5H20C21.1 14.5 22 13.6 22 12.5V11.5C22 10.4 21.1 9.5 20 9.5ZM20 17H4C2.9 17 2 17.9 2 19V20C2 21.1 2.9 22 4 22H20C21.1 22 22 21.1 22 20V19C22 17.9 21.1 17 20 17Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-table-rows`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


