
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M12 6.34L18.95 3.76C19.75 3.46 20.53 4.24 20.24 5.05L17.66 12L12 6.34ZM21.9 19.07L4.93 2.1C4.54 1.71 3.91 1.71 3.52 2.1C3.13 2.49 3.13 3.12 3.52 3.51L7.88 7.87L3.68 9.43C3.27 9.59 3 9.96999 3 10.4C3 10.82 3.26 11.2 3.65 11.36L10.07 13.93L12.64 20.35C12.8 20.74 13.18 21 13.6 21C14.03 21 14.42 20.73 14.57 20.33L16.13 16.13L20.49 20.49C20.88 20.88 21.51 20.88 21.9 20.49C22.29 20.09 22.29 19.46 21.9 19.07Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-near-me-disabled`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


