
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M19.23 15.26L16.69 14.97C16.08 14.9 15.48 15.11 15.05 15.54L13.21 17.38C10.38 15.94 8.06004 13.63 6.62004 10.79L8.47004 8.93999C8.90004 8.50999 9.11004 7.91 9.04004 7.3L8.75004 4.78C8.63004 3.77 7.78004 3.01 6.76004 3.01H5.03004C3.90004 3.01 2.96004 3.95 3.03004 5.07999C3.56004 13.62 10.39 20.44 18.92 20.97C20.05 21.04 20.99 20.1 20.99 18.97V17.24C21 16.23 20.24 15.38 19.23 15.26ZM16.79 6.01L14.34 8.46C14.14 8.66 14.14 8.98 14.34 9.17C14.54 9.37 14.86 9.37 15.05 9.17L17 7.23V10.38C17 10.58 17.12 10.77 17.31 10.85C17.37 10.88 17.44 10.89 17.5 10.89C17.63 10.89 17.76 10.84 17.86 10.74L20.04 8.56C20.24 8.36 20.24 8.04 20.04 7.85L18.21 6.02L20.04 4.19C20.13 4.1 20.19 3.97 20.19 3.82999C20.19 3.68999 20.14 3.56999 20.04 3.47L17.86 1.29C17.72 1.15 17.5 1.1 17.31 1.18C17.12 1.26 17 1.44 17 1.64V4.78999L15.05 2.84C14.85 2.63999 14.53 2.63999 14.34 2.84C14.14 3.04 14.14 3.35999 14.34 3.54999L16.79 6.01ZM18.01 2.86L18.97 3.81999L18.01 4.78V2.86ZM18.01 7.23L18.97 8.18999L18.01 9.14999V7.23Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-phone-bluetooth-speaker`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


