
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M12.29 8.12L15.17 11H2C1.45 11 1 11.45 1 12C1 12.55 1.45 13 2 13H15.17L12.29 15.88C11.9 16.27 11.9 16.9 12.29 17.29C12.68 17.68 13.31 17.68 13.7 17.29L18.29 12.7C18.68 12.31 18.68 11.68 18.29 11.29L13.7 6.7C13.31 6.31 12.68 6.31 12.29 6.7C11.91 7.09 11.9 7.73 12.29 8.12ZM20 7V17C20 17.55 20.45 18 21 18C21.55 18 22 17.55 22 17V7C22 6.45 21.55 6 21 6C20.45 6 20 6.45 20 7Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-keyboard-tab`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


