
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M18.92 13C18.42 13 18.01 13.37 17.94 13.86C17.46 17.23 14.17 19.7 10.52 18.82C8.27 18.28 6.61 16.55 6.13 14.29C5.32 10.42 8.27 7 12 7V9.79C12 10.24 12.54 10.46 12.85 10.14L16.64 6.35C16.84 6.15 16.84 5.84 16.64 5.64L12.85 1.85C12.54 1.54 12 1.76 12 2.21V5C7.06 5 3.16 9.48 4.16 14.6C4.76 17.71 7.05999 20.1 10.15 20.79C14.98 21.87 19.3 18.59 19.92 14.12C20.01 13.53 19.52 13 18.92 13ZM10.9 16V11.73H10.81L9.04 12.36V13.05L10.05 12.74V16H10.9ZM14.32 11.78C14.14 11.71 13.95 11.68 13.73 11.68C13.51 11.68 13.32 11.71 13.14 11.78C12.96 11.85 12.81 11.96 12.69 12.11C12.57 12.26 12.46 12.45 12.4 12.68C12.34 12.91 12.3 13.18 12.3 13.5V14.24C12.3 14.56 12.34 14.84 12.41 15.06C12.48 15.28 12.58 15.48 12.71 15.63C12.84 15.78 12.99 15.89 13.17 15.96C13.35 16.03 13.54 16.06 13.76 16.06C13.98 16.06 14.17 16.03 14.35 15.96C14.53 15.89 14.68 15.78 14.8 15.63C14.92 15.48 15.02 15.29 15.09 15.06C15.16 14.83 15.19 14.56 15.19 14.24V13.5C15.19 13.18 15.15 12.9 15.08 12.68C15.01 12.46 14.91 12.26 14.78 12.11C14.65 11.96 14.49 11.85 14.32 11.78ZM14.33 14.35C14.33 14.54 14.32 14.7 14.29 14.83C14.26 14.96 14.23 15.07 14.18 15.15C14.13 15.23 14.07 15.29 13.99 15.32C13.91 15.35 13.83 15.37 13.74 15.37C13.65 15.37 13.56 15.35 13.49 15.32C13.42 15.29 13.35 15.23 13.3 15.15C13.25 15.07 13.21 14.96 13.18 14.83C13.15 14.7 13.14 14.54 13.14 14.35V13.38C13.14 13.19 13.15 13.03 13.18 12.9C13.21 12.77 13.24 12.67 13.3 12.59C13.36 12.51 13.41 12.45 13.49 12.42C13.57 12.39 13.65 12.37 13.74 12.37C13.83 12.37 13.92 12.39 13.99 12.42C14.06 12.45 14.13 12.51 14.18 12.59C14.23 12.67 14.27 12.77 14.3 12.9C14.33 13.03 14.34 13.19 14.34 13.38V14.35H14.33Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-forward-10`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


