
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M20 18V16C20 15.45 19.55 15 19 15C18.45 15 18 15.45 18 16V18H16C15.45 18 15 18.45 15 19C15 19.55 15.45 20 16 20H18V22C18 22.55 18.45 23 19 23C19.55 23 20 22.55 20 22V20H22C22.55 20 23 19.55 23 19C23 18.45 22.55 18 22 18H20Z' fill='#323232'/><path d='M19 4C18.45 4 18 4.45 18 5V12C18 12.55 18.45 13 19 13C19.55 13 20 12.55 20 12V5C20 4.45 19.55 4 19 4Z' fill='#323232'/><path d='M5 20C5.55 20 6 19.55 6 19V5C6 4.45 5.55 4 5 4C4.45 4 4 4.45 4 5V19C4 19.55 4.45 20 5 20Z' fill='#323232'/><path d='M12 8C12.55 8 13 7.55 13 7V5C13 4.45 12.55 4 12 4C11.45 4 11 4.45 11 5V7C11 7.55 11.45 8 12 8Z' fill='#323232'/><path d='M12 14C12.55 14 13 13.55 13 13V11C13 10.45 12.55 10 12 10C11.45 10 11 10.45 11 11V13C11 13.55 11.45 14 12 14Z' fill='#323232'/><path d='M12 20C12.55 20 13 19.55 13 19V17C13 16.45 12.55 16 12 16C11.45 16 11 16.45 11 17V19C11 19.55 11.45 20 12 20Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-add-road`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


