
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M10.23 15.8299C10.62 16.2199 11.25 16.2199 11.64 15.8299L15.88 11.5899C16.27 11.1999 16.27 10.5699 15.88 10.1699C15.49 9.77994 14.86 9.77994 14.47 10.1699L10.93 13.6999L9.51997 12.2899C9.12997 11.8999 8.49997 11.8999 8.09997 12.2899C7.69997 12.6799 7.70997 13.3099 8.09997 13.6999L10.23 15.8299Z' fill='#323232'/><path d='M19 4H5C3.89 4 3 4.9 3 6V18C3 19.1 3.89 20 5 20H19C20.1 20 21 19.1 21 18V6C21 4.9 20.11 4 19 4ZM19 17C19 17.55 18.55 18 18 18H6C5.45 18 5 17.55 5 17V8H19V17Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-domain-verification`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


