
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M21.25 10.5C20.84 10.5 20.5 10.84 20.5 11.25H18.96C18.81 9.88 18.27 8.62 17.44 7.6L18.53 6.51L18.54 6.52C18.83 6.81 19.31 6.81 19.6 6.52C19.89 6.23 19.89 5.75 19.6 5.46L18.54 4.4C18.25 4.11 17.77 4.11 17.48 4.4C17.19 4.69 17.19 5.16 17.47 5.45L16.38 6.54C15.36 5.72 14.11 5.18 12.74 5.03V3.5H12.75C13.16 3.5 13.5 3.16 13.5 2.75C13.5 2.34 13.16 2 12.75 2H11.25C10.84 2 10.5 2.34 10.5 2.75C10.5 3.16 10.83 3.49 11.24 3.5V5.05C9.87 5.19 8.62 5.74 7.6 6.56L6.51 5.47L6.52 5.46C6.81 5.17 6.81 4.69 6.52 4.4C6.23 4.11 5.75 4.11 5.46 4.4L4.4 5.46C4.11 5.75 4.11 6.23 4.4 6.52C4.69 6.81 5.16 6.81 5.45 6.53L6.54 7.62C5.72 8.64 5.18 9.88 5.04 11.25H3.5C3.5 10.84 3.16 10.5 2.75 10.5C2.34 10.5 2 10.84 2 11.25V12.75C2 13.16 2.34 13.5 2.75 13.5C3.16 13.5 3.5 13.16 3.5 12.75H5.04C5.19 14.12 5.73 15.36 6.54 16.38L5.45 17.47C5.16 17.18 4.69 17.19 4.4 17.48C4.11 17.77 4.11 18.25 4.4 18.54L5.46 19.6C5.75 19.89 6.23 19.89 6.52 19.6C6.81 19.31 6.81 18.83 6.52 18.54L6.51 18.53L7.6 17.44C8.62 18.26 9.86 18.8 11.23 18.95V20.5C10.82 20.51 10.49 20.84 10.49 21.25C10.49 21.66 10.83 22 11.24 22H12.74C13.15 22 13.49 21.66 13.49 21.25C13.49 20.84 13.15 20.5 12.74 20.5H12.73V18.96C14.1 18.82 15.35 18.27 16.37 17.45L17.46 18.54C17.17 18.83 17.18 19.3 17.47 19.59C17.76 19.88 18.24 19.88 18.53 19.59L19.59 18.53C19.88 18.24 19.88 17.76 19.59 17.47C19.3 17.18 18.82 17.18 18.53 17.47L18.52 17.48L17.43 16.39C18.25 15.37 18.8 14.12 18.95 12.74H20.49C20.49 13.15 20.83 13.49 21.24 13.49C21.65 13.49 21.99 13.15 21.99 12.74V11.24C22 10.84 21.66 10.5 21.25 10.5ZM13.75 8C14.3 8 14.75 8.45 14.75 9C14.75 9.55 14.3 10 13.75 10C13.2 10 12.75 9.55 12.75 9C12.75 8.45 13.2 8 13.75 8ZM12 13C11.45 13 11 12.55 11 12C11 11.45 11.45 11 12 11C12.55 11 13 11.45 13 12C13 12.55 12.55 13 12 13ZM10.25 8C10.8 8 11.25 8.45 11.25 9C11.25 9.55 10.8 10 10.25 10C9.7 10 9.25 9.55 9.25 9C9.25 8.45 9.7 8 10.25 8ZM8.5 13C7.95 13 7.5 12.55 7.5 12C7.5 11.45 7.95 11 8.5 11C9.05 11 9.5 11.45 9.5 12C9.5 12.55 9.05 13 8.5 13ZM10.25 16C9.7 16 9.25 15.55 9.25 15C9.25 14.45 9.7 14 10.25 14C10.8 14 11.25 14.45 11.25 15C11.25 15.55 10.8 16 10.25 16ZM13.75 16C13.2 16 12.75 15.55 12.75 15C12.75 14.45 13.2 14 13.75 14C14.3 14 14.75 14.45 14.75 15C14.75 15.55 14.3 16 13.75 16ZM14.5 12C14.5 11.45 14.95 11 15.5 11C16.05 11 16.5 11.45 16.5 12C16.5 12.55 16.05 13 15.5 13C14.95 13 14.5 12.55 14.5 12Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-coronavirus`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


