
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M21.68 9.71L17.96 17.9C17.73 18.39 17 18.23 17 17.69V11H15.5C15.22 11 15 10.78 15 10.5V4.5C15 4.22 15.22 4 15.5 4H21.26C21.61 4 21.86 4.36 21.72 4.69L20 9H21.22C21.59 9 21.83 9.38 21.68 9.71ZM15 13V20H4C2.9 20 2 19.1 2 18V15C2 13.9 2.9 13 4 13H15ZM6.25 16.5C6.25 16.09 5.91 15.75 5.5 15.75C5.09 15.75 4.75 16.09 4.75 16.5C4.75 16.91 5.09 17.25 5.5 17.25C5.91 17.25 6.25 16.91 6.25 16.5ZM13 4V11H4C2.9 11 2 10.1 2 9V6C2 4.9 2.9 4 4 4H13ZM6.25 7.5C6.25 7.09 5.91 6.75 5.5 6.75C5.09 6.75 4.75 7.09 4.75 7.5C4.75 7.91 5.09 8.25 5.5 8.25C5.91 8.25 6.25 7.91 6.25 7.5Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-dynamic-form`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


