
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M19.5201 2.49002C17.1801 0.150019 12.9001 0.620018 9.97006 3.55002C8.37006 5.15002 7.45006 7.42002 7.43006 9.01002C7.41006 10.59 7.69006 12.9 6.08006 14.51L2.54006 18.04C2.15006 18.43 2.15006 19.06 2.54006 19.46C2.93006 19.85 3.56006 19.85 3.96006 19.46L7.49006 15.92C9.10006 14.31 11.4101 14.59 12.9901 14.57C14.5701 14.55 16.8501 13.63 18.4501 12.03C21.3801 9.11002 21.8601 4.83002 19.5201 2.49002ZM10.3201 11.68C8.79006 10.15 9.27006 7.07002 11.3801 4.96002C13.4901 2.85002 16.5601 2.37002 18.1001 3.90002C19.6301 5.43002 19.1501 8.51002 17.0401 10.62C14.9301 12.73 11.8601 13.21 10.3201 11.68Z' fill='#323232'/><path d='M18 17C18.53 17 19.04 17.21 19.41 17.59C20.19 18.37 20.19 19.64 19.41 20.42C19.04 20.79 18.53 21 18 21C17.47 21 16.96 20.79 16.59 20.41C15.81 19.63 15.81 18.36 16.59 17.58C16.96 17.21 17.47 17 18 17ZM18 15C16.98 15 15.95 15.39 15.17 16.17C13.61 17.73 13.61 20.26 15.17 21.83C15.95 22.61 16.98 23 18 23C19.02 23 20.05 22.61 20.83 21.83C22.39 20.27 22.39 17.74 20.83 16.17C20.05 15.39 19.02 15 18 15Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-sports-tennis`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


