
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M21.65 7.65003L18.86 4.86003C18.54 4.54003 18 4.76003 18 5.21003V7.00003H4C3.45 7.00003 3 7.45003 3 8.00003C3 8.55003 3.45 9.00003 4 9.00003H18V10.79C18 11.24 18.54 11.46 18.85 11.14L21.64 8.35003C21.84 8.16003 21.84 7.84003 21.65 7.65003Z' fill='#323232'/><path d='M2.35001 16.35L5.14001 19.14C5.46001 19.46 6.00001 19.24 6.00001 18.79V17H20C20.55 17 21 16.55 21 16C21 15.45 20.55 15 20 15H6.00001V13.21C6.00001 12.76 5.46001 12.54 5.15001 12.86L2.36001 15.65C2.16001 15.84 2.16001 16.16 2.35001 16.35Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-sync-alt`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


