
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M19 7H18.18L16.48 2.32C16.19 1.53 15.44 1 14.6 1H13C12.45 1 12 1.45 12 2C12 2.55 12.45 3 13 3H14.6L16.06 7H11.25L10.89 6H10.98C11.53 6 11.98 5.55 11.98 5C11.98 4.45 11.53 4 10.98 4H8C7.45 4 7 4.45 7 5C7 5.55 7.45 6 8 6H8.75L10.57 11H9.9C9.46 8.77 7.59 7.12 5.25 7.01C2.45 6.87 0 9.2 0 12C0 14.8 2.2 17 5 17C7.46 17 9.45 15.31 9.9 13H14.1C14.54 15.23 16.41 16.88 18.75 16.99C21.55 17.12 24 14.8 24 11.99C24 9.2 21.8 7 19 7ZM6 13H7.82C7.4 14.23 6.22 15.08 4.8 14.99C3.31 14.9 2.07 13.64 2 12.14C1.93 10.39 3.27 9 5 9C6.33 9 7.42 9.83 7.82 11H6C5.45 11 5 11.45 5 12C5 12.55 5.45 13 6 13ZM14.1 11H12.7L11.97 9H15C14.56 9.58 14.24 10.25 14.1 11ZM18.88 15C17.34 14.94 16.04 13.63 16 12.08C15.98 11.12 16.39 10.28 17.05 9.72L17.67 11.42C17.86 11.94 18.43 12.21 18.95 12.02C19.47 11.83 19.74 11.26 19.55 10.74L18.92 9.01C18.92 9.01 18.92 9.01 18.93 9C20.64 8.96 22 10.29 22 12C22 13.72 20.62 15.06 18.88 15Z' fill='#323232'/><path d='M11 20H7L13 23V21H17L11 18V20Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-electric-bike`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


