
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M20.71 5.63L18.37 3.29C17.98 2.9 17.35 2.9 16.96 3.29L13.84 6.41L12.61 5.2C12.22 4.81 11.59 4.82 11.2 5.2C10.81 5.59 10.81 6.22 11.2 6.61L11.92 7.33L3.15 16.1C3.05 16.2 3 16.32 3 16.46V20.5C3 20.78 3.22 21 3.5 21H7.54C7.67 21 7.8 20.95 7.89 20.85L16.66 12.08L17.38 12.8C17.77 13.19 18.4 13.19 18.79 12.8C19.18 12.41 19.18 11.78 18.79 11.39L17.57 10.17L20.69 7.05C21.1 6.65 21.1 6.02 20.71 5.63ZM6.92 19L5 17.08L13.06 9.02L14.98 10.94L6.92 19Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-colorize`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


