
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M12 4H5C3.34 4 2 5.34 2 7V15C2 16.66 3.34 18 5 18L4.23 18.77C3.95 19.05 3.95 19.49 4.23 19.77C4.51 20.05 4.95 20.05 5.23 19.77L7 18H9V13H4.5C4.22 13 4 12.78 4 12.5V6.5C4 6.22 4.22 6 4.5 6H12.5C12.78 6 13 6.22 13 6.5V8H15V7C15 5.34 13.66 4 12 4ZM5 14C5.55 14 6 14.45 6 15C6 15.55 5.55 16 5 16C4.45 16 4 15.55 4 15C4 14.45 4.45 14 5 14ZM20.57 9.66C20.43 9.26 20.05 9 19.6 9H12.41C11.95 9 11.58 9.26 11.43 9.66L10.01 13.77V19.01C10.01 19.56 10.46 20 11.01 20C11.56 20 12.01 19.55 12.01 19V18H20.01V19C20.01 19.55 20.46 20 21.01 20C21.56 20 22 19.56 22.01 19.01L22 13.77L20.57 9.66ZM12.77 10H19.25C19.46 10 19.65 10.14 19.72 10.34L20.41 12.34C20.52 12.66 20.28 13 19.94 13H12.09C11.75 13 11.51 12.66 11.62 12.34L12.31 10.34C12.36 10.14 12.55 10 12.77 10ZM12 16C11.45 16 11 15.55 11 15C11 14.45 11.45 14 12 14C12.55 14 13 14.45 13 15C13 15.55 12.55 16 12 16ZM20 16C19.45 16 19 15.55 19 15C19 14.45 19.45 14 20 14C20.55 14 21 14.45 21 15C21 15.55 20.55 16 20 16Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-commute`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


