
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M5 10H15C15.55 10 16 10.45 16 11C16 11.55 15.55 12 15 12H5C4.45 12 4 11.55 4 11C4 10.45 4.45 10 5 10ZM5 6H15C15.55 6 16 6.45 16 7C16 7.55 15.55 8 15 8H5C4.45 8 4 7.55 4 7C4 6.45 4.45 6 5 6ZM5 14H11C11.55 14 12 14.45 12 15C12 15.55 11.55 16 11 16H5C4.45 16 4 15.55 4 15C4 14.45 4.45 14 5 14ZM14 14.88V19.11C14 19.5 14.42 19.74 14.76 19.54L18.29 17.42C18.61 17.23 18.61 16.76 18.29 16.56L14.76 14.44C14.42 14.25 14 14.49 14 14.88Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-playlist-play`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


