
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M20.4901 20.49L3.51012 3.51C3.12012 3.12 2.49012 3.12 2.10012 3.51C1.71012 3.9 1.71012 4.53 2.10012 4.92L9.64012 12.46L11.0001 14V19H7.00012C6.45012 19 6.00012 19.45 6.00012 20C6.00012 20.55 6.45012 21 7.00012 21H17.0001C17.3201 21 17.5901 20.84 17.7801 20.6L19.0801 21.9C19.4701 22.29 20.1001 22.29 20.4901 21.9C20.8801 21.51 20.8801 20.88 20.4901 20.49ZM13.0001 19V15.83L16.1701 19H13.0001ZM7.83012 5L5.83012 3H19.5501C20.3501 3 21.0001 3.65 21.0001 4.45C21.0001 4.8 20.8701 5.15 20.6301 5.41L14.8001 11.97L9.83012 7H16.5701L18.3501 5H7.83012Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-no-drinks`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


