
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M20.65 17.65L18.86 15.86C18.54 15.54 18 15.76 18 16.21V17H6C5.45 17 5 17.45 5 18C5 18.55 5.45 19 6 19H18V19.79C18 20.24 18.54 20.46 18.85 20.14L20.64 18.35C20.84 18.16 20.84 17.84 20.65 17.65ZM9.5 11.8H14.5L15.16 13.4C15.31 13.76 15.66 14 16.05 14C16.74 14 17.2 13.29 16.93 12.66L13.05 3.69C12.87 3.27 12.46 3 12 3C11.54 3 11.13 3.27 10.95 3.69L7.07 12.66C6.8 13.29 7.27 14 7.96 14C8.35 14 8.7 13.76 8.85 13.4L9.5 11.8ZM12 4.98L13.87 10H10.13L12 4.98Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-text-rotation-none`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


