
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M19 3H5C3.9 3 3 3.9 3 5V19C3 20.1 3.9 21 5 21H19C20.1 21 21 20.1 21 19V5C21 3.9 20.1 3 19 3ZM6.25 7.5H7.5V6.25C7.5 5.84 7.84 5.5 8.25 5.5C8.66 5.5 9 5.84 9 6.25V7.5H10.25C10.66 7.5 11 7.84 11 8.25C11 8.66 10.66 9 10.25 9H9V10.25C9 10.66 8.66 11 8.25 11C7.84 11 7.5 10.66 7.5 10.25V9H6.25C5.84 9 5.5 8.66 5.5 8.25C5.5 7.84 5.84 7.5 6.25 7.5ZM18 19H5L19 5V18C19 18.55 18.55 19 18 19ZM17 16.25C17 15.84 16.66 15.5 16.25 15.5H12.75C12.34 15.5 12 15.84 12 16.25C12 16.66 12.34 17 12.75 17H16.25C16.66 17 17 16.66 17 16.25Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-iso`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


