
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M6.85 12.65H9.15L8 9L6.85 12.65ZM22.72 7C22.3 7 21.95 7.3 21.87 7.7L20.8 13.29L19.49 7.78C19.38 7.32 18.97 7 18.5 7C18.03 7 17.62 7.32 17.52 7.78L16.21 13.29L15.14 7.7C15.06 7.3 14.7 7 14.29 7C14.28 7 14.26 7.01 14.25 7.01C12.78 5.18 10.53 4 8 4C3.58 4 0 7.58 0 12C0 16.42 3.58 20 8 20C11.17 20 13.9 18.15 15.2 15.48C15.4 15.8 15.75 16 16.14 16C16.65 16 17.09 15.65 17.21 15.16L18.5 9.9L19.79 15.16C19.91 15.65 20.36 16 20.86 16C21.38 16 21.82 15.64 21.94 15.14L23.55 8.06C23.68 7.52 23.27 7 22.72 7ZM10.93 16C10.55 16 10.21 15.76 10.09 15.4L9.6 14H6.4L5.91 15.4C5.78 15.76 5.45 16 5.07 16C4.45 16 4.02 15.39 4.23 14.81L6.67 7.95C6.87 7.38 7.4 7 8 7C8.6 7 9.13 7.38 9.34 7.94L11.78 14.8C11.98 15.39 11.55 16 10.93 16Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-wb-auto`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


