
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M21.99 14.77L20.56 10.66C20.42 10.26 20.04 10 19.59 10H12.4C11.94 10 11.57 10.26 11.42 10.66L10 14.77V20.01C10 20.56 10.45 21 11 21C11.55 21 12 20.55 12 20V19H20V20C20 20.55 20.45 21 21 21C21.55 21 21.99 20.56 22 20.01L21.99 14.77ZM11.61 13.34L12.3 11.34C12.35 11.14 12.54 11 12.76 11H19.24C19.45 11 19.64 11.14 19.71 11.34L20.4 13.34C20.51 13.66 20.27 14 19.93 14H12.08C11.74 14 11.5 13.66 11.61 13.34ZM11.99 17C11.44 17 10.99 16.55 10.99 16C10.99 15.45 11.44 15 11.99 15C12.54 15 12.99 15.45 12.99 16C12.99 16.55 12.54 17 11.99 17ZM19.99 17C19.44 17 18.99 16.55 18.99 16C18.99 15.45 19.44 15 19.99 15C20.54 15 20.99 15.45 20.99 16C20.99 16.55 20.54 17 19.99 17Z' fill='#323232'/><path d='M14 4.5V9H15V4C15 3.45 14.55 3 14 3H8C7.45 3 7 3.45 7 4V8H3C2.45 8 2 8.45 2 9V21H3V9.5C3 9.22 3.22 9 3.5 9H7.5C7.78 9 8 8.78 8 8.5V4.5C8 4.22 8.22 4 8.5 4H13.5C13.78 4 14 4.22 14 4.5Z' fill='#323232'/><path d='M7 11H5V13H7V11Z' fill='#323232'/><path d='M12 5H10V7H12V5Z' fill='#323232'/><path d='M7 15H5V17H7V15Z' fill='#323232'/><path d='M7 19H5V21H7V19Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-emoji-transportation`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


