
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M14 10V3.26C13.35 3.09 12.68 3 12 3C7.8 3 4 6.22 4 11.2C4 14.38 6.45 18.12 11.34 22.43C11.72 22.76 12.29 22.76 12.67 22.43C17.55 18.12 20 14.38 20 11.2C20 10.79 19.96 10.39 19.91 10H14ZM12 13C10.9 13 10 12.1 10 11C10 9.9 10.9 9 12 9C13.1 9 14 9.9 14 11C14 12.1 13.1 13 12 13Z' fill='#323232'/><path d='M22.54 2.88002L21.12 1.46002L19 3.59002L16.88 1.46002L15.46 2.88002L17.59 5.00002L15.46 7.12002L16.88 8.54002L19 6.41002L21.12 8.54002L22.54 7.12002L20.41 5.00002L22.54 2.88002Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-wrong-location`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


