
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M7.25 9C6.84 9 6.5 9.34 6.5 9.75V11H4.5V9.75C4.5 9.34 4.16 9 3.75 9C3.34 9 3 9.34 3 9.75V14.25C3 14.66 3.34 15 3.75 15C4.16 15 4.5 14.66 4.5 14.25V12.5H6.5V14.25C6.5 14.66 6.84 15 7.25 15C7.66 15 8 14.66 8 14.25V9.75C8 9.34 7.66 9 7.25 9ZM21 11.5V10.5C21 9.67 20.33 9 19.5 9H17C16.45 9 16 9.45 16 10V14.25C16 14.66 16.34 15 16.75 15C17.16 15 17.5 14.66 17.5 14.25V13H18.6L19.32 14.59C19.43 14.84 19.68 15 19.95 15C20.45 15 20.78 14.49 20.59 14.04L20.1 12.9C20.6 12.6 21 12.1 21 11.5ZM17.5 11.5V10.5H19.5V11.5H17.5ZM13 9H10C9.72 9 9.5 9.22 9.5 9.5V14.5C9.5 14.78 9.72 15 10 15H13C13.82 15 14.5 14.32 14.5 13.5V10.5C14.5 9.68 13.82 9 13 9ZM13 13.5H11V10.5H13V13.5Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-hdr-on`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


