
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M13 16.12C16.37 15.72 19.01 12.93 19.16 9.48002C19.33 5.61002 16.14 2.23002 12.27 2.17002C8.35 2.12002 5.17 5.27002 5.17 9.17002C5.17 12.64 7.69 15.51 11 16.06V20H6C5.45 20 5 20.45 5 21C5 21.55 5.45 22 6 22H18C18.55 22 19 21.55 19 21C19 20.45 18.55 20 18 20H13V16.12Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-nature`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


