
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M1 6C0.45 6 0 6.45 0 7V11H0.01L0 20C0 21.1 0.9 22 2 22H19C19.55 22 20 21.55 20 21C20 20.45 19.55 20 19 20H3C2.45 20 2 19.55 2 19V7C2 6.45 1.55 6 1 6ZM22 4H14L12.59 2.59C12.21 2.21 11.7 2 11.17 2H6C4.9 2 4.01 2.9 4.01 4L4 16C4 17.1 4.9 18 6 18H22C23.1 18 24 17.1 24 16V6C24 4.9 23.1 4 22 4ZM7.6 14.2L11.11 9.52C11.31 9.26 11.7 9.25 11.91 9.51L15.01 13.5L17.11 10.97C17.31 10.72 17.69 10.73 17.89 10.98L20.38 14.18C20.64 14.51 20.4 14.99 19.99 14.99H8C7.59 15 7.35 14.53 7.6 14.2Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-perm-media`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


