
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M16 19C16 19.55 15.55 20 15 20H9C8.45 20 8 19.55 8 19C8 18.45 8.45 18 9 18H15C15.55 18 16 18.45 16 19ZM11 7.99003V15C11 15.55 11.45 16 12 16C12.55 16 13 15.55 13 15V7.99003H14.79C15.24 7.99003 15.46 7.45003 15.14 7.14003L12.35 4.36003C12.15 4.17003 11.84 4.17003 11.64 4.36003L8.86 7.14003C8.54 7.45003 8.76 7.99003 9.21 7.99003H11Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-upgrade`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


