
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M22 14.6C22 15.3 21.33 15.8 20.66 15.61L17.51 14.68L10.5 7.67V3.5C10.5 2.67 11.17 2 12 2C12.83 2 13.5 2.67 13.5 3.5V9L21.48 13.7C21.8 13.88 22 14.23 22 14.6ZM13.5 13.5L9.56 9.56L3.51 3.51C3.12 3.12 2.49 3.12 2.1 3.51C1.71 3.9 1.71 4.53 2.1 4.92L7.77 10.59L2.52 13.7C2.2 13.88 2 14.23 2 14.6C2 15.3 2.67 15.8 3.34 15.61L10.5 13.51V19L8.24 20.35C8.08999 20.44 8 20.61 8 20.78V21.28V21.36C8 21.69 8.31 21.93 8.62 21.85L11.54 21.12L12 21L12.38 21.09L12.8 21.2L14.7 21.68L15.37 21.85C15.69 21.93 15.99 21.69 15.99 21.36V20.99V20.78C15.99 20.6 15.9 20.44 15.75 20.35L13.5 19V16.33L19.07 21.9C19.46 22.29 20.09 22.29 20.48 21.9C20.87 21.51 20.87 20.88 20.48 20.49L13.5 13.5Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-airplanemode-inactive`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


