
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M8.41 22H15.58C16.47 22 16.92 20.92 16.29 20.29L12.7 16.7C12.31 16.31 11.68 16.31 11.29 16.7L7.7 20.29C7.08 20.92 7.52 22 8.41 22ZM21 3H3C1.9 3 1 3.9 1 5V17C1 18.1 1.9 19 3 19H6C6.55 19 7 18.55 7 18C7 17.45 6.55 17 6 17H4C3.45 17 3 16.55 3 16V6C3 5.45 3.45 5 4 5H20C20.55 5 21 5.45 21 6V16C21 16.55 20.55 17 20 17H18C17.45 17 17 17.45 17 18C17 18.55 17.45 19 18 19H21C22.1 19 23 18.1 23 17V5C23 3.9 22.1 3 21 3Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-airplay`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


