
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M2 9C1.45 9 1 9.45 1 10V20C1 21.1 1.9 22 3 22H17C18.11 22 19 21.11 19 20H4C3.45 20 3 19.55 3 19V10C3 9.45 2.55 9 2 9ZM18 5V3C18 1.9 17.1 1 16 1H12C10.9 1 10 1.9 10 3V5H7C5.9 5 5 5.9 5 7V16C5 17.1 5.9 18 7 18H21C22.1 18 23 17.1 23 16V7C23 5.9 22.1 5 21 5H18ZM12 3H16V5H12V3ZM12 14.02V8.84C12 8.46 12.41 8.22 12.74 8.4L16.81 10.62C17.13 10.8 17.16 11.25 16.86 11.46L12.79 14.42C12.46 14.66 12 14.43 12 14.02Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-shop-two`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


