
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M12.25 9C12.66 9 13 9.34 13 9.75V14.25C13 14.66 12.66 15 12.25 15C11.84 15 11.5 14.66 11.5 14.25V9.75C11.5 9.34 11.84 9 12.25 9ZM10 9.75C10 9.34 9.66 9 9.25 9H6C5.4 9 5 9.5 5 10V14C5 14.5 5.4 15 6 15H9C9.6 15 10 14.5 10 14V12.75C10 12.34 9.66 12 9.25 12C8.84 12 8.5 12.34 8.5 12.75V13.5H6.5V10.5H9.25C9.66 10.5 10 10.16 10 9.75ZM19 9.75C19 9.34 18.66 9 18.25 9H15.5C14.95 9 14.5 9.45 14.5 10V14.25C14.5 14.66 14.84 15 15.25 15C15.66 15 16 14.66 16 14.25V13H17.25C17.66 13 18 12.66 18 12.25C18 11.84 17.66 11.5 17.25 11.5H16V10.5H18.25C18.66 10.5 19 10.16 19 9.75Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-gif`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


