
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M11.9999 16C13.0099 16 13.9099 15.61 14.6199 15H9.37988C10.0899 15.61 10.9899 16 11.9999 16Z' fill='#323232'/><path d='M8.56006 14H15.4501C15.7101 13.55 15.8901 13.04 15.9601 12.5H8.06006C8.12006 13.04 8.29006 13.55 8.56006 14Z' fill='#323232'/><path d='M11.9999 8C10.9899 8 10.0899 8.39 9.37988 9H14.6199C13.9099 8.39 13.0099 8 11.9999 8Z' fill='#323232'/><path d='M8.5598 10C8.2998 10.45 8.1198 10.96 8.0498 11.5H15.9498C15.8798 10.96 15.7098 10.45 15.4398 10H8.5598Z' fill='#323232'/><path d='M19 3H5C3.9 3 3 3.9 3 5V19C3 20.1 3.9 21 5 21H19C20.1 21 21 20.1 21 19V5C21 3.9 20.1 3 19 3ZM12 18C8.69 18 6 15.31 6 12C6 8.69 8.69 6 12 6C15.31 6 18 8.69 18 12C18 15.31 15.31 18 12 18Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-hvac`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


