
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M8 18C8.55 18 9 17.55 9 17V7C9 6.45 8.55 6 8 6C7.45 6 7 6.45 7 7V17C7 17.55 7.45 18 8 18ZM12 22C12.55 22 13 21.55 13 21V3C13 2.45 12.55 2 12 2C11.45 2 11 2.45 11 3V21C11 21.55 11.45 22 12 22ZM4 14C4.55 14 5 13.55 5 13V11C5 10.45 4.55 10 4 10C3.45 10 3 10.45 3 11V13C3 13.55 3.45 14 4 14ZM16 18C16.55 18 17 17.55 17 17V7C17 6.45 16.55 6 16 6C15.45 6 15 6.45 15 7V17C15 17.55 15.45 18 16 18ZM19 11V13C19 13.55 19.45 14 20 14C20.55 14 21 13.55 21 13V11C21 10.45 20.55 10 20 10C19.45 10 19 10.45 19 11Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-graphic-eq`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


