
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M20 11C19.82 11 19.64 11.03 19.47 11.05L17.41 9H19C19.55 9 20 8.55 20 8V7.62C20 6.88 19.22 6.39 18.55 6.73L16.27 7.87L13.7 5.3C13.52 5.11 13.26 5 13 5H10C9.45 5 9 5.45 9 6C9 6.55 9.45 7 10 7H12.17C12.44 7 12.69 7.11 12.88 7.29L14.59 9H11.24C11.08 9 10.93 9.04 10.79 9.11L7.65 10.68C7.27 10.87 6.8 10.8 6.5 10.49L5.3 9.29C5.11 9.11 4.85 9 4.59 9H1C0.45 9 0 9.45 0 10C0 10.55 0.45 11 1 11H4C1.48 11 -0.49 13.32 0.11 15.94C0.44 17.39 1.61 18.56 3.06 18.89C5.68 19.49 8 17.52 8 15L9.41 16.41C9.79 16.79 10.3 17 10.83 17H11.84C12.56 17 13.22 16.62 13.58 15.99L16.49 10.9L17.5 11.91C16.37 12.82 15.74 14.32 16.12 15.96C16.46 17.4 17.63 18.57 19.07 18.9C21.68 19.49 24 17.51 24 15C24 12.79 22.21 11 20 11ZM4 17C2.9 17 2 16.1 2 15C2 13.9 2.9 13 4 13C5.1 13 6 13.9 6 15C6 16.1 5.1 17 4 17ZM20 17C18.9 17 18 16.1 18 15C18 13.9 18.9 13 20 13C21.1 13 22 13.9 22 15C22 16.1 21.1 17 20 17Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-two-wheeler`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


