
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M23 7C23 8.1 22.1 9 21 9C19.9 9 19 8.1 19 7C19 6.22 19.99 4.56 20.58 3.64C20.78 3.33 21.22 3.33 21.42 3.64C22.01 4.56 23 6.22 23 7ZM21.86 10.38C21.94 10.91 22 11.45 22 12C22 17.52 17.52 22 11.99 22C6.47 22 2 17.52 2 12C2 6.48 6.47 2 11.99 2C14.44 2 16.68 2.88 18.42 4.34C17.91 5.29 17.5 6.27 17.5 7C17.5 8.93 19.07 10.5 21 10.5C21.3 10.5 21.58 10.45 21.86 10.38ZM14.03 10.03L15.09 11.09C15.38 11.38 15.86 11.38 16.15 11.09C16.44 10.8 16.44 10.32 16.15 10.03L15.62 9.5L16.15 8.97C16.44 8.68 16.44 8.2 16.15 7.91C15.86 7.62 15.38 7.62 15.09 7.91L14.03 8.97C13.74 9.26 13.74 9.74 14.03 10.03ZM8.38 9.5L7.85 10.03C7.56 10.32 7.56 10.8 7.85 11.09C8.14 11.38 8.62 11.38 8.91 11.09L9.97 10.03C10.26 9.74 10.26 9.26 9.97 8.97L8.91 7.91C8.62 7.62 8.14 7.62 7.85 7.91C7.56 8.2 7.56 8.68 7.85 8.97L8.38 9.5ZM16.47 15.8C15.47 14.41 13.85 13.5 12 13.5C11.13 13.5 10.31 13.7 9.57 14.06L5.99 12C5.99 11.48 5.73 10.98 5.25 10.71C4.45 10.25 3.41 10.6 3.08 11.51C2.87 12.08 3.05 12.76 3.52 13.15C4.04 13.59 4.72 13.6 5.24 13.31L8.21 15.03C7.96 15.27 7.73 15.53 7.53 15.81C7.17 16.3 7.53 17 8.15 17C8.38 17 8.61 16.9 8.75 16.7C9.47 15.68 10.65 15 12 15C13.35 15 14.53 15.68 15.25 16.7C15.39 16.89 15.61 17 15.85 17C16.47 17 16.83 16.3 16.47 15.8Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-sick`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


