
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M5.23018 2C4.04018 2 3.11018 3.04 3.24018 4.22L5.01018 20.23C5.13018 21.23 5.97018 22 7.00018 22H17.0002C18.0302 22 18.8702 21.23 18.9902 20.23L20.7602 4.22C20.8902 3.04 19.9602 2 18.7702 2H5.23018ZM12.0002 19C10.3402 19 9.00018 17.66 9.00018 16C9.00018 14.45 10.8102 12.05 11.6202 11.06C11.8202 10.81 12.1902 10.81 12.3902 11.06C13.2002 12.06 15.0102 14.45 15.0102 16C15.0002 17.66 13.6602 19 12.0002 19ZM18.3302 8H5.67018L5.35018 5.11C5.29018 4.52 5.75018 4 6.35018 4H17.6502C18.2402 4 18.7102 4.52 18.6402 5.11L18.3302 8Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-local-drink`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


