
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M19.2 8.56L14.98 6.26C14.68 6.1 14.32 6.1 14.02 6.26L9.8 8.56C9.45 8.75 9.45 9.25 9.8 9.44L14.02 11.74C14.32 11.9 14.68 11.9 14.98 11.74L19.2 9.44C19.54 9.25 19.54 8.75 19.2 8.56ZM21 3H3C1.9 3 1 3.9 1 5V7C1 7.55 1.45 8 2 8C2.55 8 3 7.55 3 7V6C3 5.45 3.45 5 4 5H20C20.55 5 21 5.45 21 6V18C21 18.55 20.55 19 20 19H15C14.45 19 14 19.45 14 20C14 20.55 14.45 21 15 21H21C22.1 21 23 20.1 23 19V5C23 3.9 22.1 3 21 3ZM14.02 12.74L11 11.09V12.5C11 12.87 11.2 13.2 11.52 13.38L14.02 14.74C14.32 14.9 14.68 14.9 14.98 14.74L17.48 13.38C17.8 13.2 18 12.86 18 12.5V11.09L14.98 12.74C14.68 12.9 14.32 12.9 14.02 12.74ZM1 18V21H4C4 19.34 2.66 18 1 18ZM2.14 14.09C1.54 13.99 1 14.48 1 15.09C1 15.58 1.36 15.99 1.85 16.07C3.93 16.43 5.57 18.07 5.93 20.15C6.01 20.64 6.42 21 6.91 21C7.52 21 8 20.46 7.91 19.86C7.43 16.9 5.09 14.57 2.14 14.09ZM2.1 10.05C1.51 10 1 10.46 1 11.05C1 11.56 1.38 11.99 1.88 12.04C6.15 12.45 9.55 15.85 9.96 20.12C10.01 20.62 10.44 20.99 10.95 20.99C11.55 20.99 12.01 20.47 11.95 19.88C11.42 14.69 7.29 10.57 2.1 10.05Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-cast-for-education`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


