
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M22 4.95C21.79 4.78 19.67 3 16.5 3C13.32 3 11.21 4.78 11 4.95L16.5 12L22 4.95Z' fill='#323232'/><path d='M19.2 15.28L16.66 14.99C16.05 14.92 15.45 15.13 15.02 15.56L13.18 17.4C10.35 15.96 8.03001 13.65 6.59001 10.81L8.44001 8.96003C8.87001 8.53003 9.08001 7.92003 9.01001 7.32003L8.72001 4.80003C8.60001 3.79003 7.75001 3.03003 6.73001 3.03003H5.00001C3.87001 3.03003 2.93001 3.97003 3.00001 5.10003C3.53001 13.64 10.36 20.47 18.9 21C20.03 21.07 20.97 20.13 20.97 19V17.27C20.97 16.25 20.21 15.4 19.2 15.28Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-wifi-calling`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


