
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M14 9H21C21.55 9 22 8.55 22 8C22 7.45 21.55 7 21 7H14C13.45 7 13 7.45 13 8C13 8.55 13.45 9 14 9Z' fill='#323232'/><path d='M21 15H14C13.45 15 13 15.45 13 16C13 16.55 13.45 17 14 17H21C21.55 17 22 16.55 22 16C22 15.45 21.55 15 21 15Z' fill='#323232'/><path d='M21 11H17C16.45 11 16 11.45 16 12C16 12.55 16.45 13 17 13H21C21.55 13 22 12.55 22 12C22 11.45 21.55 11 21 11Z' fill='#323232'/><path d='M8.85 7.84994C8.54 7.53994 8 7.75994 8 8.20994V10.9999H3C2.45 10.9999 2 11.4499 2 11.9999C2 12.5499 2.45 12.9999 3 12.9999H8V15.7899C8 16.2399 8.54 16.4599 8.85 16.1399L12.64 12.3499C12.84 12.1499 12.84 11.8399 12.64 11.6399L8.85 7.84994Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-read-more`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


