
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M18.5 11.5C19.42 11.5 20.25 11.76 20.99 12.19V5C20.99 3.9 20.1 3 19 3H5C3.9 3 3 3.9 3 5V15C3 16.1 3.9 17 5 17H13.55C13.53 16.83 13.5 16.67 13.5 16.5C13.5 13.74 15.74 11.5 18.5 11.5ZM12.89 10.05C12.33 10.33 11.66 10.33 11.1 10.05L5.49 7.25C5.19 7.1 5 6.79 5 6.45C5 5.79 5.7 5.35 6.29 5.65L12 8.5L17.71 5.65C18.3 5.35 19 5.78 19 6.45C19 6.79 18.81 7.1 18.51 7.25L12.89 10.05ZM18.5 13C16.57 13 15 14.57 15 16.5C15 18.43 16.57 20 18.5 20C20.43 20 22 18.43 22 16.5C22 14.57 20.43 13 18.5 13ZM20.5 16.5C20.5 16.78 20.28 17 20 17H17C16.72 17 16.5 16.78 16.5 16.5C16.5 16.22 16.72 16 17 16H20C20.28 16 20.5 16.22 20.5 16.5Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-unsubscribe`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


