
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M6 4.01001C3.58 5.84001 2 8.73001 2 12C2 13.46 2.32 14.85 2.89 16.11L6 14.31V4.01001Z' fill='#323232'/><path d='M11 11.42V2.04999C9.94 2.15999 8.93 2.42999 8 2.83999V13.16L11 11.42Z' fill='#323232'/><path d='M12.0001 13.15L3.89014 17.83C4.50014 18.67 5.23014 19.42 6.07014 20.03L15.0001 14.89L12.0001 13.15Z' fill='#323232'/><path d='M13 7.95996V11.42L21.11 16.1C21.53 15.17 21.81 14.17 21.93 13.12L13 7.95996Z' fill='#323232'/><path d='M8.06982 21.2C9.27982 21.71 10.5998 22 11.9998 22C15.3398 22 18.2898 20.35 20.1098 17.84L16.9998 16.04L8.06982 21.2Z' fill='#323232'/><path d='M21.92 10.81C21.37 6.17999 17.66 2.50999 13 2.04999V5.64999L21.92 10.81Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-sports-volleyball`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


