
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M12.5 7.7C12.22 7.42 11.78 7.42 11.5 7.7L8.00004 11.2L4.50004 7.7C4.22004 7.42 3.78004 7.42 3.50004 7.7C3.22004 7.98 3.22004 8.42 3.50004 8.7L7.00004 12.2L3.50004 15.7C3.22004 15.98 3.22004 16.42 3.50004 16.7C3.78004 16.98 4.22004 16.98 4.50004 16.7L8.00004 13.2L11.5 16.7C11.78 16.98 12.22 16.98 12.5 16.7C12.78 16.42 12.78 15.98 12.5 15.7L9.00004 12.2L12.5 8.7C12.78 8.42 12.78 7.98 12.5 7.7ZM19 1H9.00004C7.90004 1 7.00004 1.9 7.00004 3V5C7.00004 5.55 7.45004 6 8.00004 6C8.55004 6 9.00004 5.55 9.00004 5V4H19V20H9.00004V19C9.00004 18.45 8.55004 18 8.00004 18C7.45004 18 7.00004 18.45 7.00004 19V21C7.00004 22.1 7.90004 23 9.00004 23H19C20.1 23 21 22.1 21 21V3C21 1.9 20.1 1 19 1Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-phonelink-erase`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


