
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M6 6C7.1 6 8 5.1 8 4C8 2.9 7.1 2 6 2C4.9 2 4 2.9 4 4C4 5.1 4.9 6 6 6ZM10 9.43C10 8.62 9.52 7.9 8.78 7.58C7.93 7.21 6.99 7 6 7C5.01 7 4.07 7.21 3.22 7.58C2.48 7.9 2 8.62 2 9.43V10H10V9.43ZM18 6C19.1 6 20 5.1 20 4C20 2.9 19.1 2 18 2C16.9 2 16 2.9 16 4C16 5.1 16.9 6 18 6ZM22 9.43C22 8.62 21.52 7.9 20.78 7.58C19.93 7.21 18.99 7 18 7C17.01 7 16.07 7.21 15.22 7.58C14.48 7.9 14 8.62 14 9.43V10H22V9.43ZM21.65 14.35L19.86 16.14C19.54 16.46 19 16.24 19 15.79V14.99L5 15V15.79C5 16.24 4.46 16.46 4.15 16.14L2.36 14.35C2.16 14.15 2.16 13.84 2.36 13.64L4.15 11.85C4.46 11.54 5 11.76 5 12.21V13.01L19 13V12.21C19 11.76 19.54 11.54 19.85 11.86L21.64 13.65C21.84 13.84 21.84 14.16 21.65 14.35ZM10 18.5C10 18.22 9.78 18 9.5 18H7.5C7.22 18 7 18.22 7 18.5V21.5C7 21.78 7.22 22 7.5 22H9.5C9.78 22 10 21.78 10 21.5V20C10 19.72 9.78 19.5 9.5 19.5H8V19H9.5C9.78 19 10 18.78 10 18.5ZM9 20.5V21H8V20.5H9ZM17 19H16.5V21.5C16.5 21.78 16.28 22 16 22C15.72 22 15.5 21.78 15.5 21.5V19H15C14.72 19 14.5 18.78 14.5 18.5C14.5 18.22 14.72 18 15 18H17C17.28 18 17.5 18.22 17.5 18.5C17.5 18.78 17.28 19 17 19ZM14 18.5C14 18.78 13.78 19 13.5 19H12.5V19.5H13C13.28 19.5 13.5 19.72 13.5 20C13.5 20.28 13.28 20.5 13 20.5H12.5V21.5C12.5 21.78 12.28 22 12 22C11.72 22 11.5 21.78 11.5 21.5V18.5C11.5 18.22 11.72 18 12 18H13.5C13.78 18 14 18.22 14 18.5Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-6-ft-apart`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


