
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M12 13.5C9.97 13.5 8.2 14.61 7.25 16.25C7.06 16.58 7.31 17 7.69 17H16.31C16.69 17 16.94 16.58 16.75 16.25C15.8 14.61 14.03 13.5 12 13.5ZM8.35 11.47L8.88 10.94L9.41 11.47C9.7 11.76 10.18 11.76 10.47 11.47C10.76 11.18 10.76 10.7 10.47 10.41L9.94 9.88L10.47 9.35C10.76 9.06 10.76 8.58 10.47 8.29C10.18 8 9.7 8 9.41 8.29L8.88 8.82L8.35 8.29C8.06 8 7.58 8 7.29 8.29C7 8.58 7 9.06 7.29 9.35L7.82 9.88L7.29 10.41C7 10.7 7 11.18 7.29 11.47C7.58 11.76 8.06 11.76 8.35 11.47ZM11.99 2C6.47 2 2 6.47 2 12C2 17.53 6.47 22 11.99 22C17.51 22 22 17.53 22 12C22 6.47 17.52 2 11.99 2ZM12 20C7.58 20 4 16.42 4 12C4 7.58 7.58 4 12 4C16.42 4 20 7.58 20 12C20 16.42 16.42 20 12 20ZM15.65 8.29L15.12 8.82L14.59 8.29C14.3 8 13.82 8 13.53 8.29C13.24 8.58 13.24 9.06 13.53 9.35L14.06 9.88L13.53 10.41C13.24 10.7 13.24 11.18 13.53 11.47C13.82 11.76 14.3 11.76 14.59 11.47L15.12 10.94L15.65 11.47C15.94 11.76 16.42 11.76 16.71 11.47C17 11.18 17 10.7 16.71 10.41L16.18 9.88L16.71 9.35C17 9.06 17 8.58 16.71 8.29C16.42 8 15.94 8 15.65 8.29Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-sentiment-very-dissatisfied`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


