
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M6.35986 18.78L6.60986 21L8.22986 19.46L10.9999 11.86C10.3199 11.69 9.71986 11.35 9.22986 10.88L6.35986 18.78Z' fill='#323232'/><path d='M14.77 10.88C14.28 11.35 13.67 11.69 13 11.86L15.77 19.46L17.39 21L17.65 18.78L14.77 10.88Z' fill='#323232'/><path d='M14.94 8.6C15.24 7.04 14.34 5.66 13 5.18V4C13 3.45 12.55 3 12 3C11.45 3 11 3.45 11 4V5.18C9.84 5.6 9 6.7 9 8C9 9.84 10.66 11.3 12.56 10.95C13.74 10.73 14.71 9.78 14.94 8.6ZM12 9C11.45 9 11 8.55 11 8C11 7.45 11.45 7 12 7C12.55 7 13 7.45 13 8C13 8.55 12.55 9 12 9Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-architecture`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


