
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M20 15H4C3.45 15 3 15.45 3 16C3 16.55 3.45 17 4 17H20C20.55 17 21 16.55 21 16C21 15.45 20.55 15 20 15ZM20 10H4C3.45 10 3 10.45 3 11V12C3 12.55 3.45 13 4 13H20C20.55 13 21 12.55 21 12V11C21 10.45 20.55 10 20 10ZM20 4H4C3.45 4 3 4.45 3 5V7C3 7.55 3.45 8 4 8H20C20.55 8 21 7.55 21 7V5C21 4.45 20.55 4 20 4ZM20.5 19H3.5C3.22 19 3 19.22 3 19.5C3 19.78 3.22 20 3.5 20H20.5C20.78 20 21 19.78 21 19.5C21 19.22 20.78 19 20.5 19Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-line-weight`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


