
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M8.88 9.94L9.41 10.47C9.7 10.76 10.18 10.76 10.47 10.47C10.76 10.18 10.76 9.7 10.47 9.41L9.59 8.53C9.2 8.14 8.57 8.14 8.18 8.53L7.29 9.41C7 9.7 7 10.18 7.29 10.47C7.58 10.76 8.06 10.76 8.35 10.47L8.88 9.94ZM12 17.5C14.03 17.5 15.8 16.39 16.75 14.75C16.94 14.42 16.7 14 16.31 14H7.69C7.31 14 7.06 14.42 7.25 14.75C8.2 16.39 9.97 17.5 12 17.5ZM13.53 10.47C13.82 10.76 14.3 10.76 14.59 10.47L15.12 9.94L15.65 10.47C15.94 10.76 16.42 10.76 16.71 10.47C17 10.18 17 9.7 16.71 9.41L15.83 8.53C15.44 8.14 14.81 8.14 14.42 8.53L13.54 9.41C13.24 9.7 13.24 10.18 13.53 10.47ZM11.99 2C6.47 2 2 6.47 2 12C2 17.53 6.47 22 11.99 22C17.51 22 22 17.53 22 12C22 6.47 17.52 2 11.99 2ZM12 20C7.58 20 4 16.42 4 12C4 7.58 7.58 4 12 4C16.42 4 20 7.58 20 12C20 16.42 16.42 20 12 20Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-sentiment-very-satisfied`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


