
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M6 11H2C1.45 11 1 11.45 1 12C1 12.55 1.45 13 2 13H6C6.55 13 7 12.55 7 12C7 11.45 6.55 11 6 11ZM8.47 7.06L7.75 6.34C7.36 5.95 6.73 5.95 6.34 6.34C5.95 6.73 5.95 7.36 6.34 7.75L7.05 8.46C7.44 8.85 8.07 8.85 8.46 8.46C8.85 8.08 8.85 7.44 8.47 7.06ZM12 1C11.44 1 11 1.45 11 2V6C11 6.55 11.45 7 12 7C12.55 7 13 6.55 13 6V2C13 1.45 12.55 1 12 1ZM17.66 6.35C17.27 5.96 16.64 5.96 16.25 6.35L15.54 7.06C15.15 7.45 15.15 8.08 15.54 8.47C15.93 8.86 16.56 8.86 16.95 8.47L17.66 7.76C18.04 7.37 18.04 6.73 17.66 6.35ZM17 12C17 12.56 17.45 13 18 13H22C22.55 13 23 12.55 23 12C23 11.45 22.55 11 22 11H18C17.45 11 17 11.45 17 12ZM12 9C10.34 9 9 10.34 9 12C9 13.66 10.34 15 12 15C13.66 15 15 13.66 15 12C15 10.34 13.66 9 12 9ZM15.53 16.94L16.24 17.65C16.63 18.04 17.26 18.04 17.65 17.65C18.04 17.26 18.04 16.63 17.65 16.24L16.94 15.53C16.55 15.14 15.92 15.14 15.53 15.53C15.15 15.92 15.15 16.56 15.53 16.94ZM6.34 17.65C6.73 18.04 7.36 18.04 7.75 17.65L8.46 16.94C8.85 16.55 8.85 15.92 8.46 15.53C8.07 15.14 7.44 15.14 7.05 15.53L6.34 16.24C5.96 16.63 5.96 17.27 6.34 17.65ZM12 23C12.56 23 13 22.55 13 22V18C13 17.45 12.55 17 12 17C11.45 17 11 17.45 11 18V22C11 22.55 11.45 23 12 23Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-flare`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


