
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M7 19C5.9 19 5 19.9 5 21H19C19 19.9 18.1 19 17 19H13V17H16C17.1 17 18 16.1 18 15H10C8.34 15 7 13.66 7 12C7 10.91 7.59 9.96 8.46 9.44C8.17 9.03 8 8.54 8 8C8 7.79 8.04 7.58 8.09 7.38C6.28 8.13 5 9.92 5 12C5 14.76 7.24 17 10 17V19H7Z' fill='#323232'/><path d='M10.5599 5.51C11.9099 5.54 12.9999 6.64 12.9999 8C12.9999 8.75 12.6699 9.41 12.1499 9.87L12.3999 10.55C12.5899 11.07 13.1599 11.34 13.6799 11.15C13.8699 11.67 14.4399 11.94 14.9599 11.75C15.4799 11.56 15.7499 10.99 15.5599 10.47C16.0799 10.28 16.3499 9.71 16.1599 9.19L14.0999 3.54C13.9099 3.02 13.3399 2.75 12.8199 2.94C12.6299 2.42 12.0599 2.15 11.5399 2.34C11.0199 2.53 10.7499 3.1 10.9399 3.62C10.4199 3.81 10.1499 4.38 10.3399 4.9L10.5599 5.51Z' fill='#323232'/><path d='M10.5 9.5C11.3284 9.5 12 8.82843 12 8C12 7.17157 11.3284 6.5 10.5 6.5C9.67157 6.5 9 7.17157 9 8C9 8.82843 9.67157 9.5 10.5 9.5Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-biotech`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


