
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M3.70004 9.11L11.29 16.7C11.68 17.09 12.31 17.09 12.7 16.7L19 10.4V14C19 14.55 19.45 15 20 15C20.55 15 21 14.55 21 14V8C21 7.45 20.55 7 20 7H14C13.45 7 13 7.45 13 8C13 8.55 13.45 9 14 9H17.59L12 14.59L5.11004 7.7C4.72004 7.31 4.09004 7.31 3.70004 7.7C3.32004 8.09 3.32004 8.73 3.70004 9.11Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-call-missed-outgoing`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


