
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M7.2 17.6C8.96731 17.6 10.4 16.1673 10.4 14.4C10.4 12.6327 8.96731 11.2 7.2 11.2C5.43269 11.2 4 12.6327 4 14.4C4 16.1673 5.43269 17.6 7.2 17.6Z' fill='#323232'/><path d='M14.8 20C15.9046 20 16.8 19.1046 16.8 18C16.8 16.8954 15.9046 16 14.8 16C13.6955 16 12.8 16.8954 12.8 18C12.8 19.1046 13.6955 20 14.8 20Z' fill='#323232'/><path d='M15.1999 13.6C17.8509 13.6 19.9999 11.451 19.9999 8.8C19.9999 6.14903 17.8509 4 15.1999 4C12.5489 4 10.3999 6.14903 10.3999 8.8C10.3999 11.451 12.5489 13.6 15.1999 13.6Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-bubble-chart`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


