
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M17.34 1.13C14.4 0.579997 11.71 1.88 10.22 4.05C10.23 4.04 10.23 4.03 10.24 4.02C9.84 4 9.42 4 9 4C4.58 4 1 4.5 1 8V18C1 18.88 1.39 19.67 2 20.22V21.5C2 22.33 2.67 23 3.5 23C4.33 23 5 22.33 5 21.5V21H13V21.5C13 22.32 13.67 23 14.5 23C15.32 23 16 22.33 16 21.5V20.22C16.61 19.67 17 18.88 17 18V14.92C20.72 14.38 23.5 10.94 22.92 6.95C22.5 4.05 20.22 1.66 17.34 1.13ZM4.5 19C3.67 19 3 18.33 3 17.5C3 16.67 3.67 16 4.5 16C5.33 16 6 16.67 6 17.5C6 18.33 5.33 19 4.5 19ZM3 13V8H9C9 9.96 9.81 11.73 11.11 13H3ZM13.5 19C12.67 19 12 18.33 12 17.5C12 16.67 12.67 16 13.5 16C14.33 16 15 16.67 15 17.5C15 18.33 14.33 19 13.5 19ZM16 13C13.24 13 11 10.76 11 8C11 5.24 13.24 3 16 3C18.76 3 21 5.24 21 8C21 10.76 18.76 13 16 13ZM15.75 4C15.34 4 15 4.34 15 4.75V8.43C15 8.78 15.19 9.11 15.49 9.29L18.01 10.8C18.35 11 18.79 10.89 18.99 10.56C19.2 10.22 19.09 9.77 18.74 9.57L16.5 8.25V4.75C16.5 4.34 16.16 4 15.75 4Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-departure-board`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


