
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M18 6.53999C19.1046 6.53999 20 5.64456 20 4.53999C20 3.43542 19.1046 2.53999 18 2.53999C16.8954 2.53999 16 3.43542 16 4.53999C16 5.64456 16.8954 6.53999 18 6.53999Z' fill='#323232'/><path d='M15 17H13C13 18.65 11.65 20 10 20C8.35 20 7 18.65 7 17C7 15.35 8.35 14 10 14V12C7.24 12 5 14.24 5 17C5 19.76 7.24 22 10 22C12.76 22 15 19.76 15 17ZM18 13.5H16.14L17.81 9.83C18.42 8.5 17.44 7 15.96 7H10.76C9.95 7 9.22 7.47 8.89 8.2L8.61 8.96C8.4 9.52 8.72 10.13 9.29 10.29C9.78 10.43 10.29 10.18 10.49 9.71L10.79 9H13L11.17 13.1C10.57 14.43 11.56 16 13.02 16H18V20C18 20.55 18.45 21 19 21C19.55 21 20 20.55 20 20V15.5C20 14.4 19.1 13.5 18 13.5Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-accessible-forward`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


