
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM9 12C8.45 12 8 11.55 8 11V8C8 7.45 8.45 7 9 7C9.55 7 10 7.45 10 8V11C10 11.55 9.55 12 9 12ZM13 18H11C10.45 18 10 17.55 10 17V16.11C10 15.11 10.68 14.19 11.66 14.03C12.92 13.82 14 14.79 14 16V17C14 17.55 13.55 18 13 18ZM16 11C16 11.55 15.55 12 15 12C14.45 12 14 11.55 14 11V8C14 7.45 14.45 7 15 7C15.55 7 16 7.45 16 8V11Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-outlet`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


