
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M19 3H5C3.9 3 3 3.9 3 5V19C3 20.1 3.9 21 5 21H19C20.1 21 21 20.1 21 19V5C21 3.9 20.1 3 19 3ZM12 5.75C12 5.34 12.34 5 12.75 5C13.16 5 13.5 5.34 13.5 5.75V8L15.29 5.31C15.42 5.12 15.64 5 15.88 5C16.44 5 16.78 5.63 16.47 6.1L15.2 8L16.47 9.9C16.78 10.37 16.45 11 15.88 11C15.64 11 15.42 10.88 15.29 10.69L13.5 8V10.25C13.5 10.66 13.16 11 12.75 11C12.34 11 12 10.66 12 10.25V5.75ZM7 8.25C7 7.7 7.45 7.25 8 7.25H9.5V6.5H7.75C7.34 6.5 7 6.16 7 5.75C7 5.34 7.34 5 7.75 5H10C10.55 5 11 5.45 11 6V7.75C11 8.3 10.55 8.75 10 8.75H8.5V9.5H10.25C10.66 9.5 11 9.84 11 10.25C11 10.66 10.66 11 10.25 11H8C7.45 11 7 10.55 7 10V8.25ZM18.74 13.26L13.71 18.29C13.32 18.68 12.69 18.68 12.3 18.29L9 15L6.51 17.49C5.95 18.05 5 17.65 5 16.87C5 16.64 5.09 16.41 5.26 16.25L8.29 13.22C8.68 12.83 9.31 12.83 9.7 13.22L13 16.5L17.49 12.01C18.05 11.45 19 11.85 19 12.63C19 12.87 18.91 13.09 18.74 13.26Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-score`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


