
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M16.24 11.51L17.81 9.94L14.06 6.19L12.49 7.76L8.35 3.63C7.57 2.85 6.3 2.85 5.52 3.63L3.62 5.53C2.84 6.31 2.84 7.58 3.62 8.36L7.75 12.49L3.15 17.1C3.05 17.2 3 17.32 3 17.46V20.5C3 20.78 3.22 21 3.5 21H6.54C6.67 21 6.8 20.95 6.89 20.85L11.51 16.23L15.64 20.36C16.96 21.68 18.4 20.43 18.47 20.36L20.37 18.46C21.15 17.68 21.15 16.41 20.37 15.63L16.24 11.51ZM9.18 11.07L5.04 6.94L6.93 5.04L8.2 6.31L7.73 6.8C7.34 7.19 7.34 7.82 7.73 8.21C8.12 8.6 8.75 8.6 9.14 8.21L9.62 7.73L11.07 9.18L9.18 11.07ZM17.06 18.96L12.93 14.83L14.83 12.93L16.28 14.38L15.8 14.86C15.41 15.25 15.41 15.88 15.8 16.27C16.19 16.66 16.82 16.66 17.21 16.27L17.69 15.79L18.96 17.06L17.06 18.96Z' fill='#323232'/><path d='M20.7099 7.04001C21.0999 6.65001 21.0999 6.02001 20.7099 5.63001L18.3699 3.29001C17.8999 2.82001 17.2499 3.00001 16.9599 3.29001L15.1299 5.12L18.8799 8.87001L20.7099 7.04001Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-design-services`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


