
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M15 9H9C8.45 9 8 9.45 8 10V22C8 22.55 8.45 23 9 23H15C15.55 23 16 22.55 16 22V10C16 9.45 15.55 9 15 9ZM12 15C10.9 15 10 14.1 10 13C10 11.9 10.9 11 12 11C13.1 11 14 11.9 14 13C14 14.1 13.1 15 12 15ZM7.82 6.82C8.17 7.17 8.72 7.2 9.12 6.92C9.93 6.34 10.93 6 12 6C13.07 6 14.07 6.34 14.88 6.91C15.28 7.19 15.83 7.17 16.18 6.82C16.61 6.39 16.57 5.68 16.09 5.32C14.94 4.49 13.53 4 12 4C10.47 4 9.06 4.49 7.91 5.32C7.42 5.67 7.39 6.39 7.82 6.82ZM12 0C9.36 0 6.94 0.93 5.05 2.47C4.59 2.85 4.55 3.54 4.97 3.96C5.33 4.32 5.9 4.35 6.29 4.03C7.84 2.77 9.83 2 12 2C14.17 2 16.16 2.77 17.7 4.04C18.09 4.36 18.66 4.33 19.02 3.97C19.44 3.55 19.4 2.86 18.94 2.48C17.06 0.93 14.64 0 12 0Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-settings-remote`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


