
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M2 5C2.55 5 3 5.45 3 6V18C3 18.55 2.55 19 2 19C1.45 19 1 18.55 1 18V6C1 5.45 1.45 5 2 5ZM6 5C6.55 5 7 5.45 7 6V18C7 18.55 6.55 19 6 19C5.45 19 5 18.55 5 18V6C5 5.45 5.45 5 6 5ZM22 5H10C9.45 5 9 5.45 9 6V18C9 18.55 9.45 19 10 19H22C22.55 19 23 18.55 23 18V6C23 5.45 22.55 5 22 5ZM11.64 16.19L13.11 14.33C13.31 14.08 13.68 14.08 13.89 14.32L15.29 16L17.39 13.29C17.59 13.03 17.98 13.03 18.18 13.29L20.39 16.19C20.64 16.52 20.41 16.99 19.99 16.99H12.03C11.62 17 11.38 16.52 11.64 16.19Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-burst-mode`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


