
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M19.29 17.8901L6.10997 4.70005C5.71997 4.31005 5.08997 4.31005 4.69997 4.70005C4.30997 5.09005 4.30997 5.72005 4.69997 6.11005L10.59 12.0001L5.69997 16.8901C5.30997 17.2801 5.30997 17.9101 5.69997 18.3001C6.08997 18.6901 6.71997 18.6901 7.10997 18.3001L11 14.4101V20.5901C11 21.4801 12.08 21.93 12.71 21.3001L16.3 17.7101L17.89 19.3001C18.28 19.6901 18.91 19.6901 19.3 19.3001C19.68 18.9101 19.68 18.2701 19.29 17.8901ZM13 18.1701V14.4101L14.88 16.2901L13 18.1701ZM13 5.83005L14.88 7.71005L13.41 9.18005L14.82 10.5901L17 8.42005C17.39 8.03005 17.39 7.40005 17 7.00005L12.71 2.71005C12.08 2.08005 11 2.52005 11 3.41005V6.77005L13 8.77005V5.83005Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-bluetooth-disabled`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


