
<template>
	<i>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M16 22C16 22.55 15.55 23 15 23H2C1.45 23 1 22.55 1 22C1 21.45 1.45 21 2 21H15C15.55 21 16 21.45 16 22ZM22.89 6.1C22.95 5.51 22.49 5 21.9 5H18V2C18 1.45 17.55 1 17 1C16.45 1 16 1.45 16 2V5H12.1C11.51 5 11.05 5.51 11.1 6.1L11.34 8.51L18 15.17L21.62 18.79L22.89 6.1ZM21.19 22.61C21.58 22.22 21.58 21.59 21.19 21.2L12 12L9.01 9.01L2.81 2.81C2.42 2.42 1.79 2.42 1.4 2.81C1 3.2 1 3.83 1.39 4.22L6.38 9.21C3.82 9.75 1.62 11.29 1.1 13.84C0.99 14.45 1.49 15 2.1 15H12.17L14.17 17H2C1.45 17 1 17.45 1 18C1 18.55 1.45 19 2 19H15C15.32 19 15.59 18.84 15.78 18.6L19.78 22.6C20.17 23 20.8 23 21.19 22.61Z' fill='#323232'/></svg>
	</i>
</template>

<script>
export default {
	name: `b-new-b-icon-no-food`,
	components: {},
	computed: {},
	props: {
		spin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		if(this.spin){
			this.$nextTick(() => this.$el.classList.add('spin'));
		}
	}
};
</script>

<style scoped lang="scss">
i {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 1em;
		height: auto;
		display: block;
	}

	*:not([fill='none']) {
		fill: currentColor;
	}
}

path.a {
	fill: none;
}

.spin {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
</style>


