<template>
	<div>
		<apexchart
		 	v-if="height"
			:type="type"
			:options="options"
			:series="series"
			:height="height"
		></apexchart>
		<apexchart
		 	v-else
			:type="type"
			:options="options"
			:series="series"
		></apexchart>

	</div>
</template>

<script>
import VueApexCharts from 'vue-apexcharts'
import Vue from 'vue';

Vue.component('apexchart', VueApexCharts)

export default {
	name: 'b-graphic',
	props: {
		type: {
			type: String,
			required: true
		},
		options: {
			type: Object
		},
		series: {
			type: Array,
			required: true
		},
		height: {
			type: String,
			required: false
		},
	}
};
</script>

<style scoped lang="scss"></style>