<template>
	<label
		:for="`checkbox-${name}`"
		tabindex="0"
		role="checkbox"
		class="bbox-checkbox-label display-block"
		style="cursor:pointer"
		:aria-checked="localValue"
		@keydown.enter="updateCheckedValue()"
		@keydown.space="updateCheckedValue()"
	>
		<div class="display-flex align-items-center">
			<input
				type="checkbox"
				:id="`checkbox-${name}`"
				:checked="localValue"
				:name="name"
				@change="updateCheckedValue()"
			/>
			<div class="checkbox-icon">
				<template v-if="localValue">
					<b-new-b-icon-remove-rectangle class="font-size-huge" v-if="icon && icon === 'remove'" />
					<b-new-b-icon-check-box :class="['font-size-huge', iconCheckedColor]" v-else />
				</template>
				<template v-else>
					<b-new-b-icon-check-box-outline-blank class="font-size-huge ink-lighter-2" />
				</template>
			</div>
			<slot name="label" />
			<span :class="labelClasses" v-if="!$slots.label && !!label">{{ label }}</span>
		</div>
		<span class="input-error font-size-big red-base margin-top-tiny" v-if="!!error"
			><b-new-b-icon-error-outline />{{ error }}</span
		>
	</label>
</template>

<script>
import {
	BNewBIconCheckBox,
	BNewBIconRemoveRectangle,
	BNewBIconCheckBoxOutlineBlank,
	BNewBIconErrorOutline
} from './new_icons';

export default {
	name: 'b-checkbox',
	components: {
		BNewBIconCheckBoxOutlineBlank,
		BNewBIconCheckBox,
		BNewBIconRemoveRectangle,
		BNewBIconErrorOutline
	},
	methods: {
		updateCheckedValue() {
			this.localValue = !this.localValue;
			this.$emit('input', this.localValue);
		}
	},
	data() {
		return {
			localValue: this.value
		};
	},
	props: {
		/**
		 * Name do checkbox
		 */
		name: {
			type: String,
			required: true
		},
		/**
		 * Valor do checkbox (padrão é false)
		 * @model
		 */
		value: {
			type: Boolean,
			default: false
		},
		/**
		 * Mensagem de erro
		 */
		error: {
			type: String,
			default: ''
		},
		/**
		 * Texto do label do checkbox
		 */
		label: {
			type: String,
			default: ''
		},
		/**
		 * Classes para estilizar o label
		 */
		labelClasses: {
			type: String,
			default: 'font-size-big ink semi-bold'
		},
		/**
		 * Ícone personalizado quando estado é marcado, caso não seja enviado, será usado o check
		 */
		icon: {
			type: String,
			default: null
		},
		iconCheckedColor: {
			type: String,
			default: 'blue-base'
		}
	},
	watch: {
		value(newValue) {
			this.localValue = newValue;
		}
	}
};
</script>

<style scoped lang="scss">
input {
	display: none;
}
span.input-error {
	display: block;
	text-align: left;
	line-height: 1.2;
}
.checkbox-icon {
	margin-right: 5px;
	margin-top: -1.5px;
	font-size: 2rem;
}
</style>
