<template>
	<hr class="bg-white-darker-4 margin-0 w100 display-block"/>
</template>

<script>
export default {
	name: 'b-divider',
};
</script>

<style lang="scss" scoped>
hr {
  clear: both;
  border: 0;
  height: 0.1rem;
}
</style>
