<template>
	<div
		v-if="!isInfoBannerClosed"
		:class="[
			{
				'bg-red-base white-base': danger,
				'bg-yellow-lighter-1 ink-base': warning
			},
			customTextAndIconsColor ? customTextAndIconsColor : '',
			customBackgroundColor ? customBackgroundColor : '',
			'padding-vertical-normal padding-horizontal-normal padding-horizontal-md-big display-flex justify-content-between'
		]"
	>
		<div class="display-flex align-items-center">
			<slot v-if="$slots['icon']" slot="icon"></slot>
			<template v-else>
				<b-new-b-icon-warning v-if="warning" class="font-size-big margin-right-tiny" />
				<b-new-b-icon-notification-important
					v-if="danger"
					class="font-size-big margin-right-tiny"
				/>
			</template>
			<p class="margin-0 font-size-normal" v-html="infoBannerText"></p>
		</div>
		<b-button
			v-if="closeable"
			aria-label="fechar"
			class="padding-0"
			link
			@clickOrEnter="closeInfoBanner"
		>
			<b-new-b-icon-close
				:class="[
					{ 'white-base': danger, 'ink-base': warning },
					customTextAndIconsColor ? customTextAndIconsColor : '',
					'font-size-xbig ink-base margin-left-tiny margin-left-lg-0'
				]"
			/>
		</b-button>
	</div>
</template>

<script>
import BButton from './Button';
import { BNewBIconClose, BNewBIconNotificationImportant, BNewBIconWarning } from './new_icons';

export default {
	name: 'infoBanner',
	components: {
		BButton,
		BNewBIconClose,
		BNewBIconNotificationImportant,
		BNewBIconWarning
	},
	props: {
		infoBannerText: {
			type: String,
			required: true
		},
		danger: Boolean,
		warning: Boolean,
		closeable: {
			type: Boolean,
			default: true
		},
		customBackgroundColor: {
			type: String,
			default: ''
		},
		customTextAndIconsColor: {
			type: String,
			default: ''
		}
	},
	data() {
		return {
			isInfoBannerClosed: false
		};
	},
	methods: {
		closeInfoBanner() {
			this.isInfoBannerClosed = true;
		}
	}
};
</script>

<style scoped lang="scss"></style>
