<template>
	<label :for="`select-${name}`" :class="[{ 'has-error': !!error }]">
		<span class="label" :class="labelClassesToApply" v-if="!!label && !$slots.label">{{
			label
		}}</span>
		<slot name="label" />
		<div
			class="select-wrapper"
			:class="{ open, empty, disabled }"
			v-focus-outside="closeOptions"
			v-click-outside="closeOptions"
		>
			<b-new-b-icon-refresh v-if="debounceLoading" class="loader" spin />
			<input
				:id="`select-${name}`"
				v-if="searchable"
				role="combobox"
				:aria-expanded="open"
				:aria-activedescendant="'option-' + currentHover"
				:class="{
					[inputClassesToApply]: true,
					chevron: true,
					'chevron-down': openDirection === 'down',
					'chevron-up': openDirection !== 'down',
					'ink-lighter-1': disabled
				}"
				type="text"
				:value="search"
				ref="input"
				@mousedown="openOptions($event)"
				@input="
					searchOptions($event.target.value);
					listener($event.target.value);
				"
				@keydown.enter="open ? selectCurrent() : openOptions()"
				@keydown.esc="
					closeOptions();
					$refs.input.focus();
				"
				@keydown.down="next($event)"
				@keydown.up="previous($event)"
				@focusout="removeHovering()"
				:placeholder="display"
				autocomplete="off"
				:disabled="disabled"
			/>
			<div
				v-else
				tabindex="0"
				role="combobox"
				:aria-expanded="open"
				:aria-activedescendant="'option-' + currentHover"
				:id="`select-${name}`"
				class="bbox-select"
				:class="{
					[inputClassesToApply]: true,
					chevron: true,
					'chevron-down': openDirection === 'down',
					'chevron-up': openDirection !== 'down',
					'ink-lighter-1': disabled
				}"
				ref="select"
				@keydown.down="next($event)"
				@keydown.esc="
					closeOptions();
					$refs.select.focus();
				"
				@keydown.up="previous($event)"
				@keydown.enter="open ? selectCurrent() : openOptions()"
				@click="toggleOptions($event)"
			>
				{{ display }}
			</div>
			<ul
				:id="`select-options-${name}`"
				class="options border border-white-darker-3"
				:style="{ top: optionsTop }"
				ref="options"
				role="listbox"
			>
				<div class="wrapper">
					<li
						v-for="(option, index) in showOptions"
						role="option"
						:aria-selected="option === value"
						:id="'option-' + index"
						:class="[
							{
								'border border-lg border-top border-radius border-ink-base': index === currentHover,
								'border-top border-white-darker-3': index !== currentHover,
								selected: option === value,
								chevron: true,
								'bg-blue-lighter-4':
									typeof option === 'object' ? option.name === value.name : option === value
							},
							'padding-normal font-size-big bg-white-base bg-hover-blue-lighter-4'
						]"
						:key="index"
						@click="select(option)"
						:ref="'option-' + index"
						@keyup.enter="select(option)"
						@keyup.esc="
							closeOptions();
							$event.target.blur();
						"
						@focus="$event.target.classList.remove('hovering')"
					>
						{{ typeof option === 'object' ? option.name : option }}
						<span v-if="option === value" style="font-size: 16px" class="icon-right"
							><b-new-b-icon-done
						/></span>
					</li>
				</div>
			</ul>
		</div>
		<span class="input-error font-size-big red-base margin-top-tiny" v-if="!!error"
			><b-new-b-icon-error /> {{ error }}</span
		>
		<input type="hidden" :name="name" :value="value" />
	</label>
</template>

<script>
import BNewBIconError from './new_icons/icons/IconError.vue';
import BNewBIconDone from './new_icons/icons/IconDone.vue';
import BNewBIconRefresh from './new_icons/icons/IconRefresh.vue';

export default {
	name: 'b-select',
	components: {
		BNewBIconError,
		BNewBIconDone,
		BNewBIconRefresh
	},
	props: {
		/**
		 * Classes para estilizar o label
		 */
		labelClasses: {
			type: String,
			default: 'display-block margin-bottom-tiny ink-base'
		},
		/**
		 * Classes para estilizar o select
		 */
		inputClasses: {
			type: String,
			default:
				'ink-base border border-white-darker-3 bg-white-darker-2 padding-normal padding font-size-big border-focus-ink-lighter-2'
		},
		/**
		/**
		 * Classes para estilizar o hover das opções do select
		 */
		optionHoverClasses: {
			type: String,
			default:
				'border-top border-bottom border-white-darker-3 padding-normal font-size-big bg-blue-lighter-4'
		},
		/**
		 * Classes para estilizar o label quando há uma mensagem de erro
		 */
		labelErrorClasses: {
			type: String,
			default: 'display-block margin-bottom-tiny ink-base'
		},
		/**
		 * Classes para estilizar o select quando há uma mensagem de erro
		 */
		inputErrorClasses: {
			type: String,
			default:
				'ink-base border border-red-lighter-2 border-focus-red-base  bg-red-lighter-4 bg-focus-red-lighter-3 padding-normal padding font-size-big '
		},
		/**
		 * Valores das opções do select, pode ser tanto um array de Strings, como um array de objetos, ex: `[{name:'nome', value:'valor'}]`
		 */
		options: Array,
		/**
		 * Name padrão do select
		 */
		name: {
			type: String,
			required: true
		},
		/**
		 * Valor exibido como placeholder do select
		 */
		placeholder: {
			type: String,
			default: 'Selecione...',
			label: String
		},
		/**
		 * Valor exibido como placeholder do multiselect com input
		 */
		inputPlaceholder: {
			type: String,
			default: 'Digite ou selecione...',
			label: String
		},
		/**
		 * Texto do label do select
		 */
		label: String,
		/**
		 * Mensagem de erro
		 */
		error: {
			type: String,
			default: ''
		},
		/**
		 * Valor selecionado no select
		 * @model
		 */
		value: {
			default: ''
		},
		/**
		 * Se true as opções do select podem ser filtradas
		 */
		searchable: Boolean,
		/**
		 * Valor que o select irá esperar antes de disparar o evento de debounce
		 */
		debounceTimeout: {
			type: Number,
			default: 1000
		},
		/**
		 * Valor para que o loader seja exibido durante uma requisição de get options
		 */
		debounceLoading: {
			type: Boolean,
			default: false
		},
		/**
		 * Se true select fica desabilitado
		 */
		disabled: {
			type: Boolean,
			default: false
		}
	},
	directives: {
		'click-outside': {
			bind: function(el, binding, vnode) {
				el.clickOutsideEvent = function(event) {
					// here I check that click was outside the el and his childrens
					if (!(el == event.target || el.contains(event.target))) {
						// and if it did, call method provided in attribute value
						vnode.context[binding.expression](event);
					}
				};
				document.body.addEventListener('click', el.clickOutsideEvent);
			},
			unbind: function(el) {
				document.body.removeEventListener('click', el.clickOutsideEvent);
			}
		},
		'focus-outside': {
			bind: function(el, binding, vnode) {
				el.focusOutsideEvent = function(event) {
					// here I check that focus was outside the el and his childrens
					if (!(el == event.target || el.contains(event.target))) {
						// and if it did, call method provided in attribute value
						vnode.context[binding.expression](event);
					}
				};
				document.addEventListener('focusin', el.focusOutsideEvent);
			},
			unbind: function(el) {
				document.removeEventListener('focusin', el.focusOutsideEvent);
			}
		}
	},
	data() {
		return {
			showOptions: this.options,
			search: this.inputPlaceholder,
			open: false,
			currentHover: 0,
			val: this.value,
			optionsTop: '',
			openDirection: 'down',
			timeoutRef: null
		};
	},
	watch: {
		value: function() {
			this.val = this.value;
			this.search =
				typeof this.value === 'object' ? (this.value.name ? this.value.name : '') : this.value;
		}
	},
	computed: {
		empty() {
			return typeof this.value === 'object'
				? this.value.name
					? false
					: true
				: this.value
				? false
				: true;
		},
		display() {
			return typeof this.val === 'object'
				? this.val.name
					? this.val.name
					: this.searchable
					? this.inputPlaceholder
					: this.placeholder
				: this.val
				? this.val
				: this.searchable
				? this.inputPlaceholder
				: this.placeholder;
		},
		inputClassesToApply() {
			if (this.error) return this.inputErrorClasses;
			else return this.inputClasses;
		},
		labelClassesToApply() {
			if (this.error) return this.labelErrorClasses;
			else return this.labelClasses;
		}
	},
	updated() {
		var firstListItem = this.$refs.options.querySelectorAll('li')[0];
		if (this.open && this.showOptions.length && this.search) {
			firstListItem.classList.add('hovering');
			this.currenHover = 0;
		} else if (this.search == '' && this.open) {
			firstListItem.classList.remove('hovering');
		}
	},
	methods: {
		listener(value) {
			if (this.timeoutRef !== null) {
				clearTimeout(this.timeoutRef);
			}

			this.timeoutRef = setTimeout(() => {
				this.$emit('debounce', value);
			}, this.debounceTimeout);
		},
		searchOptions(val) {
			if (!this.open) this.open = true;
			if (val === '') {
				this.search = val;
				this.showOptions = this.options;
			} else {
				let original = val;
				val = val.toString().toLowerCase();
				this.showOptions = this.options.filter(option => {
					if (typeof option === 'object')
						return (
							option.name
								.toString()
								.toLowerCase()
								.includes(val) ||
							option.value
								.toString()
								.toLowerCase()
								.includes(val)
						);
					return option
						.toString()
						.toLowerCase()
						.includes(val);
				});

				this.updateListLocation();
				this.search = original;
				this.currentHover = 0;
			}
		},
		selectCurrent() {
			this.select(this.showOptions[this.currentHover]);
		},
		closeOptions() {
			this.search = this.display;
			this.open = false;
		},
		updateListLocation() {
			let _this = this;
			setTimeout(function() {
				const options = _this.$refs.options;

				const inputOrSelect = _this.searchable ? _this.$refs.input : _this.$refs.select;

				let intViewportHeight = window.innerHeight;
				let inputOrSelectOffsetBottom = inputOrSelect.getBoundingClientRect().bottom;
				let optionsOffsetTop = options.getBoundingClientRect().top;
				let optionsOffsetBottom = options.getBoundingClientRect().bottom;
				let optionsHeight = optionsOffsetBottom - optionsOffsetTop;
				let availableSpace = intViewportHeight - inputOrSelectOffsetBottom;

				if (availableSpace > optionsHeight) {
					_this.optionsTop = 'calc(100% + 8px)';
					_this.openDirection = 'down';
				} else {
					_this.optionsTop = `calc(-${optionsHeight}px - 8px)`;
					_this.openDirection = 'up';
				}
			}, 10);
		},
		openOptions() {
			const currentOptionSelectedIndex = this.options.indexOf(this.val);
			this.currentHover = currentOptionSelectedIndex >= 0 ? currentOptionSelectedIndex : 0;
			
			if (this.searchable) this.$refs.input.focus();
			else this.$refs.select.focus();
			this.search = '';
			this.showOptions = this.options;
			this.open = true;

			this.updateListLocation();
		},
		toggleOptions(event) {
			if (this.open) {
				this.closeOptions();
			} else if (Object.keys(this.options).length) {
				this.openOptions(event);
			}
		},
		selectIcon() {
			const inputOrSelect = this.searchable ? this.$refs.input : this.$refs.select;

			let intViewportHeight = window.innerHeight;
			let inputOrSelectOffsetTop = inputOrSelect.getBoundingClientRect().top;
			let inputOrSelectOffsetBottom = inputOrSelect.getBoundingClientRect().bottom;

			if (
				intViewportHeight - inputOrSelectOffsetBottom >
				inputOrSelectOffsetBottom - inputOrSelectOffsetTop
			)
				this.openDirection = 'down';
			else this.openDirection = 'up';
		},
		select(option) {
			this.search = typeof option === 'object' ? option.name : option;
			this.showOptions = this.options;
			/**
			 * Evento emitido quando usuário troca o valor selecionado do select
			 * @property {option}
			 * @type {change}
			 */
			this.$emit('change', option);
			/**
			 * Evento emitido quando usuário troca o valor selecionado do select
			 * @property {option}
			 * @type {input}
			 */
			this.$emit('input', option);
			this.val = option;
			this.open = false;
		},
		removeHovering() {
			let hovering = this.$refs.options.querySelectorAll('li.hovering')[0];
			if (hovering) {
				hovering.classList.remove('hovering');
				hovering.setAttribute('tabindex', '0');
			}
		},
		next(e) {
			e.preventDefault();
			if (this.currentHover + 1 < this.showOptions.length) {
				this.currentHover++;
				this.$refs['option-' + this.currentHover][0].scrollIntoView({
					behavior: 'smooth',
					block: 'nearest',
					inline: 'start'
				});
			}
		},
		previous(e) {
			e.preventDefault();
			if (this.currentHover - 1 >= 0) {
				this.currentHover--;
				this.$refs['option-' + this.currentHover][0].scrollIntoView({
					behavior: 'smooth',
					block: 'nearest',
					inline: 'start'
				});
			}
		},
		updateShowOptions(options) {
			this.showOptions = options;
			this.updateListLocation();
		}
	},
	mounted() {
		var width = this.$refs.options.scrollWidth;
		if (!this.searchable) this.$refs.select.style.minWidth = width;
		if (this.searchable) this.search = this.display;
		this.open = false;
		this.selectIcon();
	}
};
</script>

<style scoped lang="scss">
label,
label * {
	box-sizing: border-box;
}
label {
	display: block;
}
.select-wrapper {
	position: relative;
	width: 100%;
	display: inline-block; //to counter margin merging
	line-height: 1;
	align-items: center;
	&.empty input,
	&.empty .bbox-select {
		color: #8f8a9b;
	}
}
.has-error .select-wrapper,
.has-error .select-wrapper {
	margin-bottom: 0;
}
.has-error .select-wrapper.open {
	margin-bottom: calc(1.18rem + 0.5em);
}
ul.options {
	position: absolute;
	display: none;
	left: 0;
	min-width: 100%;
	height: auto;
	max-height: 300px;
	margin-bottom: 0;
	padding-left: 0;
	overflow: hidden;
	cursor: pointer;
	z-index: 4;
	margin-top: 0;
	border-radius: 5px;
	div.wrapper {
		overflow-y: auto;
		overflow-x: hidden;
		max-height: 300px;
	}
	li {
		display: block;
		width: 100%;
		line-height: 1.33;
		position: relative;
		z-index: 1;
	}
	li:last-child {
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
	li:active,
	li:hover,
	li:focus,
	li.hovering {
		outline: none;
	}
	li.selected {
		/* padding-right: calc(2.025rem + 0.8em); */
		position: relative;
		display: flex;
		align-items: center;
		background-color: #f5f7ff;
	}
}
.select-wrapper.open ul.options {
	display: block;
}
input,
.bbox-select {
	border-radius: 5px;
	/* padding: 0.8125rem 1.3125rem; */
	margin: 0;
	display: block;
	width: 100%;
	position: relative;
	z-index: 1;
	outline: none;
	cursor: pointer;
	line-height: 1.25;
}
span.input-error {
	display: block;
	text-align: left;
	color: #f95e5a;
	font-size: 1.67rem;
	margin-top: 0.8rem;
	line-height: 1.2;
}
.has-error .open span.input-error {
	display: none;
}
span.icon-left {
	position: absolute;
	left: 2rem;
	z-index: 2;
	cursor: pointer;
}
span.icon-right {
	position: absolute;
	right: 2rem;
	z-index: 2;
	cursor: pointer;
}
.chevron {
	background-position: center right 1rem;
	background-repeat: no-repeat;
	background-size: 2.5rem 2.5rem;
}
.chevron-up {
	background-image: url('https://bossabox-design-system.s3.sa-east-1.amazonaws.com/icons/icon-chevron-up.svg');
}
.chevron-down {
	background-image: url('https://bossabox-design-system.s3.sa-east-1.amazonaws.com/icons/icon-chevron-down.svg');
}
.loader {
	position: absolute;
	z-index: 1000;
	right: 1.25rem;
	top: 1.8rem;
	font-size: large;
}
.disabled {
	cursor: not-allowed !important;
	pointer-events: none;
}
</style>
