<template>
	<label :for="`slider-${name}`">
		<div class="w100 margin-top-normal">
				<div class="display-flex justify-content-center">
					<p class="font-size-big">
						<b>{{ selectedValueLabel }}</b> / {{ maxValueLabel }}
					</p>
				</div>
				<input
					type="range"
					class="styled-slider slider-progress cursor-pointer"
					:min="minValue"
					:max="maxValue"
					v-model="value"
					@input="updateValue()"
				/>
			</div>
	</label>
</template>

<script>

export default {
	name: 'b-slider',
	data() {
		return {
			value: this.selectedValue
		};
	},
	computed: {
		minValue() {
			if(this.max < this.min) return this.max - 1;
			return this.min;
		},
		maxValue() {
			if (this.min > this.max) return this.min + 1;
			return this.max;
		}
	},
	props: {
		/**
		 * Name padrão do slider
		 */
		name: {
			type: String,
			required: true
		},
		/**
		 * Valor mínimo do slider
		 */
		min: {
			type: Number,
			required: true
		},
		/**
		 * Valor máximo do slider
		 */
		max: {
			type: Number,
			required: true
		},
		/**
		 * Valor selecionado do slider
		 */
		selectedValue: {
			type: Number,
			required: true
		}, 
		/**
		 * Valor máximo que será mostrado
		 */
		maxValueLabel: {
			type: String,
			required: true
		},
		/**
		 * Valor selecionado que será mostrado
		 */
		selectedValueLabel: {
			type: String,
			required: true
		}
	},
	watch: {
		selectedValue: function() {
			this.value = this.selectedValue;
			this.$nextTick(() => {this.calculateSliderProgress();})
			
		},
		max: function() {
			this.$nextTick(() => {this.calculateSliderProgress();})
		},
	},
	methods: {
		/**
		 * Evento de mudança do valor selecionado
		 */
		updateValue() {
			this.$emit('input', this.value);
			this.calculateSliderProgress();
		},
		/**
		 * Método que calcula o progresso do slider
		 */
		calculateSliderProgress() {
			for (let element of document.querySelectorAll('input[type="range"].slider-progress')) {
				element.style.setProperty('--value', element.value);
				element.style.setProperty('--min', element.min == '' ? '0' : element.min);
				element.style.setProperty('--max', element.max == '' ? '100' : element.max);
				element.addEventListener('input', () => element.style.setProperty('--value', element.value));
			}
		}
	},
	mounted() {
		this.$emit('input', {
			min: Number(this.valueMin),
			max: Number(this.valueMax)
		});

		this.calculateSliderProgress();
	}
};
</script>

<style scoped lang="scss">


input[type=range].styled-slider {
	height: 1em;
	-webkit-appearance: none;
	width: 100%;
	background: transparent;

	&:focus {
		outline: none;
	}

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		width: 1.2em;
		height: 1.2em;
		border-radius: 1em;
		background: #C4C4C4;
		border: none;
		box-shadow: none;
		margin-top: calc(0.6em * 0.5 - 1.2em * 0.5);

		&:hover {
			background: #B0B0B0;
		}

		&:active {	
			background: #C4C4C4;
		}
	}

	&::-webkit-slider-runnable-track {
		height: 0.6em;
		border: none;
		border-radius: 0.5em;
		background: #efefef;
		box-shadow: none;
	}

	&::-moz-range-thumb {
		width: 1.2em;
		height: 1.2em;
		border-radius: 1em;
		background: #C4C4C4;
		border: none;
		box-shadow: none;

		&:hover {
			background: #B0B0B0;
		}

		&:active {
			background: #C4C4C4;
		}
	}
	
	&::-moz-range-track {
		height: 0.6em;
		border: none;
		border-radius: 0.5em;
		background: #efefef;
		box-shadow: none;
	}

	&::-ms-fill-upper {
		background: transparent;
		border-color: transparent;
	}

	&::-ms-fill-lower {
		background: transparent;
		border-color: transparent;
	}

	&::-ms-thumb {
		width: 1.2em;
		height: 1.2em;
		border-radius: 1em;
		background: #C4C4C4;
		border: none;
		box-shadow: none;
		margin-top: 0;
		box-sizing: border-box;

		&:hover {
			background: #B0B0B0;
		}

		&:active {
			background: #C4C4C4;
		}		
	}	

	&::-ms-track {
		height: 0.6em;
		border-radius: 0.5em;
		background: #efefef;
		border: none;
		box-shadow: none;
		box-sizing: border-box;
	}

	&.slider-progress {
		--range: calc(var(--max) - var(--min));
		--ratio: calc((var(--value) - var(--min)) / var(--range));
		--sx: calc(0.5 * 1.2em + var(--ratio) * (100% - 1.2em));

		&::-webkit-slider-runnable-track {
			background: linear-gradient(#365DF0,#365DF0) 0/var(--sx) 100% no-repeat, #efefef;
		}

		&::-moz-range-track {
			background: linear-gradient(#365DF0,#365DF0) 0/var(--sx) 100% no-repeat, #efefef;
		}

		&::-ms-fill-lower {
			height: 0.6em;
			border-radius: 0.5em 0 0 0.5em;
			margin: -undefined 0 -undefined -undefined;
			background: #365DF0;
			border: none;
			border-right-width: 0;
		}
	}	
}
</style>
