<template>
	<div
		class="stepper ink-lighter-2 margin-top-small flex-wrap display-inline-flex"
	>
		<b-button
			link
			class="button-step font-size-big"
			:disabled="isPreviousButtonDisabled"
			@clickOrEnter="pageChangeHandle('previous')"
		>
			<b-new-b-icon-chevron-left class="padding-right-tiny"/> Etapa anterior
		</b-button>

		<div
			class="align-items-center font-size-big"
		>
			Etapa {{ currentStep }} de {{ stepsCount }}
		</div>

		<b-button
			link
			class="button-step font-size-big"
			:disabled="isNextButtonDisabled"
			@clickOrEnter="pageChangeHandle('next')"
		>
			Próxima etapa <b-new-b-icon-chevron-right class="padding-left-tiny "/>
		</b-button>
	</div>
</template>

<script>
import BButton from './Button.vue';
import { BNewBIconChevronRight, BNewBIconChevronLeft } from './new_icons';


export default {
	name: 'b-stepper',
	components: {
		BButton,
		BNewBIconChevronRight,
		BNewBIconChevronLeft
	},
	props: {
		/**
		 * Número total de páginas
		 */
		stepsCount: {
			type: Number,
			default: 1,
		},
		/**
		 * Número atual da página. 1 é a página inicial
		 */
		currentStep: {
			type: Number,
			default: 1
		}
	},
	computed: {
		isPreviousButtonDisabled() {
			return this.currentStep === 1;
		},
		isNextButtonDisabled() {
			return this.currentStep === this.stepsCount;
		}
	},
	methods: {
		pageChangeHandle(page) {
			/**
			 * Evento emitido quando uma página é selecionada
			 */
			switch (page) {
				case 'next':
					this.$emit('loadPage', this.currentStep + 1);
					break;
				case 'previous':
					this.$emit('loadPage', this.currentStep - 1);
					break;
				default:
					this.$emit('loadPage', page);
			}
		}
	}
};
</script>

<style>
.button-step {
	font-weight: 400 !important;
}
.stepper {
	gap: 7rem;
}
</style>
