<template>
	<div
		tabindex="0"
		class="toggle border"
		:class="[{ active: value, disabled }, toggleClasses]"
		@click="toggle()"
		@keydown.enter="toggle()"
		@keydown.space="toggle()"
		:aria-pressed="value"
		role="button"
	>
		<div
			class="circle display-flex bg-white-base border border-white-darker-4"
			:class="circleClasses"
		></div>
	</div>
</template>

<script>
export default {
	name: 'b-toggle',
	props: {
		/**
		 * @model
		 * Se true toggle é exibido como selecionado, caso contrário é exibido como não selecionado.
		 */
		value: {
			type: Boolean,
			default: false
		},
		/**
		 * Se true toggle é exibido desabilitado, não sendo possível interagir com o componente
		 */
		disabled: {
			type: Boolean,
			default: false
		}
	},
	methods: {
		toggle() {
			if (!this.disabled) {
				/**
				 * Evento emitido quando toggle é clicado
				 * @property {value}
				 * @type {input}
				 */
				this.$emit('input', !this.value);
			}
		}
	},
	computed: {
		toggleClasses() {
			return this.disabled
				? 'bg-white-darker-3 border-white-darker-3'
				: this.value
				? 'bg-green-base border-green-lighter-1'
				: 'bg-white-darker-2 border-white-darker-4';
		},
		circleClasses() {
			return this.disabled
				? 'bg-white-darker-1 border-white-darker-3'
				: this.value
				? 'bg-white-base border-green-lighter-1'
				: 'bg-white-base border-white-darker-4';
		},
		iconClasses() {
			return this.disabled ? 'white-darker-3' : this.value ? 'green-base' : 'ink-lighter-1';
		}
	}
};
</script>

<style lang="scss">
$duration: 0.3s;
div.toggle {
	width: 6.5rem;
	min-width: 6.5rem;
	position: relative;
	height: 3.6rem;
	box-sizing: border-box;
	border-radius: 1.8rem;
	position: relative;
	transition: background $duration;
	cursor: pointer;
	div.circle {
		width: 3rem;
		height: 3rem;
		border-radius: 1.6rem;
		position: absolute;
		top: 0.2rem;
		left: 0.2rem;
		transition: left $duration;
		i {
			width: 2.8rem;
			height: 2.8rem;
			transform: translateY(0);
			svg {
				width: 100%;
			}
		}
	}
	&.active {
		div.circle {
			left: 3rem;
		}
	}
	&.disabled {
		cursor: not-allowed !important;
	}
}
</style>
