<template>
	<span class="has-bbox-tooltip" :style="`--bg-color: var(--${backgroundColor})`">
		<span
			@mouseover="showTooltip = true"
			@click="showTooltip = !showTooltip"
			class="cursor-pointer"
			@mouseleave="showTooltip = false"
		>
			<slot />
		</span>
		<transition name="fade" @enter="enterTransition">
			<div
				class="bbox-tooltip position-absolute display-flex justify-content-center align-content-center align-items-center"
				:class="[position, { banner: banner }]"
				v-if="showTooltip"
				@mouseover="showTooltip = false"
			>
				<div
					v-if="!banner && (!!title || !!$slots.title)"
					class="bbox-tooltip-default elevation-0dp border-radius align-left padding-normal white-base font-size-tiny bold"
				>
					<template v-if="!!title && !$slots.title">{{ title }}</template>
					<slot name="title"></slot>
				</div>
				<div
					v-if="banner"
					class="bbox-tooltip-banner elevation-0dp border-radius align-left padding-normal white-base"
				>
					<slot name="banner" />
				</div>
			</div>
		</transition>
	</span>
</template>

<script>
export default {
	name: 'bbox-tooltip',
	components: {},
	props: {
		title: String,
		text: String,
		banner: Boolean,
		position: {
			type: String,
			default: 'top'
		},
		color: {
			type: String,
			default: 'white-base'
		},
		backgroundColor: {
			type: String,
			default: 'ink-lighter-2'
		}
	},
	methods: {
		enterTransition: function(el) {
			const windowOffsetLeft = el.children[0].getBoundingClientRect().left;
			const windowOffsetRight = el.children[0].getBoundingClientRect().right;
			const trans = { X: '-50%', Y: '-100%' };
			if (this.position === 'bottom') {
				trans.X = '-50%';
				trans.Y = '0';
			}
			if (windowOffsetLeft < 16) {
				if (this.position === 'left') {
					this.position = 'top';
					el.classList.remove('left');
					el.classList.add('top');
					this.enterTransition(el);
					return;
				}
				const realOffsetLeft = 16 - windowOffsetLeft;
				trans.X = 'calc(' + trans.X + ' + ' + realOffsetLeft + 'px)';
				el.style.transform = 'translate(' + trans.X + ', ' + trans.Y + ')';
			} else if (windowOffsetRight < 16) {
				if (this.position === 'right') {
					this.position = 'top';
					el.classList.remove('right');
					el.classList.add('top');
					this.enterTransition(el);
					return;
				}
				const realOffsetRight = 16 - windowOffsetRight;
				trans.X = 'calc(' + trans.X + ' - ' + realOffsetRight + 'px)';
				el.style.transform = 'translate(' + trans.X + ', ' + trans.Y + ')';
			}
		}
	},
	data() {
		return {
			showTooltip: false
		};
	}
};
</script>

<style lang="scss" scoped>
@import '../css/_variables.scss';
.has-bbox-tooltip {
	position: relative;
	display: inline-block;
}

.bbox-tooltip {
	position: absolute;
	z-index: 10;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
}

.bbox-tooltip.top {
	top: calc((0.8rem + 0.98rem) * -1);
	left: 50%;
	transform: translate(-50%, -100%);
}

.bbox-tooltip.top::after {
	content: ' ';
	position: absolute;
	top: 95%;
	left: 50%;
	margin-left: -1.2rem;
	border-width: 1.2rem;
	border-style: solid;
	border-color: var(--bg-color) transparent transparent transparent;
}

.bbox-tooltip.right {
	top: 50%;
	left: calc(100% + 0.8rem + 0.98rem);
	transform: translate(0%, -50%);
	justify-content: flex-start;
	justify-items: flex-start;
}

.bbox-tooltip.right::after {
	content: ' ';
	position: absolute;
	top: 50%;
	right: 100%;
	margin-top: -1.2rem;
	border-width: 1.2rem;
	border-style: solid;
	border-color: transparent var(--bg-color) transparent transparent;
}

.bbox-tooltip.bottom {
	top: calc(100% + 0.8rem + 0.98rem);
	left: 50%;
	transform: translate(-50%, 0);
}

.bbox-tooltip.bottom::after {
	content: ' ';
	position: absolute;
	bottom: 98%;
	left: 50%;
	margin-left: -1.2rem;
	border-width: 1.2rem;
	border-style: solid;
	border-color: transparent transparent var(--bg-color) transparent;
}

.bbox-tooltip.left {
	top: 50%;
	left: calc((0.98rem + 0.8rem) * -1);
	transform: translate(-100%, -50%);
	justify-content: flex-end;
	justify-items: flex-end;
}

.bbox-tooltip.left::after {
	content: ' ';
	position: absolute;
	top: 50%;
	left: 100%;
	margin-top: -1.2rem;
	border-width: 1.2rem;
	border-style: solid;
	border-color: transparent transparent transparent var(--bg-color);
}

.bbox-tooltip.top.banner::after {
	top: 99%;
}

.bbox-tooltip.bottom.banner::after {
	bottom: 99%;
}

.bbox-tooltip-banner {
	max-width: 28.7rem;
	background-color: var(--bg-color);
}

.bbox-tooltip-default {
	background-color: var(--bg-color);
	max-width: 28.7rem;
}

.bbox-tooltip-default > * {
	color: map-get($colors, 'white-base');;
	line-height: 1.3333;
	letter-spacing: 0.02em;
	font-size: 1rem;
	margin: 0;
}
</style>
