.tiny {
    font-size: 1.3125rem;
}

.normal {
    font-size: 1.5rem;
}

.big {
    font-size: 1.6875rem;
}

.xbig {
    font-size: 1.875rem;
}

.xxbig {
    font-size: 2.25rem;
}

.huge {
    font-size: 2.625rem;
}

.xhuge {
    font-size: 3rem;
}

.xxhuge {
    font-size: 4rem;
}

