<template>
	<svg width="209" height="448" viewBox="0 0 209 448" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M2.00586 146.398C4.21801 138.309 9.74839 130.36 13.7579 126.488C17.8366 122.617 19.0118 154.486 19.0118 154.486L2.00586 146.398Z" fill="#FF83D8"/>
		<path d="M47.9069 398.306C44.3121 397.961 40.7174 397.408 37.1226 396.924C36.1548 396.786 35.0487 396.647 34.0118 396.578C33.8044 402.8 35.0487 399.136 35.0487 403.906C35.0487 410.957 32.8366 418.077 31.7305 419.391C29.1036 422.64 24.0571 422.156 19.4945 422.709C5.11557 424.507 0.829557 423.539 0 435.291L54.9581 447.872C54.9581 447.872 62.4241 424.507 68.5767 399.482C61.6637 399.136 54.7507 398.998 47.9069 398.306Z" fill="#FF83D8"/>
		<path d="M69.6825 410.335C75.9042 386.761 79.4298 357.312 78.3238 344.316C78.3238 344.316 118.834 206.402 131.484 162.505C129.549 162.159 127.682 161.882 125.747 161.537C115.861 159.878 105.976 158.288 96.1592 156.421C88.6241 155.039 75.0055 152.757 67.4704 151.582C48.0449 210.757 40.648 305.119 38.4359 320.604C36.9842 330.628 31.5229 375.701 30.6934 403.836C41.2702 406.394 58.8292 408.745 69.6825 410.335Z" fill="#30C3FC"/>
		<path d="M49.6351 429.83C46.2478 428.862 42.9987 427.41 40.0952 425.475C37.1918 423.539 34.7031 421.051 31.7305 419.322C29.1036 422.571 24.0571 422.087 19.4945 422.641C5.11557 424.438 0.829557 423.47 0 435.222L54.9581 447.804C54.9581 447.804 57.1011 441.098 60.0046 431.074C56.5481 431.282 53.0225 430.798 49.6351 429.83Z" fill="#170C3A"/>
		<path d="M202.619 397.062C192.665 401.902 182.157 405.565 171.788 409.437C175.659 418.7 176.834 425.475 172.963 428.309C164.045 434.807 153.123 430.729 152.639 447.804H178.217L208.634 430.314C206.698 417.525 204.693 406.533 202.619 397.062Z" fill="#FF83D8"/>
		<path d="M203.173 399.688C191.974 358.418 182.226 336.711 182.226 336.711C178.562 305.949 157.893 190.571 157.893 190.571L154.989 166.307C145.242 164.717 135.564 163.127 125.816 161.537C115.931 159.877 106.045 158.287 96.2289 156.421C95.1228 156.214 94.0859 156.006 92.9799 155.799L76.7344 186.008C76.7344 186.008 121.046 295.787 133.559 335.398C142.131 362.497 158.93 394.02 166.603 413.031C176.972 409.781 193.011 403.767 203.173 399.688Z" fill="#30C3FC"/>
		<path d="M206.698 418.215C201.997 421.74 196.605 423.192 190.798 423.745C186.028 424.16 180.083 423.261 175.175 424.575C174.898 426.165 174.138 427.478 172.963 428.377C164.045 434.875 153.123 430.796 152.639 447.872H178.217L208.634 430.382C208.012 426.096 207.32 422.086 206.698 418.215Z" fill="#170C3A"/>
		<path d="M102.589 251.889C100.238 241.796 97.8879 231.703 95.4683 221.541C95.3992 221.334 95.3992 221.196 95.3301 220.988C95.3301 220.85 95.3301 220.712 95.3992 220.643C95.6758 220.712 95.8831 220.85 96.1596 220.919C96.2288 221.265 96.2979 221.541 96.367 221.887C98.6483 231.842 100.999 241.727 103.349 251.682C103.487 252.166 102.727 252.373 102.589 251.889Z" fill="black"/>
		<path d="M96.4354 221.888C96.1588 221.749 95.8132 221.68 95.5366 221.542C92.8406 220.574 90.2137 219.537 87.5176 218.569C87.0337 218.362 87.2411 217.602 87.725 217.809L95.4675 220.712C95.7441 220.782 95.9514 220.92 96.2279 220.989C96.2971 221.265 96.3662 221.542 96.4354 221.888Z" fill="black"/>
		<path d="M165.566 90.9556C164.529 110.796 157.339 186.769 157.339 186.769L103.764 181.377L77.4944 157.182L65.3967 114.736L59.2441 93.0295C61.2489 59.0868 68.6458 53.0034 99.2012 55.9068C100.238 55.976 101.344 56.1142 102.45 56.2525C104.109 56.4599 105.907 56.6673 107.704 56.8746C112.336 57.4277 117.382 58.1881 122.982 58.9485C122.982 58.9485 124.434 59.9164 126.853 61.4372C137.153 68.0737 164.598 85.7017 165.566 86.3239C165.773 86.4622 165.704 88.1213 165.566 90.9556Z" fill="#170C3A"/>
		<path d="M155.887 94.7578C145.172 120.059 140.678 134.023 129.756 159.187C160.795 163.68 163.837 117.778 155.887 94.7578Z" fill="#365DF0"/>
		<path d="M120.079 82.0371H13.7578V188.013H120.079V82.0371Z" fill="#C5D2FF"/>
		<path d="M120.079 97.8691H13.7578V99.4591H120.079V97.8691Z" fill="white"/>
		<path d="M23.365 93.652C25.3885 93.652 27.0289 92.0116 27.0289 89.9881C27.0289 87.9646 25.3885 86.3242 23.365 86.3242C21.3415 86.3242 19.7012 87.9646 19.7012 89.9881C19.7012 92.0116 21.3415 93.652 23.365 93.652Z" fill="#7800FF"/>
		<path d="M34.2186 93.652C36.2421 93.652 37.8825 92.0116 37.8825 89.9881C37.8825 87.9646 36.2421 86.3242 34.2186 86.3242C32.1951 86.3242 30.5547 87.9646 30.5547 89.9881C30.5547 92.0116 32.1951 93.652 34.2186 93.652Z" fill="white"/>
		<path d="M81.5738 152.273H29.5883C28.5513 152.273 28.5513 153.863 29.5883 153.863H81.5738C82.6108 153.933 82.6108 152.273 81.5738 152.273Z" fill="#A0B6FF"/>
		<path d="M81.5738 161.191H29.5883C28.5513 161.191 28.5513 162.781 29.5883 162.781H81.5738C82.6108 162.851 82.6108 161.191 81.5738 161.191Z" fill="#A0B6FF"/>
		<path d="M101.482 106.439H28.8262V143.77H101.482V106.439Z" fill="#A0B6FF"/>
		<path d="M97.2657 173.289H78.3242V181.17H97.2657V173.289Z" fill="white"/>
		<path d="M93.6709 110.105C91.8044 111.349 89.8688 112.524 88.0023 113.769C87.1036 114.322 87.9332 115.773 88.8319 115.151C90.6984 113.907 92.634 112.732 94.5005 111.487C95.3992 110.934 94.5696 109.552 93.6709 110.105Z" fill="white"/>
		<path d="M24.9558 155.937C26.9606 156.49 29.5875 154.001 27.6519 152.135C25.4397 150.061 16.5911 140.866 13.826 139.622C1.3826 134.161 -0.138255 153.794 0.345653 157.941C1.10608 164.993 4.14775 171.56 8.77945 176.814C8.91771 177.229 12.3051 180.201 13.9642 181.376C15.2085 182.206 17.2133 181.307 17.4898 179.786C18.9415 180.27 22.5363 178.196 21.7759 176.053C22.3289 175.708 23.8498 175.224 24.1954 174.118C24.6793 172.735 24.2645 171.353 23.6423 169.97C24.0571 169.763 24.4028 169.555 24.7484 169.14C26.8223 166.859 23.5041 164.232 21.0154 160.776C19.1489 158.149 18.5268 154.623 16.7985 152.964C17.3516 152.757 17.8355 152.549 18.3194 152.204C20.1859 153.932 22.398 155.245 24.9558 155.937Z" fill="#FF83D8"/>
		<path d="M22.675 169.002C18.6655 165.822 15.4855 161.882 13.2042 157.319C12.9968 156.835 12.2364 157.25 12.5129 157.734C14.8633 162.366 18.1125 166.306 22.122 169.555C22.5368 169.901 23.0898 169.348 22.675 169.002Z" fill="#170C3A"/>
		<path d="M21.016 174.257C16.799 171.768 13.4808 168.243 11.2687 163.888C11.0613 163.404 10.3009 163.818 10.5774 164.302C12.7895 168.796 16.246 172.46 20.6012 174.948C21.016 175.225 21.4307 174.534 21.016 174.257Z" fill="#170C3A"/>
		<path d="M16.453 177.921C13.4113 175.916 10.9227 173.359 9.05615 170.179C8.77963 169.695 8.08833 170.109 8.36485 170.593C10.3005 173.842 12.8583 176.608 16.0382 178.612C16.453 178.889 16.8678 178.198 16.453 177.921Z" fill="#170C3A"/>
		<path d="M25.1638 109.275C23.0899 106.925 20.7395 102.5 18.0435 101.947C11.4761 100.634 5.80748 101.256 4.97792 102.017C3.94098 103.053 4.70144 104.713 5.87664 105.75C7.53576 107.201 11.3379 105.957 12.1674 108.584C12.1674 108.653 12.1674 108.653 12.2365 108.722C10.2318 108.307 8.57269 108.169 7.32835 108.446C2.90405 109.413 4.07926 118.4 5.39273 126.488C7.81227 140.867 35.4642 143.356 35.4642 143.356C35.4642 143.356 25.3712 109.344 25.1638 109.275Z" fill="#FF83D8"/>
		<path d="M165.565 90.9563C164.736 97.0397 162.385 104.367 158.307 113.285C139.02 154.97 135.563 171.838 120.7 173.152C112.128 173.912 99.7539 169.488 78.3236 161.607C56.9626 153.726 40.5097 147.712 28.2046 143.149C26.6146 131.95 26.0616 120.613 25.0938 109.276C33.8041 110.382 49.8422 112.525 65.3964 114.737C81.6419 117.087 97.2652 119.507 103.072 121.028L135.978 78.029L125.677 62.8896L122.981 58.9492C124.71 59.1566 126.438 59.4331 128.097 59.6405C150.149 62.8205 168.814 67.5213 165.565 90.9563Z" fill="#170C3A"/>
		<path d="M109.086 126.835L105.007 122.756C104.661 122.41 104.039 122.963 104.454 123.309C105.837 124.692 107.15 126.005 108.533 127.388C108.878 127.802 109.431 127.18 109.086 126.835Z" fill="white"/>
		<path d="M123.811 91.7851C122.774 93.3059 121.806 94.8959 120.769 96.4168C120.493 96.8316 121.184 97.2463 121.46 96.8316C122.497 95.3107 123.465 93.7207 124.502 92.1999C124.848 91.7851 124.157 91.3703 123.811 91.7851Z" fill="white"/>
		<path d="M7.39612 115.774C6.84308 114.875 6.35919 113.907 5.80615 113.009C5.52963 112.525 4.83833 112.94 5.11485 113.423C5.66789 114.322 6.15179 115.29 6.70483 116.189C6.91221 116.673 7.60351 116.258 7.39612 115.774Z" fill="#170C3A"/>
		<path d="M7.46574 123.169C7.05096 122.547 6.63617 121.925 6.29052 121.303C6.014 120.888 5.32271 121.303 5.59923 121.717C6.014 122.34 6.42879 122.962 6.77444 123.584C7.05096 124.068 7.74226 123.653 7.46574 123.169Z" fill="#170C3A"/>
		<path d="M8.08687 128.286L6.98081 126.834C6.63517 126.419 5.94387 126.834 6.28952 127.249L7.39558 128.7C7.74122 129.115 8.43252 128.7 8.08687 128.286Z" fill="#170C3A"/>
		<path d="M15.2086 109.344C14.4482 109.067 13.6878 108.791 12.9965 108.583C12.5126 108.445 12.3052 109.205 12.7891 109.344C13.5495 109.62 14.3099 109.897 15.0012 110.104C15.4851 110.242 15.6925 109.482 15.2086 109.344Z" fill="#170C3A"/>
		<path d="M126.992 60.3305L119.181 30.6738L100.17 36.066C100.516 36.4807 102.036 52.8645 103.004 63.0957C105.769 62.8883 123.052 60.607 126.992 60.3305Z" fill="#FF83D8"/>
		<path d="M113.097 33.9915C113.166 33.231 113.166 32.5397 113.166 31.7793L100.17 36.0653C100.377 36.2727 100.93 41.5957 101.553 47.9556C106.806 44.3609 111.162 39.591 113.097 33.9915Z" fill="#170C3A"/>
		<path d="M133.835 20.9263C134.595 14.9811 126.507 7.51515 119.525 5.64865C116.483 4.81909 116.138 2.26128 114.34 4.12778C109.916 8.75948 95.7446 22.8619 95.3989 29.0836C94.915 38.1396 105.423 41.6652 112.958 39.3839C120.493 37.0335 132.729 29.4293 133.835 20.9263Z" fill="#FF83D8"/>
		<path d="M117.451 0.049788C120.7 0.741085 123.603 5.09625 124.364 7.7923C129.687 10.9031 134.387 16.3644 133.765 20.9961C133.005 26.6647 127.336 31.9877 121.391 35.5133C120.147 33.3012 123.88 29.1534 123.672 26.2499C119.732 19.5444 120.423 16.8483 122.082 14.2214C119.801 14.014 113.165 6.8245 113.372 4.12844C113.925 0.118913 116.483 -0.157601 117.451 0.049788Z" fill="#0C32B3"/>
		<path d="M129.756 34.2698C131.001 31.0899 128.374 26.389 123.673 26.1816C121.115 28.8777 118.488 31.5046 115.861 34.1316C116.691 36.1363 119.733 38.9015 122.705 39.1089C126.093 39.2472 128.443 37.7263 129.756 34.2698Z" fill="#FF83D8"/>
		<path d="M126.299 31.6415C125.193 31.4341 124.156 31.2958 123.05 31.0884C122.566 31.0193 122.289 31.7797 122.843 31.8489C123.949 32.0562 124.986 32.1945 126.092 32.4019C126.645 32.471 126.852 31.7106 126.299 31.6415Z" fill="#170C3A"/>
		<path d="M107.773 12.2158C107.22 12.838 106.598 13.391 106.045 14.0132C105.699 14.3588 106.252 14.981 106.598 14.5662C107.151 13.944 107.773 13.391 108.326 12.7688C108.741 12.4232 108.119 11.801 107.773 12.2158Z" fill="#170C3A"/>
		<path d="M114.41 18.2998C113.857 18.9219 113.235 19.475 112.682 20.0972C112.336 20.4428 112.889 21.065 113.235 20.6502C113.788 20.028 114.41 19.475 114.963 18.8528C115.309 18.5072 114.756 17.885 114.41 18.2998Z" fill="#170C3A"/>
		<path d="M106.875 20.6505C106.322 20.4431 105.561 20.2357 105.215 19.6827C105.008 19.2679 105.077 18.7149 105.561 18.6457C106.045 18.5766 105.838 17.8162 105.354 17.8853C104.524 18.0236 104.178 18.9222 104.317 19.6827C104.524 20.7196 105.699 21.1344 106.598 21.4109C107.151 21.6183 107.358 20.8579 106.875 20.6505Z" fill="#170C3A"/>
		<path d="M110.055 31.5037C109.502 32.3332 108.327 32.6789 107.359 32.2641C106.875 32.0567 106.46 32.748 106.944 32.9554C108.327 33.5776 109.917 33.0937 110.746 31.8493C111.023 31.5037 110.332 31.0889 110.055 31.5037Z" fill="#170C3A"/>
		<path d="M128.098 59.6393C127.683 60.2614 127.338 60.8145 126.854 61.4366C126.439 61.9205 126.093 62.4044 125.679 62.8884C122.775 66.2066 119.042 68.7644 114.756 70.0778C110.055 71.4604 104.663 71.0457 101.207 67.2435C98.3031 64.0636 97.681 59.7084 99.2019 55.9062C100.239 55.9754 108.396 56.1828 108.396 56.1828C113.028 56.7358 117.452 58.1184 122.982 58.948C124.711 59.1553 126.37 59.3627 128.098 59.6393Z" fill="#FF83D8"/>
		<path d="M117.797 16.5019L117.175 15.2576C116.691 14.2898 115.309 15.1193 115.793 16.0871L116.415 17.3315C116.83 18.2302 118.281 17.4697 117.797 16.5019Z" fill="#170C3A"/>
		<path d="M110.331 10.1416C109.847 9.796 109.363 9.45035 108.879 9.1047C108.534 8.82818 107.981 9.03557 107.773 9.38122C107.566 9.79599 107.704 10.2108 108.05 10.4873C108.534 10.8329 109.018 11.1786 109.501 11.5242C109.847 11.8008 110.4 11.5934 110.608 11.2477C110.884 10.9021 110.746 10.4182 110.331 10.1416Z" fill="#170C3A"/>
	</svg>
</template>

<script>
export default {
	name: 'b-illustration-kanban-man',
	components: {},
	computed: {},
	props: {},
};
</script>

<style scoped lang="scss">
</style>

