<template>
	<svg width="458" height="467" viewBox="0 0 458 467" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M422.143 309.337H31.0923C27.2537 309.337 27.2537 315.34 31.0923 315.34H422.213C425.982 315.34 426.052 309.337 422.143 309.337Z" fill="#DCDBE1"/>
		<path d="M404.276 313.525V463.51C404.276 467.349 410.278 467.349 410.278 463.51V313.525H404.276Z" fill="#DCDBE1"/>
		<path d="M49.3784 313.525V463.51C49.3784 467.349 55.3806 467.349 55.3806 463.51V313.525H49.3784Z" fill="#DCDBE1"/>
		<path d="M404.276 173.799V308.36C404.276 312.199 410.278 312.199 410.278 308.36V173.799C410.278 169.891 404.276 169.891 404.276 173.799Z" fill="#DCDBE1"/>
		<path d="M66.5479 173.799V308.36C66.5479 312.199 72.5501 312.199 72.5501 308.36V173.799C72.5501 169.891 66.5479 169.891 66.5479 173.799Z" fill="#DCDBE1"/>
		<path d="M424.446 148.464V229.005C424.446 232.076 421.934 234.589 418.863 234.589H58.8701C55.7992 234.589 53.2866 232.076 53.2866 229.005V148.464C53.2866 145.393 55.7992 142.881 58.8701 142.881H418.863C421.934 142.881 424.446 145.393 424.446 148.464Z" fill="#DCDBE1"/>
		<path d="M424.446 204.229H53.2866V205.974H424.446V204.229Z" fill="white"/>
		<path d="M424.446 171.636H53.2866V173.38H424.446V171.636Z" fill="white"/>
		<path d="M240.053 216.233C256.733 219.165 273.553 221.189 290.373 223.003C312.079 225.306 333.924 227.261 355.56 229.913C360.516 178.894 361.074 118.523 358.212 104.425C352.001 73.8553 304.332 79.8575 304.332 79.8575C304.332 79.8575 241.518 98.1433 241.518 100.656C241.518 102.889 218.835 193.481 215.625 211.697C223.791 213.232 231.887 214.837 240.053 216.233Z" fill="#E8E7EB"/>
		<path d="M148.135 412.561C141.226 413.748 134.177 414.166 127.127 414.655C125.522 414.795 123.847 414.864 122.172 414.934C132.222 450.738 124.545 444.736 109.121 447.039C88.5318 450.18 90.4162 467 90.4162 467H175.913C174.447 444.108 172.912 424.705 171.306 408.234C163.629 409.63 155.882 411.235 148.135 412.561Z" fill="#C5C3CD"/>
		<path d="M156.65 449.621C146.041 449.482 136.41 442.084 126.011 442.363C123.917 447.039 117.775 445.783 109.26 447.039C88.6714 450.18 90.5559 467 90.5559 467H176.052C175.564 459.602 175.075 452.623 174.587 445.922C168.794 448.156 162.862 449.691 156.65 449.621Z" fill="#A39FAF"/>
		<path d="M217.579 204.927C216.253 211.069 215.625 214.907 215.904 214.907C216.183 214.907 220.162 216.163 226.583 218.257C213.322 224.469 193.221 232.704 162.861 242.964C89.2297 267.95 74.9221 270.672 105.422 362.171C115.402 392.112 118.543 412.631 121.544 424.985C137.387 422.332 161.675 418.633 177.518 416.4C169.98 332.648 156.022 318.48 156.022 318.48C156.022 318.48 155.952 316.177 228.397 314.083C329.597 311.222 341.462 314.711 349.558 276.325C353.397 258.039 356.188 233.472 358.003 208.486C311.172 207.439 264.41 204.927 217.579 204.927Z" fill="#A39FAF"/>
		<path d="M75.4109 360.984C70.1066 392.95 66.7565 384.156 52.3792 379.759C32.4881 373.687 24.4619 390.646 24.4619 390.646L101.583 427.497C109.749 408.304 116.449 391.973 121.963 378.014C106.399 372.64 90.9748 366.638 75.4109 360.984Z" fill="#C5C3CD"/>
		<path d="M90.207 400.138C86.508 396.021 83.3673 391.484 79.5287 387.506C76.8068 384.644 73.6661 382.62 70.2462 380.945C66.617 387.576 61.9408 382.69 52.3792 379.759C32.4881 373.687 24.4619 390.646 24.4619 390.646L101.583 427.497C103.817 422.263 105.91 417.238 107.934 412.422C101.165 410.677 95.0926 405.582 90.207 400.138Z" fill="#A39FAF"/>
		<path d="M281.719 223.143C281.719 223.143 293.654 216.443 216.113 210.58C116.937 203.182 98.6517 205.415 83.2274 302.568C78.4116 332.718 75.2012 350.864 72.9678 363.218C88.2525 368.941 111.843 379.619 127.267 384.923C156.51 311.222 146.669 297.612 147.716 284.98C147.716 284.98 147.716 284.98 171.167 294.541C180.659 289.586 190.639 285.329 200.131 280.583C214.997 273.115 229.932 265.787 244.868 258.458C260.153 250.921 275.438 243.313 290.653 235.496L281.719 223.143Z" fill="#A39FAF"/>
		<path d="M150.508 265.507C150.508 265.856 150.508 266.135 150.508 266.484C150.508 274.72 150.159 283.025 149.461 291.261C147.018 321.691 140.178 351.771 129.221 380.317C129.012 380.805 128.174 380.596 128.383 380.107C131.454 372.081 134.246 363.915 136.619 355.68C145.064 326.925 149.391 296.984 149.531 267.043C149.531 266.694 149.531 266.414 149.531 266.065C149.95 265.856 150.229 265.647 150.508 265.507Z" fill="white"/>
		<path d="M241.519 226.074C233.981 228.517 226.513 231.099 219.115 233.891C195.385 242.825 172.423 253.782 150.439 266.484C150.159 266.624 149.88 266.833 149.601 266.973C147.507 268.16 145.344 269.416 143.25 270.672C142.761 270.951 142.343 270.183 142.831 269.904C145.064 268.578 147.368 267.252 149.601 265.926C149.88 265.717 150.159 265.577 150.439 265.438C154.835 262.855 159.302 260.412 163.769 258.039C188.546 244.779 214.509 233.821 241.239 225.237C241.867 225.097 242.077 225.935 241.519 226.074Z" fill="white"/>
		<path d="M154.696 317.503C153.719 316.666 152.672 315.758 151.695 314.921C151.276 314.572 150.648 315.2 151.067 315.549C152.044 316.387 153.091 317.294 154.068 318.131C154.487 318.48 155.115 317.852 154.696 317.503Z" fill="white"/>
		<path d="M335.53 229.494C335.46 228.936 334.623 229.215 334.692 229.703C337.065 242.755 334.483 256.504 327.294 267.671C320.734 277.931 310.614 285.608 299.028 289.307C298.54 289.446 298.749 290.284 299.237 290.144C311.032 286.306 321.292 278.489 327.992 268.09C335.39 256.713 337.973 242.755 335.53 229.494Z" fill="white"/>
		<path d="M331.482 248.617C323.456 243.034 317.873 234.519 315.779 224.958C315.639 224.399 314.802 224.678 314.941 225.167C317.035 235.008 322.828 243.592 330.994 249.385C331.482 249.664 331.971 248.966 331.482 248.617Z" fill="white"/>
		<path d="M257.711 224.26C254.291 224.609 250.871 224.958 247.451 225.307C246.893 225.376 246.893 226.214 247.451 226.144C250.871 225.795 254.291 225.446 257.711 225.097C258.269 225.027 258.269 224.19 257.711 224.26Z" fill="white"/>
		<path d="M203.132 157.258C198.386 179.313 197.549 184.617 197.549 184.617C197.549 184.617 139.83 189.782 119.799 205.206C114.565 208.696 106.818 220.7 107.237 225.027C107.306 226.004 107.306 228.238 109.609 227.4C110.587 230.68 112.052 232.006 113.029 231.448C115.402 235.077 119.869 233.612 120.078 231.029C121.544 234.03 125.313 235.845 132.083 223.282C132.502 223.073 143.18 221.049 144.506 220.909C150.508 222.794 145.344 225.865 141.924 229.075C140.528 230.401 140.179 233.402 141.714 233.542C148.345 234.17 159.093 224.12 163.35 220.281L239.983 215.256L245.985 157.747C231.678 158.026 217.44 158.305 203.132 157.258Z" fill="#C5C3CD"/>
		<path d="M304.332 79.8574L281.929 92.2108L251.08 109.24L245.636 161.585C231.329 160.678 217.021 159.422 202.713 159.212C204.388 151.465 206.552 141.555 209.414 128.852C218.696 87.5347 230.351 85.9294 276.485 82.2304C284.65 81.6023 293.863 80.8345 304.332 79.8574Z" fill="#E8E7EB"/>
		<path d="M206.343 187.129L199.433 185.524C198.875 185.385 198.666 186.222 199.224 186.362C201.527 186.92 203.83 187.478 206.133 187.967C206.692 188.106 206.901 187.269 206.343 187.129Z" fill="white"/>
		<path d="M134.107 214C127.965 216.303 123.289 221.119 121.126 227.261C120.916 227.749 121.754 228.028 121.963 227.47C123.987 221.607 128.524 216.931 134.317 214.768C134.875 214.628 134.665 213.791 134.107 214Z" fill="white"/>
		<path d="M130.338 209.812C122.173 213.023 116.031 220.072 113.937 228.587C113.797 229.145 114.635 229.354 114.775 228.796C116.799 220.561 122.661 213.721 130.548 210.65C131.036 210.441 130.827 209.603 130.338 209.812Z" fill="white"/>
		<path d="M122.312 207.718C116.171 211.906 111.774 218.118 109.959 225.376C109.819 225.934 110.657 226.144 110.797 225.585C112.541 218.606 116.799 212.534 122.731 208.486C123.22 208.137 122.801 207.369 122.312 207.718Z" fill="white"/>
		<path d="M248.707 107.356C248.149 114.754 247.59 122.222 247.032 129.62C246.962 130.178 247.87 130.178 247.87 129.62C248.428 122.222 248.986 114.754 249.545 107.356C249.614 106.798 248.777 106.798 248.707 107.356Z" fill="white"/>
		<path d="M247.242 161.655H226.234C225.047 161.655 223.931 160.957 223.512 159.84L208.018 122.92C207.18 120.965 208.646 118.802 210.74 118.802H231.748C232.934 118.802 234.051 119.5 234.47 120.616L249.964 157.537C250.801 159.491 249.335 161.655 247.242 161.655Z" fill="#807B91"/>
		<path d="M230.701 121.245C228.607 121.245 226.513 121.314 224.419 121.314C223.861 121.314 223.861 122.152 224.419 122.152C226.513 122.152 228.607 122.082 230.701 122.082C231.259 122.082 231.259 121.245 230.701 121.245Z" fill="white"/>
		<path d="M228.746 126.34C227.211 126.2 225.606 127.177 225.257 128.712C225.257 128.782 225.257 128.852 225.257 128.922C225.187 128.992 225.187 129.061 225.187 129.131C225.187 130.806 226.583 132.202 228.258 132.272C229.863 132.342 231.05 131.016 231.189 129.41C231.259 127.945 230.282 126.549 228.746 126.34ZM228.398 131.504C227.141 131.504 226.094 130.457 226.094 129.201C226.094 129.131 226.094 129.131 226.094 129.061L226.164 128.992C226.722 126.619 230.421 126.619 230.421 129.271C230.282 130.387 229.584 131.504 228.398 131.504Z" fill="white"/>
		<path d="M241.449 144.765C238.797 137.925 236.145 131.016 233.423 124.176C233.213 123.687 232.376 123.897 232.585 124.385L240.611 144.974C240.821 145.533 241.658 145.323 241.449 144.765Z" fill="white"/>
		<path d="M230.421 136.32C231.038 136.32 231.538 135.82 231.538 135.203C231.538 134.586 231.038 134.086 230.421 134.086C229.805 134.086 229.305 134.586 229.305 135.203C229.305 135.82 229.805 136.32 230.421 136.32Z" fill="white"/>
		<path d="M357.933 153.07C349.628 151.256 341.392 149.441 333.157 147.417C327.992 146.161 322.897 144.974 317.663 144.346L314.103 165.075C314.103 165.075 266.644 155.932 259.804 155.164C258.478 148.953 255.756 141.275 252.546 136.32C249.475 131.644 245.357 129.62 243.542 129.201C239.913 128.364 241.239 135.622 245.148 137.576C245.706 138.693 244.938 148.743 238.866 147.626C237.401 146.789 235.935 146.021 234.469 145.253C232.864 144.207 223.721 141.764 217.021 135.552C215.555 134.575 213.601 132.063 211.787 131.923C209.414 131.714 207.878 133.528 208.576 135.762C208.785 136.529 214.857 142.462 215.486 143.09C215.904 145.672 215.555 147.138 216.602 149.441C216.672 151.814 217.091 153.978 217.859 156.071C217.649 165.842 224.908 171.845 233.353 175.683C236.144 177.986 239.634 180.569 243.822 183.43C302.029 223.282 337.135 232.076 355.56 227.819C368.333 224.818 376.149 188.106 376.219 158.654C376.219 158.165 376.219 157.677 376.219 157.188C370.008 155.722 364.005 154.396 357.933 153.07Z" fill="#C5C3CD"/>
		<path d="M317.244 147.068L326.457 93.3274L314.313 85.9294L304.333 79.8573C308.52 79.5084 313.266 79.1594 318.221 78.8802C342.021 77.4844 370.915 78.4615 372.939 101.284C373.986 113.218 376.08 136.111 376.01 158.584C356.328 155.374 336.717 151.465 317.244 147.068Z" fill="#E8E7EB"/>
		<path d="M322.129 170.519C320.105 168.983 318.081 167.448 316.057 165.912C315.638 165.563 315.22 166.331 315.638 166.68C317.662 168.216 319.686 169.751 321.71 171.286C322.129 171.566 322.548 170.798 322.129 170.519Z" fill="white"/>
		<path d="M226.444 150.977C223.861 149.371 221.349 147.766 218.766 146.161C218.278 145.882 217.859 146.58 218.348 146.929C220.93 148.534 223.443 150.139 226.025 151.744C226.444 152.023 226.932 151.256 226.444 150.977Z" fill="white"/>
		<path d="M224.14 155.583C221.837 154.676 219.952 153.14 218.626 151.046C218.347 150.558 217.579 151.046 217.858 151.465C219.324 153.698 221.418 155.374 223.93 156.351C224.489 156.56 224.698 155.792 224.14 155.583Z" fill="white"/>
		<path d="M223.302 161.934C221.907 160.748 220.511 159.561 219.115 158.444C218.696 158.096 218.068 158.724 218.487 159.073C219.883 160.259 221.278 161.446 222.674 162.562C223.093 162.911 223.721 162.283 223.302 161.934Z" fill="white"/>
		<path d="M242.077 182.174C232.446 178.405 224.28 171.635 218.836 162.841C218.557 162.353 217.789 162.772 218.068 163.26C223.652 172.263 231.957 179.173 241.798 183.012C242.356 183.151 242.566 182.314 242.077 182.174Z" fill="white"/>
		<path d="M319.687 111.195C318.5 121.733 317.383 132.342 316.197 142.881C316.127 143.439 316.965 143.439 317.035 142.881C318.221 132.342 319.338 121.733 320.524 111.195C320.664 110.636 319.756 110.636 319.687 111.195Z" fill="white"/>
		<path d="M304.332 79.8573C293.863 80.8345 284.581 81.6022 276.485 82.2303C277.043 86.069 278.997 89.5586 281.929 92.2107C282.278 92.4899 282.557 92.7691 282.906 93.0483C287.233 96.4681 292.816 97.5848 298.26 96.6077C305.17 95.3514 310.544 91.3034 314.383 85.9294C315.918 83.7658 317.244 81.3928 318.291 78.8802C313.266 79.1594 308.59 79.5084 304.332 79.8573Z" fill="#C5C3CD"/>
		<path d="M315.569 82.8582L284.581 93.3272L280.533 85.1614L275.298 74.6924L266.295 56.5462L288.629 46.6356C289.745 48.869 315.569 82.8582 315.569 82.8582Z" fill="#C5C3CD"/>
		<path d="M280.533 85.1616L280.743 85.5804C284.581 81.4626 286.675 76.0885 287.303 70.2259C288.071 62.409 285.558 55.9881 282.836 49.2181L266.365 56.5464L275.369 74.6926L280.533 85.1616Z" fill="#807B91"/>
		<path d="M286.815 27.6518C277.672 19.7652 250.243 30.8623 252.756 42.5177C254.64 51.2419 260.084 75.3205 265.388 78.7404C276.067 85.5801 288.211 76.7164 291.561 66.1776C294.98 55.5691 295.958 35.4687 286.815 27.6518Z" fill="#C5C3CD"/>
		<path d="M290.025 31.421C290.583 30.2345 290.653 28.7688 290.234 27.0938C289.187 23.325 285.767 22.1385 282.906 22.976C281.161 20.952 277.951 20.1145 275.368 20.6728C274.182 20.952 273.065 21.5103 272.158 22.2083C271.46 21.8593 270.692 21.6499 269.924 21.5801C268.18 21.5103 266.853 22.4176 265.807 23.7437V23.8135C263.224 23.8833 260.782 24.8604 259.595 27.3032C259.455 27.6521 259.316 28.0011 259.246 28.4199C254.5 26.8146 248.707 26.675 247.94 32.2585C247.8 33.5148 247.94 34.4919 248.358 35.3294C247.73 36.3763 247.311 37.6325 247.311 39.168C247.242 41.4014 249.894 42.9368 251.848 41.7504C252.267 41.4712 252.685 41.192 253.104 40.9826C253.663 41.6806 254.361 42.2389 255.338 42.6577C259.316 44.4025 262.457 42.0993 263.643 38.7492C266.923 38.9586 270.134 37.7023 272.507 35.3992C273.274 36.8648 274.81 37.9117 276.904 37.9117C277.951 37.9117 278.928 37.7023 279.695 37.2836C281.58 40.0055 284.511 42.867 288.489 41.9597C290.374 41.541 292.328 48.7995 294.143 48.7297C293.933 42.4483 292.817 36.0971 290.025 31.421Z" fill="#170C3A"/>
		<path d="M268.808 57.8027C267.97 58.2214 267.063 58.71 266.086 58.7798C264.969 58.8496 263.573 58.0818 263.922 56.7558C264.062 56.1974 263.294 55.9182 263.155 56.4766C262.806 57.7329 263.434 58.9891 264.69 59.4079C266.226 60.036 267.831 59.2683 269.157 58.5704C269.645 58.2912 269.296 57.5235 268.808 57.8027Z" fill="#170C3A"/>
		<path d="M262.875 50.7534C263.992 54.1035 262.107 57.8025 258.478 58.3608C254.849 58.9192 251.918 56.0577 251.918 52.4982C251.918 51.9399 251.08 51.8701 251.08 52.4284C251.08 56.5462 254.43 59.8963 258.618 59.1984C262.805 58.5004 264.969 54.243 263.643 50.4044C263.433 49.8461 262.666 50.195 262.875 50.7534Z" fill="#DCDBE1"/>
		<path d="M278.998 45.3795C280.603 48.5202 279.277 52.4286 275.787 53.5453C272.297 54.662 268.947 52.2193 268.459 48.7296C268.389 48.1713 267.552 48.2411 267.621 48.7296C268.249 52.7776 272.018 55.5693 276.066 54.3131C280.114 53.0568 281.58 48.5202 279.765 44.8212C279.486 44.4024 278.788 44.891 278.998 45.3795Z" fill="#DCDBE1"/>
		<path d="M268.389 49.7065C266.714 50.3346 265.039 50.9627 263.364 51.5909C262.876 51.8003 263.225 52.568 263.713 52.3586C265.388 51.7305 267.063 51.1023 268.738 50.4742C268.599 50.195 268.529 49.9857 268.389 49.7065Z" fill="#DCDBE1"/>
		<path d="M272.647 47.2638C272.856 48.0316 273.135 48.7993 273.345 49.4972C273.624 50.2649 274.741 49.7764 274.531 49.0087C274.322 48.2409 274.043 47.4732 273.833 46.7753C273.554 45.9378 272.368 46.4961 272.647 47.2638Z" fill="#170C3A"/>
		<path d="M257.012 50.7535C257.222 51.5213 257.501 52.289 257.71 52.9869C257.99 53.7546 259.106 53.2661 258.897 52.4984C258.687 51.7306 258.408 50.9629 258.199 50.265C257.92 49.4972 256.733 49.9858 257.012 50.7535Z" fill="#170C3A"/>
		<path d="M258.897 45.2399C257.99 45.4493 257.083 45.6587 256.175 45.7983C255.756 45.8681 255.477 46.4962 255.617 46.8452C255.756 47.3337 256.245 47.4733 256.664 47.4035C257.571 47.1941 258.478 46.9848 259.386 46.8452C259.804 46.7754 260.084 46.1472 259.944 45.7983C259.804 45.3097 259.316 45.1701 258.897 45.2399Z" fill="#170C3A"/>
		<path d="M270.832 40.5637C270.064 40.8429 269.227 41.1918 268.459 41.471C267.412 41.8897 268.11 43.4252 269.157 43.0064C269.924 42.7273 270.762 42.3783 271.53 42.0991C272.507 41.7502 271.809 40.2147 270.832 40.5637Z" fill="#170C3A"/>
		<path d="M280.603 65.6194C280.184 67.4341 278.928 68.8997 277.183 69.5976C276.694 69.807 276.904 70.6445 277.392 70.4352C279.416 69.6674 280.882 67.9924 281.44 65.8986C281.58 65.3403 280.742 65.1309 280.603 65.6194Z" fill="#170C3A"/>
		<path d="M292.049 39.2378C288.001 41.4013 283.953 43.5649 279.905 45.7285C279.416 46.0077 279.765 46.7754 280.254 46.4962C284.302 44.3326 288.35 42.1691 292.398 40.0055C292.956 39.7263 292.537 38.9586 292.049 39.2378Z" fill="#DCDBE1"/>
		<path d="M300.424 40.5639C297.772 37.2139 291.142 37.1441 288.141 42.0994C289.536 46.4964 290.793 50.9631 292.049 55.4299C294.701 55.7788 299.447 54.2434 301.401 51.1027C303.635 47.6828 303.286 44.1932 300.424 40.5639Z" fill="#C5C3CD"/>
		<path d="M294.771 44.6817C294.143 46.2172 293.445 47.7526 292.816 49.3579C292.607 49.8464 293.375 50.1256 293.654 49.6371C293.724 49.5673 293.724 49.4277 293.794 49.3579C293.794 49.2881 293.794 49.2881 293.794 49.2183C294.422 47.8224 294.98 46.4266 295.608 44.9609C295.748 44.4724 294.98 44.1932 294.771 44.6817Z" fill="#170C3A"/>
		<path d="M179.417 44.5981H90.291V108.878H179.417V44.5981Z" fill="#DCDBE1"/>
		<path d="M97.9685 97.501C97.8289 97.501 97.6195 97.4313 97.4799 97.3615C97.0611 97.0823 96.9914 96.5239 97.2705 96.175L106.902 82.4257C107.111 82.1466 107.53 82.007 107.879 82.0768L127.421 88.2884L149.336 56.4627C149.615 56.1137 150.104 55.9741 150.523 56.2533L164.691 65.1868L169.646 62.8139C170.065 62.6045 170.553 62.8139 170.763 63.2326C170.972 63.6514 170.763 64.1399 170.344 64.3493L164.97 66.9317C164.691 67.0713 164.412 67.0712 164.132 66.8619L150.313 58.1377L128.468 89.8238C128.259 90.103 127.84 90.2426 127.491 90.1728L107.949 83.9612L98.6664 97.1521C98.5268 97.3615 98.2476 97.501 97.9685 97.501Z" fill="white"/>
		<path d="M170.204 96.4543H151.988C150.871 96.4543 150.871 98.1991 151.988 98.1991H170.204C171.321 98.1293 171.321 96.4543 170.204 96.4543Z" fill="white"/>
		<path d="M170.204 101.759H151.988C150.871 101.759 150.871 103.503 151.988 103.503H170.204C171.321 103.503 171.321 101.759 170.204 101.759Z" fill="white"/>
		<path d="M83.3815 58.8358C82.8929 58.8358 82.5439 58.4869 82.5439 57.9983V37.6885C82.5439 37.2 82.8929 36.851 83.3815 36.851H105.366C105.855 36.851 106.204 37.2 106.204 37.6885C106.204 38.1771 105.855 38.526 105.366 38.526H84.219V57.9285C84.2888 58.4869 83.87 58.8358 83.3815 58.8358Z" fill="#C5C3CD"/>
		<path d="M186.536 59.7431C186.047 59.7431 185.699 59.3942 185.699 58.9056V37.7583H166.296C165.807 37.7583 165.458 37.4093 165.458 36.9208C165.458 36.4322 165.807 36.0833 166.296 36.0833H186.606C187.094 36.0833 187.443 36.4322 187.443 36.9208V58.8358C187.443 59.3244 187.025 59.7431 186.536 59.7431Z" fill="#C5C3CD"/>
		<path d="M99.8449 97.6025C100.804 96.445 100.643 94.7291 99.4856 93.77C98.328 92.811 96.6122 92.9718 95.6531 94.1293C94.694 95.2869 94.8549 97.0027 96.0124 97.9618C97.1699 98.9209 98.8858 98.76 99.8449 97.6025Z" fill="white"/>
		<path d="M109.531 85.1332C110.49 83.9757 110.329 82.2598 109.172 81.3007C108.014 80.3416 106.298 80.5025 105.339 81.66C104.38 82.8176 104.541 84.5334 105.698 85.4925C106.856 86.4516 108.572 86.2908 109.531 85.1332Z" fill="white"/>
		<path d="M129.441 90.9552C130.4 89.7977 130.239 88.0818 129.082 87.1227C127.924 86.1636 126.208 86.3245 125.249 87.482C124.29 88.6395 124.451 90.3554 125.609 91.3145C126.766 92.2736 128.482 92.1127 129.441 90.9552Z" fill="white"/>
		<path d="M152.207 59.231C153.166 58.0735 153.005 56.3576 151.847 55.3985C150.69 54.4394 148.974 54.6003 148.015 55.7578C147.056 56.9153 147.217 58.6312 148.374 59.5903C149.532 60.5494 151.248 60.3885 152.207 59.231Z" fill="white"/>
		<path d="M167.166 67.7643C168.125 66.6067 167.964 64.8909 166.807 63.9318C165.649 62.9727 163.933 63.1335 162.974 64.2911C162.015 65.4486 162.176 67.1645 163.334 68.1236C164.491 69.0826 166.207 68.9218 167.166 67.7643Z" fill="white"/>
		<path d="M173.805 64.5629C174.764 63.4054 174.603 61.6895 173.446 60.7304C172.288 59.7714 170.572 59.9322 169.613 61.0897C168.654 62.2472 168.815 63.9631 169.972 64.9222C171.13 65.8813 172.846 65.7204 173.805 64.5629Z" fill="white"/>
		<path d="M191.422 0H55.1162V12.0044H191.422V0Z" fill="#C5C3CD"/>
		<path d="M157.153 15.8433H55.1152V21.8455H157.153V15.8433Z" fill="#C5C3CD"/>
		<path d="M456.618 465.425H0.837063C-0.279021 465.425 -0.279021 467 0.837063 467H456.618C457.734 467 457.734 465.425 456.618 465.425Z" fill="#DCDBE1"/>
	</svg>
</template>

<script>
export default {
	name: 'b-illustration-man-with-cellphone',
	components: {},
	computed: {},
	props: {},
};
</script>

<style scoped lang="scss">
</style>

