<template>
	<svg width="199" height="232" viewBox="0 0 199 232" fill="none" xmlns="http://www.w3.org/2000/svg">
		<circle cx="97.7875" cy="119.422" r="97" fill="#F5F7FF"/>
		<path d="M49.6878 215.779C47.8777 219.956 45.998 224.133 44.1879 228.311C42.9347 231.165 47.3207 232.975 48.5739 230.19C50.384 226.013 52.5422 221.418 54.3523 217.241C55.675 214.317 50.941 212.925 49.6878 215.779Z" fill="#002097"/>
		<path d="M78.7188 203.735C78.3011 204.57 77.6745 205.615 76.9087 206.659C76.5606 207.077 76.2125 207.564 75.8644 207.982C69.3202 216.127 54.8394 227.893 48.156 225.108C40.289 221.836 40.3586 203.039 42.3079 193.153C42.3776 192.666 42.5168 192.248 42.5864 191.83C42.5864 191.761 42.656 191.621 42.656 191.552C42.7953 191.064 42.8649 190.577 43.0041 190.229C43.213 189.463 43.4219 188.836 43.7003 188.28L92.782 77.2368L95.4274 71.2496L118.054 20.0794C118.263 19.5921 118.471 19.1743 118.75 18.8262C119.028 18.3389 119.446 17.9212 119.794 17.5035C123.275 14.0225 129.959 13.1871 136.921 15.0668C137.199 15.1364 137.547 15.206 137.826 15.3453C137.895 15.3453 137.965 15.4149 138.034 15.4149C138.243 15.4845 138.452 15.5541 138.661 15.6238C139.009 15.763 139.288 15.8326 139.636 15.9718C139.984 16.1111 140.262 16.1807 140.61 16.3199C140.819 16.3896 141.098 16.5288 141.307 16.5984C141.585 16.7377 141.863 16.8769 142.142 17.0161C142.42 17.1554 142.699 17.2946 142.977 17.4339C143.256 17.5731 143.534 17.7123 143.743 17.8516C150.009 21.5414 153.838 27.5287 153.629 32.5412C153.629 33.0982 153.56 33.6551 153.42 34.2121C153.351 34.6994 153.142 35.1172 153.003 35.6045L130.376 86.7746L129.75 88.2367L127.731 92.7619L78.7188 203.735Z" fill="#002097"/>
		<path d="M133.3 86.1482L129.959 93.667L90.5542 76.1926L92.5732 71.6673L94.3833 67.6294L115.756 19.244C115.965 18.7567 116.244 18.2694 116.592 17.782C116.592 17.782 116.592 17.7124 116.661 17.7124C117.01 17.2947 117.427 16.877 117.845 16.5289C117.845 16.5289 117.845 16.4593 117.915 16.4593C121.953 13.2568 129.82 12.9783 136.99 14.9276C137.269 14.9973 137.617 15.0669 137.895 15.2061C137.965 15.2061 138.035 15.2757 138.104 15.2757C138.313 15.3454 138.522 15.415 138.731 15.4846C139.079 15.6238 139.357 15.6935 139.705 15.8327C140.054 15.9719 140.332 16.0416 140.68 16.1808C140.889 16.2504 141.167 16.3897 141.376 16.4593C141.655 16.5985 141.933 16.7378 142.212 16.877C142.49 17.0162 142.769 17.1555 143.047 17.2947C143.326 17.4339 143.604 17.5732 143.813 17.7124C150.148 21.3326 155.161 27.5984 155.718 32.7502C155.718 32.959 155.788 33.0983 155.788 33.3071C155.788 33.7249 155.788 34.1426 155.788 34.4907C155.788 34.6995 155.718 34.8388 155.718 35.0476C155.648 35.535 155.509 36.0223 155.3 36.44L133.997 84.5469L133.3 86.1482Z" fill="#002097"/>
		<path d="M123.832 22.6556C119.864 21.2632 115.896 19.9405 111.927 18.5481C110.953 18.2 109.63 18.8266 109.212 19.7316C102.181 34.3517 95.0794 49.0413 88.0479 63.6614C86.6555 66.5158 90.9719 68.8828 92.2946 66.0284C99.0477 51.9653 105.801 37.9719 112.554 23.9088C115.896 25.0923 119.237 26.2062 122.579 27.3897C125.642 28.3644 126.756 23.6303 123.832 22.6556Z" fill="#002097"/>
		<path d="M93.2134 70.2426L92.5652 71.7068L132.034 89.1795L132.683 87.7153L93.2134 70.2426Z" fill="white"/>
		<path d="M155.648 35.1169L116.592 17.8513C116.592 17.8513 116.592 17.7817 116.661 17.7817C117.009 17.3639 117.427 16.9462 117.845 16.5981L155.787 33.3764C155.787 33.7941 155.787 34.2118 155.787 34.5599C155.718 34.7688 155.648 34.9776 155.648 35.1169Z" fill="white"/>
		<path d="M76.8393 206.729C76.4912 207.147 76.1431 207.634 75.795 208.052L42.3081 193.223C42.3777 192.736 42.5169 192.318 42.5866 191.9C42.5866 191.831 42.6562 191.691 42.6562 191.622L76.8393 206.729Z" fill="white"/>
		<path d="M190.844 0.778152C185.644 5.67815 180.444 10.5781 175.144 15.4781C174.044 16.4781 175.744 18.1781 176.844 17.1781C182.044 12.2781 187.244 7.37815 192.544 2.47815C193.544 1.37815 191.944 -0.321848 190.844 0.778152Z" fill="#365DF0"/>
		<path d="M192.087 50.1222L183.887 41.9222C182.787 40.8222 181.188 42.5222 182.188 43.6222L190.387 51.8222C191.487 52.8222 193.087 51.1222 192.087 50.1222Z" fill="#365DF0"/>
		<path d="M196.744 26.9779C191.644 27.7779 186.644 28.5779 181.544 29.3779C180.044 29.5779 180.644 31.8779 182.144 31.6779C187.244 30.8779 192.244 30.0779 197.344 29.2779C198.844 28.9779 198.244 26.7779 196.744 26.9779Z" fill="#365DF0"/>
	</svg>
</template>

<script>
export default {
	name: 'b-illustration-circle-with-pen',
	components: {},
	computed: {},
	props: {}
};
</script>

<style scoped lang="scss"></style>
