<template>
	<svg
		width="469"
		height="408"
		viewBox="0 0 469 408"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<path
			d="M146.246 406.984H9.49627C8.83458 406.984 8.83458 407.999 9.49627 407.999H146.246C146.907 408.043 146.907 406.984 146.246 406.984Z"
			fill="#170C3A"
		/>
		<path
			d="M458.785 406.984H175.272C173.904 406.984 173.904 407.999 175.272 407.999H458.785C460.152 408.043 460.152 406.984 458.785 406.984Z"
			fill="#170C3A"
		/>
		<path d="M418.057 0H0V321.67H418.057V0Z" fill="#E7EDFF" />
		<path d="M124.53 61.8027H29.9084V173.364H124.53V61.8027Z" fill="white" />
		<path
			d="M34.1874 167.673C34.0551 167.673 33.9668 167.629 33.8345 167.541C33.6139 167.365 33.5698 167.012 33.7904 166.791L118.266 67.361C118.443 67.1404 118.796 67.0963 119.016 67.3169C119.237 67.4933 119.281 67.8462 119.06 68.0668L34.5844 167.497C34.4962 167.629 34.3639 167.673 34.1874 167.673Z"
			fill="#E7EDFF"
		/>
		<path
			d="M118.663 167.671C118.531 167.671 118.355 167.627 118.266 167.495L33.7904 68.0647C33.6139 67.8441 33.6139 67.5354 33.8345 67.3148C34.055 67.1383 34.3638 67.1383 34.5844 67.3589L119.06 166.789C119.237 167.01 119.237 167.318 119.016 167.539C118.884 167.627 118.796 167.671 118.663 167.671Z"
			fill="#E7EDFF"
		/>
		<path d="M221.181 30.5703H127.309V37.1431H221.181V30.5703Z" fill="#E7EDFF" />
		<path d="M58.2288 24.8359H29.9084V45.216H58.2288V24.8359Z" fill="#E7EDFF" />
		<path d="M418.057 16.5859H0V17.6005H418.057V16.5859Z" fill="#365DF0" />
		<path
			d="M354.049 39.3477H262.339C261.677 39.3477 261.677 40.3623 262.339 40.3623H354.049C354.711 40.4064 354.711 39.3477 354.049 39.3477Z"
			fill="white"
		/>
		<path
			d="M354.049 56.0664H262.339C261.677 56.0664 261.677 57.081 262.339 57.081H354.049C354.711 57.1251 354.711 56.0664 354.049 56.0664Z"
			fill="white"
		/>
		<path
			d="M334.463 72.7852H262.25C261.721 72.7852 261.721 73.7998 262.25 73.7998H334.463C334.992 73.7998 334.992 72.7852 334.463 72.7852Z"
			fill="white"
		/>
		<path
			d="M334.463 89.5059H262.25C261.721 89.5059 261.721 90.5205 262.25 90.5205H334.463C334.992 90.5205 334.992 89.5059 334.463 89.5059Z"
			fill="white"
		/>
		<path
			d="M334.463 106.18H262.25C261.721 106.18 261.721 107.194 262.25 107.194H334.463C334.992 107.238 334.992 106.18 334.463 106.18Z"
			fill="white"
		/>
		<path d="M257.177 35.2031H248.884V41.9524H257.177V35.2031Z" fill="white" />
		<path
			d="M160.438 272.264C156.203 278.042 149.498 281.704 142.396 282.233C134.411 282.851 128.015 278.792 121.354 274.954C115.796 271.778 108.87 268.514 102.386 270.631C97.4009 272.264 93.519 277.028 94.4012 282.365C94.4895 283.027 95.5041 282.762 95.4158 282.101C94.7541 278.042 97.2686 274.381 100.753 272.484C104.415 270.455 108.826 270.808 112.708 272.043C119.722 274.249 125.324 279.277 132.162 281.836C142.661 285.718 154.792 281.792 161.364 272.837C161.717 272.264 160.835 271.734 160.438 272.264Z"
			fill="white"
		/>
		<path
			d="M160.967 284.219C156.733 289.997 150.027 293.659 142.925 294.188C134.941 294.806 128.544 290.747 121.883 286.91C116.325 283.733 109.4 280.469 102.915 282.586C97.9302 284.219 94.0483 288.983 94.9305 294.32C95.0188 294.982 96.0334 294.717 95.9451 294.056C95.2835 289.997 97.7979 286.336 101.283 284.439C104.944 282.41 109.355 282.763 113.237 283.998C120.251 286.204 125.854 291.233 132.691 293.791C143.19 297.673 155.321 293.747 161.894 284.792C162.247 284.175 161.32 283.645 160.967 284.219Z"
			fill="white"
		/>
		<path
			d="M156.644 173.539H137.985C137.323 173.539 137.323 174.554 137.985 174.554H156.644C157.306 174.554 157.306 173.539 156.644 173.539Z"
			fill="#E7EDFF"
		/>
		<path
			d="M156.644 181.303H137.985C137.323 181.303 137.323 182.317 137.985 182.317H156.644C157.306 182.361 157.306 181.303 156.644 181.303Z"
			fill="#E7EDFF"
		/>
		<path
			d="M156.644 189.598H137.985C137.323 189.598 137.323 190.612 137.985 190.612H156.644C157.306 190.612 157.306 189.598 156.644 189.598Z"
			fill="#E7EDFF"
		/>
		<path
			d="M165.114 255.06H94.666V207.021H165.114V255.06ZM95.6806 254.002H164.055V208.08H95.6806V254.002Z"
			fill="white"
		/>
		<path
			d="M364.151 71.2412C355.152 71.2412 347.829 78.5639 347.829 87.5629C347.829 96.5619 355.152 103.885 364.151 103.885C373.15 103.885 380.472 96.5619 380.472 87.5629C380.472 77.1964 374.517 71.2412 364.151 71.2412ZM364.151 104.899C354.578 104.899 346.814 97.1353 346.814 87.5629C346.814 77.9904 354.578 70.2266 364.151 70.2266C375.179 70.2266 381.487 76.5347 381.487 87.5629C381.487 97.0912 373.723 104.899 364.151 104.899Z"
			fill="#E7EDFF"
		/>
		<path
			d="M368.17 268.422L306.503 280.623L314.749 322.296L376.415 310.095L368.17 268.422Z"
			fill="#C999FF"
		/>
		<path
			d="M318.185 317.92C318.053 317.92 317.92 317.876 317.788 317.744C317.612 317.523 317.612 317.214 317.788 316.994L364.327 272.925C364.548 272.749 364.856 272.749 365.077 272.925C365.253 273.146 365.253 273.455 365.077 273.675L318.538 317.744C318.406 317.876 318.273 317.92 318.185 317.92Z"
			fill="white"
		/>
		<path
			d="M371.164 307.862C371.12 307.862 371.032 307.862 370.988 307.818L311.524 283.865C311.259 283.777 311.127 283.468 311.215 283.203C311.303 282.939 311.612 282.806 311.877 282.894L371.341 306.848C371.606 306.936 371.738 307.245 371.65 307.509C371.561 307.73 371.385 307.862 371.164 307.862Z"
			fill="white"
		/>
		<path
			d="M335.477 270.631L306.319 276.41C305.657 276.542 305.878 277.557 306.539 277.424L335.698 271.646C336.359 271.513 336.139 270.499 335.477 270.631Z"
			fill="#7800FF"
		/>
		<path
			d="M334.771 266.881L305.613 272.66C304.951 272.792 305.172 273.807 305.833 273.674L334.992 267.896C335.61 267.763 335.389 266.749 334.771 266.881Z"
			fill="#7800FF"
		/>
		<path
			d="M304.069 281.305L295.952 282.893C295.291 283.025 295.511 284.04 296.173 283.907L304.29 282.319C304.951 282.187 304.731 281.173 304.069 281.305Z"
			fill="#7800FF"
		/>
		<path
			d="M304.378 285.231L288.541 288.363C287.262 288.628 287.483 289.642 288.762 289.378L304.598 286.246C305.834 285.981 305.657 284.966 304.378 285.231Z"
			fill="#7800FF"
		/>
		<path
			d="M426.321 168.333L329.945 210.859L371.438 304.895L467.815 262.369L426.321 168.333Z"
			fill="#E7EDFF"
		/>
		<path
			d="M371.165 305.569L370.944 305.084L329.258 210.595L329.743 210.374L426.57 167.629L426.791 168.114L468.477 262.604L467.992 262.824L371.165 305.569ZM330.625 211.124L371.694 304.202L467.11 262.074L426.041 168.996L330.625 211.124Z"
			fill="white"
		/>
		<path
			d="M424.802 182.124L342.026 218.648L344.68 224.662L427.455 188.137L424.802 182.124Z"
			fill="#587FFF"
		/>
		<path
			d="M429.295 192.212L346.519 228.736L349.172 234.75L431.948 198.225L429.295 192.212Z"
			fill="#587FFF"
		/>
		<path
			d="M438.05 212.116L355.275 248.641L371.73 285.932L454.505 249.407L438.05 212.116Z"
			fill="#587FFF"
		/>
		<path
			d="M410.224 212.329L350.815 238.543L353.469 244.556L412.877 218.343L410.224 212.329Z"
			fill="#587FFF"
		/>
		<path
			d="M342.8 209.228C340.021 208.081 337.242 206.934 334.419 205.787C333.801 205.523 333.448 206.493 334.066 206.758C336.845 207.905 339.624 209.052 342.447 210.199C343.065 210.463 343.418 209.493 342.8 209.228Z"
			fill="#365DF0"
		/>
		<path
			d="M337.198 212.36C338.345 209.581 339.492 206.802 340.639 203.978C340.903 203.361 339.933 203.008 339.668 203.625C338.521 206.405 337.374 209.184 336.227 212.007C335.963 212.624 336.933 212.977 337.198 212.36Z"
			fill="#365DF0"
		/>
		<path
			d="M430.673 224.094C424.232 226.741 422.821 234.063 421.497 240.151C420.659 244.077 419.6 248.444 416.512 251.267C412.983 254.532 407.955 254.399 403.455 254.399C396.838 254.443 390.839 255.855 385.545 260.002C380.428 263.972 376.943 269.662 375.708 276.015C375.576 276.676 376.635 276.764 376.723 276.147C378.09 268.912 382.722 262.604 389.03 258.899C391.898 257.223 395.074 256.076 398.382 255.679C402.088 255.237 405.793 255.679 409.499 255.282C416.027 254.488 419.777 250.297 421.541 244.209C423.482 237.548 423.571 228.152 431.026 225.064C431.687 224.756 431.29 223.829 430.673 224.094Z"
			fill="white"
		/>
		<path
			d="M405.925 296.261L434.378 293.57L438.084 322.773L431.114 317.082L412.807 339.271L394.059 323.788L412.366 301.599L405.925 296.261Z"
			fill="#587FFF"
		/>
		<path
			d="M422.159 280.027L450.92 303.759C451.45 304.201 452.111 303.407 451.582 302.965L422.821 279.233C422.335 278.792 421.674 279.586 422.159 280.027Z"
			fill="#587FFF"
		/>
		<path
			d="M448.908 344.521L353.494 293.383L319.714 356.409L415.128 407.547L448.908 344.521Z"
			fill="#FF56C5"
		/>
		<path
			d="M380.517 356.387C380.296 356.387 380.12 356.255 380.031 356.079L354.269 299.57C354.137 299.306 354.269 298.997 354.534 298.864C354.799 298.732 355.108 298.864 355.24 299.129L380.825 355.285L443.774 345.403C444.039 345.359 444.304 345.536 444.348 345.844C444.392 346.109 444.215 346.374 443.907 346.418L380.561 356.387C380.561 356.387 380.561 356.387 380.517 356.387Z"
			fill="white"
		/>
		<path
			d="M318.926 360.093C324.895 363.293 332.366 360.977 335.611 354.922C338.857 348.866 336.648 341.364 330.679 338.164C324.709 334.965 317.239 337.28 313.993 343.336C310.748 349.391 312.956 356.894 318.926 360.093Z"
			fill="#170C3A"
		/>
		<path
			d="M329.125 344.124L325.817 342.359C325.243 342.05 324.758 342.977 325.331 343.285L328.066 344.741L322.641 354.843C322.332 355.416 323.258 355.902 323.567 355.328L329.081 345.05C329.037 345.094 329.566 344.3 329.125 344.124Z"
			fill="white"
		/>
		<path
			d="M348.8 363.797C348.138 363.62 347.873 364.591 348.535 364.811C357.578 367.546 363.004 376.413 361.283 385.765C361.151 386.427 362.166 386.691 362.298 386.03C364.107 376.148 358.416 366.708 348.8 363.797Z"
			fill="#170C3A"
		/>
		<path
			d="M348.314 353.961C347.653 353.873 347.388 354.843 348.05 354.975C363.754 357.534 374.297 372.488 371.341 388.192C371.209 388.854 372.224 389.119 372.356 388.457C375.4 372.268 364.636 356.652 348.314 353.961Z"
			fill="#170C3A"
		/>
		<path
			d="M346.594 373.591C345.932 373.414 345.668 374.429 346.329 374.605C350.785 375.708 353.652 380.031 353.123 384.575C353.034 385.237 354.093 385.237 354.137 384.575C354.755 379.546 351.446 374.826 346.594 373.591Z"
			fill="#170C3A"
		/>
		<path
			d="M342.931 386.474C344.734 387.44 346.99 386.744 347.968 384.919C348.946 383.094 348.277 380.831 346.473 379.864C344.67 378.897 342.414 379.593 341.436 381.418C340.458 383.243 341.127 385.507 342.931 386.474Z"
			fill="#170C3A"
		/>
		<path
			d="M438.79 176.54H369.4V113.326H438.834V176.54H438.79ZM370.415 175.481H437.775V114.385H370.415V175.481Z"
			fill="#A0B6FF"
		/>
		<path
			d="M422.115 126.119C418.806 132.251 415.454 138.382 412.145 144.514C409.278 140.897 406.411 137.28 403.543 133.662C403.323 133.398 402.882 133.53 402.749 133.751L383.56 162.071C383.207 162.644 384.09 163.13 384.443 162.6C390.707 153.381 396.971 144.117 403.19 134.897C406.058 138.515 408.925 142.176 411.837 145.793C412.057 146.058 412.498 145.97 412.631 145.705C416.071 139.353 419.512 133.001 422.997 126.648C423.306 126.031 422.424 125.501 422.115 126.119Z"
			fill="#365DF0"
		/>
		<path
			d="M384.487 163.924C385.778 163.924 386.825 162.877 386.825 161.586C386.825 160.295 385.778 159.248 384.487 159.248C383.195 159.248 382.149 160.295 382.149 161.586C382.149 162.877 383.195 163.924 384.487 163.924Z"
			fill="#365DF0"
		/>
		<path
			d="M403.19 137.235C404.482 137.235 405.528 136.188 405.528 134.897C405.528 133.605 404.482 132.559 403.19 132.559C401.899 132.559 400.853 133.605 400.853 134.897C400.853 136.188 401.899 137.235 403.19 137.235Z"
			fill="#365DF0"
		/>
		<path
			d="M411.836 148.131C413.128 148.131 414.174 147.084 414.174 145.793C414.174 144.502 413.128 143.455 411.836 143.455C410.545 143.455 409.499 144.502 409.499 145.793C409.499 147.084 410.545 148.131 411.836 148.131Z"
			fill="#365DF0"
		/>
		<path
			d="M422.115 128.455C423.406 128.455 424.453 127.408 424.453 126.117C424.453 124.826 423.406 123.779 422.115 123.779C420.824 123.779 419.777 124.826 419.777 126.117C419.777 127.408 420.824 128.455 422.115 128.455Z"
			fill="#365DF0"
		/>
		<path
			d="M382.281 124.045V140.631C382.281 141.293 383.296 141.293 383.296 140.631V124.045C383.296 123.383 382.281 123.383 382.281 124.045Z"
			fill="#DCDBE1"
		/>
		<path
			d="M422.424 163.438H393.662C393 163.438 393 164.452 393.662 164.452H422.424C423.085 164.452 423.085 163.438 422.424 163.438Z"
			fill="#DCDBE1"
		/>
		<path d="M442.627 109.797H433.805V118.619H442.627V109.797Z" fill="#FF56C5" />
		<path
			d="M54.4793 165.82C54.1264 166.129 49.9357 182.098 49.9357 182.098L37.0106 174.864L45.8332 161.674L54.4793 165.82Z"
			fill="#FF83D8"
		/>
		<path
			d="M53.0236 170.673C53.7735 168.026 54.347 165.952 54.4793 165.864L51.2591 164.32C51.0385 166.57 51.5237 169.173 53.0236 170.673Z"
			fill="#D942AA"
		/>
		<path
			d="M20.9095 216.196C20.9095 216.196 26.4236 208.256 45.4362 272.837C64.4488 337.418 69.9629 333.271 51.3032 366.091C32.6435 398.911 41.9954 397.191 48.2153 398.558C54.4352 399.926 53.7294 407.866 53.7294 407.866H19.1891C21.2624 374.384 34.7168 335.697 34.7168 335.697C34.7168 335.697 20.2037 308.083 8.11679 281.483C-3.97011 254.883 6.74929 225.195 6.74929 225.195L20.9095 216.196Z"
			fill="#FF83D8"
		/>
		<path
			d="M22.3211 383.339C29.0703 383.207 35.8637 383.295 42.613 383.427C44.3334 379.104 47.1125 373.458 51.3032 366.091C69.9629 333.271 64.4488 337.418 45.4362 272.837C26.4677 208.256 20.9095 216.196 20.9095 216.196L6.74929 225.195C6.74929 225.195 -3.97011 254.883 8.11679 281.483C20.2037 308.083 34.7168 335.697 34.7168 335.697C34.7168 335.697 26.997 357.93 22.3211 383.339Z"
			fill="#170C3A"
		/>
		<path
			d="M48.2152 398.559C45.5244 397.941 42.26 397.941 40.9366 395.471C38.6869 396.485 36.393 397.456 33.9668 397.941C29.5114 398.823 24.7472 397.985 20.2036 397.456C19.7625 400.985 19.4537 404.47 19.2332 407.911H53.7734C53.7293 407.866 54.4351 399.926 48.2152 398.559Z"
			fill="#FF56C5"
		/>
		<path
			d="M44.4217 216.196C44.4217 216.196 49.9358 208.256 68.9484 272.837C87.961 337.418 93.4751 333.271 74.8154 366.091C56.1557 398.911 65.5076 397.191 71.7275 398.558C77.9474 399.926 77.2416 407.866 77.2416 407.866H42.7013C44.7746 374.384 58.229 335.697 58.229 335.697C58.229 335.697 43.7159 308.083 31.629 281.483C19.5421 254.883 22.9829 258.677 30.2615 225.195L44.4217 216.196Z"
			fill="#FF83D8"
		/>
		<path
			d="M58.229 335.697C58.229 335.697 50.4651 358.063 45.7892 383.516C52.4943 383.692 59.1554 383.913 65.8605 384.089C67.5368 379.678 70.4041 373.855 74.8154 366.091C93.4751 333.271 87.961 337.418 68.9484 272.837C49.9358 208.256 44.4217 216.196 44.4217 216.196L30.2615 225.195C23.027 258.677 19.5421 254.883 31.629 281.483C43.7159 308.039 58.229 335.697 58.229 335.697Z"
			fill="#170C3A"
		/>
		<path
			d="M71.6833 398.557C68.816 397.94 65.3311 397.94 64.1841 394.984C62.1991 395.867 60.1699 396.705 58.0966 397.366C53.3324 398.866 48.4359 398.778 43.5394 398.337C43.1423 401.557 42.8777 404.733 42.6571 407.909H77.1974C77.2415 407.865 77.9032 399.925 71.6833 398.557Z"
			fill="#FF56C5"
		/>
		<path
			d="M43.0542 398.866C43.0542 401.204 43.0542 403.542 43.0542 405.88C43.0542 406.233 43.5836 406.233 43.5836 405.88C43.5836 403.542 43.5836 401.204 43.5836 398.866C43.5836 398.558 43.0542 398.558 43.0542 398.866Z"
			fill="white"
		/>
		<path
			d="M57.6113 341.872C57.5231 342.049 57.4349 342.225 57.3467 342.402C57.2143 342.225 57.1261 342.049 56.9938 341.916C54.0823 337.637 51.2591 333.314 48.5241 328.903C35.8638 308.523 25.2326 286.952 16.6747 264.543C16.5865 264.322 16.4983 264.101 16.41 263.881L17.0717 264.146C17.16 264.366 17.2482 264.587 17.3364 264.807C19.542 270.542 21.8359 276.232 24.3062 281.835C33.4376 302.612 44.4657 322.551 57.2143 341.343C57.3908 341.563 57.479 341.74 57.6113 341.872Z"
			fill="white"
		/>
		<path
			d="M57.6114 341.874C57.5231 342.05 57.4349 342.227 57.3467 342.403C53.6853 350.123 51.1709 358.328 49.8916 366.798C49.8475 367.106 49.3623 366.974 49.4064 366.665C50.6857 358.063 53.2442 349.726 57.0379 341.918C57.1261 341.742 57.2143 341.565 57.3026 341.389C57.3908 341.565 57.479 341.742 57.6114 341.874Z"
			fill="black"
		/>
		<path
			d="M17.3806 264.853C17.16 264.765 16.9394 264.676 16.7189 264.588C13.9839 263.441 11.293 262.294 8.60212 261.147C8.29333 261.015 8.55801 260.574 8.8668 260.706C11.4253 261.765 13.9398 262.868 16.4983 263.926L17.16 264.191C17.2041 264.412 17.2923 264.632 17.3806 264.853Z"
			fill="white"
		/>
		<path
			d="M49.5828 173.362L68.9042 178.215C68.9042 178.215 71.9921 207.241 66.478 211.696L65.7722 242.796L2.55859 228.636L18.4392 164.055L49.5828 173.362Z"
			fill="#365DF0"
		/>
		<path
			d="M64.2281 93.5176C51.9206 100.708 26.2911 116.853 23.0268 123.999C19.2331 132.293 16.1011 176.141 16.8069 178.92L45.1273 176.494L48.5681 136.439L74.5064 108.428C71.1097 103.399 67.5807 98.5023 64.2281 93.5176Z"
			fill="#365DF0"
		/>
		<path
			d="M80.5938 92.4152C80.5938 88.6215 80.5938 84.8278 80.5938 81.0782C80.5938 80.0636 79.7998 80.8135 78.7852 81.0782C73.0506 82.7104 68.6834 85.8424 67.5365 91.577C66.2572 92.2828 64.6691 93.2092 62.8164 94.312C66.0807 99.6055 69.5215 104.811 73.0947 109.884L78.1676 104.414C82.5789 99.3409 81.1673 93.915 80.5938 92.4152Z"
			fill="#FF83D8"
		/>
		<path
			d="M47.7299 136.263C47.1124 136.528 46.4507 136.792 45.8331 137.057C45.5243 137.189 45.6567 137.674 45.9654 137.542C46.583 137.277 47.2447 137.013 47.8623 136.748C48.1711 136.616 48.0387 136.131 47.7299 136.263Z"
			fill="white"
		/>
		<path
			d="M76.7119 83.5479C74.5063 84.5184 72.5212 85.8418 70.8008 87.5181C70.5802 87.7386 70.9331 88.1357 71.1537 87.871C72.83 86.2388 74.7709 84.9154 76.9325 83.989C77.2854 83.8567 77.0207 83.4156 76.7119 83.5479Z"
			fill="#D942AA"
		/>
		<path
			d="M84.52 44.9518C84.52 46.4516 83.2849 47.6868 81.785 47.6868C80.2852 47.6868 79.05 46.4516 79.05 44.9518C79.05 43.452 80.2852 42.2168 81.785 42.2168C83.2849 42.2168 84.52 43.0108 84.52 44.9518Z"
			fill="#F85D59"
		/>
		<path
			d="M93.9158 44.9518C93.9158 46.4516 92.6806 47.6868 91.1808 47.6868C89.6809 47.6868 88.4458 46.4516 88.4458 44.9518C88.4458 43.452 89.6809 42.2168 91.1808 42.2168C92.7247 42.2168 93.9158 43.0108 93.9158 44.9518Z"
			fill="#FFC619"
		/>
		<path
			d="M103.577 44.9518C103.577 46.4516 102.342 47.6868 100.842 47.6868C99.3419 47.6868 98.1067 46.4516 98.1067 44.9518C98.1067 43.452 99.3419 42.2168 100.842 42.2168C102.386 42.2168 103.577 43.0108 103.577 44.9518Z"
			fill="#587FFF"
		/>
		<path d="M222.196 49.7168H78.9617V104.372H222.196V49.7168Z" fill="#365DF0" />
		<path d="M214.167 54.7891H165.908V78.7864H214.167V54.7891Z" fill="#FF56C5" />
		<path d="M214.344 88.8438H179.45V99.122H214.344V88.8438Z" fill="white" />
		<path d="M175.701 88.8438H158.188V99.122H175.701V88.8438Z" fill="white" />
		<path
			d="M145.616 57.832H87.9164C87.2547 57.832 87.2547 58.8466 87.9164 58.8466H145.572C146.278 58.8907 146.278 57.832 145.616 57.832Z"
			fill="#BCD7FD"
		/>
		<path
			d="M145.616 65.1113H87.9164C87.2547 65.1113 87.2547 66.1259 87.9164 66.1259H145.572C146.278 66.1259 146.278 65.1113 145.616 65.1113Z"
			fill="#BCD7FD"
		/>
		<path
			d="M132.603 73.7129H87.8284C87.2991 73.7129 87.2991 74.7275 87.8284 74.7275H132.603C133.088 74.7716 133.088 73.7129 132.603 73.7129Z"
			fill="#BCD7FD"
		/>
		<path
			d="M237.415 78.2132L236.665 78.9632L235.915 78.2132L225.901 68.1996C225.416 67.7144 226.166 67.0086 226.651 67.4497L237.415 78.2132Z"
			fill="#D24A43"
		/>
		<path
			d="M237.415 78.2128L236.665 78.9627L226.651 88.9322C226.166 89.4174 225.46 88.6675 225.901 88.1823L236.621 77.4629L237.415 78.2128Z"
			fill="#D24A43"
		/>
		<path
			d="M210.771 74.2864C197.448 68.8164 184.082 63.3465 170.76 57.9206C170.143 57.6559 169.878 58.6705 170.496 58.9352C183.818 64.4052 197.184 69.8752 210.506 75.301C211.079 75.5216 211.344 74.507 210.771 74.2864Z"
			fill="white"
		/>
		<path
			d="M170.937 75.3891C184.215 69.8309 197.537 64.2286 210.815 58.6704C211.432 58.4057 210.903 57.5235 210.33 57.744C197.052 63.3022 183.73 68.9046 170.452 74.4628C169.79 74.7274 170.319 75.6538 170.937 75.3891Z"
			fill="white"
		/>
		<path
			d="M109.179 114.514C101.989 128.409 86.7697 158.891 86.7697 158.891C86.7697 158.891 58.0082 174.242 50.9502 180.992L60.8314 220.296C60.8314 220.296 98.9449 188.976 105.385 182.183C114.428 172.698 121.663 135.158 125.589 120.381C120.163 118.351 114.737 116.234 109.179 114.514Z"
			fill="#365DF0"
		/>
		<path
			d="M86.858 159.73C86.5492 160.966 86.2845 162.201 85.9757 163.436C85.8875 163.745 86.4168 163.877 86.461 163.568C86.7698 162.333 87.0344 161.098 87.3432 159.863C87.4314 159.554 86.9462 159.422 86.858 159.73Z"
			fill="white"
		/>
		<path
			d="M141.646 104.104C136.088 102.957 126.427 105.339 125.942 105.163C125.457 103.751 125.633 103.178 126.692 102.693C128.633 101.722 130.221 100.222 131.28 98.2813C131.853 97.2226 130.838 95.4581 129.515 95.9875C126.868 97.0903 124.222 98.1931 121.619 99.2959C121.487 99.34 121.354 99.4283 121.266 99.5165C119.59 100.178 118.84 100.443 117.649 101.457C115.575 103.266 113.987 105.428 112.796 107.898C112.355 108.56 110.767 111.515 108.562 115.75C111.649 117.514 115.178 118.485 118.487 119.632C120.737 120.426 122.986 121.176 125.28 121.838C126.339 117.647 127.221 114.868 127.795 114.427C130.353 112.574 132.868 111.647 135.735 110.412C139.043 109.001 140.499 108.074 142.44 106.795C143.322 106.222 142.705 104.325 141.646 104.104Z"
			fill="#FF83D8"
		/>
		<path
			d="M141.778 105.339C138.823 106.971 135.558 107.677 132.162 107.456C131.809 107.412 131.809 107.942 132.162 107.986C135.602 108.206 138.999 107.456 142.043 105.78C142.352 105.648 142.087 105.207 141.778 105.339Z"
			fill="#D942AA"
		/>
		<path
			d="M79.4471 82.7569C77.1091 84.1244 73.4477 86.4183 71.8597 88.7121C70.1834 91.1383 69.8746 94.0939 69.9187 97.0053C69.9628 98.6375 71.992 98.9463 72.7419 97.9317C73.0948 98.064 73.4477 98.064 73.8006 97.8435C74.3741 97.7993 74.8593 97.4464 74.9476 96.873C76.1827 95.6378 77.0209 94.138 77.1532 92.2853C77.3297 90.4325 77.065 89.462 78.5648 88.0504C79.5353 87.1682 80.1529 86.6388 80.4617 85.3595C80.8146 84.0362 80.6822 82.0511 79.4471 82.7569Z"
			fill="#FF83D8"
		/>
		<path
			d="M77.9032 88.6673C78.1238 88.4467 77.7709 88.0497 77.5503 88.3144L75.2564 90.5642C75.1682 90.6524 75.1682 90.7847 75.2123 90.8729C76.3593 92.8139 76.4916 95.0637 75.5652 97.137C75.4329 97.4457 75.874 97.7104 76.0063 97.4016C76.6239 96.0341 76.8445 94.5784 76.6239 93.1227C76.5357 92.6816 76.4034 92.1963 76.271 91.7552C76.2269 91.6229 75.9181 91.0935 75.9181 90.9612C75.874 90.1671 77.418 89.1084 77.9032 88.6673Z"
			fill="#D942AA"
		/>
		<path
			d="M36.2607 152.056C36.2607 148.262 41.9072 144.204 46.4508 143.542C48.4359 143.277 48.877 141.645 49.8475 142.968C52.2737 146.233 60.0375 156.82 59.817 160.084C59.3758 165.819 52.5383 167.23 47.9947 165.201C43.3629 163.216 36.3049 157.482 36.2607 152.056Z"
			fill="#FF83D8"
		/>
		<path
			d="M47.9599 140.288C45.7932 140.471 43.4882 143.08 42.7967 144.774C39.0164 146.376 35.5589 149.58 35.5589 152.601C35.5589 156.355 31.7787 162.671 36.5731 167.89C39.5235 171.139 47.2684 170.178 49.85 166.013C52.8927 161.023 48.3748 155.943 48.5592 154.936C49.4351 152.052 47.5911 149.351 45.6549 147.703C47.1762 147.749 50.1727 145.048 50.2649 143.263C50.2188 140.654 48.6053 140.196 47.9599 140.288Z"
			fill="#170C3A"
		/>
		<path
			d="M44.2893 158.937C43.7599 156.864 45.745 154.085 48.7447 154.305C50.1122 156.202 51.5679 158.055 53.0677 159.908C52.3619 161.099 50.2886 162.599 48.3918 162.51C46.1861 162.378 44.8627 161.187 44.2893 158.937Z"
			fill="#FF83D8"
		/>
		<path
			d="M56.2439 150.335C55.6704 149.629 54.6117 149.674 53.9941 150.335C53.8177 150.556 53.8618 150.909 54.0824 151.085C54.1265 151.085 54.1265 151.085 54.1706 151.129C54.1265 151.217 54.0824 151.262 54.0382 151.35C53.7295 151.967 54.6999 152.364 55.0087 151.747C55.0087 151.747 55.0528 151.747 55.0087 151.791C54.6999 152.188 55.1411 152.806 55.6263 152.629C56.4644 152.232 56.8615 151.085 56.2439 150.335Z"
			fill="#FF83D8"
		/>
		<path
			d="M47.8376 167.701C47.0877 164.613 44.441 162.319 41.4854 161.79C41.4854 160.863 41.0002 160.025 39.8091 159.804C36.3683 159.187 33.501 161.084 32.6628 163.863C27.3252 162.363 21.4582 163.201 17.444 167.436C12.9003 172.244 12.6357 179.302 16.8264 184.419C21.1494 189.669 29.7514 192.183 36.2801 190.419C40.9119 189.184 44.2645 183.669 42.0589 179.743C46.0731 177.053 49.0728 172.774 47.8376 167.701Z"
			fill="#170C3A"
		/>
		<path
			d="M49.4945 158.01C48.8328 158.099 48.1711 158.143 47.5094 158.231C47.2006 158.275 47.1565 158.804 47.5094 158.76C48.1711 158.672 48.8328 158.628 49.4945 158.54C49.8033 158.496 49.8474 157.966 49.4945 158.01Z"
			fill="#D942AA"
		/>
		<path
			d="M53.7293 150.291L52.7147 149.012C52.4942 148.747 52.1413 149.1 52.3618 149.365C52.7147 149.806 53.0676 150.247 53.3764 150.644C53.597 150.909 53.9499 150.556 53.7293 150.291Z"
			fill="#170C3A"
		/>
		<path
			d="M57.479 156.819C57.0378 157.039 56.5085 156.863 56.2879 156.466C56.1115 156.201 55.6703 156.422 55.8468 156.73C56.2438 157.392 57.0819 157.613 57.7436 157.304C58.0524 157.127 57.7878 156.686 57.479 156.819Z"
			fill="#D942AA"
		/>
		<path
			d="M51.3033 147.379L50.9063 148.173C50.5975 148.746 51.5238 149.276 51.7885 148.702L52.1855 147.908C52.4943 147.291 51.6121 146.761 51.3033 147.379Z"
			fill="#D942AA"
		/>
		<path
			d="M312.495 236.444L316.95 257.221C317.083 257.883 318.097 257.663 317.965 257.001L313.509 236.224C313.377 235.562 312.362 235.783 312.495 236.444Z"
			fill="#170C3A"
		/>
		<path
			d="M317.568 259.957L317.965 261.854C317.965 261.898 318.979 261.677 318.979 261.633L318.582 259.736C318.582 259.692 317.568 259.913 317.568 259.957Z"
			fill="#170C3A"
		/>
		<path
			d="M173.231 215.622C174.643 210.46 178.172 205.387 180.73 202.917C183.333 200.447 184.083 220.783 184.083 220.783L173.231 215.622Z"
			fill="#FF83D8"
		/>
		<path
			d="M202.522 376.368C200.228 376.148 197.934 375.795 195.64 375.486C195.023 375.398 194.317 375.31 193.655 375.266C193.523 379.236 194.317 376.898 194.317 379.942C194.317 384.441 192.905 388.985 192.199 389.823C190.523 391.896 187.303 391.587 184.391 391.94C175.216 393.087 172.481 392.47 171.952 399.969L207.021 407.997C207.021 407.997 211.785 393.087 215.711 377.118C211.3 376.898 206.889 376.81 202.522 376.368Z"
			fill="#FF83D8"
		/>
		<path
			d="M216.417 384.044C220.388 369.001 222.637 350.209 221.932 341.916C221.932 341.916 247.782 253.911 255.854 225.899C254.619 225.679 253.428 225.502 252.193 225.282C245.885 224.223 239.577 223.209 233.313 222.018C228.504 221.135 219.814 219.68 215.006 218.93C202.61 256.69 197.89 316.904 196.478 326.785C195.552 333.182 192.067 361.943 191.538 379.897C198.287 381.529 209.492 383.029 216.417 384.044Z"
			fill="#FF56C5"
		/>
		<path
			d="M203.625 396.484C201.463 395.867 199.39 394.94 197.537 393.705C195.684 392.47 194.096 390.882 192.199 389.779C190.523 391.853 187.303 391.544 184.391 391.897C175.216 393.044 172.481 392.426 171.952 399.925L207.021 407.954C207.021 407.954 208.389 403.675 210.242 397.278C208.036 397.411 205.786 397.102 203.625 396.484Z"
			fill="#170C3A"
		/>
		<path
			d="M301.246 375.576C294.894 378.664 288.189 381.002 281.572 383.472C284.042 389.383 284.792 393.706 282.322 395.515C276.631 399.662 269.661 397.059 269.353 407.955H285.674L305.084 396.794C303.849 388.634 302.569 381.62 301.246 375.576Z"
			fill="#FF83D8"
		/>
		<path
			d="M301.599 377.251C294.453 350.916 288.233 337.064 288.233 337.064C285.895 317.434 272.705 243.81 272.705 243.81L270.852 228.326C264.632 227.312 258.457 226.297 252.237 225.282C245.929 224.224 239.621 223.209 233.357 222.018C232.651 221.886 231.989 221.753 231.283 221.621L220.917 240.898C220.917 240.898 249.193 310.949 257.177 336.226C262.647 353.518 273.367 373.634 278.263 385.765C284.88 383.691 295.114 379.854 301.599 377.251Z"
			fill="#FF56C5"
		/>
		<path
			d="M303.849 389.074C300.849 391.324 297.408 392.25 293.703 392.603C290.659 392.868 286.865 392.294 283.733 393.133C283.557 394.147 283.072 394.985 282.322 395.559C276.631 399.705 269.661 397.103 269.353 407.999H285.674L305.084 396.838C304.687 394.103 304.246 391.545 303.849 389.074Z"
			fill="#170C3A"
		/>
		<path
			d="M237.415 282.939C235.915 276.499 234.415 270.058 232.871 263.573C232.827 263.441 232.827 263.353 232.783 263.221C232.783 263.132 232.783 263.044 232.827 263C233.004 263.044 233.136 263.132 233.313 263.176C233.357 263.397 233.401 263.573 233.445 263.794C234.901 270.146 236.4 276.454 237.9 282.807C237.989 283.115 237.503 283.248 237.415 282.939Z"
			fill="black"
		/>
		<path
			d="M233.489 263.793C233.312 263.705 233.092 263.661 232.915 263.573C231.195 262.955 229.519 262.293 227.798 261.676C227.49 261.544 227.622 261.058 227.931 261.191L232.871 263.043C233.048 263.087 233.18 263.176 233.357 263.22C233.401 263.396 233.445 263.573 233.489 263.793Z"
			fill="black"
		/>
		<path
			d="M277.602 180.244C276.94 192.904 272.352 241.384 272.352 241.384L238.165 237.943L221.402 222.504L213.682 195.419L209.756 181.567C211.036 159.908 215.756 156.026 235.254 157.879C235.915 157.923 236.621 158.011 237.327 158.099C238.386 158.232 239.532 158.364 240.679 158.496C243.635 158.849 246.855 159.334 250.428 159.82C250.428 159.82 251.355 160.437 252.899 161.408C259.471 165.642 276.984 176.891 277.602 177.288C277.734 177.376 277.69 178.435 277.602 180.244Z"
			fill="#170C3A"
		/>
		<path
			d="M271.426 182.67C264.589 198.815 261.721 207.726 254.751 223.783C274.558 226.65 276.499 197.359 271.426 182.67Z"
			fill="#807B91"
		/>
		<path d="M248.576 174.553H180.73V242.178H248.576V174.553Z" fill="#C5D2FF" />
		<path d="M248.576 184.654H180.73V185.669H248.576V184.654Z" fill="white" />
		<path
			d="M186.862 181.963C188.153 181.963 189.2 180.916 189.2 179.625C189.2 178.334 188.153 177.287 186.862 177.287C185.571 177.287 184.524 178.334 184.524 179.625C184.524 180.916 185.571 181.963 186.862 181.963Z"
			fill="#FFC619"
		/>
		<path
			d="M193.788 181.963C195.079 181.963 196.126 180.916 196.126 179.625C196.126 178.334 195.079 177.287 193.788 177.287C192.496 177.287 191.45 178.334 191.45 179.625C191.45 180.916 192.496 181.963 193.788 181.963Z"
			fill="white"
		/>
		<path
			d="M224.005 219.371H190.832C190.17 219.371 190.17 220.386 190.832 220.386H224.005C224.666 220.43 224.666 219.371 224.005 219.371Z"
			fill="#A0B6FF"
		/>
		<path
			d="M224.005 225.061H190.832C190.17 225.061 190.17 226.075 190.832 226.075H224.005C224.666 226.119 224.666 225.061 224.005 225.061Z"
			fill="#A0B6FF"
		/>
		<path d="M236.709 190.123H190.347V213.944H236.709V190.123Z" fill="#A0B6FF" />
		<path d="M234.019 232.781H221.932V237.81H234.019V232.781Z" fill="white" />
		<path
			d="M231.725 192.461C230.534 193.255 229.298 194.005 228.107 194.799C227.534 195.152 228.063 196.078 228.637 195.681C229.828 194.887 231.063 194.137 232.254 193.343C232.827 192.99 232.298 192.108 231.725 192.461Z"
			fill="white"
		/>
		<path
			d="M187.876 221.71C189.156 222.062 190.832 220.474 189.597 219.283C188.185 217.96 182.539 212.093 180.774 211.299C172.834 207.814 171.864 220.342 172.172 222.989C172.658 227.488 174.599 231.679 177.554 235.032C177.642 235.296 179.804 237.193 180.863 237.943C181.657 238.472 182.936 237.899 183.112 236.928C184.039 237.237 186.333 235.914 185.847 234.546C186.2 234.326 187.171 234.017 187.391 233.311C187.7 232.429 187.435 231.547 187.038 230.664C187.303 230.532 187.524 230.4 187.744 230.135C189.068 228.679 186.95 227.003 185.362 224.797C184.171 223.121 183.774 220.871 182.671 219.813C183.024 219.68 183.333 219.548 183.642 219.327C184.833 220.43 186.244 221.268 187.876 221.71Z"
			fill="#FF83D8"
		/>
		<path
			d="M186.421 230.048C183.862 228.019 181.833 225.504 180.377 222.593C180.245 222.284 179.76 222.549 179.936 222.857C181.436 225.813 183.509 228.327 186.068 230.401C186.332 230.621 186.685 230.268 186.421 230.048Z"
			fill="#170C3A"
		/>
		<path
			d="M185.362 233.401C182.671 231.813 180.554 229.563 179.142 226.784C179.01 226.475 178.525 226.74 178.701 227.049C180.113 229.916 182.318 232.254 185.097 233.842C185.362 234.019 185.627 233.577 185.362 233.401Z"
			fill="#170C3A"
		/>
		<path
			d="M182.451 235.738C180.51 234.459 178.922 232.827 177.731 230.798C177.554 230.489 177.113 230.754 177.289 231.062C178.525 233.136 180.157 234.9 182.186 236.18C182.451 236.356 182.715 235.915 182.451 235.738Z"
			fill="#170C3A"
		/>
		<path
			d="M188.009 191.933C186.685 190.433 185.185 187.61 183.465 187.257C179.274 186.419 175.657 186.816 175.128 187.301C174.466 187.963 174.951 189.021 175.701 189.683C176.76 190.609 179.186 189.815 179.715 191.492C179.715 191.536 179.715 191.536 179.76 191.58C178.48 191.315 177.422 191.227 176.628 191.404C173.804 192.021 174.554 197.756 175.392 202.917C176.936 212.092 194.582 213.68 194.582 213.68C194.582 213.68 188.141 191.977 188.009 191.933Z"
			fill="#FF83D8"
		/>
		<path
			d="M277.602 180.243C277.072 184.124 275.573 188.8 272.97 194.491C260.662 221.091 258.457 231.854 248.973 232.693C243.503 233.178 235.606 230.355 221.931 225.326C208.301 220.297 197.802 216.459 189.95 213.548C188.935 206.401 188.582 199.167 187.965 191.932C193.523 192.638 203.757 194.006 213.682 195.417C224.049 196.917 234.018 198.461 237.724 199.432L258.721 171.993L252.149 162.333L250.428 159.818C251.531 159.951 252.634 160.127 253.693 160.259C267.765 162.289 279.675 165.288 277.602 180.243Z"
			fill="#170C3A"
		/>
		<path
			d="M241.561 203.137L238.959 200.535C238.738 200.314 238.341 200.667 238.606 200.888C239.488 201.77 240.326 202.608 241.209 203.49C241.429 203.755 241.782 203.358 241.561 203.137Z"
			fill="white"
		/>
		<path
			d="M250.958 180.772C250.296 181.742 249.678 182.757 249.017 183.727C248.84 183.992 249.281 184.257 249.458 183.992C250.12 183.021 250.737 182.007 251.399 181.036C251.619 180.772 251.178 180.507 250.958 180.772Z"
			fill="white"
		/>
		<path
			d="M176.672 196.08C176.319 195.506 176.01 194.889 175.657 194.315C175.481 194.007 175.039 194.271 175.216 194.58C175.569 195.154 175.878 195.771 176.231 196.345C176.363 196.653 176.804 196.389 176.672 196.08Z"
			fill="#170C3A"
		/>
		<path
			d="M176.716 200.799C176.451 200.402 176.186 200.005 175.966 199.608C175.789 199.343 175.348 199.608 175.525 199.872C175.789 200.269 176.054 200.666 176.275 201.063C176.451 201.372 176.892 201.108 176.716 200.799Z"
			fill="#170C3A"
		/>
		<path
			d="M177.113 204.063L176.407 203.137C176.186 202.872 175.745 203.137 175.966 203.402L176.672 204.328C176.892 204.593 177.333 204.328 177.113 204.063Z"
			fill="#170C3A"
		/>
		<path
			d="M181.656 191.976C181.171 191.8 180.686 191.623 180.245 191.491C179.936 191.403 179.804 191.888 180.113 191.976C180.598 192.153 181.083 192.329 181.524 192.462C181.833 192.55 181.965 192.065 181.656 191.976Z"
			fill="#170C3A"
		/>
		<path
			d="M252.987 160.702L248.002 141.777L235.871 145.218C236.092 145.483 237.062 155.938 237.68 162.466C239.444 162.334 250.472 160.878 252.987 160.702Z"
			fill="#FF83D8"
		/>
		<path
			d="M244.12 143.894C244.164 143.409 244.164 142.968 244.164 142.482L235.871 145.217C236.003 145.35 236.356 148.746 236.753 152.805C240.106 150.511 242.885 147.467 244.12 143.894Z"
			fill="#170C3A"
		/>
		<path
			d="M257.354 135.557C257.839 131.763 252.678 126.999 248.223 125.808C246.282 125.279 246.061 123.647 244.914 124.838C242.091 127.793 233.048 136.792 232.827 140.762C232.519 146.541 239.224 148.791 244.032 147.335C248.84 145.835 256.648 140.983 257.354 135.557Z"
			fill="#FF83D8"
		/>
		<path
			d="M246.899 122.235C248.973 122.676 250.825 125.455 251.311 127.176C254.707 129.161 257.707 132.645 257.31 135.601C256.825 139.218 253.207 142.615 249.414 144.865C248.62 143.453 251.002 140.806 250.87 138.954C248.355 134.675 248.796 132.954 249.855 131.278C248.399 131.146 244.164 126.558 244.297 124.838C244.65 122.279 246.282 122.103 246.899 122.235Z"
			fill="#365DF0"
		/>
		<path
			d="M254.751 144.069C255.545 142.04 253.869 139.041 250.87 138.908C249.237 140.629 247.561 142.305 245.885 143.981C246.414 145.26 248.355 147.025 250.252 147.157C252.413 147.246 253.913 146.275 254.751 144.069Z"
			fill="#FF83D8"
		/>
		<path
			d="M252.546 142.395C251.84 142.262 251.178 142.174 250.473 142.042C250.164 141.998 249.987 142.483 250.34 142.527C251.046 142.659 251.708 142.748 252.413 142.88C252.766 142.924 252.899 142.439 252.546 142.395Z"
			fill="#170C3A"
		/>
		<path
			d="M240.723 129.998C240.371 130.395 239.974 130.748 239.621 131.145C239.4 131.365 239.753 131.763 239.974 131.498C240.326 131.101 240.723 130.748 241.076 130.351C241.341 130.13 240.944 129.733 240.723 129.998Z"
			fill="#170C3A"
		/>
		<path
			d="M244.959 133.881C244.606 134.278 244.209 134.631 243.856 135.028C243.635 135.248 243.988 135.645 244.209 135.381C244.562 134.984 244.959 134.631 245.311 134.234C245.532 134.013 245.179 133.616 244.959 133.881Z"
			fill="#170C3A"
		/>
		<path
			d="M240.15 135.381C239.797 135.248 239.312 135.116 239.091 134.763C238.959 134.498 239.003 134.145 239.312 134.101C239.621 134.057 239.488 133.572 239.18 133.616C238.65 133.704 238.43 134.278 238.518 134.763C238.65 135.425 239.4 135.689 239.974 135.866C240.327 135.998 240.459 135.513 240.15 135.381Z"
			fill="#170C3A"
		/>
		<path
			d="M242.179 142.306C241.826 142.835 241.077 143.056 240.459 142.791C240.15 142.659 239.885 143.1 240.194 143.232C241.077 143.629 242.091 143.321 242.62 142.527C242.797 142.306 242.356 142.041 242.179 142.306Z"
			fill="#170C3A"
		/>
		<path
			d="M253.693 160.259C253.428 160.656 253.208 161.009 252.899 161.406C252.634 161.715 252.413 162.024 252.149 162.332C250.296 164.45 247.914 166.082 245.179 166.92C242.179 167.802 238.739 167.538 236.533 165.111C234.68 163.082 234.283 160.303 235.254 157.877C235.915 157.921 241.121 158.053 241.121 158.053C244.076 158.406 246.899 159.289 250.428 159.818C251.531 159.95 252.59 160.083 253.693 160.259Z"
			fill="#FF83D8"
		/>
		<path
			d="M247.12 132.733L246.723 131.939C246.414 131.322 245.532 131.851 245.841 132.469L246.238 133.263C246.502 133.836 247.429 133.351 247.12 132.733Z"
			fill="#170C3A"
		/>
		<path
			d="M242.356 128.675C242.047 128.455 241.738 128.234 241.429 128.013C241.209 127.837 240.856 127.969 240.724 128.19C240.591 128.455 240.679 128.719 240.9 128.896C241.209 129.116 241.518 129.337 241.826 129.557C242.047 129.734 242.4 129.601 242.532 129.381C242.709 129.16 242.62 128.852 242.356 128.675Z"
			fill="#170C3A"
		/>
	</svg>
</template>

<script>
export default {
	name: 'b-illustration-people-building-a-page',
	components: {},
	computed: {},
	props: {}
};
</script>

<style scoped lang="scss"></style>
