<template>
	<svg
		width="497"
		height="240"
		viewBox="0 0 497 240"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g clip-path="url(#clip0_246_5902)">
			<rect width="497" height="240" fill="white" />
			<rect x="52" y="214" width="413" height="33" rx="16" fill="#F5F7FF" />
			<rect x="227" y="173" width="42" height="46" fill="#C5D2FF" />
			<rect
				x="140.5"
				y="47.5"
				width="215"
				height="146"
				rx="14.5"
				fill="#E7EDFF"
				stroke="#C5D2FF"
				stroke-width="3"
			/>
			<rect x="191" y="214" width="114" height="5" rx="2.5" fill="#C5D2FF" />
			<rect x="153" y="57" width="182" height="49" rx="15" fill="#F5F7FF" />
			<rect x="198" y="94" width="33" height="3" rx="1.5" fill="#E7EDFF" />
			<path
				d="M161 142C161 133.716 167.716 127 176 127H243C251.284 127 258 133.716 258 142V192H161V142Z"
				fill="#F5F7FF"
			/>
			<path
				d="M272 138.5C272 132.149 277.149 127 283.5 127H323.5C329.851 127 335 132.149 335 138.5V138.5C335 144.851 329.851 150 323.5 150H283.5C277.149 150 272 144.851 272 138.5V138.5Z"
				fill="#F5F7FF"
			/>
			<rect x="180" y="139" width="33" height="3" rx="1.5" fill="#E7EDFF" />
			<rect x="189" y="151" width="33" height="3" rx="1.5" fill="#E7EDFF" />
			<rect x="189" y="156" width="33" height="3" rx="1.5" fill="#E7EDFF" />
			<rect x="189" y="165" width="33" height="3" rx="1.5" fill="#E7EDFF" />
			<rect x="189" y="179" width="33" height="3" rx="1.5" fill="#E7EDFF" />
			<rect x="189" y="170" width="33" height="3" rx="1.5" fill="#E7EDFF" />
			<rect x="189" y="184" width="33" height="3" rx="1.5" fill="#E7EDFF" />
			<rect x="163" y="90" width="31" height="31" rx="15.5" fill="#C5D2FF" />
			<circle opacity="0.6" cx="248" cy="120" r="37" fill="#BFF3DB" />
			<rect x="218" y="91" width="59" height="59" rx="29.5" fill="#4DD398" />
			<path
				d="M242.644 126.971L236.845 121.176C236.193 120.525 235.141 120.525 234.489 121.176C233.837 121.828 233.837 122.88 234.489 123.531L241.474 130.512C242.126 131.163 243.179 131.163 243.83 130.512L261.511 112.843C262.163 112.192 262.163 111.14 261.511 110.488C260.859 109.837 259.807 109.837 259.155 110.488L242.644 126.971Z"
				fill="white"
			/>
		</g>
		<defs>
			<clipPath id="clip0_246_5902">
				<rect width="497" height="240" fill="white" />
			</clipPath>
		</defs>
	</svg>
</template>

<script>
export default {
	name: 'b-illustration-computer-check',
	components: {},
	computed: {},
	props: {}
};
</script>

<style scoped lang="scss"></style>
