<template>
	<svg
		width="120"
		height="120"
		viewBox="0 0 120 120"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<rect width="120" height="120" fill="none" />
		<g filter="url(#filter0_d)">
			<path
				d="M8 56.1802C8 53.3904 9.39022 50.7842 11.7071 49.2304L55.3392 19.9689C58.1587 18.0781 61.8413 18.0781 64.6608 19.9689L108.293 49.2304C110.61 50.7842 112 53.3905 112 56.1802V93.5662C112 98.1877 108.254 101.934 103.632 101.934H16.3679C11.7465 101.934 8 98.1877 8 93.5662V56.1802Z"
				fill="#170C3A"
			/>
		</g>
		<g filter="url(#filter1_d)">
			<path
				d="M19.6377 37.0277C19.6377 34.717 21.5109 32.8438 23.8217 32.8438H95.4537C97.7645 32.8438 99.6377 34.717 99.6377 37.0277V75.2052C99.6377 77.516 97.7645 79.3892 95.4537 79.3892H23.8217C21.5109 79.3892 19.6377 77.516 19.6377 75.2052V37.0277Z"
				fill="white"
			/>
			<path
				d="M23.8217 33.3438H95.4537C97.4883 33.3438 99.1377 34.9931 99.1377 37.0277V75.2052C99.1377 77.2398 97.4883 78.8892 95.4537 78.8892H23.8217C21.7871 78.8892 20.1377 77.2398 20.1377 75.2052V37.0277C20.1377 34.9931 21.7871 33.3438 23.8217 33.3438Z"
				stroke="#DCDBE1"
			/>
		</g>
		<path
			d="M66.8197 48.2989H65.3046V55.117H55.4561V56.6322C55.4567 56.8329 55.5367 57.0252 55.6787 57.1672C55.8206 57.3091 56.0129 57.3891 56.2137 57.3898H64.547L67.5773 60.4201V49.0564C67.5767 48.8557 67.4966 48.6634 67.3547 48.5215C67.2128 48.3795 67.0204 48.2995 66.8197 48.2989V48.2989ZM63.7894 52.8443V46.0261C63.7888 45.8254 63.7088 45.6331 63.5668 45.4911C63.4249 45.3492 63.2326 45.2692 63.0318 45.2686H53.1834C52.9826 45.2692 52.7903 45.3492 52.6484 45.4911C52.5064 45.6331 52.4264 45.8254 52.4258 46.0261V56.6322L55.4561 53.6019H63.0318C63.2326 53.6012 63.4249 53.5212 63.5668 53.3793C63.7088 53.2374 63.7888 53.045 63.7894 52.8443V52.8443Z"
			fill="#FF56C5"
		/>
		<path
			d="M8 54.6009C8 52.2797 10.4328 50.762 12.5176 51.7825L54.4814 72.3242C57.9631 74.0285 62.0369 74.0285 65.5186 72.3242L107.482 51.7825C109.567 50.762 112 52.2797 112 54.6009V93.5668C112 98.1883 108.254 101.935 103.632 101.935H16.3679C11.7465 101.935 8 98.1883 8 93.5668V54.6009Z"
			fill="#170C3A"
		/>
		<path
			d="M26.5006 90.1646C26.3444 90.0409 26.184 89.9174 26.0275 89.7969L25.2272 89.1801L26.4795 88.2143C26.5607 88.1532 26.6342 88.0831 26.6984 88.0056C26.7805 87.903 26.84 87.7856 26.8731 87.6603C26.9062 87.5351 26.9124 87.4047 26.8911 87.2771C26.8699 87.1495 26.8217 87.0274 26.7495 86.9182C26.6773 86.8089 26.5826 86.7149 26.4712 86.6418C26.1166 86.3682 25.7612 86.0947 25.4048 85.8211L22.6434 83.6944C22.4125 83.5141 22.1241 83.4149 21.826 83.4131C21.528 83.4113 21.2383 83.5071 21.0051 83.6846C19.5012 84.8404 18.2757 85.7836 17.1555 86.6497C16.9384 86.7948 16.7904 87.0163 16.744 87.2656C16.6976 87.5149 16.7565 87.7716 16.9078 87.9794C16.9733 88.0706 17.0557 88.1495 17.1508 88.2124C17.2793 88.3121 17.4094 88.4125 17.5375 88.5097L18.4078 89.1798L17.9521 89.5305C17.6837 89.7379 17.409 89.9496 17.1442 90.1554C17.0178 90.2423 16.9146 90.3564 16.8427 90.4885C16.7708 90.6205 16.7324 90.7668 16.7305 90.9157C16.7286 91.0645 16.7633 91.2117 16.8318 91.3454C16.9003 91.4791 17.0006 91.5955 17.1248 91.6853C17.2466 91.7838 17.374 91.881 17.5071 91.9836L18.5567 92.7919C19.356 93.4071 20.182 94.0431 20.9926 94.6649C21.2207 94.8473 21.5077 94.9489 21.8051 94.9525C22.0191 94.9489 22.2295 94.8992 22.4205 94.807C22.5373 94.7475 22.6465 94.6751 22.7457 94.5914L23.3872 94.0958C24.4107 93.309 25.4705 92.4946 26.5032 91.6932C26.6272 91.6041 26.7283 91.4892 26.7988 91.3572C26.8694 91.2252 26.9075 91.0795 26.9103 90.9313C26.9056 90.7825 26.8664 90.6365 26.7955 90.5039C26.7247 90.3714 26.624 90.2555 26.5006 90.1646V90.1646ZM21.265 87.0291C21.0466 87.1384 20.8453 87.2765 20.667 87.4394C20.5964 87.4981 20.5218 87.5584 20.4468 87.6139C20.1642 87.8248 19.8816 88.0438 19.6046 88.2572L19.5082 88.332C19.4293 88.3923 19.3507 88.4535 19.2718 88.5148L18.7841 88.1392C18.487 87.9094 18.1839 87.6755 17.8719 87.4318L21.2646 84.8161L21.265 87.0291ZM21.4522 88.1698C21.5268 88.1111 21.6027 88.0524 21.6833 87.9921C21.7182 87.9635 21.7622 87.9472 21.8082 87.9458C21.8541 87.9444 21.8991 87.9581 21.9358 87.9845C22.3258 88.2812 22.7193 88.5842 23.1053 88.8825L23.4935 89.1823C23.0485 89.526 22.6021 89.8696 22.1544 90.2132L21.9771 90.3502L21.9682 90.3578C21.9263 90.3952 21.8707 90.4156 21.8133 90.4146C21.7559 90.4135 21.7012 90.3911 21.6608 90.3521C21.166 89.9733 20.6714 89.5928 20.1771 89.2104L20.1398 89.182L21.4522 88.1698ZM22.3683 91.3375L22.3885 91.3252C22.4965 91.2644 22.6006 91.1974 22.7001 91.1244C23.0759 90.8388 23.4549 90.5465 23.8263 90.2615L24.3595 89.8512L25.7594 90.9291C25.7615 90.9308 25.7637 90.9324 25.766 90.9338C25.7625 90.9359 25.7592 90.9382 25.7561 90.9407L22.3683 93.5514V91.3375ZM23.4004 87.7708L23.3271 87.714C23.1043 87.5417 22.8751 87.3668 22.643 87.1922C22.567 87.139 22.4864 87.092 22.402 87.0518L22.3624 87.0319C22.3601 86.2962 22.3601 85.5689 22.3601 84.8076L25.4491 87.1869L25.764 87.4283C25.6191 87.5417 25.4732 87.6537 25.3305 87.7632L24.3599 88.5103L23.688 87.993C23.5916 87.9214 23.4952 87.8459 23.3988 87.7714L23.4004 87.7708ZM19.2718 89.8477L19.5894 90.092C20.0311 90.4338 20.4881 90.7864 20.943 91.1282C21.0396 91.1988 21.1409 91.2633 21.2461 91.3214L21.2676 91.3334V93.5451L17.8693 90.9287C18.2833 90.6091 18.698 90.2899 19.1133 89.9711L19.2718 89.8477Z"
			fill="white"
		/>
		<defs>
			<filter
				id="filter0_d"
				x="3"
				y="17.5508"
				width="114"
				height="93.3834"
				filterUnits="userSpaceOnUse"
				color-interpolation-filters="sRGB"
			>
				<feFlood flood-opacity="0" result="BackgroundImageFix" />
				<feColorMatrix
					in="SourceAlpha"
					type="matrix"
					values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
					result="hardAlpha"
				/>
				<feOffset dy="4" />
				<feGaussianBlur stdDeviation="2.5" />
				<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.141 0" />
				<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
				<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
			</filter>
			<filter
				id="filter1_d"
				x="17.6377"
				y="32.8438"
				width="84"
				height="50.5454"
				filterUnits="userSpaceOnUse"
				color-interpolation-filters="sRGB"
			>
				<feFlood flood-opacity="0" result="BackgroundImageFix" />
				<feColorMatrix
					in="SourceAlpha"
					type="matrix"
					values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
					result="hardAlpha"
				/>
				<feOffset dy="2" />
				<feGaussianBlur stdDeviation="1" />
				<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.141 0" />
				<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
				<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
			</filter>
		</defs>
	</svg>
</template>

<script>
export default {
	name: 'b-illustration-letter-in-envelope',
	components: {},
	computed: {},
	props: {}
};
</script>

<style scoped lang="scss"></style>

