<template>
	<svg width="325" height="312" viewBox="0 0 325 312" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_70_459)">
<rect x="32" y="66.8716" width="266" height="266" rx="133" fill="#FFDB56"/>
<path d="M63 270.872H18V224.872H63V270.872ZM19.9167 268.827H61V226.831H19.9167V268.827Z" fill="#6F5504"/>
<path d="M248.604 291.24C243.304 285.24 237.604 278.64 231.004 271.24C230.004 270.14 228.304 271.74 229.304 272.94C235.204 279.64 241.004 286.24 246.904 292.94C248.004 294.04 249.604 292.44 248.604 291.24Z" fill="#FFF6BF"/>
<path d="M301.603 151.366C291.303 166.266 265.503 148.066 257.103 166.666C256.503 168.066 258.703 168.766 259.303 167.366C264.403 156.166 278.603 160.566 288.103 160.066C294.203 159.766 299.303 158.166 303.003 152.666C303.903 151.366 302.403 150.166 301.603 151.366Z" fill="#6F5504"/>
<path d="M305.248 162.072C294.948 176.972 269.148 158.772 260.748 177.372C260.148 178.772 262.348 179.472 262.948 178.072C268.048 166.872 282.248 171.272 291.748 170.772C297.848 170.472 302.948 168.472 306.648 162.972C307.548 161.672 306.148 160.872 305.248 162.072Z" fill="#6F5504"/>
<path d="M195.46 592.129C195.752 588.911 196.045 585.474 196.337 581.817C200.726 525.283 210.306 352.024 212.135 278.596C212.135 278.596 212.208 275.451 212.208 275.524L154.723 268.796L146.459 504.366C135.708 527.404 133.368 562.143 134.245 594.835C138.999 594.835 182.661 591.617 195.46 592.129Z" fill="#170C3A"/>
<path d="M149.384 277.645C135.269 278.23 121.154 278.669 107.039 279.327C102.065 279.547 96.7997 279.985 91.5339 279.985C92.0458 282.618 113.255 442.786 119.691 483.961C102.651 507.876 88.6085 528.866 75.7366 550.295C89.413 562.947 106.161 586.643 124.591 600.027C133.953 587.594 190.779 510.729 190.194 477.379C193.266 413.751 196.337 350.049 199.482 286.421C200.067 286.495 200.652 286.568 201.237 286.568C207.454 286.568 211.915 281.521 212.208 275.597C212.208 275.451 212.208 275.305 212.208 275.158C191.291 276.036 170.374 276.841 149.384 277.645Z" fill="#170C3A"/>
<path d="M217.693 164.212C217.912 182.276 216.011 200.56 215.133 218.552C214.182 237.567 213.232 256.509 212.281 275.524L212.208 278.669C201.896 278.742 190.998 278.962 180.686 278.962C151.066 279.035 121.519 280.863 91.8995 281.302C85.3905 246.782 80.0516 211.823 76.9799 176.791C75.444 159.385 78.5157 142.271 93.6548 131.593C100.968 126.474 109.233 124.353 117.79 123.841C119.618 123.695 121.519 123.548 123.348 123.548C125.835 123.475 128.394 123.475 130.881 123.621C133.879 123.695 136.951 123.914 139.877 124.133L159.769 125.523L167.376 126.035C167.888 126.108 168.399 126.108 168.911 126.108C176.152 126.547 183.465 126.913 190.486 128.595C197.727 130.277 205.114 133.787 209.867 139.638C215.572 146.586 217.62 155.143 217.693 164.212Z" fill="#365DF0"/>
<path d="M128.62 123.576C130.365 132.676 135.287 140.854 144.938 143.915C156.551 147.621 156.5 139 159 128.5C152.25 127.749 145.73 124.548 139 124C132.582 123.523 135.051 123.99 128.62 123.576Z" fill="#FF83D8"/>
<path d="M84.9517 170.063C77.2724 203.998 82.0994 241.297 112.67 246.563C143.241 251.828 84.9517 170.063 84.9517 170.063Z" fill="#1338C0"/>
<path d="M196.245 197.745C194.124 187.945 192.003 178.144 189.955 168.344C189.809 167.759 188.931 167.979 189.004 168.564C190.833 177.12 192.661 185.677 194.563 194.307C196.172 201.987 200.413 213.03 193.612 219.32C193.173 219.759 193.831 220.417 194.27 219.978C200.56 214.127 197.78 204.912 196.245 197.745Z" fill="white"/>
<path d="M163.719 121.135C162.768 121.793 148.5 143.5 148.5 143.5L132.5 131L143.68 108.848L163.719 121.135Z" fill="#FF83D8"/>
<path d="M156.478 138.687C159.916 129.838 163.28 121.427 163.719 121.135L151.578 113.675C148.799 121.574 151.798 131.008 156.478 138.687Z" fill="#8F0560"/>
<path d="M156.332 70.525C164.304 65.6249 180.028 72.3533 187.122 81.0565C190.194 84.8595 194.143 83.6894 192.607 87.4193C188.804 96.6344 175.786 127.278 169.35 130.131C156.405 135.762 145.069 123.987 143.607 111.773C142.071 99.633 144.996 77.546 156.332 70.525Z" fill="#FF83D8"/>
<path d="M196.337 80.3981C193.339 76.2294 185.221 74.9129 180.979 75.498C173.153 69.9397 162.475 66.7948 156.332 70.5248C148.726 75.2055 144.923 86.6146 143.606 97.3656C147.556 97.6581 150.042 95.2446 154.284 93.7088C166.278 95.0984 175.859 88.8818 178.565 84.8594C180.321 87.9311 189.463 90.7102 193.266 88.6624C198.458 85.4445 197.288 81.7145 196.337 80.3981Z" fill="#170C3A"/>
<path d="M138.999 90.2715C142.656 86.4685 150.993 87.1998 154.357 93.7089C152.163 99.0478 150.116 104.46 148.141 109.872C144.777 109.945 138.926 107.458 136.805 103.363C134.318 98.6821 135.05 94.3671 138.999 90.2715Z" fill="#FF83D8"/>
<path d="M146.605 96.1226C147.19 97.8779 147.775 99.7062 148.36 101.462C148.58 102.047 147.629 102.266 147.41 101.681C147.336 101.535 147.336 101.462 147.263 101.315C147.263 101.242 147.263 101.242 147.263 101.169C146.751 99.56 146.239 97.951 145.654 96.2689C145.508 95.7569 146.459 95.5375 146.605 96.1226Z" fill="#4B0032"/>
<path d="M169.643 97.1466C169.058 97.8048 168.546 98.5362 167.961 99.1944C167.376 99.9257 168.546 100.657 169.131 99.9989C169.716 99.3407 170.228 98.6093 170.813 97.9511C171.398 97.2197 170.228 96.4152 169.643 97.1466Z" fill="#170C3A"/>
<path d="M183.027 101.608C182.442 102.266 181.93 102.997 181.345 103.656C180.759 104.387 181.93 105.118 182.515 104.46C183.1 103.802 183.612 103.07 184.197 102.412C184.782 101.681 183.612 100.876 183.027 101.608Z" fill="#170C3A"/>
<path d="M177.688 108.921C177.249 108.482 176.591 109.14 177.03 109.579C177.98 110.53 176.883 111.7 175.859 111.847C174.835 111.993 173.812 111.481 172.861 111.042C172.276 110.749 171.837 111.627 172.349 111.847C173.885 112.578 175.786 113.309 177.322 112.212C178.419 111.481 178.712 109.945 177.688 108.921Z" fill="#4B0032"/>
<path d="M173.446 94.3673C172.495 94.0747 171.544 93.709 170.594 93.4165C169.423 93.0508 168.911 94.8792 170.082 95.2449C171.032 95.5374 171.983 95.9031 172.934 96.1957C174.104 96.5613 174.616 94.7329 173.446 94.3673Z" fill="#4B0032"/>
<path d="M186.098 97.2926C185.586 97.0001 185.001 96.7075 184.489 96.415C183.392 95.8299 182.441 97.512 183.539 98.0971C184.05 98.3896 184.636 98.6822 185.147 98.9747C186.171 99.4867 187.195 97.8777 186.098 97.2926Z" fill="#4B0032"/>
<path d="M166.498 118.098C165.401 118.464 164.67 119.561 164.67 120.731C164.67 121.316 163.719 121.316 163.719 120.731C163.719 119.122 164.743 117.732 166.279 117.22C166.791 117.001 167.01 117.879 166.498 118.098Z" fill="#4B0032"/>
<path d="M235.831 169.404C225.519 174.67 213.378 186.884 209.063 195.953C204.748 205.022 207.381 268.138 207.381 268.138C207.381 268.138 236.781 263.384 248.264 189.005C248.264 189.005 243.656 165.309 235.831 169.404Z" fill="#365DF0"/>
<path d="M228.371 199.902C232.101 205.607 237.805 208.532 244.095 210.068C245.631 203.705 250.019 198.293 251.189 190.541C251.189 190.541 243.656 165.309 235.758 169.405C231.662 171.526 227.201 174.744 223.105 178.474C222.886 185.933 224.202 193.539 228.371 199.902Z" fill="#FF83D8"/>
<path d="M206.723 245.393C206.942 258.045 207.381 268.138 207.381 268.138C207.381 268.138 214.548 266.968 223.251 256.802C214.841 258.264 211.55 249.927 206.723 245.393Z" fill="#1338C0"/>
<path d="M264.28 171.818C262.525 170.355 258.21 170.136 256.016 169.843C254.261 169.624 252.433 169.478 250.677 169.258C244.68 167.869 234.368 165.601 233.344 173.939C233.125 174.304 233.052 174.67 233.052 175.109C233.052 177.815 232.978 180.521 232.978 183.227C232.978 185.275 232.759 187.542 234.149 189.224C235.392 190.76 237.367 190.979 239.195 190.979C241.096 190.979 242.925 190.906 244.826 190.833C245.777 191.418 246.655 191.272 247.386 190.76C247.898 190.76 248.337 190.541 248.703 190.248C248.776 190.248 248.776 190.248 248.849 190.248C248.995 191.199 249.215 192.223 249.361 193.174C249.8 195.66 253.603 195.441 254.188 193.174C254.261 192.735 254.407 192.369 254.48 191.93C255.139 191.784 255.724 191.418 256.162 190.979C256.162 191.126 256.162 191.199 256.162 191.345C256.455 194.563 261.428 194.563 261.136 191.345C261.063 190.394 260.989 189.37 260.843 188.42C262.379 189.078 264.427 188.42 264.28 186.299C263.769 181.545 268.815 175.621 264.28 171.818ZM240.95 183.666C240.731 181.545 240.511 179.497 240.219 177.376C241.023 177.449 241.755 177.742 242.413 178.181C243.217 180.521 244.022 182.861 244.826 185.202C243.583 184.543 242.34 184.032 240.95 183.666Z" fill="#FF83D8"/>
<path d="M230.784 146.513C234.953 160.555 239.122 174.67 243.291 188.712C243.729 190.102 247.679 196.83 249.434 196.172C251.189 195.587 250.677 187.688 250.312 186.299C246.143 172.257 241.974 158.142 237.805 144.1C237.001 141.467 229.98 143.807 230.784 146.513Z" fill="#464157"/>
<path d="M233.052 147.317C231.589 147.902 230.199 148.414 228.737 149C228.298 149.146 227.932 149.658 228.078 150.17C229.249 154.119 230.492 158.068 231.662 162.018C232.028 163.188 233.856 162.676 233.49 161.506C232.393 157.849 231.296 154.192 230.199 150.535C231.296 150.097 232.466 149.658 233.564 149.219C234.734 148.707 234.222 146.879 233.052 147.317Z" fill="#464157"/>
<path d="M263.256 174.378C263.33 173.793 262.379 173.793 262.306 174.378C262.086 177.376 261.794 180.375 261.574 183.447C261.501 184.032 262.452 184.032 262.525 183.447C262.745 180.375 263.037 177.376 263.256 174.378Z" fill="#8F0560"/>
<path d="M246.874 185.714C245.192 183.227 242.925 181.545 240.146 180.521C238.683 180.009 237.001 181.106 236.635 182.496C236.196 184.105 237.147 185.494 238.61 186.006C238.683 186.006 238.756 186.079 238.829 186.079C239.049 186.153 239.268 186.299 239.414 186.372C239.561 186.445 239.78 186.591 239.926 186.665C239.926 186.665 240.219 186.884 240.292 186.884C240.585 187.103 240.877 187.396 241.096 187.615C241.243 187.762 241.462 187.981 241.608 188.2C241.608 188.2 241.608 188.2 241.682 188.274C241.682 188.347 241.755 188.42 241.828 188.493C242.705 189.736 244.314 190.321 245.777 189.517C247.094 188.932 247.752 187.03 246.874 185.714Z" fill="#FF83D8"/>
<path d="M252.725 184.47C251.189 181.911 250.97 178.912 252.286 176.206C253.895 172.915 248.922 169.99 247.313 173.281C245.119 177.888 245.192 182.935 247.752 187.396C249.653 190.614 254.627 187.688 252.725 184.47Z" fill="#FF83D8"/>
<path d="M252.945 172.623C252.359 177.23 251.701 181.838 251.116 186.445C251.043 187.03 251.994 187.03 252.067 186.445C252.652 181.838 253.31 177.23 253.895 172.623C254.042 171.964 253.091 171.964 252.945 172.623Z" fill="#8F0560"/>
<path d="M240.073 188.566C237.44 187.469 235.392 186.299 234.075 183.666C232.978 181.472 232.028 179.205 231.077 177.011C230.784 176.425 229.98 176.937 230.272 177.523C231.516 180.302 232.54 183.666 234.441 186.079C235.831 187.835 237.878 188.712 239.853 189.517C240.365 189.736 240.585 188.785 240.073 188.566Z" fill="#8F0560"/>
<path d="M257.845 172.915C257.406 175.694 256.967 178.473 256.601 181.179C256.528 181.764 257.406 182.057 257.552 181.399C257.991 178.62 258.43 175.84 258.795 173.134C258.869 172.549 257.918 172.257 257.845 172.915Z" fill="#8F0560"/>
<path d="M229.029 217.967C230.419 216.65 267.133 172.184 268.01 171.745C268.888 171.306 307.577 180.009 307.577 180.009L266.401 228.718L229.029 217.967Z" fill="#6F96FF"/>
<path d="M299.166 174.378L280.297 170.721C276.713 170.062 275.178 175.548 278.761 176.279C285.051 177.522 291.341 178.693 297.63 179.936C301.214 180.667 302.75 175.109 299.166 174.378Z" fill="#DCDBE1"/>
<path d="M192.534 233.691C188.585 225.573 185.367 217.235 182.003 208.898C166.352 212.993 154.284 216.431 154.284 216.431C154.284 216.431 137.097 182.935 114.133 144.685C114.133 144.685 80.1978 173.866 80.1978 175.255C80.1978 176.645 115.669 291.102 137.097 293.881C151.432 295.71 178.419 275.598 204.09 256.217C200.14 248.757 196.191 241.297 192.534 233.691Z" fill="#365DF0"/>
<path d="M241.023 196.172C237.586 196.538 233.125 194.49 228.444 195.368C223.836 199.024 198.824 204.583 184.563 208.24C184.197 223.817 190.56 254.096 206.138 254.681C225.957 239.761 244.753 225.646 256.016 222.94C257.625 222.574 241.023 196.172 241.023 196.172Z" fill="#FF83D8"/>
<path d="M278.908 206.923C280.663 205.168 279.566 202.608 278.103 202.169C278.981 200.268 278.103 196.904 276.202 197.416C276.202 197.416 277.299 195.148 275.104 193.101C272.106 191.418 263.549 195.953 257.113 199.098C253.383 198.659 238.902 198.22 238.463 199.756C237.147 199.244 235.611 199.025 234.075 199.098C225.957 197.928 220.984 206.558 222.886 213.652C224.056 217.967 227.274 221.404 231.223 223.086C230.126 224.622 231.735 232.155 234.002 231.497C259.161 224.476 262.379 232.448 278.322 212.555C281.467 209.337 280.517 207.216 278.908 206.923Z" fill="#FF83D8"/>
<path d="M180.101 210.141C170.886 212.043 161.598 214.017 152.383 215.919C152.09 215.992 151.725 216.065 151.432 216.138C145.362 217.382 139.365 218.625 133.294 219.941C132.709 220.088 132.417 219.137 133.002 218.991C138.999 217.747 144.996 216.504 150.993 215.261C151.286 215.188 151.652 215.114 151.944 215.041C161.232 213.067 170.521 211.165 179.882 209.264C180.467 209.117 180.686 210.068 180.101 210.141Z" fill="white"/>
<path d="M199.775 258.118C192.242 263.238 184.636 268.431 177.103 273.55C176.591 273.916 177.103 274.72 177.615 274.355C185.147 269.235 192.754 264.042 200.287 258.923C200.725 258.63 200.287 257.826 199.775 258.118Z" fill="white"/>
<path d="M152.383 215.919C152.09 215.992 151.725 216.065 151.432 216.138C151.286 215.846 151.14 215.553 150.993 215.261C143.607 200.268 136.22 185.202 128.833 170.209C128.541 169.697 129.418 169.185 129.638 169.697C137.097 184.836 144.484 199.902 151.944 215.041C152.09 215.334 152.237 215.626 152.383 215.919Z" fill="white"/>
<path d="M277.518 207.581C274.154 210.507 270.863 213.505 267.498 216.431C267.06 216.87 267.718 217.528 268.157 217.089C271.521 214.164 274.812 211.165 278.176 208.24C278.615 207.874 277.957 207.143 277.518 207.581Z" fill="#8F0560"/>
<path d="M276.421 202.389C272.399 205.753 268.449 209.044 264.427 212.408C263.988 212.774 264.646 213.505 265.085 213.067C269.107 209.702 273.057 206.411 277.079 203.047C277.591 202.608 276.933 201.95 276.421 202.389Z" fill="#8F0560"/>
<path d="M274.812 197.269C269.985 199.098 265.67 201.877 262.013 205.534C261.574 205.972 262.233 206.631 262.671 206.192C266.182 202.608 270.351 199.902 275.031 198.147C275.69 198.001 275.397 197.05 274.812 197.269Z" fill="#8F0560"/>
<path d="M239.853 191.126C235.538 190.541 231.442 192.004 228.371 195.002C227.932 195.441 228.59 196.099 229.029 195.66C231.954 192.808 235.757 191.492 239.853 192.077C240.438 192.223 240.438 191.199 239.853 191.126Z" fill="#8F0560"/>
<path d="M323.695 248.238C312.611 253.842 316.152 268.446 312.058 277.96C309.374 284.108 302.838 288.73 296.111 286.321C294.697 285.782 295.226 283.543 296.64 284.082C310.825 289.279 311.497 268.58 313.134 260.336C314.317 254.45 316.937 249.006 322.43 246.193C323.828 245.495 324.995 247.517 323.695 248.238Z" fill="#FFDB56"/>
<path d="M61.0483 146.668C52.7483 173.168 8.24833 146.768 0.0483257 175.168C-0.351674 176.668 1.84833 177.268 2.34833 175.768C10.0483 148.868 54.5483 175.168 63.3483 147.268C63.7483 145.868 61.4483 145.268 61.0483 146.668Z" fill="#FFEB9E"/>
<path d="M214.771 77.9748L214.743 77.9637L214.715 77.9508C214.685 77.9371 214.66 77.9284 214.583 77.9012L214.577 77.8993C214.522 77.8798 214.421 77.8444 214.309 77.7884C213.967 77.642 213.72 77.3841 213.569 77.1168C213.407 76.8306 213.312 76.457 213.386 76.0636L214.526 69.9828C214.69 69.1045 215.511 68.5424 216.39 68.707C217.226 68.8638 217.788 69.6851 217.631 70.5215L216.73 75.3318C217.84 75.7948 219.34 76.5406 220.523 77.801C222.081 79.461 223.001 81.912 222.128 85.4374C221.636 87.5337 220.491 89.149 218.74 89.993C217.054 90.8386 215.197 90.778 213.828 90.5447C212.542 90.3256 211.563 89.933 211.32 89.8275C210.88 89.6593 210.594 89.3076 210.457 88.9574C210.321 88.6096 210.294 88.1739 210.477 87.7639C210.647 87.3306 210.996 87.0488 211.343 86.9129C211.69 86.7767 212.126 86.7506 212.536 86.933L212.555 86.9405C212.581 86.9504 212.615 86.9636 212.659 86.9799C212.746 87.0124 212.872 87.0579 213.029 87.1093C213.346 87.2127 213.786 87.338 214.287 87.4294C215.324 87.6188 216.464 87.6333 217.348 87.1938L217.348 87.1937L217.357 87.1893C218.112 86.8233 218.733 86.0496 219.059 84.712L219.059 84.712L219.061 84.7057C219.672 82.2709 219.057 80.8643 218.189 79.9468C217.244 78.9476 215.89 78.4066 214.771 77.9748Z" fill="#6F96FF" stroke="#6F96FF" stroke-width="2"/>
<path d="M215.608 63.2338L215.82 62.1015C215.906 61.6461 216.164 61.2661 216.544 61.0372C216.904 60.8211 217.309 60.777 217.66 60.8428C218.011 60.9085 218.372 61.0962 218.629 61.4279C218.901 61.779 219.004 62.2267 218.918 62.6821L218.706 63.8144C218.621 64.2698 218.363 64.6498 217.982 64.8786C217.623 65.0948 217.218 65.1389 216.867 65.0731C216.516 65.0073 216.154 64.8197 215.898 64.488C215.626 64.1368 215.523 63.6892 215.608 63.2338Z" fill="#6F96FF" stroke="#6F96FF" stroke-width="2"/>
<path d="M139.825 51.5586L139.853 51.5714L139.88 51.5859C139.909 51.6013 139.933 51.6114 140.009 51.6431L140.014 51.6452C140.069 51.668 140.167 51.7092 140.276 51.7715C140.608 51.9376 140.84 52.2094 140.976 52.4851C141.12 52.7802 141.193 53.1586 141.097 53.5471L139.606 59.5514C139.391 60.4187 138.538 60.932 137.671 60.7167C136.845 60.5116 136.331 59.659 136.537 58.8331L137.716 54.0833C136.635 53.5566 135.181 52.7249 134.073 51.3979C132.614 49.6502 131.838 47.1499 132.915 43.6811C133.527 41.617 134.764 40.0709 136.561 39.3301C138.294 38.584 140.144 38.7523 141.497 39.0648C142.768 39.3583 143.723 39.8071 143.959 39.9265C144.389 40.1199 144.654 40.4877 144.77 40.8453C144.886 41.2004 144.887 41.6369 144.681 42.0356C144.486 42.4582 144.122 42.7194 143.767 42.8349C143.412 42.9506 142.976 42.9514 142.577 42.7455L142.558 42.7368C142.533 42.7254 142.5 42.7103 142.457 42.6915C142.372 42.654 142.249 42.6012 142.095 42.5407C141.784 42.4192 141.353 42.2685 140.858 42.1481C139.833 41.8988 138.697 41.8181 137.789 42.2055L137.789 42.2056L137.779 42.2095C137.004 42.531 136.339 43.2673 135.936 44.5836L135.936 44.5836L135.934 44.5898C135.182 46.985 135.714 48.425 136.527 49.3913C137.413 50.4438 138.733 51.0625 139.825 51.5586Z" fill="#6F96FF" stroke="#6F96FF" stroke-width="2"/>
<path d="M138.133 66.2261L137.855 67.3441C137.744 67.7938 137.464 68.1581 137.071 68.3645C136.699 68.5594 136.293 68.5799 135.946 68.4938C135.6 68.4078 135.25 68.1994 135.013 67.8534C134.762 67.487 134.685 67.0342 134.796 66.5845L135.074 65.4664C135.186 65.0167 135.465 64.6524 135.859 64.446C136.23 64.2511 136.637 64.2306 136.983 64.3167C137.33 64.4027 137.68 64.6111 137.917 64.9571C138.168 65.3235 138.245 65.7764 138.133 66.2261Z" fill="#6F96FF" stroke="#6F96FF" stroke-width="2"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M170.104 29.7027C170.346 29.5814 170.567 29.5042 170.694 29.4596L170.715 29.4522C170.88 29.3944 170.949 29.3704 171.029 29.3337L171.085 29.308L171.143 29.2857C173.687 28.3067 176.834 27.0577 179.041 24.7294C181.094 22.5646 182.515 19.2591 181.107 13.6229L181.104 13.6102C180.35 10.505 178.896 8.65637 177.079 7.77376L177.07 7.76928L177.06 7.76471C174.966 6.72054 172.295 6.76263 169.909 7.1957C168.751 7.4059 167.737 7.69412 167.005 7.93173C166.641 8.05 166.35 8.15483 166.148 8.2299C166.048 8.26746 165.969 8.29788 165.91 8.32062L165.901 8.32402C165.887 8.32939 165.872 8.33524 165.857 8.34084C164.998 8.7237 164.082 8.66976 163.348 8.3815C162.615 8.0937 161.886 7.49924 161.533 6.59215C161.149 5.73258 161.203 4.81561 161.492 4.08133C161.782 3.34203 162.385 2.60575 163.306 2.25661C163.831 2.02914 166.048 1.13824 168.966 0.643929C172.062 0.119433 176.226 -0.00613666 179.993 1.88769C183.894 3.77162 186.455 7.37792 187.556 12.0946C189.518 20.0464 187.436 25.5337 183.949 29.2424C181.213 32.1517 177.72 33.842 175.185 34.8823L177.27 46.0732C177.597 47.8284 176.414 49.5534 174.659 49.8805C172.809 50.2255 171.084 49.0426 170.739 47.1917L168.154 33.3272C168.001 32.505 168.2 31.7203 168.542 31.1159C168.863 30.5498 169.387 30.0077 170.104 29.7027ZM173.672 65.1606L173.191 62.579C173.011 61.6152 173.231 60.6768 173.8 59.9432C174.339 59.2484 175.099 58.8532 175.841 58.715C176.583 58.5767 177.434 58.6715 178.187 59.1254C178.983 59.6047 179.525 60.4011 179.705 61.3649L180.186 63.9465C180.366 64.9104 180.146 65.8487 179.577 66.5824C179.038 67.2771 178.278 67.6723 177.536 67.8106C176.795 67.9488 175.943 67.854 175.19 67.4001C174.394 66.9208 173.852 66.1244 173.672 65.1606Z" fill="#FF56C5"/>
</g>
<defs>
<clipPath id="clip0_70_459">
<rect width="325" height="312" fill="white"/>
</clipPath>
</defs>
</svg>

</template>

<script>
export default {
	name: 'b-illustration-confused-man',
	components: {},
	computed: {},
	props: {},
};
</script>

<style scoped lang="scss">
</style>

