.card-elevation {
    border: 1px solid #e4e5eb;
    border-radius: 4px;
    width: 500px;
    height: 50px;
    margin: 20px 0 !important;
}

.elevation-2dp {
    box-shadow: 0px 2px 2px 0 rgba(0,0,0, 0.14);
}

.elevation-4dp {
    box-shadow: 0px 4px 4px 0 rgba(0,0,0, 0.14);
}

.elevation-6dp {
    box-shadow: 0px 6px 6px 0 rgba(0,0,0, 0.14);
}

.elevation-8dp {
    box-shadow: 0px 8px 8px 0 rgba(0,0,0, 0.14);
}

.elevation-16dp {
    box-shadow: 0px 16px 16px 0 rgba(0,0,0, 0.14);
}